{% extends "base.html" %}
{% load staticfiles i18n %}
{% block extra_head %}
{% if helpers %}
  {% for helper in helpers %}
    {% with 'dalme_helpers/'|add:helper|add:'.js' as helper_static %}
      <script type="text/javascript" src="{% static helper_static %}"></script>
    {% endwith %}
  {% endfor %}
{% endif %}
<script type="text/javascript" src="{% static 'js/dalme_datatables.js' %}"></script>
<script type="text/javascript">
  {% if action %}
    var action = {{ action | safe }};
  {% endif %}
  {% if filters %}
    var filters = {{ filters | safe }};
  {% endif %}
  {% if dt_editor %}
    var dt_editor_options = {
      'ajax': {
        'create': {
            'type': 'POST',
            'url': '{{ dt_editor.ajax_url }}',
            'headers': {'X-CSRFToken': get_cookie("csrftoken") },
            'data': function (data) { return { "data": JSON.stringify( data ) }; }
          },
        'edit': {
            'type': 'PATCH',
            'url': '{{ dt_editor.ajax_url }}_id_/',
            'headers': {'X-CSRFToken': get_cookie("csrftoken") },
            'data': function (data) { return { "data": JSON.stringify( data ) }; }
          },
          'remove': {
              'type': 'DELETE',
              'url': '{{ dt_editor.ajax_url }}_id_/',
              'headers': {'X-CSRFToken': get_cookie("csrftoken") },
              'data': function (data) {
                          data.data = null;
                          return data;
                      }
            }
        },
        {% for k,v in dt_editor.options.items %}
          {{ k }}:{{ v | safe }},
        {% endfor %}
        fields: [
          {% for i in dt_editor.fields %}
            {
              {% for k,v in i.items %}
              {% if k == 'attr' %}
                attr: {
                  {% for ak, av in v.items %}
                    {{ ak | safe }}: {{ av | safe }},
                  {% endfor %}
                },
                {% elif k == 'opts' %}
                  opts: {
                    {% for ok, ov in v.items %}
                      {% if ok == 'plugins' or ok == 'source' %}
                        {{ ok | safe }}: {{ ov | safe }},
                      {% else %}
                        {{ ok | safe }}: "{{ ov | safe }}",
                      {% endif %}
                    {% endfor %}
                  },
                {% elif k == 'options' %}
                  options: [
                    {% for o in v %}
                      {
                        {% for l,p in o.items %}
                          {{ l | safe }}: "{{ p | escapejs }}",
                        {% endfor %}
                      },
                    {% endfor %}
                  ],
                {% else %}
                  {{ k | safe }}: "{{ v | safe }}",
                {% endif %}
              {% endfor %}
            },
          {% endfor %}
        ]};
  {% endif %}
  {% if dt_editor.buttons %}
    var dt_editor_buttons = [
    {% for b in dt_editor.buttons %}
    {
      {% for p,d in b.items %}
        {% if p == 'action' %}
          {{ p | safe }}: function() { {{ d | safe }} },
        {% else %}
          {{ p | safe }}: '{{ d | safe }}',
        {% endif %}
      {% endfor %}
    },
    {% endfor %}
    ];
  {% endif %}
  var dt_options = {
    {% for k,v in dt_options.options.items %}
      {% if k == 'ajax' %}
        'ajax': {
          'url': {{ v | safe }},
          'data': function (data) { return { "data": JSON.stringify( data ) }; }
        },
      {% else %}
        {{ k }}:{{ v | safe }},
      {% endif %}
    {% endfor %}
      buttons:[
        {% for dict in dt_options.buttons %}
          {
            {% for k,v in dict.items %}
              {{ k }}:'{{ v | safe }}',
            {% endfor %}
          },
        {% endfor %}
        ],
        columnDefs:[
          {% for dict in dt_options.columnDefs %}
            {
              {% for k,v in dict.items %}
                {{ k }}:{{ v | safe }},
              {% endfor %}
            },
          {% endfor %}
        ]};
  $(document).ready( function () {
    create_datatable('#dataTables-list', "{{ helpers | safe }}", "{{ modules | safe }}");
  });
</script>
{% endblock %}
{% block extra_dropdowns %}{% endblock %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow mb-4">
          <div class="table-responsive">
            <table class="table c_stripe responsive" id="dataTables-list" width="100%">
            </table>
          </div>
      </div>
    </div>
  </div>
{% include 'forms/dte_inventories.html' %}
{% endblock %}
{% block extra_scripts %}
{% endblock %}
