{% extends "base.html" %}
{% load staticfiles i18n %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/fh-3.1.4/r-2.2.2/sc-2.0.0/sl-1.3.0/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="{% static 'Editor-1.9.0/css/editor.bootstrap4.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.min.css" rel="stylesheet" />

<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/fh-3.1.4/r-2.2.2/sc-2.0.0/sl-1.3.0/datatables.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.19/dataRender/datetime.js"></script>
<script type="text/javascript" src="{% static 'Editor-1.9.0/js/dataTables.editor.js' %}"></script>
<script type="text/javascript" src="{% static 'Editor-1.9.0/js/editor.bootstrap4.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.min.js"></script>
<script type="text/javascript" src="{% static 'Editor-1.9.0/js/editor.chosen.js' %}"></script>
{% if form_helper %}
  <script type="text/javascript" src="{% static 'dalme_form_helpers/' %}{{ form_helper }}"></script>
{% endif %}
<script type="text/javascript" src="{% static 'js/dalme_datatables.js' %}"></script>

<script type="text/javascript">
    {% if dt_editor %}
      var dt_editor_options = {'ajax': {'create': {'type': 'POST','url': '{{ dt_editor.ajax_url }}','headers': {'X-CSRFToken': getCookie("csrftoken") }},'edit': {'type': 'PUT','url': '{{ dt_editor.ajax_url }}_id_/','headers': {'X-CSRFToken': getCookie("csrftoken") }},'remove': {'type': 'DELETE','url': '{{ dt_editor.ajax_url }}_id_/','headers': {'X-CSRFToken': getCookie("csrftoken") }}}, {% for k,v in dt_editor.options.items %}{{ k }}:{{ v | safe }},{% endfor %}
      fields: [ {% for i in dt_editor.fields %} { {% for k,v in i.items %}
      {% if k == 'opts' %}
        opts: {
          {% for ok, ov in v.items %}
            {{ ok | safe }}: "{{ ov | safe }}",
          {% endfor %}
        },
      {% elif k == 'options' %}
        options: [
          {% for o in v %}
            {
              {% for l,p in o.items %}
                {{ l | safe }}: "{{ p | escapejs }}",
              {% endfor %}
            },
          {% endfor %}
          ],
          {% else %}{{ k | safe }}: "{{ v | safe }}",{% endif %}{% endfor %} },{% endfor %} ]};
    {% endif %}
    {% if dt_editor.buttons %}
      var dt_editor_buttons = {{ dt_editor.buttons | safe }};
    {% endif %}
    var dt_options = { {% for k,v in dt_options.options.items %}{{ k }}:{{ v | safe }},{% endfor %} buttons:[ {% for dict in dt_options.buttons %} { {% for k,v in dict.items %}{{ k }}:{{ v | safe }},{% endfor %} },{% endfor %}{% if dt_options.buttons_extra %}{% for b in dt_options.buttons_extra %}{{ b | safe }},{% endfor %}{% endif %} ], columnDefs:[ {% for dict in dt_options.columnDefs %} { {% for k,v in dict.items %}{{ k }}:{{ v | safe }},{% endfor %} },{% endfor %} ]};
    $(document).ready( function () { createDatatable('#dataTables-list', "{{ form_helper }}") });
    {% if filters %}
      var filters = {{ filters | safe }};
      $(document).on('init.dt', function () { addDtToolbarButton('filters')} );
    {% endif %}
</script>
{% endblock %}

{% block extra_dropdowns %}{% endblock %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow mb-4">
          <div class="table-responsive">
            <table class="table table-hover table-border responsive" id="dataTables-list" width="100%">
            </table>
          </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_scripts %}
{% endblock %}
