{% extends "base.html" %}
{% load staticfiles i18n %}
{% block extra_head %}
{% endblock %}
{% block extra-dropdowns %}{% endblock %}
{% block extra-sidebar %}{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      {% include "cards/my_tasks.html" %}
      <div class="card-columns">
        {% if cards %}
          {% for card in cards %}
            {% include card %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="col-md-4">
      {% include "cards/my_worksets.html" %}
      {% include "cards/problem_tickets.html" %}
    </div>
  </div>
{% endblock %}
{% block extra_scripts %}
{% if tables %}
  <script>
    {% for table in tables %}
      $(document).ready(function() {
          var table_tasks = $('#dataTables-{{ table.0 }}').DataTable({
              {% if table_options %}
                {% for key,value in table_options.items %}
                  {{ key | safe }}: {{ value | safe }},
                {% endfor %}
              {% endif %}
          });
          $('#dataTables-{{ table.0 }}_wrapper').find('.card-header-title').html('<i class="fa {{ table.1 }} fa-fw"></i> {{ table.2 }}');
          fix_dt_search();
          $('#dataTables-tasks_wrapper').find('.dt-btn-group').append('<button class="btn dt-btn" id="btn-addtask" type="button" onclick="createTask()"><i class="fa fa-plus fa-sm"></i> Add</button>');
      });
    {% endfor %}
  </script>
{% endif %}
{% endblock %}
