{% extends "base.html" %}
{% load staticfiles i18n %}
{% block extra-dropdowns %}{% endblock %}
{% block extra-sidebar %}{% endblock %}
{% block content %}

<div class="container-fluid">
  <div class="row">
      {% for item in tiles %}
        {{ item | safe }}
      {% endfor %}
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="card mb-3">
          <div class="sub-card-header">
            <i class="fa fa-tasks fa-fw"></i> My Tasks
          </div>
          <div class="card-body">
            Upsert Logic

For each valid row, we need to decide whether to create a new task or update an existing one. django-todo matches on the unique combination of the four required columns. If we find a task that matches those, we update the rest of the columns. In other words, if you import a CSV once, then edit the Assigned To for a task and import it again, the original task will be updated with a new assignee (and same for the other columns).
          </div>
          <div class="tab-footer">
            <small class="text-muted float-left tab-footer-text"></small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card mb-3">
          <div class="sub-card-header">
            <i class="fa fa-layer-group fa-fw"></i> My Worksets
          </div>
          <div class="card-body">
            Upsert Logic

For each valid row, we need to decide whether to create a new task or update an existing one. django-todo matches on the unique combination of the four required columns. If we find a task that matches those, we update the rest of the columns. In other words, if you import a CSV once, then edit the Assigned To for a task and import it again, the original task will be updated with a new assignee (and same for the other columns).
          </div>
          <div class="tab-footer">
            <small class="text-muted float-left tab-footer-text"></small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-3">
        <div class="sub-card-header">
          <i class="fa fa-ticket-alt fa-fw"></i> Problem Tickets
        </div>
        <div class="card-body">
          Upsert Logic

For each valid row, we need to decide whether to create a new task or update an existing one. django-todo matches on the unique combination of the four required columns. If we find a task that matches those, we update the rest of the columns. In other words, if you import a CSV once, then edit the Assigned To for a task and import it again, the original task will be updated with a new assignee (and same for the other columns).
        </div>
        <div class="tab-footer">
          <small class="text-muted float-left tab-footer-text"></small>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block extra_scripts %}
{% endblock %}
