{% include 'dalme_app/head.html' %}
{% include 'dalme_app/navbar.html' %}

<!--div class="container">
  <div class="platonic-concepts">
    <h1>Sources</h1>
    {% if sources %}
      <h2>Recently Added Sources</h2>
      {% for c in concepts %}
        <div class="concept">
          <h3><a href="{% url 'concept_detail' c.pk %}">{{ c }}</a></h3>
          {% if authenticated %}
          {% endif %}
          <p><em>Modified: {{ c.modification_timestamp }} by {{ c.modification_username }}</em></p>
        </div>
      {% endfor %}
    {% else %}
      <h2>There are currently no Platonic Concepts</h2>
    {% endif %}
  </div>
  <div class="relationships">
    <h1>Relationships</h1>
    {% if relationships %}
      <h2>Recently Changed Relationships</h2>
      {% for rel in relationships %}
        <div class="relationship">
          <p><em>Modified: {{ rel.modification_timestamp }} by {{ rel.modification_username }}</em></p>
        </div>
      {% endfor %}
    {% else %}
      <h2>There are currently no Relationships between Platonic Concepts</h2>
    {% endif %}
  </div>
</div-->

<div>Something coming soon!</div>

{% include 'dalme_app/foot.html' %}
