{% extends "base.html" %}
{% load staticfiles i18n %}
{% block extra_head %}
{% if helpers %}
  {% for helper in helpers %}
    {% with 'dalme_helpers/'|add:helper|add:'.js' as helper_static %}
      <script type="text/javascript" src="{% static helper_static %}"></script>
    {% endwith %}
  {% endfor %}
{% endif %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/scroller/2.0.0/css/scroller.bootstrap4.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/scroller/2.0.0/js/dataTables.scroller.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.19/features/scrollResize/dataTables.scrollResize.min.js"></script>
<script type="text/javascript" src="{% static 'js/dalme_datatables.js' %}"></script>
<script type="text/javascript">
var model = "{{ model }}";
{% if action %}
  var action = {{ action | safe }};
{% endif %}
{% if dt_fieldsets %}
var dt_fieldsets = {{ dt_fieldsets | safe }};
{% endif %}
{% if dt_editor %}
  var dt_editor_options = {
    'ajax': {
      'create': {
          'type': 'POST',
          'url': '{{ dt_editor.ajax_url }}',
          'headers': {'X-CSRFToken': get_cookie("csrftoken") },
          'data': function (data) { return { "data": JSON.stringify(data) }; }
        },
      'edit': {
          'type': 'PATCH',
          'url': '{{ dt_editor.ajax_url }}_id_/',
          'headers': {'X-CSRFToken': get_cookie("csrftoken") },
          'data': function (data) { return { "data": JSON.stringify(data) }; }
        },
      'remove': {
          'type': 'DELETE',
          'url': '{{ dt_editor.ajax_url }}_id_/',
          'headers': {'X-CSRFToken': get_cookie("csrftoken") },
          'data': function (data) {
                      data.data = null;
                      return data;
                  }
        }
      },
      {% for k,v in dt_editor.options.items %}
        {{ k }}:{{ v | safe }},
      {% endfor %}
      fields: [
        {% for i in dt_editor.fields %}
          {
            {% for k,v in i.items %}
              {% if k == 'attr' %}
                attr: {
                  {% for ak, av in v.items %}
                    {{ ak | safe }}: {{ av | safe }},
                  {% endfor %}
                },
              {% elif k == 'opts' %}
                opts: {
                  {% for ok, ov in v.items %}
                    {% if ok == 'plugins' or ok == 'source' %}
                      {{ ok | safe }}: {{ ov | safe }},
                    {% else %}
                      {{ ok | safe }}: "{{ ov | safe }}",
                    {% endif %}
                  {% endfor %}
                },
              {% elif k == 'options' %}
                options: [
                  {% for o in v %}
                    {
                      {% for l,p in o.items %}
                        {{ l | safe }}: "{{ p | escapejs }}",
                      {% endfor %}
                    },
                  {% endfor %}
                ],
              {% else %}
                {{ k | safe }}: "{{ v | safe }}",
              {% endif %}
            {% endfor %}
          },
        {% endfor %}
      ]};
{% endif %}
{% if dt_editor.buttons %}
  var dt_editor_buttons = [
  {% for b in dt_editor.buttons %}
  {
    {% for p,d in b.items %}
      {% if p == 'action' %}
        {{ p | safe }}: function() { {{ d | safe }} },
      {% else %}
        {{ p | safe }}: '{{ d | safe }}',
      {% endif %}
    {% endfor %}
  },
  {% endfor %}
  ];
{% endif %}
var dt_options = {
  {% for k,v in dt_options.options.items %}
    {% if k == 'ajax' %}
      'ajax': {
        'url': {{ v | safe }},
        'data': function (data) { return { "data": JSON.stringify( data ) }; }
      },
    {% else %}
      {{ k }}:{{ v | safe }},
    {% endif %}
  {% endfor %}
    buttons:[
      {% for dict in dt_options.buttons %}
        {
          {% for k,v in dict.items %}
            {{ k }}:'{{ v | safe }}',
          {% endfor %}
        },
      {% endfor %}
      ],
      columnDefs:[
        {% for dict in dt_options.columnDefs %}
          {
            {% for k,v in dict.items %}
              {{ k }}:{{ v | safe }},
            {% endfor %}
          },
        {% endfor %}
      ]};
      $(document).ready( function () {
        create_datatable('#dataTables-list', "{{ helpers | safe }}", "{{ modules | safe }}");
      });
</script>

{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow mb-3">
        <div class="sub-card-header">
          <div class="card-header-title"><i class="fa fa-cubes fa-fw"></i> {{ page_title }}</div>
        </div>
        <div class="d-flex overflow-hidden flex-shrink-1">
          {% if parent_class %}
            <div class="align-self-start align-self-center mr-4 model-select-container ml-4">
              <select class="custom-select custom-select-sm" id="parent_class_select">
                <option value="0" selected>Select {{ parent_class.name }}</option>
                {% for k,v in parent_class.options.items %}
                  <option value="{{ k | safe }}">{{ v | safe }}</option>
                {% endfor %}
              </select>
            </div>
          {% endif %}
            <div class="mr-auto align-self-center mt-1 mb-1 overflow-hidden flex-shrink-1" id="parent_class_info">
            </div>
            <div class="model-button-container">
              <button id="btn_class_add" class="btn model-btn border-left border-bottom" onclick="add_class_entry()"><i class="fa fa-plus fa-sm mr-1"></i> Add</button>
              <button id="btn_class_edit" class="btn model-btn border-left" onclick="edit_class_entry()" disabled><i class="fa fa-pen fa-sm mr-1"></i> Edit</button>
            </div>
        </div>
        <div class="table-responsive dt-embed card-full" id="resize_wrapper">
          <table class="table c_stripe responsive" id="dataTables-list" width="100%">
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block extra_scripts %}
{% endblock %}
