{% extends "base.html" %}
{% load staticfiles i18n %}
{% block extra_head %}
{% if helpers %}
  {% for helper in helpers %}
    <script type="text/javascript" src="{% static 'dalme_helpers/' %}{{ helper }}"></script>
  {% endfor %}
{% endif %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/scroller/2.0.0/css/scroller.bootstrap4.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/scroller/2.0.0/js/dataTables.scroller.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowgroup/1.1.0/css/rowGroup.bootstrap4.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/rowgroup/1.1.0/js/dataTables.rowGroup.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.19/features/scrollResize/dataTables.scrollResize.min.js"></script>
<script type="text/javascript" src="{% static 'js/dalme_datatables.js' %}"></script>
<script type="text/javascript">
{% if dt_editor %}
  var dt_editor_options = {
    'ajax': {
      'create': {
          'type': 'POST',
          'url': '{{ dt_editor.ajax_url }}',
          'headers': {'X-CSRFToken': getCookie("csrftoken") },
          'data': function (data) { return { "data": JSON.stringify( data ) }; }
        },
      'edit': {
          'type': 'PUT',
          'url': '{{ dt_editor.ajax_url }}_id_/',
          'headers': {'X-CSRFToken': getCookie("csrftoken") },
          'data': function (data) { return { "data": JSON.stringify( data ) }; }
        },
      'remove': {
          'type': 'DELETE',
          'url': '{{ dt_editor.ajax_url }}_id_/',
          'headers': {'X-CSRFToken': getCookie("csrftoken") },
          'data': function (data) { return { "data": JSON.stringify( data ) }; }
        }
      },
      {% for k,v in dt_editor.options.items %}
        {{ k }}:{{ v | safe }},
      {% endfor %}
      fields: [
        {% for i in dt_editor.fields %}
          {
            {% for k,v in i.items %}
              {% if k == 'opts' %}
                opts: {
                  {% for ok, ov in v.items %}
                    {{ ok | safe }}: "{{ ov | safe }}",
                  {% endfor %}
                },
              {% elif k == 'options' %}
                options: [
                  {% for o in v %}
                    {
                      {% for l,p in o.items %}
                        {{ l | safe }}: "{{ p | escapejs }}",
                      {% endfor %}
                    },
                  {% endfor %}
                ],
              {% else %}
                {{ k | safe }}: "{{ v | safe }}",
              {% endif %}
            {% endfor %}
          },
        {% endfor %}
      ]};
{% endif %}

{% if dt_editor.buttons %}
  var dt_editor_buttons = {{ dt_editor.buttons | safe }};
{% endif %}

var dt_options = {
  {% for k,v in dt_options.options.items %}
    {% if k == 'ajax' %}
      'ajax': {
        'url': {{ v | safe }},
        'data': function (data) { return { "data": JSON.stringify( data ) }; }
      },
    {% else %}
      {{ k }}:{{ v | safe }},
    {% endif %}
  {% endfor %}
    buttons:[
      {% for dict in dt_options.buttons %}
        {
          {% for k,v in dict.items %}
            {{ k }}:{{ v | safe }},
          {% endfor %}
        },
      {% endfor %}
      {% if dt_options.buttons_extra %}
        {% for b in dt_options.buttons_extra %}
          {{ b | safe }},
        {% endfor %}
      {% endif %}
      ],
      columnDefs:[
        {% for dict in dt_options.columnDefs %}
          {
            {% for k,v in dict.items %}
              {{ k }}:{{ v | safe }},
            {% endfor %}
          },
        {% endfor %}
      ]};
$(document).ready( function () {
  createDatatable('#dataTables-table', "{{ helpers }}");
  $(document).on('init.dt', function () { addDtToolbarButton('edit')} );
});

</script>

{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow mb-3">
        <div class="sub-card-header">
          <div class="card-header-title"><i class="fa fa-list fa-fw"></i> Lists and Field attributes</div>
        </div>
        <div class="d-flex">
          {% if parent_class %}
            <div class="align-self-start align-self-center mr-4 model-select-container ml-4">
              <select class="custom-select custom-select-sm" id="parent_class_select">
                <option value="0" selected>Select {{ parent_class.name }}</option>
                {% for k,v in parent_class.options.items %}
                  <option value="{{ k | safe }}">{{ v | safe }}</option>
                {% endfor %}
              </select>
            </div>
          {% endif %}
            <div class="mr-auto align-self-center mt-1 mb-1" id="parent_class_info">
            </div>
            <div class="model-button-container">
              <button id="btn_class_add" class="btn model-btn border-left border-bottom" onclick="addClassEntry()"><i class="fa fa-plus fa-sm mr-1"></i> Add</button>
              <button id="btn_class_edit" class="btn model-btn border-left" onclick="editClassEntry()" disabled><i class="fa fa-pen fa-sm mr-1"></i> Edit</button>
            </div>
        </div>
        <div class="table-responsive dt-embed card-full" id="resize_wrapper">
          <table class="table c_stripe responsive" id="dataTables-table" width="100%">
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block extra_scripts %}
{% endblock %}
