{% extends "dalme_app/dash_base.html" %}

{% load staticfiles i18n %}
{% block extra-dropdowns %}{% endblock %}
{% block extra-sidebar %}{% endblock %}

{% block content %}

<div class="container-fluid">
      <!-- Page Heading -->
      <!--div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ page_title }}</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
      </div-->
  <!-- Content Row -->
  <div class="row">
    <div class="col-md-12">
        <div class="card shadow mb-3">
          <div class="card-body">
            {% for item in scripts %}
              {{ item | safe }}
            {% endfor %}
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow mb-3">
        <div class="card-header ch-primary">Results</div>
        <div class="card-body script-results">
          {{ output | safe }}
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block extra_scripts %}

{% endblock %}
