{% extends "base.html" %}

{% load staticfiles i18n %}
{% block extra-dropdowns %}{% endblock %}
{% block extra-sidebar %}{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow mb-3">
        <div class="sub-card-header">
          <div class="card-header-title"><i class="fa fa-file-code fa-fw"></i> Scripts</div>
        </div>
        <div class="card-body">
            {% for item in scripts %}
              {{ item | safe }}
            {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card shadow mb-3">
        <div class="sub-card-header">
          <div class="card-header-title"><i class="fa fa-caret-square-right fa-fw"></i> Results</div>
        </div>
        <div class="card-body script-results">
          {{ output | safe }}
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block extra_scripts %}

{% endblock %}
