{% extends "dalme_app/dash_base.html" %}
{% load staticfiles i18n %}

{% block extra_head %}
  <link href="{% static '/css/chosen.css' %}" rel="stylesheet">
  <script type="text/javascript" src="{% static 'js/xonomy.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/xonomy_tei_docspecs.js' %}"></script>
  <link type="text/css" rel="stylesheet" href="{% static 'css/xonomy.css' %}"/>

  <!--TEMPORARY HACK: toggle button script for Xonomy mode-->
  <script type="text/javascript">
    function changeMode(buttonID) {
      if (buttonID == "btnModeRead") {
        document.getElementById(buttonID).className = "btn btn-primary";
        document.getElementById("btnModeQuick").className = "btn btn-default";
        document.getElementById("btnModeFull").className = "btn btn-default";
        start(easy_read);
      };
      if (buttonID == "btnModeQuick") {
        document.getElementById(buttonID).className = "btn btn-primary";
        document.getElementById("btnModeRead").className = "btn btn-default";
        document.getElementById("btnModeFull").className = "btn btn-default";
        start(quick_edit);
      };
      if (buttonID == "btnModeFull") {
        document.getElementById(buttonID).className = "btn btn-primary";
        document.getElementById("btnModeQuick").className = "btn btn-default";
        document.getElementById("btnModeRead").className = "btn btn-default";
        start(full_edit);
      };
    }
  </script>

  {% if source_has_pages %}
    <link href="{% static 'ImageViewer/imageviewer.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'ImageViewer/imageviewer.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/mirador-combined.css' %}"/>
    <script src="{% static 'js/mirador.min.js' %}"></script>

    <style media="screen">
      #viewer {
        height: 1000px;
        width: 100%;
      }
    </style>
  {% endif %}
{% endblock %}

{% block extra_dropdowns %}{% endblock %}

{% block content %}
<div class="container-fluid">
      <!-- Page Heading -->
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Source Details</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
      </div>
  <!-- Content Row -->
  <div class="row">
      <div class="col-lg-12">
        <div class="card shadow mb-3">
          <div class="card-body">
            <ul class="nav nav-tabs" id="sourceTabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="viewer-tab" data-toggle="tab" href="#document" role="tab" aria-controls="viewer" aria-selected="true">Document Viewer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="transcription-tab" data-toggle="tab" href="#transcription" role="tab" aria-controls="transcription" aria-selected="false">Transcription</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="metadata-tab" data-toggle="tab" href="#metadata" role="tab" aria-controls="metadata" aria-selected="false">Metadata</a>
              </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="document" role="tabpanel" aria-labelledby="viewer-tab">
                  {% if source.page_set.all %}
                    <div class="row">
                        <div id="viewer"></div>
                        <script type="text/javascript">
                          $(function() {
                            Mirador({
                              id: "viewer",
                              data: [
                                { manifestUri: "{{ request.build_absolute_uri }}/manifest" },
                                { manifestUri: "https://dam.dalme.org/iiif/8145/manifest" },
                              ],
                              windowObjects: [
                                {
                                  loadedManifest: "{{ request.build_absolute_uri }}/manifest",
                                  viewType: "ImageView"
                                }
                              ]
                            });
                          });
                        </script>
                  </div>
                  {% endif %}
                </div>
                <div class="tab-pane" id="transcription" role="tabpanel" aria-labelledby="transcription-tab">
                    <div class="row">
                      <div class="card shadow mb-3">
                          <div class="card-header text-right">
                            Mode:
                            <button type="button" id="btnModeRead" class="btn btn-primary" onclick="changeMode(this.id);">Easy Read</button>
                            <button type="button" id="btnModeQuick" class="btn btn-default" onclick="changeMode(this.id);">Quick Edit</button>
                            <button type="button" id="btnModeFull" class="btn btn-default" onclick="changeMode(this.id);">Full TEI</button>
                          </div>
                          <div class="card-body">
                            <div id="editor"></div>
                            <script type="text/javascript">
                              function start(mode) {
                                  var spec = mode;
                                  var xml='{{ transcription|safe }}';
                                  var editor=document.getElementById("editor");
                                  Xonomy.render(xml, editor, spec);
                                  }
                              start(easy_read);
                            </script>
                          </div>
                      </div>
                    </div>
                </div>
                <div class="tab-pane" id="metadata" role="tabpanel" aria-labelledby="metadata-tab">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="card shadow mb-3">
                        <div class="card-header">
                          <i class="fa fa-list-alt fa-fw"></i> Metadata
                        </div>
                        <div class="card-body">
                          <p><strong>Name: </strong>{{ source.name }}</p>
                          <p><strong>Type: </strong>{{ source.type.name }}</p>
                          <p><strong>Short name: </strong>{{ source.short_name }}</p>
                          {% if source.parent_source %}
                          <p><strong>Parent source: </strong><a href="{% url 'source_detail' source.parent_source.pk %}">{{ source.parent_source.name }}</a></p>
                          {% endif %}
                          <p><strong>Is inventory: </strong>{{ source.is_inventory }}</p>
                          <a href="#source-detail-modals" data-toggle="modal" data-target="#source-detail-modals" class="btn btn-primary">Update source</a>
                        </div>
                      </div>
                    </div>
                    {% if source_has_children %}
                    <div class="col-lg-4">
                      <div class="card shadow mb-3">
                        <div class="card-header">
                          Children
                        </div>
                        <div class="card-body">
                          <ul>
                            {% for child in children %}
                            <li><a href="{% url 'source_detail' child.pk %}">{{ child.name }}</a></li>
                            {% endfor %}
                          </ul>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                    {% if source.get_attributes %}
                    <div class="col-lg-4">
                      <div class="card shadow mb-3">
                        <div class="card-header">
                          Attributes
                        </div>
                        <div class="card-body">
                          {% for attribute_type, attributes in source.get_attributes.items %}
                          <p><strong>{{ attribute_type }}: </strong>{{ attributes }}</p>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                    {% endif %}
                    {% if source.page_set.all %}
                    <div class="col-lg-4">
                      <div class="card shadow mb-3">
                        <div class="card-header">
                          Pages
                        </div>
                        <div class="card-body">
                          {% for page in source.page_set.all %}
                            <p><a href="{% url 'page_detail' page.pk %}">{{ page }}</a></p>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                    {% endif %}
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
  </div>

{% endblock %}

{% block extra_scripts %}
{% endblock %}
