{% extends "base.html" %}
{% load staticfiles i18n %}
{% block extra_head %}
  {% if has_pages or has_children %}
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.19/features/scrollResize/dataTables.scrollResize.min.js"></script>
  {% endif %}
  {% if is_inv and has_pages %}
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet">
    <link href="{% static 'css/diva.css' %}" rel="stylesheet">
    <link href="{% static 'css/TEI.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/diva.js' %}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.3/ace.js"></script>
    <script type="text/javascript" src="{% static 'js/lodash-debounce.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/CETEI.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dalme_editor.js' %}"></script>
  {% endif %}
  {% if workset %}
    <script type="text/javascript" src="{% static 'js/dalme_worksets.js' %}"></script>
    <script type="text/javascript">
      var workset = {{ workset | safe }};
      $(document).ready(function() {
          init_worksets();
          if (localStorage.getItem('sourceTab')) {
            $('#' + localStorage.getItem('sourceTab')).tab('show');
            switch_tab(localStorage.getItem('sourceTab'));
          }
      });
    </script>
  {% endif %}
  {% if has_pages %}
    <script type="text/javascript">
      var folio_list = {{ folio_list | safe }};
      var source_id = "{{ source_id }}";
    </script>
  {% endif %}
{% endblock %}
{% block extra_dropdowns %}{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="card shadow mb-3">
    <div class="card-header card-tabs-header">
      <!-- tabs -->
      <ul class="nav nav-tabs card-header-tabs" id="sourceTabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false" onclick="switch_tab('info-tab')">Information</a>
        </li>
        {% if is_inv and has_pages %}
        <li class="nav-item">
          <a class="nav-link" id="editor-tab" data-toggle="tab" href="#tr_editor" role="tab" aria-controls="tr_editor" aria-selected="true" onclick="switch_tab('editor-tab')">Editor</a>
        </li>
        {% endif %}
      </ul>
      {% if workset %}
        {% include "includes/workset_controller.html" with current=workset.current total=workset.total progress=workset.progress name=workset.name description=workset.description %}
      {% endif %}
    </div>
    <!-- Tab panes -->
    <div class="tab-content h-100">
      <div class="tab-pane card-body active transcription-editor" id="info" role="tabpanel" aria-labelledby="info-tab">
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-3">
              <div class="sub-card-header">
                <div class="card-header-title"><i class="fa fa-bookmark fa-fw"></i> Source</div>
              </div>
              <div class="card-body attribute_list">
                  {% for k,v in source_data.items %}
                    <div class="form-row">
                        <div class="col-sm-3 text-right">
                          <span class="attribute_list_label">{{ k }}</span>
                        </div>
                        <div class="col-sm-9">
                          <span class="attribute_list_value">{{ v | safe }}</span>
                        </div>
                    </div>
                  {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card mb-3">
              <div class="sub-card-header">
                <div class="card-header-title"><i class="fa fa-info-circle fa-fw"></i> Metadata</div>
              </div>
                <div class="card-body attribute_list">
                  {% for k,v in source_metadata.items %}
                  <div class="form-row">
                      <div class="col-sm-3 text-right">
                        <span class="attribute_list_label">{{ k }}</span>
                      </div>
                      <div class="col-sm-9">
                        <span class="attribute_list_value">{{ v | safe }}</span>
                      </div>
                  </div>
                  {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card mb-3">
              <div class="sub-card-header">
                <div class="card-header-title"><i class="fa fa-list-alt fa-fw"></i> Attributes</div>
              </div>
              <div class="card-body attribute_list">
                  {% for i in attribute_data %}
                  <div class="form-row">
                      <div class="col-sm-2 text-right">
                        <span class="attribute_list_label">{{ i.label }}</span>
                      </div>
                      <div class="col-sm-10">
                        <span class="attribute_list_value">{{ i.value | safe }}</span>
                      </div>
                  </div>
                  {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% if has_children %}
        <div class="row">
          <div class="col-md-12">
            <div class="card mb-3">
                <div class="table-responsive dt-embed">
                  <table class="table table-hover compact" id="dataTables-children" width="100%">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Short name</th>
                        <th>Type</th>
                        <th>Inv</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for row in children %}
                        <tr>
                          <td>{{ row.id }}</td>
                          <td>{{ row.name }}</td>
                          <td>{{ row.short_name }}</td>
                          <td>{{ row.type }}</td>
                          {% if row.is_inventory == 0 %}
                            <td><i class="fa fa-times"></i></td>
                          {% else %}
                            <td><i class="fa fa-check"></i></td>
                          {% endif %}
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% if has_pages %}
        <div class="row">
          <div class="col-md-12">
            <div class="card mb-3">
                <div class="table-responsive dt-embed">
                  <table class="table table-hover compact" id="dataTables-pages" width="100%">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>DAM ID</th>
                        <th>Order</th>
                        <th>Img</th>
                        <th>Tr</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for row in folio_list %}
                        <tr>
                          <td>{{ row.id }}</td>
                          <td>{{ row.name }}</td>
                          <td>{{ row.dam_id }}</td>
                          <td>{{ row.order }}</td>
                          {% if row.dam_id == 'None' %}
                            <td><i class="fa fa-times"></i></td>
                          {% else %}
                            <td><i class="fa fa-check"></i></td>
                          {% endif %}
                          {% if row.tr_id == 'None' %}
                            <td><i class="fa fa-times"></i></td>
                          {% else %}
                            <td><i class="fa fa-check"></i></td>
                          {% endif %}
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
      {% if is_inv and has_pages %}
      <div class="tab-pane card-body p-0 clearfix transcription-editor" id="tr_editor" role="tabpanel" aria-labelledby="editor-tab">
          <div id="viewer-toolbar" class="d-flex">
            <div class="btn-group align-self-start mr-auto" role="group" aria-label="zoom">
              <button class="editor-btn button-border-right" onclick="diva.zoomOut()"><i class="fa fa-search-minus fa-fw"></i></button>
              <button class="editor-btn button-border-right" onclick="diva.zoomIn()"><i class="fa fa-search-plus fa-fw"></i></button>
            </div>
            <div id="folio-menu" class="btn-group align-self-end" role="group" aria-label="foliation" >
              {{ folio_menu | safe }}
            </div>
          </div>
          <div class="panel-top">
          <div id="diva_viewer" class="d-flex justify-content-center">
              <div class="spinner-border text-light mt-auto mb-auto"></div>
          </div>
          <div class="splitter-horizontal ui-resizable-handle ui-resizable-s"></div>
        </div>
        <div class="panel-bottom">
          <div id="editor-toolbar" class="dropdown d-flex">
            <div id="editor-left-toolbar" class="align-self-start mr-auto btn-group">
              <!-- Dropdown - options -->
              <div class="dropdown-menu" id="xmleditor-options">
              </div>
            </div>
            <div id="editor-right-toolbar" class="align-self-end btn-group">
              <button class="editor-btn button-border-left" id="btn_edit" onclick="changeEditorMode();"><i class="fa fa-edit fa-fw"></i> Edit</button>
            </div>
          </div>
          <div id="editor" class="d-flex justify-content-center">
              <div class="spinner-border mt-auto mb-auto"></div>
          </div>
      </div>
      {% endif %}
    </div>
    <div class="tab-footer">
      <div id="tab-footer-interface" class="d-flex">
        <small class="text-muted tab-footer-text align-self-start" id="author"></small>
      </div>
    </div>
  </div>
{% endblock %}
{% block extra_scripts %}
{% if tables %}
  <script>
    {% for table in tables %}
      $(document).ready(function() {
          var table_tasks = $('#dataTables-{{ table.0 }}').DataTable({
              {% if table_options %}
                {% for key,value in table_options.items %}
                  {{ key | safe }}: {{ value | safe }},
                {% endfor %}
              {% endif %}
          });
          $('#dataTables-{{ table.0 }}_wrapper').find('.card-header-title').html('<i class="fa {{ table.1 }} fa-fw"></i> {{ table.2 }}');
          fix_dt_search();
      });
    {% endfor %}
  </script>
{% endif %}
{% endblock %}
