{% extends "dalme_app/dash_base.html" %}
{% load staticfiles i18n %}

{% block extra_head %}
  {% if has_pages or has_children %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/fh-3.1.4/r-2.2.2/sc-2.0.0/sl-1.3.0/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'Editor-1.9.0/css/editor.bootstrap4.css' %}">
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/fh-3.1.4/r-2.2.2/sc-2.0.0/sl-1.3.0/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.19/dataRender/datetime.js"></script>
    <script type="text/javascript" src="{% static 'Editor-1.9.0/js/dataTables.editor.js' %}"></script>
    <script type="text/javascript" src="{% static 'Editor-1.9.0/js/editor.bootstrap4.js' %}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.19/features/scrollResize/dataTables.scrollResize.min.js"></script>
  {% endif %}
  {% if is_inv and has_pages %}
    <link href="{% static 'css/diva.css' %}" rel="stylesheet">
    <link href="{% static 'jquery-ui-resizable/jquery-ui.min.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/diva.js' %}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.3/ace.js"></script>
    <script type="text/javascript" src="{% static 'jquery-ui-resizable/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dalme_editor.js' %}"></script>
  {% endif %}
  {% if has_pages %}
    <script type="text/javascript">
      var folio_list = {{ folio_list | safe }};
    </script>
  {% endif %}

{% endblock %}
{% block extra_dropdowns %}{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="card shadow mb-3">
    <div class="card-header card-tabs-header">
      <!-- tabs -->
      <ul class="nav nav-tabs card-header-tabs" id="sourceTabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false" onclick="leaveTranscriber()">Information</a>
        </li>
        {% if is_inv and has_pages %}
        <li class="nav-item">
          <a class="nav-link" id="tr_editor-tab" data-toggle="tab" href="#tr_editor" role="tab" aria-controls="tr_editor" aria-selected="true" onclick="setupTranscriber()">Editor</a>
        </li>
        {% endif %}
      </ul>
    </div>
    <!-- Tab panes -->
    <div class="tab-content h-100">
      <div class="tab-pane card-body active" id="info" role="tabpanel" aria-labelledby="info-tab">
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-3">
              <div class="sub-card-header">
                <i class="fa fa-bookmark fa-fw"></i> Source
              </div>
              <div class="card-body attribute_list">
                  {% for k,v in source_data.items %}
                    <div class="form-row">
                        <div class="col-sm-3 text-right">
                          <span class="attribute_list_label">{{ k }}</span>
                        </div>
                        <div class="col-sm-9">
                          <span class="attribute_list_value">{{ v | safe }}</span>
                        </div>
                    </div>
                  {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card mb-3">
              <div class="sub-card-header">
                <i class="fa fa-info-circle fa-fw"></i> Metadata
              </div>
                <div class="card-body attribute_list">
                  {% for k,v in source_metadata.items %}
                  <div class="form-row">
                      <div class="col-sm-3 text-right">
                        <span class="attribute_list_label">{{ k }}</span>
                      </div>
                      <div class="col-sm-9">
                        <span class="attribute_list_value">{{ v | safe }}</span>
                      </div>
                  </div>
                  {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card mb-3">
              <div class="sub-card-header">
                <i class="fa fa-list-alt fa-fw"></i> Attributes
              </div>
              <div class="card-body attribute_list">
                  {% for i in attribute_data %}
                  <div class="form-row">
                      <div class="col-sm-2 text-right">
                        <span class="attribute_list_label">{{ i.label }}</span>
                      </div>
                      <div class="col-sm-10">
                        <span class="attribute_list_value">{{ i.value | safe }}</span>
                      </div>
                  </div>
                  {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% if has_children %}
        <div class="row">
          <div class="col-md-12">
            <div class="card mb-3">
                <div class="table-responsive dt-embed">
                  <table class="table table-hover compact" id="dataTables-children" width="100%">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Short name</th>
                        <th>Type</th>
                        <th>Inv</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for row in children %}
                        <tr>
                          <td>{{ row.id }}</td>
                          <td>{{ row.name }}</td>
                          <td>{{ row.short_name }}</td>
                          <td>{{ row.type }}</td>
                          {% if row.is_inventory == 0 %}
                            <td><i class="fa fa-times"></i></td>
                          {% else %}
                            <td><i class="fa fa-check"></i></td>
                          {% endif %}
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% if has_pages %}
        <div class="row">
          <div class="col-md-12">
            <div class="card mb-3">
                <div class="table-responsive dt-embed">
                  <table class="table table-hover compact" id="dataTables-pages" width="100%">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>DAM ID</th>
                        <th>Order</th>
                        <th>Img</th>
                        <th>Tr</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for row in folio_list %}
                        <tr>
                          <td>{{ row.id }}</td>
                          <td>{{ row.name }}</td>
                          <td>{{ row.dam_id }}</td>
                          <td>{{ row.order }}</td>
                          {% if row.dam_id == 'None' %}
                            <td><i class="fa fa-times"></i></td>
                          {% else %}
                            <td><i class="fa fa-check"></i></td>
                          {% endif %}
                          {% if row.tr_id == 'None' %}
                            <td><i class="fa fa-times"></i></td>
                          {% else %}
                            <td><i class="fa fa-check"></i></td>
                          {% endif %}
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
      {% if is_inv and has_pages %}
      <div class="tab-pane card-body p-0 clearfix transcription-editor" id="tr_editor" role="tabpanel" aria-labelledby="tr_editor-tab">
        <div class="panel-top">
          <div class="editor-menubar clearfix">
            <div class="btn-group float-left" role="group" aria-label="zoom">
              <button type="button" class="editor-btn button-border-right" onclick="diva.zoomOut()"><i class="fa fa-search-minus fa-fw"></i></button>
              <button type="button" class="editor-btn button-border-right" onclick="diva.zoomIn()"><i class="fa fa-search-plus fa-fw"></i></button>
            </div>
            <div class="btn-group float-right" role="group" aria-label="foliation" id="folio-menu">
              {{ folio_menu | safe }}
            </div>
          </div>
          <div id="diva_viewer" class="d-flex justify-content-center">
              <div class="spinner-border text-light mt-auto mb-auto"></div>
          </div>
          <div class="splitter-horizontal ui-resizable-handle ui-resizable-s"></div>
        </div>
        <div class="panel-bottom">
          <div class="editor-menubar menubar-border-top dropdown dropleft clearfix">
              <button class="editor-btn float-right button-border-left" type="button" id="tr_editorOptions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-cog fa-fw"></i>
              </button>
              <!-- Dropdown - options -->
              <div class="dropdown-menu shadow xmleditor-options" aria-labelledby="tr_editorOptions">
                <h6 class="dropdown-header text-center">Editor Options</h6>
                <form class="pb-1 pt-1 pr-3 pl-3">
                  <div class="form-row">
                    <div class="col-6">
                      <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="invisiblesSwitch">
                          <label class="custom-control-label nowrap" for="invisiblesSwitch">Show invisibles</label>
                      </div>
                      <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="livecompSwitch">
                          <label class="custom-control-label nowrap" for="livecompSwitch">Autocomplete</label>
                      </div>
                      <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="highlightWordSwitch" checked>
                          <label class="custom-control-label nowrap" for="highlightWordSwitch">Highlight word</label>
                      </div>
                      <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="softWrapSwitch" checked>
                          <label class="custom-control-label nowrap" for="softWrapSwitch">Soft wrap</label>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="indentGuidesSwitch" checked>
                          <label class="custom-control-label nowrap" for="indentGuidesSwitch">Show guides</label>
                      </div>
                      <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="gutterSwitch" checked>
                          <label class="custom-control-label nowrap" for="gutterSwitch">Show gutter</label>
                      </div>
                      <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="lineNumbersSwitch" checked>
                          <label class="custom-control-label nowrap" for="lineNumbersSwitch">Show line numbers</label>
                      </div>
                    </div>
                  </div>
                  <div class="dropdown-divider"></div>
                    <div class="form-row">
                      <label for="modeSelect" class="col-3 col-form-label nowrap">Mode</label>
                      <div class="col-9">
                        <select class="custom-select nowrap" id="modeSelect">
                          <option value="text">plain text</option>
                          <option value="xml" selected>XML/TEI</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-row">
                      <label for="themeSelect" class="col-3 col-form-label nowrap">Theme</label>
                      <div class="col-9">
                        <select class="custom-select nowrap" id="themeSelect">
                          <option value="Chrome" selected>Chrome</option>
                          <option value="Clouds">Clouds</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-row">
                        <label for="fontSizeSelect" class="col-3 col-form-label nowrap">Font size</label>
                      <div class="col-9">
                        <select class="custom-select nowrap" id="fontSizeSelect">
                          <option value="12">12</option>
                          <option value="14" selected>14</option>
                          <option value="16">16</option>
                          <option value="18">18</option>
                        </select>
                      </div>
                    </div>
                </form>
              </div>
            <div id="editor-button-bar">
              <button class="editor-btn float-right button-border-left" id="xmleditor_edit" type="button" onclick="editorButtonEdit();"><i class="fa fa-edit fa-fw"></i> Edit</button>
            </div>
          </div>
          <div id="xml_editor" class="d-flex justify-content-center active" role="tabpanel" aria-labelledby="tei-tab">
              <div class="spinner-border mt-auto mb-auto"></div>
          </div>
          <div id="xml_render" class="d-flex justify-content-center" role="tabpanel" aria-labelledby="render-tab">
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="tab-footer">
      <div id="tab-footer-interface" class="clearfix">
        <ul class="nav nav-tabs card-footer-tabs float-right" id="editor-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="tei-tab" data-toggle="tab" href="#tei" role="tab" aria-controls="tei" aria-selected="false">TEI Encoding</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="render-tab" data-toggle="tab" href="#render" role="tab" aria-controls="render" aria-selected="true">Rendered Text</a>
          </li>
        </ul>
        <small class="text-muted float-left tab-footer-text" id="transcriber"></small>
      </div>
    </div>
  </div>

{% endblock %}
{% block extra_scripts %}
  {% if has_pages %}
    <script>
      $(document).ready(function() {
          var table_pages = $('#dataTables-pages').DataTable({
              {% if table_options_pages %}
                {% for key,value in table_options_pages.items %}
                  {{ key | safe }}: {{ value | safe }},
                {% endfor %}
              {% endif %}
              {% if table_buttons_pages %}
                buttons: [
                {% for i in table_buttons_pages %}
                  {{ i | safe }},
                {% endfor %}
              ],
              {% endif %}
          });
          $("div.card-header-title").html('<i class="fa fa-book-open fa-fw"></i> Pages');
        });
      </script>
  {% endif %}

  {% if has_children %}
    <script>
      $(document).ready(function() {
          var table_children = $('#dataTables-children').DataTable({
              {% if table_options_children %}
                {% for key,value in table_options_children.items %}
                  {{ key | safe }}: {{ value | safe }},
                {% endfor %}
              {% endif %}
              {% if table_buttons_children %}
                buttons: [
                {% for i in table_buttons_children %}
                  {{ i | safe }},
                {% endfor %}
              ],
              {% endif %}
            });
            $("div.card-header-title").html('<i class="fa fa-sitemap fa-fw"></i> Children');
          });
      </script>
  {% endif %}

{% endblock %}
