{% extends "base.html" %}
{% load staticfiles i18n %}

{% block extra_head %}
  {% if has_pages or has_children %}
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.19/features/scrollResize/dataTables.scrollResize.min.js"></script>
  {% endif %}
  {% if is_inv and has_pages %}
    <link href="{% static 'css/diva.css' %}" rel="stylesheet">
    <link href="{% static 'jquery-ui-resizable/jquery-ui.min.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/diva.js' %}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.3/ace.js"></script>
    <script type="text/javascript" src="{% static 'js/lodash-debounce.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dalme_editor.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery-ui-resizable/jquery-ui.min.js' %}"></script>
  {% endif %}
  {% if has_pages %}
    <script type="text/javascript">
      var folio_list = {{ folio_list | safe }};
      var source_id = "{{ source_id }}";
    </script>
  {% endif %}
{% endblock %}
{% block extra_dropdowns %}{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="card shadow mb-3">
    <div class="card-header card-tabs-header">
      <!-- tabs -->
      <ul class="nav nav-tabs card-header-tabs" id="sourceTabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false" onclick="leaveTranscriber()">Information</a>
        </li>
        {% if is_inv and has_pages %}
        <li class="nav-item">
          <a class="nav-link" id="tr_editor-tab" data-toggle="tab" href="#tr_editor" role="tab" aria-controls="tr_editor" aria-selected="true" onclick="setupTranscriber()">Editor</a>
        </li>
        {% endif %}
      </ul>
    </div>
    <!-- Tab panes -->
    <div class="tab-content h-100">
      <div class="tab-pane card-body active" id="info" role="tabpanel" aria-labelledby="info-tab">
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-3">
              <div class="sub-card-header">
                <div class="card-header-title"><i class="fa fa-bookmark fa-fw"></i> Source</div>
              </div>
              <div class="card-body attribute_list">
                  {% for k,v in source_data.items %}
                    <div class="form-row">
                        <div class="col-sm-3 text-right">
                          <span class="attribute_list_label">{{ k }}</span>
                        </div>
                        <div class="col-sm-9">
                          <span class="attribute_list_value">{{ v | safe }}</span>
                        </div>
                    </div>
                  {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card mb-3">
              <div class="sub-card-header">
                <div class="card-header-title"><i class="fa fa-info-circle fa-fw"></i> Metadata</div>
              </div>
                <div class="card-body attribute_list">
                  {% for k,v in source_metadata.items %}
                  <div class="form-row">
                      <div class="col-sm-3 text-right">
                        <span class="attribute_list_label">{{ k }}</span>
                      </div>
                      <div class="col-sm-9">
                        <span class="attribute_list_value">{{ v | safe }}</span>
                      </div>
                  </div>
                  {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card mb-3">
              <div class="sub-card-header">
                <div class="card-header-title"><i class="fa fa-list-alt fa-fw"></i> Attributes</div>
              </div>
              <div class="card-body attribute_list">
                  {% for i in attribute_data %}
                  <div class="form-row">
                      <div class="col-sm-2 text-right">
                        <span class="attribute_list_label">{{ i.label }}</span>
                      </div>
                      <div class="col-sm-10">
                        <span class="attribute_list_value">{{ i.value | safe }}</span>
                      </div>
                  </div>
                  {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% if has_children %}
        <div class="row">
          <div class="col-md-12">
            <div class="card mb-3">
                <div class="table-responsive dt-embed">
                  <table class="table table-hover compact" id="dataTables-children" width="100%">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Short name</th>
                        <th>Type</th>
                        <th>Inv</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for row in children %}
                        <tr>
                          <td>{{ row.id }}</td>
                          <td>{{ row.name }}</td>
                          <td>{{ row.short_name }}</td>
                          <td>{{ row.type }}</td>
                          {% if row.is_inventory == 0 %}
                            <td><i class="fa fa-times"></i></td>
                          {% else %}
                            <td><i class="fa fa-check"></i></td>
                          {% endif %}
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% if has_pages %}
        <div class="row">
          <div class="col-md-12">
            <div class="card mb-3">
                <div class="table-responsive dt-embed">
                  <table class="table table-hover compact" id="dataTables-pages" width="100%">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>DAM ID</th>
                        <th>Order</th>
                        <th>Img</th>
                        <th>Tr</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for row in folio_list %}
                        <tr>
                          <td>{{ row.id }}</td>
                          <td>{{ row.name }}</td>
                          <td>{{ row.dam_id }}</td>
                          <td>{{ row.order }}</td>
                          {% if row.dam_id == 'None' %}
                            <td><i class="fa fa-times"></i></td>
                          {% else %}
                            <td><i class="fa fa-check"></i></td>
                          {% endif %}
                          {% if row.tr_id == 'None' %}
                            <td><i class="fa fa-times"></i></td>
                          {% else %}
                            <td><i class="fa fa-check"></i></td>
                          {% endif %}
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
      {% if is_inv and has_pages %}
      <div class="tab-pane card-body p-0 clearfix transcription-editor" id="tr_editor" role="tabpanel" aria-labelledby="tr_editor-tab">
        <div class="panel-top">
          <div class="editor-menubar clearfix">
            <div class="btn-group float-left" role="group" aria-label="zoom">
              <button type="button" class="editor-btn button-border-right" onclick="diva.zoomOut()"><i class="fa fa-search-minus fa-fw"></i></button>
              <button type="button" class="editor-btn button-border-right" onclick="diva.zoomIn()"><i class="fa fa-search-plus fa-fw"></i></button>
            </div>
            <div class="btn-group float-right" role="group" aria-label="foliation" id="folio-menu">
              {{ folio_menu | safe }}
            </div>
          </div>
          <div id="diva_viewer" class="d-flex justify-content-center">
              <div class="spinner-border text-light mt-auto mb-auto"></div>
          </div>
          <div class="splitter-horizontal ui-resizable-handle ui-resizable-s"></div>
        </div>
        <div class="panel-bottom">
          <div class="editor-menubar menubar-border-top dropdown dropleft clearfix">
              <button class="editor-btn float-right button-border-left" type="button" id="tr_editorOptions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-cog fa-fw"></i>
              </button>
              <!-- Dropdown - options -->
              <div class="dropdown-menu shadow xmleditor-options" aria-labelledby="tr_editorOptions">
                <h6 class="dropdown-header text-center">Editor Options</h6>
                <form class="pb-1 pt-1 pr-3 pl-3" id="xml-editor_options">
                  <div class="form-row">
                    <div class="col-6">
                      <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="showInvisibles">
                          <label class="custom-control-label nowrap" for="showInvisibles">Show invisibles</label>
                      </div>
                      <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="highlightSelectedWord" checked>
                          <label class="custom-control-label nowrap" for="highlightSelectedWord">Highlight word</label>
                      </div>
                      <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="wrap" checked>
                          <label class="custom-control-label nowrap" for="wrap">Soft wrap</label>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="displayIndentGuides" checked>
                          <label class="custom-control-label nowrap" for="displayIndentGuides">Show guides</label>
                      </div>
                      <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="showGutter" checked>
                          <label class="custom-control-label nowrap" for="showGutter">Show gutter</label>
                      </div>
                      <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="showLineNumbers" checked>
                          <label class="custom-control-label nowrap" for="showLineNumbers">Show line numbers</label>
                      </div>
                    </div>
                  </div>
                  <div class="dropdown-divider"></div>
                    <div class="form-row">
                      <label for="mode" class="col-3 col-form-label nowrap">Mode</label>
                      <div class="col-9">
                        <select class="custom-select nowrap" id="mode">
                          <option value="ace/mode/html">HTML</option>
                          <option value="ace/mode/text">plain text</option>
                          <option value="ace/mode/xml">TEI</option>
                          <option value="ace/mode/xml" selected>XML</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-row">
                      <label for="theme" class="col-3 col-form-label nowrap">Theme</label>
                      <div class="col-9">
                        <select class="custom-select nowrap" id="theme">
                          <option disabled>Light themes</option>
                          <option value="ace/theme/chrome" selected>Chrome</option>
                          <option value="ace/theme/clouds">Clouds</option>
                          <option value="ace/theme/xcode">XCode</option>
                          <option value="ace/theme/kuroir">Kuroir</option>
                          <option value="ace/theme/sqlserver">SQL Server</option>
                          <option disabled>Dark themes</option>
                          <option value="ace/theme/clouds_midnight">Clouds Midnight</option>
                          <option value="ace/theme/cobalt">Cobalt</option>
                          <option value="ace/theme/idle_fingers">Idle Fingers</option>
                          <option value="ace/theme/terminal">Terminal</option>
                          <option value="ace/theme/tomorrow_night_blue">Tomorrow Night Blue</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-row">
                        <label for="fontSize" class="col-3 col-form-label nowrap">Font size</label>
                      <div class="col-9">
                        <select class="custom-select nowrap" id="fontSize">
                          <option value="12px">12</option>
                          <option value="14px" selected>14</option>
                          <option value="16px">16</option>
                          <option value="18px">18</option>
                        </select>
                      </div>
                    </div>
                </form>
              </div>
            <div id="editor-button-bar">
              <button class="editor-btn float-right button-border-left" id="xmleditor_edit" type="button" onclick="editorButtonEdit();"><i class="fa fa-edit fa-fw"></i> Edit</button>
            </div>
          </div>
          <div id="xml_editor" class="d-flex justify-content-center">
              <div class="spinner-border mt-auto mb-auto"></div>
          </div>
          <div id="text_render" class="d-flex justify-content-left">
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="tab-footer">
      <div id="tab-footer-interface" class="clearfix">
        <ul class="nav nav-tabs card-footer-tabs float-right" id="editor-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="tei-tab" data-toggle="tab" href="#tab_editor" role="tab" aria-controls="tei" aria-selected="true" onclick="renderer('off')">TEI Encoding</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="render-tab" data-toggle="tab" href="#tab_render" role="tab" aria-controls="render" aria-selected="false" onclick="renderer('on')">Rendered Text</a>
          </li>
        </ul>
        <small class="text-muted float-left tab-footer-text" id="transcriber"></small>
      </div>
    </div>
  </div>

{% endblock %}
{% block extra_scripts %}
{% if tables %}
  <script>
    {% for table in tables %}
      $(document).ready(function() {
          var table_tasks = $('#dataTables-{{ table.0 }}').DataTable({
              {% if table_options %}
                {% for key,value in table_options.items %}
                  {{ key | safe }}: {{ value | safe }},
                {% endfor %}
              {% endif %}
          });
          $('#dataTables-{{ table.0 }}_wrapper').find('.card-header-title').html('<i class="fa {{ table.1 }} fa-fw"></i> {{ table.2 }}');
          fix_dt_search();
      });
    {% endfor %}
  </script>
{% endif %}
{% endblock %}
