{% extends "base.html" %}
{% load staticfiles i18n %}
{% block extra_head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/luminous-lightbox/2.3.2/luminous-basic.min.css" integrity="sha256-tPW9wLkspLEhKo1rCAUlqiMvw30PPoyOatV5gL8a+/M=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/luminous-lightbox/2.3.2/luminous.min.js" integrity="sha256-JtowJgZIxtr4WObMQMDqCojFv0TMRb438K2bLmjYS8Q=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'dalme_helpers/task_detail.js' %}"></script>
<script>
  var task = {
    "title": "{{ task.title }}",
    "task_list": "{{ task.task_list.id }}",
    "due_date": "{{ task.due_date|date:'Y-m-d' }}",
    "assigned_to": "{{ task.assigned_to.id }}",
    "description": "{{ task.description }}",
    "workset": "{{ task.workset.id }}",
    "url": "{{ task.url }}",
    "file": "{{ task.file.id }}"
  }
</script>
{% endblock %}
{% block extra_dropdowns %}{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="card shadow mb-3">
    <div class="card-header card-tabs-header">
      <!-- tabs -->
      <ul class="nav nav-tabs card-header-tabs" id="sourceTabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">Information</a>
        </li>
      </ul>
    </div>
    <!-- Tab panes -->
    <div class="tab-content h-100">
      <div class="card-body active" id="info" role="tabpanel" aria-labelledby="info-tab" data-editor-id="{{ task.id }}">
        <div class="row">
          <div class="col-md-9">
            <div class="card mb-3">
              <div class="card-body pb-3">
                  <div class="d-flex align-items-center">
                    <div class="record-title">{{ task.title }}</div>
                    {% if perms.dalme_app.can_change_task %}
                        <div class="dropdown-task-add" onclick="edit_task({{ task.id }})">Edit <i class="fa fa-pen fa-fw"></i></div>
                    {% endif %}
                  </div>
                  <div class="record-title-meta">
                    <a href="/users/{{ task.created_by.username }}">{{ task.created_by.profile.full_name }}</a> created this task on {{ task.creation_timestamp|date:"j-M-Y" }}
                    in <a href="/tasks/">{{ task.task_list.name }} ({{ task.task_list.group.name }})</a>
                    {% if task.comments.count > 0 %}
                      ・ {{ task.comments.count }} comment{{ task.comments.count|pluralize }}
                    {% endif %}
                  </div>
                  <div class="record-description">{{ task.description }}</div>
                  {% if task.assigned_to %}
                  <a class="basic-pill" href="/users/{{ task.assigned_to.username }}">Assigned to {{ task.assigned_to.profile.full_name }}</a>
                  {% endif %}
                  {% if task.due_date %}
                  <span class="basic-pill align-self-end task-{% if task.overdue %}over{% endif %}due">Due on {{ task.due_date }}</span>
                  {% endif %}
              </div>
            </div>
            {% include "includes/comments_box.html" with model='Task' object=task.id %}
          </div>
          <div class="col-md-3">
            <div class="card mb-3">
              <div class="card-body d-flex">
                {% if task.completed %}
                  <div class="task-detail-status">Completed: {{ task.completed_date }}</div>
                  <div class="button-pointer d-inline-block ml-auto" id="task_{{ task.id }}" onclick="task_change_state({{ task.id }}, 'mark_undone')">
                    <i class="far fa-check-square fa-lg"></i>
                  </div>
                {% else %}
                  <div class="task-detail-status">Not completed.</div>
                  <div class="button-pointer d-inline-block ml-auto" id="task_{{ task.id }}" onclick="task_change_state({{ task.id }}, 'mark_done')">
                    <i class="far fa-square fa-lg"></i>
                  </div>
                {% endif %}
              </div>
            </div>
            {% if task.workset or task.url or task.file %}
            <div class="card mb-3">
              <div class="sub-card-header">
                <div class="card-header-title"><i class="fa fa-paperclip fa-fw"></i> Attachments</div>
              </div>
                <div class="card-body p-2">
                  {% if task.workset %}
                      <div class="attachment-container-body">
                        <div class="attachment-container-header">
                            <div class="attachment-container-icon"><i class="fa fa-layer-group fa-fw"></i></div>
                            <div class="attachment-container-label">Endpoint: {{ task.workset.endpoint }}</div>
                        </div>
                        <div class="p-2">
                            <a href="/worksets/{{ task.workset.id }}" class="workset-title">{{ task.workset.name }}</a>
                            {% widthratio task.workset.progress 100 360 as angle %}
                            {% if angle|add:"0" <= 180 %}
                              <div class="pie-wrapper">
                                <span class="label">{{ task.workset.progress|floatformat:"0" }}<span class="smaller">%</span></span>
                                <div class="pie">
                                  <div class="left-side half-circle" style="transform:rotate({{ angle }}deg);"></div>
                                  <div class="right-side half-circle" style="display:none;"></div>
                                </div>
                              </div>
                            {% else %}
                              <div class="pie-wrapper">
                                <span class="label">{{ task.workset.progress|floatformat:"0" }}<span class="smaller">%</span></span>
                                <div class="pie" style="clip:rect(auto, auto, auto, auto);">
                                  <div class="left-side half-circle" style="transform:rotate({{ angle }}deg);"></div>
                                  <div class="right-side half-circle" style="transform:rotate(180deg);"></div>
                                </div>
                              </div>
                            {% endif %}
                            <div class="workset-text">{{ task.workset.description }}</div>
                        </div>
                      </div>
                  {% endif %}
                  {% if task.url %}
                        <a href="{{ task.url }}" class="pill-url d-flex align-items-center">
                          <div class="pill-url-icon"><i class="fa fa-link fa-fw"></i></div>
                          <div class="pill-url-label">{{ task.url }}</div>
                        </a>
                  {% endif %}
                  {% if task.file %}
                    {{ task.file.preview | safe }}
                  {% endif %}
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block extra_scripts %}
<script>
  $(document).ready(function() {
      enable_comments('Task', {{ task.id }});
  });
</script>
{% if task.file %}
<script>
  $(document).ready(function() {
      new Luminous(document.querySelector('.attachment-file-image'), { sourceAttribute: "src" });
  });
</script>
{% endif %}
{% endblock %}
