{% extends "base.html" %}
{% load staticfiles i18n %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowgroup/1.1.0/css/rowGroup.bootstrap4.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/rowgroup/1.1.0/js/dataTables.rowGroup.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/scroller/2.0.0/css/scroller.bootstrap4.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/scroller/2.0.0/js/dataTables.scroller.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.19/features/scrollResize/dataTables.scrollResize.min.js"></script>
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="card shadow mb-3">
        <div class="table-responsive dt-embed card-full-tasks">
          <table class="table table-hover compact" id="dataTables-lists" width="100%">
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card shadow mb-3">
        <div class="table-responsive dt-embed card-full-tasks">
          <table class="table table-hover compact" id="dataTables-tasks" width="100%">
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block extra_scripts %}
<script>
    $(document).ready(function() {
      {% for table in tables %}
        table_{{ table.0 }} = $('#dataTables-{{ table.0 }}').DataTable({
            {% if table.3 %}
              {% for k,v in table.3.items %}
                {% if k == 'ajax' %}
                  'ajax': {
                    'url': {{ v | safe }},
                    'data': function (data) { return { "data": JSON.stringify( data ) }; }
                  },
                {% elif k == 'columnDefs' %}
                  columnDefs:[
                    {% for dict in v %}
                      {
                        {% for key,value in dict.items %}
                          {{ key }}:{{ value | safe }},
                        {% endfor %}
                      },
                    {% endfor %}
                  ]
                {% else %}
                  {{ k | safe }}: {{ v | safe }},
                {% endif %}
              {% endfor %}
            {% endif %}
        });
        $('#dataTables-{{ table.0 }}_wrapper').find('.card-header-title').html('<i class="fa {{ table.1 }} fa-fw"></i> {{ table.2 }}');
      {% endfor %}
        fix_dt_search();
        $('#dataTables-tasks_wrapper').find('.dt-btn-group').append('<button class="btn dt-btn" id="btn-addtask" type="button" onclick="create_task()"><i class="fa fa-plus fa-sm"></i> Create Task</button>');
        $('#dataTables-lists_wrapper').find('.dt-btn-group').append('<button class="btn dt-btn" id="btn-addlist" type="button" onclick="create_task_list()"><i class="fa fa-plus fa-sm"></i> Create List</button>');
        table_lists.on('select', function ( e, dt, type, indexes ) {
          if (typeof dt != 'undefined') {
            table_tasks.ajax.url("/api/tasks/?format=json&filter=task_list," + dt.id()).draw();
          }
        });
        table_lists.on('deselect', function ( e, dt, type, indexes ) {
          table_tasks.ajax.url("/api/tasks/?format=json").draw();
        });
    });
</script>
{% endblock %}
