{% extends "base.html" %}
{% load staticfiles i18n %}
{% block extra_head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/luminous-lightbox/2.3.2/luminous-basic.min.css" integrity="sha256-tPW9wLkspLEhKo1rCAUlqiMvw30PPoyOatV5gL8a+/M=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/luminous-lightbox/2.3.2/luminous.min.js" integrity="sha256-JtowJgZIxtr4WObMQMDqCojFv0TMRb438K2bLmjYS8Q=" crossorigin="anonymous"></script>
{% endblock %}
{% block extra_dropdowns %}{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="card shadow mb-3">
    <div class="card-header card-tabs-header">
      <!-- tabs -->
      <ul class="nav nav-tabs card-header-tabs" id="sourceTabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">Information</a>
        </li>
      </ul>
    </div>
    <!-- Tab panes -->
    <div class="tab-content h-100">
      <div class="card-body active" id="info" role="tabpanel" aria-labelledby="info-tab">
        <div class="row">
          <div class="col-md-9">
            <div class="card mb-3">
              <div class="card-body">
                  <div class="d-flex align-items-center">
                    <div class="record-title">{{ ticket.subject }}</div><div class="record-title-detail">#{{ ticket.id }}</div>
                  </div>
                  <div class="d-flex align-items-center">
                    {% if ticket.status == 0 %}
                      <div id="ticket_status" class="ticket-detail-open"><i class="fa fa-exclamation-circle fa-fw"></i> Open</div>
                    {% else %}
                      <div id="ticket_status" class="ticket-detail-closed"><i class="fa fa-exclamation-circle fa-fw"></i> Closed</div>
                    {% endif %}
                    <div class="record-title-meta">
                      <a href="/users/{{ ticket.creation_username }}">{{ ticket.creation_name }}</a> opened this issue on {{ ticket.creation_timestamp|date:"j-M-Y" }}
                      {% if ticket.comments.count > 0 %}
                        ・ {{ ticket.comments.count }} comment{{ ticket.comments.count|pluralize }}
                      {% endif %}
                    </div>
                  </div>
                  <div class="record-description">{{ ticket.description }}</div>
                    {% if ticket.tags %}
                      {% for t in ticket.tags.all %}
                        <span class="basic-pill ticket-{{ t.tag }}">{{ t.tag }}</span>
                      {% endfor %}
                    {% endif %}
              </div>
            </div>
              {% include "includes/comments_box.html" with model='Ticket' object=ticket.id %}
          </div>
          <div class="col-md-3">
            <div class="card mb-3">
              <div id="ticket_status_box" class="card-body d-flex align-items-center">
                {% if ticket.status == 0 %}
                  <div class="ticket-detail-status">This ticket is still open</div>
                  {% if perms.dalme_app.can_change_ticket %}
                  <button class="btn btn-primary ml-auto d-flex mr-2" type="button" onclick="ticket_set_state({{ ticket.id }}, $(this).text())">Close</button>
                  {% endif %}
                {% else %}
                  <div class="ticket-detail-status">{{ ticket.modification_timestamp|date:"j-M-Y" }} | {{ ticket.modification_username }}</div>
                  {% if perms.dalme_app.can_change_ticket %}
                  <button class="btn btn-danger ml-auto d-flex mr-2" type="button" onclick="ticket_set_state({{ ticket.id }}, $(this).text())">Open</button>
                  {% endif %}
                {% endif %}
              </div>
            </div>
            {% if ticket.url or ticket.file %}
            <div class="card mb-3">
              <div class="sub-card-header">
                <div class="card-header-title"><i class="fa fa-paperclip fa-fw"></i> Attachments</div>
              </div>
                <div class="card-body p-2">
                  {% if ticket.url %}
                        <a href="{{ ticket.url }}" class="pill-url d-flex align-items-center">
                          <div class="pill-url-icon"><i class="fa fa-link fa-fw"></i></div>
                          <div class="pill-url-label">{{ ticket.url }}</div>
                        </a>
                  {% endif %}
                  {% if ticket.file %}
                    {{ ticket.file.preview | safe }}
                  {% endif %}
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block extra_scripts %}
<script>
  $(document).ready(function() { enable_comments('Ticket', {{ ticket.id }}); });
</script>
{% if ticket.file %}
<script>
  $(document).ready(function() {
    new Luminous(document.querySelector('.attachment-file-image'), { sourceAttribute: "src" });
  });
</script>
{% endif %}
{% endblock %}
