{% extends "web/layouts/single_column.html" %}
{% load wagtailcore_tags wagtailimages_tags sponsors static %}

{% block extra_styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/banners.css' %}" />
{% endblock %}

{% block header_extra %}
  <div class="title u-flex u-type-serif">
    <h1 class="small">The</h1>
    <h1>Documentary Archaeology</h1>
    <h1 class="last"><span class="small">of</span> Late Medieval Europe</h1>
    {% if page.learn_more_page %}
      <a class="u-lozenge" href="{% pageurl page.learn_more_page %}">LEARN MORE</a>
    {% endif %}
  </div>

  {% if banners %}
    <div class="banners-container">
      {% for banner in banners %}
        {% include "banners/banner.html" with value=banner %}
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}

{% block main_column %}
  {% include "web/includes/featured.html" %}

  <section class="mission u-flex">
    <h2 class="u-lozenge">DALME</h2>
    <div class="u-flex">
      <div class="statement home-parchment" style="background-image: url('{% static "images/home_bg.jpg"%}')">
        <img src="{% static 'images/logo.svg' %}" alt="DALME logo">
        {% include_block page.body %}
      </div>
      <div class="home-register" style="background-image: url('{% static "images/home_reg.jpg"%}')"></div>
    </div>
  </section>

  {% sponsors %}

{% endblock %}
