<div class="at-a-glance">
  <ul>
    <h3 class="u-small-caps-heading">AT A GLANCE</h3>

    <li class="inventories">
      <h5>Inventories</h5>
      <p>{{ stats.inventories }}</p>
    </li>

    {% if stats.languages %}
      <li class="languages u-flex">
        <h5>Languages</h5>
        <ul>
          {% for lang in stats.languages %}
            <li class="lang-lozenge">
              <span>{{ lang.0|title }}</span>
              <span>|</span>
              <span>{{ lang.1|upper }}</span>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endif %}

    <li id="histogram" class="histogram">
      <h5>Temporal Coverage</h5>
    </li>
    {% if stats.other %}
    <li class="status-groups">
      <h5>{{ stats.other.label }}</h5>
      <p>{{ stats.other.text }}</p>
    </li>
    {% endif %}

  </ul>
</div>
