<div class="at-a-glance">
  <ul>
    <div class="sidebar-heading">
      <h3 class="u-small-caps-heading">AT A GLANCE</h3>
    </div>
    <li class="inventories pb-1">
      <h5>Records</h5>
      <span class="records">{{ stats.inventories }}</span>
    </li>

    {% if stats.languages %}
      <li class="languages u-flex">
        <h5>Languages</h5>
        <ul class="d-flex flex-column">
          {% for lang in stats.languages %}
            <li class="lang-lozenge">
              <span>{{ lang.0|title }}</span>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endif %}

    <li id="histogram" class="histogram">
      <h5>Temporal Coverage</h5>
    </li>
    {% if stats.other %}
    <li class="status-groups">
      <h5>{{ stats.other.label }}</h5>
      <p>{{ stats.other.text }}</p>
    </li>
    {% endif %}

  </ul>
</div>
