{% load dalme_public_tags wagtailcore_tags %}

{% get_breadcrumbs_nav as nav %}
<nav class="breadcrumbs u-flex">
  <ul>
    {% for ancestor in nav %}
      {% if not ancestor.is_root %}
        {% if forloop.counter0 == 1 %}
          <li class="home">
            <a href="{% pageurl ancestor %}">
              <i class="fas fa-home"></i>
            </a>
          </li>
        {% else %}
          <li>
            <a href="{% pageurl ancestor %}">
              {{ ancestor.title_switch }}
            </a>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
    <li class="active">
      {{ page.title_switch }}
    </li>
  </ul>
</nav>
