{% load dalme_public_tags wagtailcore_tags %}

{% get_breadcrumbs_nav as nav %}
<nav class="breadcrumbs u-flex">
  <ul>
    {% for crumb in nav %}
      {% if forloop.counter0 == 0 %}
        <li class="home">
          <a href="{{ crumb.url }}">
            <i class="fas fa-home"></i>
          </a>
        </li>
      {% else %}
        {% if not crumb.active %}
          <li>
            <a href="{{ crumb.url }}">
              {{ crumb.title }}
            </a>
          </li>
        {% else %}
          <li class="active">
            {{ crumb.title }}
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
</nav>
