<b-popover
  :show.sync="show_menu"
  target="cite-button"
  placement="right"
  v-cloak>
  <div class="form-group">
      <div class="form-control" v-html="formatted_citation" id="citation"></div>
  </div>
  <div class="form-button d-block">
      <b-dropdown
        id="cite_format_menu"
        class="d-inline-block"
        size="sm"
        variant="secondary"
        text="Change format">
        <b-dropdown-item
          :class="{ active: template='apa'}"
          @click="formatCitation('apa')">
          APA
        </b-dropdown-item>
        <b-dropdown-item
          :class="{ active: template='harvard1'}"
          @click="formatCitation('harvard1')">
          Harvard
        </b-dropdown-item>
        <b-dropdown-item
          :class="{ active: template='vancouver'}"
          @click="formatCitation('vancouver')">
          Vancouver
        </b-dropdown-item>
      </b-dropdown>
      <b-button
        id="clip_copy"
        variant="secondary"
        size="sm"
        class="d-inline-block"
        data-clipboard-target="#citation"
        @click="showCopiedTooltip">
        Copy to clipboard
      </b-button>
      <b-dropdown
        id="cite_download"
        class="d-inline-block"
        size="sm"
        variant="secondary"
        text="Download">
        <b-dropdown-item>BibTeX</b-dropdown-item>
        <b-dropdown-item>Endnote</b-dropdown-item>
        <b-dropdown-item>RIS</b-dropdown-item>
        <b-dropdown-item>Zotero</b-dropdown-item>
      </b-dropdown>
  </div>
</b-popover>
