<div class="dropright mt-5" id="cite-container" data-toggle="tooltip" data-trigger="manual" data-placement="right" title="Copied!">
  <button class="cite-side-button dropdown-toggle" type="button" data-container="body" data-toggle="popover">
    Cite
  </button>
</div>
<div id="cite-popup" class="d-none">
  <div class="form-group">
      <div class="form-control" id="citation"></div>
  </div>
  <div class="form-button d-block">
      <div class="dropdown d-inline-block">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="cite_format_menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Change format
        </button>
        <div class="dropdown-menu" aria-labelledby="cite_format_menu">
          <a class="dropdown-item cite_format" href="#" data-format="apa">APA</a>
          <a class="dropdown-item cite_format" href="#" data-format="harvard1">Harvard</a>
          <a class="dropdown-item cite_format" href="#" data-format="vancouver">Vancouver</a>
        </div>
      </div>
      <button type="button" id="cite_copy" class="btn btn-secondary btn-sm d-inline-block" data-clipboard-target="#citation">Copy to clipboard</button>
      <div class="dropdown d-inline-block">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="cite_download" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Download
        </button>
        <div class="dropdown-menu" aria-labelledby="cite_download">
          <a class="dropdown-item" href="#">BibTeX</a>
          <a class="dropdown-item" href="#">Endnote</a>
          <a class="dropdown-item" href="#">RIS</a>
          <a class="dropdown-item" href="#">Zotero</a>
        </div>
      </div>
  </div>
</div>
