{% load wagtailroutablepage_tags %}
{% load dalme_public_tags wagtailcore_tags static %}

<nav class="secondary collections-filter">
  <ul class="u-flex">
    {% if page|classname != 'Collections' %}
        <li>
          <a href="{% pageurl page.get_parent %}" {% if page|classname == 'Collection' %} class="active" {% endif %}>Collections</a>
        </li>
        <li>
          <a href="{% routablepageurl page.get_parent.specific 'search' %}" {% if search %}class="active"{% endif %}>Search</a>
        </li>
            {% if page|classname == 'Collection' %}
                <li>
                  <a href="{% pageurl page %}records/?collection={{ page.pk }}">Browse Collection</a>
                </li>
            {% else %}
                <li>
                  <a href="{% routablepageurl page.get_parent.specific 'records' %}">Browse All</a>
                </li>
            {% endif %}
          <li>
            <a href="{% routablepageurl page.get_parent.specific 'explore' %}" {% if explore %}class="active"{% endif %}>Explore</a>
          </li>
    {% else %}
        <li>
          <a {% if not search and not explore %}href="" class="active"{% else %}href="{% pageurl page.specific %}"{% endif %}>Collections</a>
        </li>
        <li>
          <a href="{% routablepageurl page.specific 'search' %}" {% if search %}class="active"{% endif %}>Search</a>
        </li>
        <li>
          <a href="{% routablepageurl page.specific 'records' %}">Browse All</a>
        </li>
        <li>
          <a href="{% routablepageurl page.specific 'explore' %}" {% if explore %}class="active"{% endif %}>Explore</a>
        </li>
    {% endif %}
  </ul>
</nav>
