{% load wagtailroutablepage_tags %}
{% load dalme_public_tags wagtailcore_tags static %}

<nav class="secondary collections-filter">
  <ul class="u-flex">
    {% if page|classname == 'Flat' %}
    <li>
      <a href="{% pageurl page.get_parent %}" class="active">Collections</a>
    </li>
    {% endif %}
    <li>
      <a href="">Search</a>
    </li>
    {% if page|classname == 'Collection' %}
      <li>
        <a href="{% pageurl page %}inventories/?collection={{ page.pk }}">Browse Collection</a>
      </li>
    {% elif page|classname == 'Flat' %}
      <li>
        <a href="{% routablepageurl page.get_parent.specific 'unscoped_inventories' %}">Browse All</a>
      </li>
    {% else %}
      <li>
        <a href="{% routablepageurl page.specific 'unscoped_inventories' %}">Browse All</a>
      </li>
    {% endif %}
    <li>
      <a href="">Explore</a>
    </li>
  </ul>
</nav>
