<form role="form" action="" method="post" class="contact-form u-flex">
  {% csrf_token %}
  {{ form.non_field_errors }}
  {{ form.source.errors }}
  {{ form.source }}

  <div class="field sender u-flex">
    <div class="form-group name">
      {{ form.name.label_tag }}
      {{ form.name.errors }}
      {{ form.name }}
    </div>
    <div class="form-group email">
      {{ form.email.label_tag }}
      {{ form.email.errors }}
      {{ form.email }}
    </div>
  </div>

  <div class="form-group field subject">
    {{ form.subject.label_tag }}
    {{ form.subject.errors }}
    {{ form.subject }}
  </div>

  <div class="form-group field message">
    {{ form.message.label_tag }}
    {{ form.message.errors }}
    {{ form.message }}
  </div>
  <div class="captcha-container">
    {{ form.captcha }}
  <button class="btn dalme-button large" type="submit">Send</button>
  </div>
</form>
