<p>
  The goal of DALME is to increase our understanding of Europe’s material horizons during the later Middle Ages, an era when changing patterns of production and consumption altered the material world and transformed the relationship between people and things. We aim to accomplish this by developing a publicly accessible and fully searchable online database of material culture based on household inventories and other textual sources from the period. Along the way, we hope to develop open standards and protocols for the nascent practice of documentary archaeology.
</p>
