{% load wagtailcore_tags wagtailimages_tags %}

{% if featured_object or featured_inventory or featured_essay %}
  <section class="featured u-flex">

    <div class="u-flex">
      {% if featured_object or featured_inventory %}

        {% if featured_object %}
          <div class="monthly source u-flex">
            {% if featured_object.main_image %}
              {% image featured_object.main_image fill-200x200 %}
            {% endif %}
            <div class="u-flex">
              <a href="{% pageurl featured_object %}">
                <h3>{{ featured_object.title }}</h3>
              </a>
              <h4>Object of the Month</h4>
              <p>{{ featured_object.snippet }}</p>
            </div>
          </div>
        {% endif %}

        {% if featured_inventory %}
          <div class="monthly source u-flex">
            {% if featured_inventory.main_image %}
              {% image featured_inventory.main_image fill-200x200 %}
            {% endif %}
            <div class="u-flex">
              <a href="{% pageurl featured_inventory %}">
                <h3>{{ featured_inventory.title }}</h3>
              </a>
              <h4>Inventory of the Month</h4>
              <p>{{ featured_inventory.snippet }}</p>
            </div>
          </div>
        {% endif %}
      {% endif %}
    </div>

    {% if essay %}
      <div class="monthly essay u-flex">
        {% if essay.main_image %}
          {% image essay.main_image fill-400x230-c100 %}
        {% endif %}
        <h4>{{ essay.title }}</h4>
        <p>{{ essay.snippet }}</p>
        <button class="u-button">
          <a href="{% pageurl essay %}">READ MORE</a>
        </button>
      </div>
    {% endif %}

  </section>
{% endif %}
