{% load dalme_public_tags wagtailcore_tags %}

<nav class="secondary features-filter">
  <h3 class="u-small-caps-heading">FILTER</h3>
  <ul>
    <li>
        {% get_features_filter_q 'kind' 'all' as params %}
        <a
          href="{% pageurl page %}{{ params }}"
          {% if request.GET.kind is None %} class="active"{% endif %}>
            All
        </a>
    </li>
    <li>
        {% get_features_filter_q 'kind' 'essay' as params %}
        <a
          href="{% pageurl page %}{{ params }}"
          {% if request.GET.kind == 'essay' %} class="active"{% endif %}>
            Essays
        </a>
    </li>
    <li>
        {% get_features_filter_q 'kind' 'inventory' as params %}
        <a
          href="{% pageurl page %}{{ params }}"
          {% if request.GET.kind == 'inventory' %} class="active"{% endif %}>
            Inventories
        </a>
    </li>
    <li>
        {% get_features_filter_q 'kind' 'object' as params %}
        <a
          href="{% pageurl page %}{{ params }}"
          {% if request.GET.kind == 'object' %} class="active"{% endif %}>
            Objects
        </a>
    </li>
  </ul>
  <h3 class="u-small-caps-heading mt-5">Sort</h3>
  <ul>
    <li>
        {% get_features_filter_q 'order_by' 'owner' as params %}
        <a
          href="{% pageurl page %}{{ params }}"
          {% if request.GET.order_by == 'owner' %} class="active"{% endif %}>
            by author
        </a>
    </li>
    <li>
        {% get_features_filter_q 'order_by' 'date' as params %}
        <a
          href="{% pageurl page %}{{ params }}"
          {% if request.GET.order_by == 'date' or not request.GET.order_by %} class="active"{% endif %}>
            by date
        </a>
    </li>
  </ul>
</nav>
