<aside class="source-list-filters">
  <h3>Search</h3>
  <form method="get" class="filter-form u-flex">
    {% for field in filterset.form %}
      <div class="field-container u-flex">
        <h4>{{ field.label_tag }}</h4>
        {{ field }}
      </div>
    {% endfor %}
    <button class="submit-filter" type="submit" />Submit</button>
  </form>
</aside>

{% if has_filter %}
  <aside>
    <nav class="clear-filter">
      <a href="{%  url 'dalme_public:source_list' %}">
        Clear filters
      </a>
    </nav>
  </aside>
{% endif %}
