{% load dalme_public_tags %}

<div class="pager">
  <ul class="pagination">
    {% if paginator.has_previous %}
      <li class="page-item">
        <button data-page="{{ paginator.previous_page }}">
          <i class="fa fa-caret-left fa-lg"></i>
        </button>
      </li>
    {% else %}
      <li class="page-item previous disabled">
        <button tabindex="-1" aria-disabled="true">
          <i class="fa-caret-left fa-lg"></i>
        </button>
      </li>
    {% endif %}

    {% if paginator.show_first %}
      <li class="page-item">
        <button data-page="1">1</button>
      </li>
      <li class="page-item disabled">
        <button>...</button>
      </li>
    {% endif %}

    {% for i in paginator.page_numbers %}
        <li class="page-item {% if paginator.current_page == i %}active{% endif %}" aria-current="page">
          <button data-page="{{ i }}">{{ i }}</button>
        </li>
    {% endfor %}

    {% if paginator.show_last %}
      <li class="page-item disabled">
        <button>...</button>
      </li>
      <li class="page-item">
        <button data-page="{{ paginator.num_pages }}">{{ paginator.num_pages }}</button>
      </li>
    {% endif %}

    {% if paginator.has_next %}
      <li class="page-item">
        <button data-page="{{ paginator.next_page }}">
          <i class="fa fa-caret-right fa-lg"></i>
        </button>
      </li>
    {% else %}
      <li class="page-item next disabled">
        <button tabindex="-1" aria-disabled="true">
          <i class="fa fa-caret-right fa-lg"></i>
        </button>
      </li>
    {% endif %}
  </ul>
</div>
