{% load dalme_public_tags wagtailcore_tags %}

{% if search_help.content %}
  <div class="search-help-container">
    <div id="search-help">
        <div class="search-help-header d-flex" data-toggle="collapse" data-target="#search-help-content" aria-expanded="{% if results %}false{% else %}true{% endif %}" aria-controls="search-help-content">
          <div class="mr-auto">
          {% if query %}
            {% if results %}
              {% if paginated %}
                <small>Showing results {{ paginator.result_start }} to {{ paginator.result_end }} out of {{ paginator.total_count }} found.</small>
              {% else %}
                <small>{{ results }} results found.</small>
              {% endif %}
            {% else %}
              <small>Your query returned no results.</small>
            {% endif %}
          {% else %}
            <small>Type a query to search.</small>
          {% endif %}
          </div>
          <i class="fas fa-question-circle"></i>
        </div>
    </div>
    <div id="search-help-content" class="collapse {% if not results %}show{% endif %}" aria-labelledby="search-help">
      <div>
         {{ search_help.content }}
      </div>
    </div>
  </div>
{% endif %}
