<b-popover
  :show="show_menu"
  placement="top"
  target="share-button"
  custom-class="form-popover"
  v-cloak>
  <div class="form-group">
      <div class="form-control h-auto" v-html="content" id="share_content"></div>
  </div>
  <div class="form-button d-flex">
      <b-button
        variant="secondary"
        size="sm"
        class="flex-fill mr-1"
        @click="format('html')">
        HTML
      </b-button>
      <b-button
        variant="secondary"
        size="sm"
        class="flex-fill mr-1"
        @click="format('link')">
        Link
      </b-button>
      <b-button
        variant="secondary"
        size="sm"
        class="flex-fill mr-1"
        @click="format('text')">
        Text
      </b-button>
      <b-button
        id="clip_copy"
        variant="secondary"
        size="sm"
        class="flex-fill"
        :data-clipboard-text="content"
        @click="showCopiedTooltip">
        Copy to clipboard
      </b-button>
  </div>
