  <nav class="source-related u-flex">
    {% if related|length < 1 %}
      <p>No related pages.</p>
    {% else %}
      {% for related_page, parameter in related %}
        {% if related_page.pk == page.pk %}
          <p>{{ page.name }}</p>
        {% else %}
          <p>
            <a href="{% url 'dalme_public:source_detail' pk=source.pk %}{{ parameter }}" />
              {{ related_page.name }}
            </a>
          </p>
        {% endif %}
      {% endfor %}
    {% endif %}
  </nav>
