{% load get_agents_string get_string_list %}

<div class="description">
  {% if data.description %}
    {{ data.description }}
  {% else %}
    No description currently available.
  {% endif %}
</div>
<hr/>
<ul class="u-flex u-type-sans">
  {% if data.record_type.label %}
    <li>
      <span>Record type:</span> {{ data.record_type.label }}
    </li>
  {% endif %}
  {% if data.date %}
    <li>
      <span>Date:</span> {{ data.date }}
    </li>
  {% endif %}
  {% if data.locale %}
    <li>
      <span>Locale:</span> {{ data.locale.name }} ({{ data.locale.administrative_region }}, {{ data.locale.country.name }})
    </li>
  {% endif %}
  {% if data.language %}
    <li>
      <span>Language(s):</span> {{ data.language|get_string_list:'name' }}
    </li>
  {% endif %}
  {% if data.agents %}
    {% with data.agents|get_agents_string as agents_line %}
      {% if agents_line %}
        <li>
          <span>Named agents(s):</span> {{ agents_line|safe }}
        </li>
      {% endif %}
    {% endwith %}
  {% endif %}
  {% if data.source %}
    <li>
    {% if data.source.type == 'register' %}
      <span>Archival location:</span>
      {% if data.source.url %}
        <a href="{{ data.source.url }}" target="_blank">{{ data.source.name }}</a>{% if data.source.loc %}, {{ data.source.loc }}{% endif %}
      {% else %}
        {{ data.source.name }}{% if data.source.loc %}, {{ data.source.loc }}{% endif %}
      {% endif %}
    {% else %}
      <span>Edition:</span>
      {% if data.source.zotero_key %}
        <a href="/project/bibliography/#{{ data.source.zotero_key }}">{{ data.source.name }}</a>
      {% else %}
        {{ data.source.name }}
      {% endif %}
    {% endif %}
    </li>
  {% endif %}
  {% with data.folios|length as count %}
    <li>
      <span>Extent:</span> {{ count }} Folio{% if count > 1 %}s{% endif %}{% if data.format_info %} ({{ data.format_info }}){% endif %}
    </li>
  {% endwith %}
</ul>
<hr/>
<div class="u-type-sans mt-2 credits">
  {{ data.credit_line }}
</div>
