// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

:root {
  --light-bg-base-colour: white;
  --light-bg-raised-colour: #f5f5f5;
  --ligth-border-base-colour: #d1d1d1;
  --light-default-text-colour: black;
  --light-secondary-text-colour: #757575;
  --light-menu-text-colour: #bdbdbd;
  --light-menu-icon-colour: #969696;
  --light-menu-disabled-colour: #919191;
  --light-menu-focus-bg: #4b4b4b;
  --light-menu-separator: #1f2c33;
  --light-toolbar-button-highlight: #2368a4;
  --light-toolbar-button-disabled: #555555;
  --light-textbox-bg-colour: white;
  --light-textbox-colour: #363636;
  --light-blue-box-colour: #a4bcd7;
  --light-blue-box-text: #264c6e;
  --light-green-box-colour: #b4c7b7;
  --light-green-raised-text: #275e31;
  --light-text-accent: #01579b;
  --light-green-button-bg: #aae1aa;
  --light-green-button-text: #337a2a;
  --light-indigo-button-bg: #bcaae1;
  --light-indigo-button-text: #612a7a;
  --light-link-colour: #01579b;

  --dark-bg-base-colour: #0a141c;
  --dark-bg-raised-colour: #0f1f2b;
  --dark-border-base-colour: #2a3b44;
  --dark-default-text-colour: #959fad;
  --dark-secondary-text-colour: #546e86;
  --dark-menu-text-colour: #bdbdbd;
  --dark-menu-icon-colour: #4f7188;
  --dark-menu-disabled-colour: #50667a;
  --dark-menu-focus-bg: #003474;
  --dark-menu-separator: #1f2c33;
  --dark-toolbar-button-highlight: #3979a9;
  --dark-toolbar-button-disabled: #344d5f;
  --dark-textbox-bg-colour: #080d0f;
  --dark-textbox-colour: #f0f0f0;
  --dark-blue-box-colour: #003f6e;
  --dark-blue-box-text: #9dc0ff;
  --dark-green-box-colour: #0a4d4e;
  --dark-green-box-text: #a8ccc2;
  --dark-text-accent: white;
  --dark-green-button-bg: #082b07;
  --dark-green-button-text: #4bc33c;
  --dark-indigo-button-bg: #0f0d21;
  --dark-indigo-button-text: #9964cc;
  --dark-link-colour: #5d87a7;
  --dark-highlight-tile: #26354580;
  --dark-infomenu-selected: #689f38;
}

html,body {
  height: 100% !important;
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  text-rendering: optimizeLegibility;
  background-color: white;
}

main {
  padding-left: 34px;
  padding-right: 34px;
  min-width: 600px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

a, a:visited {
  text-decoration: none;
}

a.title-link, a.title-link:visited {
  color: inherit;
}

a.text-link, a.text-link:visited {
  color: #5c6bc0;
}

a.text-link:hover,
a.title-link:hover {
  text-decoration: underline dotted;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

pre {
  margin: 0;
}

.disabled, .disabled *, [disabled], [disabled] * {
  cursor: initial !important;
}

// typeface alternates
.text-roboto,
.text-caption {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !important;
}
.text-noto {
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !important;
}


#layout {
  overflow-x: hidden;
}

.full-page-height {
  height: calc(100vh - 50px);
}

.q-px-content {
  padding-left: 34px;
  padding-right: 34px;
}

.q-pl-content {
  padding-left: 34px;
}

.q-pr-content {
  padding-right: 34px;
}

.q-px-content-visual {
  padding-left: 42px;
  padding-right: 42px;
}

.q-pl-content-visual {
  padding-left: 42px;
}

.q-pr-content-visual {
  padding-left: 42px;
}

.strong-focus.q-focusable:focus > .q-focus-helper,
.strong-focus.q-manual-focusable--focused > .q-focus-helper,
.strong-focus.q-hoverable:hover > .q-focus-helper {
  opacity: .35 !important;
}

.strong-focus.q-focusable:focus > .q-focus-helper:before,
.strong-focus.q-manual-focusable--focused > .q-focus-helper:before,
.strong-focus.q-hoverable:hover > .q-focus-helper:before {
  opacity: .15 !important;
}

.strong-focus.q-focusable:focus > .q-focus-helper:after,
.strong-focus.q-manual-focusable--focused > .q-focus-helper:after,
.strong-focus.q-hoverable:hover > .q-focus-helper:after {
  opacity: .45 !important;
}

.transition-all {
  transition: all 0.5s ease-in-out;
}

.dalme-logo {
  font-family: Academy Engraved LET, Serif;
  font-size: 27px;
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.q-transparent {
  opacity: 0;
}

.sticky-header {
  max-height: 800px;
  thead tr th {
    position: sticky;
    z-index: 1;
  }
  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th {
    background-color: #fff;
  }
  thead tr:first-child th {
    top: 0;
  }
  &.q-table--loading thead tr:last-child th {
    top: 400px;
  }
}

.menu-item-search .q-field__control {
  font-size: 13px;
  height: 30px;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 4px;
  padding: 0px 5px 0px 10px;
}

.menu-item-search .q-field__marginal,
.menu-item-search .q-field__native {
  height: 28px;
  padding: 6px 10px;
}

.menu-shadow {
  box-shadow: rgba(140, 149, 159, 0.2) 0px 8px 24px 0px;
}

// .q-drawer--mini .q-expansion-item--expanded.mini-exp-open .q-expansion-item__content {
//   display: inherit !important;
// }

// .q-drawer--left.q-drawer--bordered {
//   border-right: 1px solid transparent;
// }

// .flat-table .q-table__top {
//   border-bottom: 1px solid rgba(0, 0, 0, 0.12);
//   padding: 0;
// }

.box-arrow::before {
  content: "";
  position: absolute;
  border-width: 12px;
  border-style: solid;
  border-top-color: transparent;
  border-right-color: inherit;
  border-bottom-color: transparent;
  border-left-color: transparent;
  top: calc(50% - 12px);
  left: -25px;
}
.box-arrow::after {
  content: "";
  position: absolute;
  border-width: 12px;
  border-style: solid;
  border-top-color: transparent;
  border-right-color: var(--light-bg-base-colour);
  border-bottom-color: transparent;
  border-left-color: transparent;
  top: calc(50% - 12px);
  left: -24px;
}
.box-arrow.dark::after {
  border-right-color: var(--dark-bg-base-colour);
}
.box-arrow.right::before {
  border-right-color: transparent;
  border-left-color :inherit;
  left: unset;
  right: -25px;
}
.box-arrow.right::after {
  border-right-color: transparent;
  border-left-color : var(--light-bg-base-colour);
  left: unset;
  right: -24px;
}
.box-arrow.right.dark::after {
  border-left-color: var(--dark-bg-base-colour);
}


.box-small-arrow::before {
  content: "";
  position: absolute;
  border-width: 8px;
  border-style: solid;
  border-top-color: inherit;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  left: 15px;
  bottom: -17px;
}
.box-small-arrow::after {
  content: "";
  position: absolute;
  border-width: 8px;
  border-style: solid;
  border-top-color: var(--light-bg-base-colour);
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  left: 15px;
  bottom: -16px;
}
.box-small-arrow.dark::after {
  border-top-color: var(--dark-bg-base-colour)
}
.outlined-item {
  border: 1px solid rgb(209, 209, 209);
}

.no-border-left {
  border-left: none !important;
}

.no-border-right {
  border-right: none !important;
}

.no-border-top {
  border-top: none !important;
}

.no-border-bottom {
  border-bottom: none !important;
}

.no-border-radius-left {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.no-border-radius-right {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.no-border-radius-top {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.no-border-radius-bottom {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.border-radius-left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.border-radius-right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.border-radius-top {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.q-list--bordered,
.q-card--bordered {
  border: 1px solid rgb(209, 209, 209);
  border-radius: 4px;
}

.text-h7 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.3rem;
  letter-spacing: 0.0125em;
}

.text-h8 {
  font-size: .85rem;
  font-weight: 600;
  line-height: 1.1rem;
  letter-spacing: 0.0125em;
}

.text-13 {
  font-size: 13px;
}

.text-condensed {
  letter-spacing: 0;
  font-stretch: condensed;
}

.text-weight-600 {
  font-weight: 600;
}

.text-detail {
  font-size: .75rem;
}

.height-50 {
  height: 50%;
}

.tab-container {
  border-bottom: 1px solid rgb(209, 209, 209);
  width: 100%;
}

.tab-container .q-tabs__content {
  overflow: visible;
}

.tab-container .q-tab {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: 1px solid transparent;
  bottom: -1px;
}

.tab-container .q-tab i {
  font-size: 18px;
}

.tab-container .q-tab .q-tab__label {
  padding-left: 3px;
  padding-right: 5px;
}

.tab-container .q-tab.active-tab {
  border-top-color: rgb(209, 209, 209);
  border-right-color: rgb(209, 209, 209);
  border-left-color: rgb(209, 209, 209);
  border-bottom-color: white;
}

.active-tab .q-tab__indicator {
  color: transparent;
}

.no-toggle-icon i:last-of-type {
  display: none;
}

.no-icon i:first-of-type {
  display: none;
}

.detail-row-subheading {
  min-height: 28px;
  font-size: 0.75rem;
  font-weight: 500;
  align-items: center;
  white-space: pre;
}

.info-area {
  height: 75px;
}

.collapse-enter-active,
.collapse-leave-active {
  transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out;
}
.collapse-enter-from,
.collapse-leave-to {
  height: 0px !important;
  opacity: 0;
}

// .q-drawer__content .drawer-toggle:first-of-type {
//   padding-top: 2px;
//   margin-top: -1px;
// }

// .q-drawer__content .drawer-toggle.active-background {
//   margin-top: -1px;
// }

.status-section {
  display: flex;
  align-items: center;
}
.q-item__section--avatar {
  min-width: 0;
}
.no-shrink {
  flex-shrink: 0 !important;
}
.frosted-background > .q-dialog__backdrop {
  background-color: rgba(112, 132, 160, 0.7);
  backdrop-filter: blur(10px) grayscale(70%);
}

.greyscale-50 {
  filter: grayscale(0.5);
}
// .scroll-area {
//   overflow-y: scroll;
//   overflow-x: hidden;
// }

// popup menu
.popup-menu {
  --bg: var(--light-bg-base-colour);
  --border: var(--ligth-border-base-colour);
  --menu-text: var(--light-menu-text-colour);
  --menu-disabled: var(--light-menu-disabled-colour);
  --menu-hover: var(--light-default-text-colour);
  --menu-focus: var(--light-menu-focus-bg);
  --menu-separator: var(--light-menu-separator);
  --alt-text: var(--light-secondary-text-colour);
  --icon-colour: var(--light-menu-icon-colour);
  --toolbar-button-disabled: var(--light-toolbar-button-disabled);
}
.popup-menu.dark {
  --bg: var(--dark-bg-base-colour);
  --border: var(--dark-border-base-colour);
  --menu-text: var(--dark-menu-text-colour);
  --menu-disabled: var(--dark-menu-disabled-colour);
  --menu-hover: var(--dark-text-accent);
  --menu-focus: var(--dark-menu-focus-bg);
  --menu-separator: var(--dark-menu-separator);
  --alt-text: var(--dark-secondary-text-colour);
  --icon-colour: var(--dark-menu-icon-colour);
  --toolbar-button-disabled: var(--dark-toolbar-button-disabled);
}
.popup-menu {
  padding: 10px;
  border-radius: 12px;
  background-color: var(--bg);
  border: 1px solid var(--border);
  box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 19%);
}
.popup-menu .q-item {
  color: var(--menu-text);
  padding: 2px 16px 2px 8px;
  border-radius: 6px;
}
.popup-menu .q-item.disabled {
  opacity: 1 !important;
}
.popup-menu .q-item.disabled:after {
  content: "";
  background: var(--menu-disabled);
  opacity: 0.3;
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 0;
  right: 0;
  border-radius: 6px;
}
.popup-menu .q-item.q-hoverable:hover {
  color: var(--menu-hover);
}
.popup-menu .q-item.q-hoverable:hover > .q-focus-helper {
  background: var(--menu-focus);
  opacity: 0.3;
  border: 1px solid var(--bg);
}
.popup-menu .q-list--separator > .q-item-type + .q-item-type {
  border-top: 1px solid var(--menu-separator);
}
.popup-menu.dark .q-item .q-field .q-field__control::before {
  border-color: var(--border);
}
.popup-menu .q-item .q-icon {
  font-size: 18px;
  color: var(--icon-colour);
}
.popup-menu .q-separator {
  background: var(--border);
}
// filtered variant
.popup-menu.filtered {
  padding: 0;
  max-height: calc(40vh);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.popup-menu.filtered .q-list {
  overflow: auto;
}
.popup-menu.filtered .q-item {
  border-radius: 0;
  padding: 4px 26px;
}
.popup-menu.filtered .q-item .q-field__append.q-field__marginal {
  height: 30px;
}
.popup-menu.filtered .q-item .q-item__label {
  font-weight: 900;
}
.popup-menu.filtered .q-item .q-item__label .text-detail {
  font-weight: 600;
  color: var(--alt-text);
}
.popup-menu.filtered .q-item .q-item__section--side {
  padding-right: 8px;
}

// filtered variant: header item
.popup-menu.filtered .q-item.header {
  font-size: 13px !important;
  font-weight: 800;
  padding: 8px 12px !important;
  min-height: unset;
}
.popup-menu.filtered div:not(.q-list) .q-item.header {
  border-bottom: 1px solid var(--border);
}

.popup-menu.filtered .q-item.header .q-item__section--side {
  padding: 0;
}

// filtered variant: filter item
.popup-menu.filtered .q-item.filter {
  font-size: 13px;
  padding: 8px;
  border-bottom: 1px solid var(--border);
  min-height: unset;
}
.popup-menu.filtered .q-item.filter .q-field {
  width: 100%;
}
.popup-menu.filtered .q-item.filter .q-field__append .q-icon {
  font-size: 12px;
}
.popup-menu.filtered .q-item.filter .q-field--dense .q-field__control {
  height: 30px;
}
.popup-menu.filtered .q-item.filter .q-field__native {
  padding: 0;
}
.popup-menu.filtered .q-item.q-hoverable:hover > .q-focus-helper {
  border: none !important;
}

// filtered variant: info-list sub-variant
.popup-menu.filtered.info-list .q-list {
  min-width: 250px;
}
.popup-menu.filtered.info-list .q-item {
  padding: 4px 18px 4px 12px;
  font-size: 14px;
  font-family: "Roboto";
}
.popup-menu.filtered.info-list .q-item.q-item--active {
  background-color: var(--dark-bg-raised-colour);
}
.popup-menu.filtered.info-list .q-item.q-item--active .q-item__section--main:not(.avatar, .badges, .actions) {
  color: var(--dark-infomenu-selected);
}
.popup-menu.filtered.info-list .q-item.inset-item {
  padding-right: 5px;
}
.popup-menu.filtered.info-list
  .q-item.inset-item
  .q-item__section--main:not(.badges) {
  padding-left: 25px;
}
.popup-menu.filtered.info-list .q-item:not(.inset-item) {
  color: var(--menu-text);
}
.popup-menu.filtered.info-list .badges {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.popup-menu.filtered.info-list .actions {
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  padding-left: 8px;
}
.popup-menu.filtered.info-list .actions .q-btn .q-focus-helper {
  opacity: 0;
}
.popup-menu.filtered.info-list .actions .q-btn:hover .q-icon {
  color: var(--menu-hover);
}
.popup-menu.filtered.info-list .actions .q-btn.disabled .q-icon {
  color: var(--toolbar-button-disabled);
}

// drawer-menu-list
.drawer-menu-list {
  display: flex;
  flex-direction: column;
}
.drawer-menu-list .q-item {
  min-height: 28px;
  color: var(--dark-default-text-colour);
  font-weight: 500;
  border-radius: 6px;
  margin-right: 8px;
  margin-left: 8px;
}
.drawer-menu-list .q-item[class*="tile"] {
  margin: 0;
  padding: 8px 16px;
  border-radius: 0;
}
.drawer-menu-list .q-item .menu-icon {
  min-height: 28px;
  color: var(--dark-menu-icon-colour);
}
.drawer-menu-list .q-item[class*="tile"]:not(:first-of-type) {
  border-top: 1px solid var(--dark-border-base-colour);
}
.drawer-menu-list .q-item.selected {
  background: var(--dark-highlight-tile);
}
.drawer-menu-list .q-item .q-item__label--caption {
  color: #ffffff8a;
}
.drawer-menu-list .q-item.q-hoverable:hover > .q-focus-helper {
  background: var(--dark-menu-focus-bg);
  opacity: 0.3;
  border: 1px solid var(--dark-bg-base-colour);
}
.drawer-menu-list .q-item.q-hoverable:hover {
  color: var(--dark-text-accent) !important;
}
.drawer-menu-list .q-item[class*="tile"]:hover > .q-focus-helper {
  border: none !important;
  opacity: 0.2 !important;
}
.drawer-menu-list .q-item[class*="tile"] .q-item__label--caption {
  color: var(--dark-secondary-text-colour);
}
// scroll bars
.q-scrollarea--dark .q-scrollarea__bar.q-scrollarea__bar--v {
  width: 9px;
  opacity: 0;
}
.q-scrollarea--dark .q-scrollarea__thumb.q-scrollarea__thumb--v {
  right: 4px;
  border-radius: 5px;
  background-color: var(--dark-secondary-text-colour);
  width: 7px;
  opacity: 0.5;
}
