.q-drawer>.q-drawer__content {
    overflow: hidden;
}

.hide-modal,
.hide-modal .q-dialog__backdrop {
    left: auto;
}

.custom-drawer .q-drawer {
    box-shadow:
        rgb(48, 54, 61) 0px 0px 0px 1px,
        rgba(1, 4, 9, 0.85) 0px 16px 32px 0px;
    background: var(--dark-bg-base-colour);
    border-left: 1px solid var(--dark-border-base-colour);
    overflow: hidden;
}

.custom-drawer.user-drawer .q-drawer {
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.custom-drawer.app-drawer .q-drawer {
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

.drawer-close-button {
    width: 28px;
    height: 28px;
    color: #5b5e66;
    border-radius: 8px;
    padding: 0;
    border: 1px solid var(--dark-border-base-colour);
}

.drawer-close-button:hover {
    color: var(--dark-menu-text-colour);
}

.drawer-close-button:hover .q-focus-helper {
    opacity: 0 !important;
}

.custom-drawer .q-separator {
    background: var(--dark-border-base-colour);
}

.custom-drawer .q-item__section--main+.q-item__section--main {
    margin-left: 4px;
}

.custom-drawer .scroll-area {
    border-top: 1px solid var(--dark-border-base-colour);
    border-bottom: 1px solid var(--dark-border-base-colour);
    margin: 8px 0;
    background: #0b161b;
}

.custom-drawer.app-drawer .scroll-area {
    margin: 0;
    border: none;
}


.custom-drawer .q-expansion-item,
.custom-drawer .collections-item,
.custom-drawer .scroll-area .q-item {
    width: 319px;
}

.custom-drawer .q-expansion-item .q-item.drawer_expansion_header,
.custom-drawer .collections-item .q-item.drawer_expansion_header {
    font-size: 12px;
    font-weight: 700;
    color: #677c8b;
    padding: 2px 16px;
    margin: 0;
    border-radius: 0;
    border-bottom: 1px solid var(--dark-border-base-colour);
    background-color: #16242e;
}

.custom-drawer .q-expansion-item .q-item.drawer_expansion_header:hover,
.custom-drawer .collections-item .q-item.drawer_expansion_header:hover {
    color: #75838d;
}

.custom-drawer .q-expansion-item .q-item.drawer_expansion_header:hover .q-icon,
.custom-drawer .collections-item .q-item.drawer_expansion_header:hover .q-icon {
    color: #75838d;
}

.custom-drawer .q-expansion-item .q-item.drawer_expansion_header:hover>.q-focus-helper {
    opacity: 0.2;
    border: none;
}

.custom-drawer .q-expansion-item:not(:first-of-type) {
    border-top: 1px solid var(--dark-border-base-colour);
}

.custom-drawer .q-expansion-item .q-item.drawer_expansion_header:hover>.q-focus-helper {
    background: #215aa0;
    opacity: 0.3;
}

.custom-drawer .q-expansion-item .q-item.drawer_expansion_header .q-expansion-item__toggle-icon {
    font-size: 16px;
    color: #42505b;
}

.custom-drawer.app-drawer .q-expansion-item:last-of-type .q-item:last-of-type {
    margin-bottom: 12px;
}

.task-list-actions {
    display: flex;
    font-weight: 600;
    color: grey;
    border-top: 1px solid var(--dark-border-base-colour);
}

.task-list-actions .q-btn {
    font-size: 12px;
    padding: 4px 16px;
    width: 50%;
}

.task-list-actions .q-btn:last-of-type {
    margin-left: auto;
    margin-right: auto;
    // border-left: 1px solid var(--dark-border-base-colour);
}

.task-list-actions .q-btn:last-of-type .q-icon {
    font-size: 14px;
    color: var(--dark-menu-icon-colour);
}

.micro-icon-comment-count {
    color: #aec4e2;
}

.micro-icon-comment-count::before {
    color: #5a7ea0;
    opacity: 0.5;
}
