{% load i18n l10n wagtailadmin_tags %}
{% include "wagtailadmin/shared/header.html" with title="Choose a saved search" icon="magnifying-glass-location" %}

<div class="base-modal saved-search-modal">
  <div class="base-modal-box">
    <form action="{% url 'saved_search_chooser' %}" method="post" novalidate>
      {% csrf_token %}
      {% if form.has_saved_searches %}
        {% if panel %}
            {{ panel.render_form_content }}
        {% else %}
            {% block hidden_fields %}
                {% for field in form.hidden_fields %}{{ field }}{% endfor %}
            {% endblock %}
            <ul class="fields">
                {% block visible_fields %}
                    {% for field in form.visible_fields %}
                        <li>{% formattedfield field %}</li>
                    {% endfor %}
                {% endblock %}
            </ul>
        {% endif %}
      {% else %}
            <div class="empty-chooser-message">There are no saved searches to choose from. You must create at least one before using this tool.</div>
      {% endif %}

      {% block actions %}
        <div class="base-modal-buttons">
          {% if form.has_saved_searches %}
            <button class="button saved-search-modal-insert" type="submit">Insert</button>
          {% endif %}
          <button class="button saved-search-modal-cancel" data-dismiss="modal">Cancel</button>
        </div>
      {% endblock %}
    </form>
  </div>
</div>
