{% load i18n l10n wagtailadmin_tags hosts %}
{% include "wagtailadmin/shared/header.html" with title="Choose an Entry" icon="openquote" %}
{% host_url 'api_endpoint' host 'data' as api_url %}

<div class="nice-padding">
    {% include 'wagtailadmin/chooser/_link_types.html' with current='biblio_entry' %}
    <form action="{% url 'wagtailadmin_choose_bibliography' %}{% querystring %}" method="post" novalidate>
      {% csrf_token %}
      <ul class="fields bibliography-chooser">
        {% for field in form %}
            {% include "wagtailadmin/shared/field_as_li.html" %}
        {% endfor %}
        <li><input type="submit" value="Insert link" class="button" /></li>
      </ul>
    </form>
</div>
<script>
if (typeof(window.cite) == 'undefined') window.cite = require('citation-js');

var select_entry = $("#id_bibliography-chooser-id").selectize({
  valueField: 'value',
  labelField: 'label',
  searchField: ['label', 'html'],
  maxItems: 1,
  options: [],
  create: false,
  loadThrottle: 500,
  preload: true,
  closeAfterSelect: true,
  placeholder: 'Type to search bibliography...',
  render: {
    option: function (item, escape) {
      return item.html
    },
  },
  load: function (query, callback) {
    let base_url = '{{ api_url }}/library/';
    if (window.dalmeLastEntityID && !query.length) {
      url = base_url + window.dalmeLastEntityID + '/?library=1&';
    } else {
      url = base_url + '?library=1&';
      if (query.length) url = url + `search=${query}&`;
      url = url + 'limit=10&';
    }
    url = url + 'content=csljson&format=json';
    fetch(url)
      .then(response => response.json())
      .then(data => {
        var new_options = []
        for (let i = 0, len = data.length; i < len; ++i) {
          let entry = data[i];
          let citation = new window.cite(entry);
          let formatted = citation.format('bibliography', { format: 'html', template: 'apa', lang: 'en-US' });
          let short = citation.format('citation', { format: 'text', template: 'apa', lang: 'en-US' });
          new_options.push({
            value: entry.id.split('/')[1],
            label: short,
            html: formatted
          })
        }
        callback(new_options);
      });
  },
})
select_entry[0].selectize.on('load', function() {
  if (window.dalmeLastEntityID) this.setValue(window.dalmeLastEntityID);
})
select_entry[0].selectize.on('item_remove', function(value) {
  if (value == window.dalmeLastEntityID) window.dalmeLastEntityID = null;
})

</script>
