{% load i18n l10n wagtailadmin_tags %}
{% include "wagtailadmin/shared/header.html" with title="Choose a Saved Search" icon="search" %}

<div class="nice-padding">
    {% include 'wagtailadmin/chooser/_link_types.html' with current='saved_search' %}

    <form action="{% url 'wagtailadmin_choose_saved_search' %}{% querystring %}" method="post" novalidate>
        {% csrf_token %}
        <ul class="fields">
            {% for field in form %}
                <li>
                    {% include "wagtailadmin/shared/field.html" %}
                </li>
            {% endfor %}
            <li><input type="submit" value="Insert link" class="button" /></li>
        </ul>
    </form>
</div>
<script>
if (window.dalmeLastEntityID) $('#id_saved-search-chooser-id').val(window.dalmeLastEntityID);
</script>
