{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
	<div class="breadcrumbs">
		<a href="{% url 'admin:index' %}">Home</a>
		&rsaquo; <a href="{% url 'todo-lists' %}">Task Manager</a> &rsaquo; Add List
	</div>
{% endblock %}
{% block page_heading %}{% endblock %}
{% block title %}DALME Task Manager{% endblock %}

{% block content %}

	<h2>Add a list:</h2>

	<form action="" method="post">
		{% csrf_token %}
	<table>{{ form }}</table>
	<p><input type="submit" value="Submit" class="todo-button"></p>
	</form>

{% endblock %}
