{% load wagtailcore_tags %}

<div class="announcement-box">
  <div class="announcement-content {{ value.color }}">
    <div class="announcement-title">
      {% if value.url %}
        <a href="{{ value.url }}" target="_blank">{{ value.title }}</a>
      {% else %}
        {{ value.title }}
      {% endif %}
    </div>
    <div class="announcement-info">
      {{ value.info|safe }}
      {% if value.page %}
        <a href="{% pageurl value.page %}"> Learn more...</a>
      {% endif %}
    </div>
  </div>
</div>
