{% load get_features_nav_q get_features_url wagtailcore_tags %}

<nav class="features">
  <ul>
    <div class="sidebar-heading">
      <h3 class="u-small-caps-heading">FEATURES</h3>
    </div>
    {% get_features_nav_q 'essays' as params %}
    <a href="{% get_features_url %}{{ params }}">
      Essays
    </a>
    {% get_features_nav_q 'inventories' as params %}
    <a href="{% get_features_url %}{{ params }}">
      Inventories
    </a>
    {% get_features_nav_q 'objects' as params %}
    <a href="{% get_features_url %}{{ params }}">
      Objects
    </a>
  </ul>
</nav>
