{% load get_snippet get_sidebar_features %}

{% get_sidebar_features as sidebar_features %}
{% if sidebar_features %}
  {% if feature_type == 'Essay' %}
    {% if sidebar_features.top_all_time %}
      <div class="featured-object-nav">
        <h4 class="u-small-caps-heading title-essays">POPULAR ESSAYS</h4>
        <div class="u-flex flex-column">
          {% for essay in sidebar_features.top_all_time %}
            {% if essay.url and essay.url != page.url %}
              <div class="feature-essay-container">
                <a href="{{ essay.url }}" class="line-clamp two-lines">{% get_snippet essay.title 40 %}</a>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
    {% if sidebar_features.top_six_months %}
      <div class="featured-object-nav">
        <h4 class="u-small-caps-heading title-essays">POPULAR RECENT ESSAYS</h4>
        <div class="u-flex flex-column">
          {% for essay in sidebar_features.top_six_months %}
            {% if essay.url and essay.url != page.url %}
              <div class="feature-essay-container">
                <a href="{{ essay.url }}" class="line-clamp">{{ essay.title }}</a>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% else %}
    <div class="featured-object-nav">
      <h4 class="u-small-caps-heading {% if sidebar_features.title == "Essays" %}title-essays{% endif %}">{{ sidebar_features.title }}</h4>
      <div class="u-flex flex-column">
        {% for year, obj in sidebar_features.features.items %}
          <div class="d-flex mb-3">
          {% if sidebar_features.title == "Essays" %}
            {% for data in obj %}
              {% if data.url and data.url != page.url %}
                <div class="feature-essay-container">
                  <a href="{{ data.url }}">{{ data.month }} {{ year }}</a>
                </div>
              {% endif %}
            {% endfor %}
          {% else %}
            <div class="u-small-caps-heading u-bottom-to-top year">{{ year }}</div>
              <div class="feature-year-container">
                {% for data in obj %}
                  {% if data.url and data.url != page.url %}
                    <div class="feature-month-container">
                      <a href="{{ data.url }}">{{ data.month }}</a>
                    </div>
                  {% else %}
                    <div class="feature-month-container {% if data.url == page.url %}current{% endif %}">{{ data.month }}</div>
                  {% endif %}
                  {% if forloop.counter != 1 and forloop.counter|divisibleby:"3" %}
                    <hr>
                  {% endif %}
                {% endfor %}
              </div>
            {% endif %}
            </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endif %}
