# OS and other general stuff
.DS_Store
.thumbs.db
_extra
*.ipynb
*.ipynb_checkpoints
notebooks

# local environment
env
devEnv
*venv
*.env
env.*
!env.hcl

# local dev database dumps
sql/**/*.sql
sql/**/*.dump
sql/dumps/pg_restore.log

# local test and temporary files
extracted_datasets
data
TODO*

# certificates for development server
*.cert
*.key
ssl-certs*

# Elastic Beanstalk Setup
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebignore

# local static and media files
staticfiles
media
www

# BEX related directories and files
/src-bex/www
/src-bex/js/core

# compiled and other python dev files
*.pyc
__pycache__/

# Editor directories and files
.vscode/
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Miscellaneous
.infracost/
apply-perms.temp
*.diff
.ruff_cache
