!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
!env.hcl
*.diff
*.env
*.ipynb
*.ipynb_checkpoints
*.njsproj
*.ntvs*
*.pyc
*.sln
*.suo
*venv
.DS_Store
.coverage
.ebignore
.elasticbeanstalk/*
.idea
.infracost/
.ruff_cache
.thumbs.db
.vscode/
/src-bex/js/core
/src-bex/www
TODO*
__pycache__/
_extra
apply-perms.temp
data
devEnv
env
env.*
extracted_datasets
notebooks
sql/**/*.dump
sql/**/*.sql
sql/dumps/pg_restore.log
www

# comment out for EB deploy
*.cert
*.key
ssl-certs*

# master v1
/docs/_build
/ui
/tf
