-r requirements.txt
django-extensions==3.2.3
factory-boy==3.3.0
hypothesis==6.99.5
ipdb==0.13.13
ipython==8.22.2
jupyter==1.0.0
markdown==3.6
notebook==6.5.6
pre-commit==3.6.2
pytest==8.1.1
pytest-cov==4.1.0
pytest-django==4.8.0
pytest-lazy-fixture==0.6.3
pytest-mock==3.12.0
pytest-watcher==0.4.1
rich==13.7.1
ruff==0.3.2
pyparsing==3.1.2
pydot==2.0.0
