dj-database-url==0.5.0
Django==2.1.7
gunicorn==19.9.0
whitenoise==4.1.2
mysqlclient==1.3.14
requests==2.20.1
celery==4.2.1
django-all-access==0.9.0
django-celery-results==1.0.4
pandas==0.24.1
django-haystack==2.8.1
djangorestframework==3.9.1
django-treebeard==4.3
treebeard==0.1.1
django-sekizai==0.10.0
elasticsearch>=2.0.0,<3.0.0
requests-aws4auth==0.9
redis==3.2.0
lxml==4.3.3
passlib==1.7.1
