{% extends "registration/login_base.html" %}
{% load static i18n %}
{% load hosts %}
{% block title %}DALME Login{% endblock %}
{% block content %}
<div class="login-card-body">
  <form id="login-form" method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}"/>
    {{ form.non_field_errors }}
      <div class="mb-3">
        <input name="{{ form.username.name }}" type="text" id="{{ form.username.id_for_label }}" class="login-form-control" placeholder="Username"
        required="required" autofocus="autofocus">
      </div>
      <div class="mb-2">
        <input name="{{ form.password.name }}" type="password" id="{{ form.password.id_for_label }}" class="login-form-control"
        placeholder="Password" required="required">
      </div>
    <div class="mb-3">
      <div class="login-checkbox">
        <label>
          <input type="checkbox" value="remember-me">
          Remember Password
        </label>
      </div>
    </div>
    <button class="btn btn-primary login-btn mb-3" type="submit">Login</button>
  </form>
  <div class="text-center">
    <a class="d-block small" href="{% host_url 'dalme_auth:password_reset' host 'db' %}">Forgot Password?</a>
  </div>
</div>
{% endblock %}
