{% extends "registration/login_base.html" %}
{% load static i18n %}
{% block title %}DALME Password Reset{% endblock %}
{% block content %}
<div class="login-card-body">
  <div class="login-form-text mb-3">
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </div>
  <div class="login-form-text mb-1">
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </div>
</div>
{% endblock %}
