:root.w-theme-light {
  --w-color-admin-panel-header: #007d7e12;
  --w-color-admin-tile-icon: #4d407652;
}
:root.w-theme-dark {
  --w-color-admin-panel-header: #264b417d;
  --w-color-admin-tile-icon: #00b0b152;
}
@media (prefers-color-scheme: light) {
  .w-theme-system {
    --w-color-admin-panel-header: #007d7e12;
    --w-color-admin-tile-icon: #4d407652;
  }
}
@media (prefers-color-scheme: dark) {
  .w-theme-system {
    --w-color-admin-panel-header: #264b417d;
    --w-color-admin-tile-icon: #00b0b152;
  }
}
.Draftail-Editor .DraftEditor-root {
  font-family: "PT Serif", "Times New Roman", serif !important;
}
.base-modal-box {
  padding: 0 55px;
  display: flex;
  flex-direction: column;
}
.base-modal-buttons {
  display: flex;
  justify-content: flex-end;
}
.base-modal-buttons .button + .button {
  margin-inline-start: 5px;
}
.flex-grow {
  flex-grow: 1;
}
.u-none {
  display: none !important;
}
.u-hide {
  opacity: 0 !important;
}
/* TABS */
.w-tabs__wrapper {
  margin-left: 40px;
}
.nice-padding .w-tabs__wrapper {
  margin-left: -40px;
}
#page-edit-form .w-tabs__wrapper {
  margin-top: 20px;
  margin-bottom: 15px;
}
.w-tabs__list {
  padding-inline-start: 40px !important;
  padding-inline-end: 80px !important;
  border-color: var(--w-color-border-field-default);
}
.w-tabs__tab {
  border-top: 1px solid var(--w-color-border-field-default);
  border-right: 1px solid var(--w-color-border-field-default);
  border-left: 1px solid var(--w-color-border-field-default);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding: 0.6rem 1rem;
  opacity: 0.6;
}
.w-tabs__tab:after {
  inset-inline-start: -1px;
  height: 3px;
  bottom: -2px;
}
.w-tabs__tab[aria-selected=true] {
  font-weight: 700;
  border-color: var(--w-color-border-field-default);
  opacity: 1;
}
.w-tabs__tab[aria-selected=true]:after {
  width: calc(100% + 2px);
}
.w-tabs__list > :not([hidden]) ~ :not([hidden]) {
  margin-inline-end: 0;
  margin-inline-start: 2px;
}
.w-tabs__tab:hover:after {
  width: calc(100% + 2px);
}
/* code block extension */
.code-block textarea {
  font-size: 14px;
}
pre[class*=language-]:after,
pre[class*=language-]:before {
  box-shadow: none !important;
}
/* Landing page */
.homepage .w-header .row {
  padding-inline-start: 7rem;
}
.homepage .w-header__glyph {
  height: 84px;
  width: 84px;
  margin-inline-start: -4rem !important;
}
.homepage .w-header__title {
  font-size: 2rem;
  line-height: 1.5;
}
.homepage .w-header__description {
  font-size: 1.25rem;
}
.homepage .w-summary .icon {
  font-size: 70px;
  margin-inline-end: 15px;
  color: var(--w-color-admin-tile-icon);
}
.homepage .w-summary .w-summary__list {
  justify-content: flex-start;
  gap: 40px;
}
.homepage .w-summary li {
  flex-grow: 0;
  border: 2px solid var(--w-color-border-field-default);
  border-radius: 10px;
  padding: 20px;
  background-color: var(--w-color-surface-header);
}
.homepage .w-summary a {
  font-size: 20px;
  text-align: center;
}
.homepage .w-summary a > span {
  font-size: 58px;
  font-weight: 800;
  line-height: .8;
}
/* General purpose adjustments to select2 */
.select2-container ul.select2-choices,
.select2-container a.select2-choice {
  border: 1px solid var(--w-color-border-field-default);
  color: var(--w-color-text-context) !important;
  background-color: var(--w-color-surface-field);
  background-image: none;
  box-shadow: none !important;
}
.select2-drop {
  background: var(--w-color-surface-field);
  color: var(--w-color-text-context) !important;
}
.select2-drop-active {
  border: 1px solid var(--w-color-border-field-default);
}
.select2-search input {
  border: 1px solid var(--w-color-border-field-default);
}
.select2-container ul.select2-choices:focus-within {
  outline: 3px solid var(--w-color-focus) !important;
}
.select2-container li.select2-search-choice {
  color: var(--w-color-text-context) !important;
}
.select2-search input.select2-input:focus {
  outline: 0 !important;
}
.select2-drop ul.select2-results li.select2-result {
  border-bottom: 1px dotted var(--w-color-border-field-default);
}
.select2-drop ul.select2-results li.select2-no-results {
  background: var(--w-color-surface-field);
}
/* Adjustments to admin CSS */
input[type=file] {
  font-size: 14px;
  height: 42px;
  line-height: 34px;
  padding: 4px 10px;
  vertical-align: middle;
}
input[type=file]::file-selector-button {
  margin-bottom: 5px;
  margin-right: 10px;
}
.w-field__errors {
  display: flex;
  align-items: baseline;
  position: absolute;
  width: 100%;
}
.w-field__errors .error-message {
  font-size: 12px;
  line-height: 1.2;
  background-color: var(--w-color-critical-50);
  border-radius: 6px;
  min-height: 24px;
  max-height: 42px;
  width: 100%;
  padding: 3px 10px 3px 30px;
  overflow: hidden;
}
.w-field__errors-icon {
  margin-inline-end: 8px;
  top: 7px;
  left: 9px;
  position: absolute;
}
.empty-chooser-message {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
  max-width: 300px;
}
/* help panels */
div.struct-block > span > div.help {
  margin: 15px 0;
  display: flex;
  align-items: center;
}
div.struct-block > span > div.help svg.icon-help {
  margin-left: -3px;
  margin-right: 10px;
  height: 1.3em;
}
/* Panel headers */
.w-panel.title:first-child input {
  margin-inline-start: -0.875rem;
  padding-inline-start: 0.875rem;
}
.button.chooser__choose-button {
  height: 42px;
  padding: 10px 15px;
  border-color: inherit;
}
.w-panel__header {
  background: linear-gradient(357deg, var(--w-color-admin-panel-header) 0%, rgb(0 125 126 / 0%) 100%);
  margin-bottom: .8rem;
  padding: 2px 0;
  border-image: linear-gradient(285deg, #007d7e75, #ffffff00) 10;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-right-width: 5px;
}
.w-panel__anchor,
.w-panel__controls .button.button--icon,
.w-panel__toggle,
.w-panel__heading--label,
.w-panel__header .w-panel__heading {
  color: var(--w-color-surface-button-default);
}
.w-panel__heading--label {
  font-size: 14px;
}
.w-panel {
  margin-bottom: 1rem !important;
}
.w-panel--nested .w-panel__anchor {
  background-color: unset;
}
[data-streamfield-stream-container] > [data-contentpath] > .w-panel > .w-panel__header,
[data-streamfield-list-container] > [data-contentpath] > .w-panel > .w-panel__header {
  background-color: unset;
  padding: unset;
}
.image-chooser .chooser__image {
  max-height: 95px;
  max-width: 125px;
}
.listing tbody tr:first-child {
  border-top: none;
}
.field-row-panel .w-panel__wrapper {
  display: flex;
  flex-direction: column;
}
.field-row-panel .w-field__wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.field-row-panel .w-field {
  display: flex !important;
  flex-direction: column;
  flex-grow: 1;
}
.field-row-panel .help {
  height: 37px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
}
.field-row-panel.collapse-help .help {
  height: 19px;
}
.field-row-panel .w-field__input {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.field-row-panel.align-baseline .w-field__input {
  align-items: baseline;
}
.field-row-panel.align-top .w-field__input {
  align-items: flex-start;
}
.field-row-panel:not(.rich-text) .w-panel__wrapper:last-of-type .w-field__input {
  margin-right: -42px;
}
.field-row-panel .w-field__comment-button {
  position: relative !important;
  top: unset;
  transform: translateX(-100%);
  margin-left: 15px;
  padding: .8rem .5rem;
}
.image-chooser:not(.blank) ~ .w-field__comment-button {
  transform: translate(-100%, -95%);
}
.field-row-panel.with-gradient .image-chooser .chooser__title,
#id_gradient-chooser .chooser__title {
  display: none;
}
.w-field-row .w-field__wrapper .w-field__wrapper {
  margin-bottom: 0;
  padding-bottom: 0;
}
.w-field__input input[type=checkbox] {
  margin-inline-end: 0;
  top: 4px;
}
.w-field__input .Draftail-Editor__wrapper {
  padding-top: 5px;
}
.field-row-panel .w-field--date_field input,
.field-row-panel .w-field--date_time_field input,
.field-row-panel .w-field--time_field input,
.field-row-panel select {
  width: 100%;
}

/* Temporary fixes for bugs */
/* modals */
.modal-dialog .modal-content {
  box-shadow: 0px 0px 15px 0px #00000069;
  padding-bottom: 0;
}
.modal-dialog {
  margin-right: auto !important;
  margin-left: auto !important;
  width: fit-content !important;
  max-width: 80%;
}
.modal-dialog .w-header {
  height: 50px;
}
.modal-dialog .w-header > div.row {
  display: flex;
  padding-top: .625rem !important;
  height: 100%;
  padding-inline-end: 55px !important;
  padding-inline-start: 15px !important;
}
.modal-dialog .w-header h1.w-header__title {
  display: flex;
  align-items: center;
  gap: 10px;
  text-wrap: nowrap;
}
.modal-dialog .w-header .w-header__glyph.icon {
  position: relative;
  inset-inline-start: 0;
  top: unset;
}
.modal-dialog .w-header form.search-form .w-field__wrapper {
  display: inline;
}
.modal-dialog .w-header form.search-form .w-field__input {
  margin-top: 0;
}
.modal-dialog .w-header form.search-form .w-field__input input {
  font-size: 14px;
  line-height: 1;
  min-height: 2px;
  padding: 5px 20px 5px 30px;
  background-color: #ffffff4d;
  color: white;
  border-color: var(--w-color-icon-primary);
}
.modal-dialog .w-header form.search-form .w-field__input input::placeholder {
  color: var(--w-color-text-label-menus-default);
}
.modal-dialog .w-header form.search-form .icon-search.w-field__icon {
  top: 7px;
  top: 7px;
  inset-inline-start: 5px;
  color: #ffffff8a;
}
.modal-dialog .modal-content .close.button {
  height: 40px !important;
  width: 40px !important;
  top: 5px !important;
  align-items: center;
  background-color: initial;
  color: var(--w-color-text-button);
  display: inline-flex;
  inset-inline-end: 5px;
  justify-content: center;
  padding: 0;
  position: absolute;
  z-index: 1;
}
.modal-dialog .modal-content .close.button:hover {
  background-color: var(--w-color-surface-menu-item-active);
  color: var(--w-color-text-button);
}
.modal-dialog .modal-body nav.pagination {
  margin-bottom: 2em;
}
/* listing choosers */
.listing.chooser td.title {
  min-height: 52px;
}
.listing.chooser .w-human-readable-date,
.listing.chooser .w-status.w-status--primary {
  text-wrap: nowrap;
}
/* tooltips */
.Tooltip {
  display: flex;
}
.TooltipText {
  margin-right: 10px;
  width: max-content;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 24px;
  display: inline-block;
  height: 100%;
}
.Tooltip__button {
  overflow: visible;
}
.tippy-box {
  white-space: nowrap !important;
  max-width: unset !important;
}
/* date range fields */
.w-drilldown__contents .daterange_field {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.w-drilldown__contents .daterange_field input:last-of-type {
  margin-top: 0;
}
/* other */
.w-combobox,
.w-combobox__optgroup {
  width: unset !important;
}
.w-field--date_field .w-field__comment-button,
.w-field--date_time_field .w-field__comment-button,
.w-field--time_field .w-field__comment-button {
  position: absolute;
  top: unset;
}
/* .listing .title .title-wrapper, .listing .title h2 {
  font-size: 0.8rem;
  margin-right: 0.5em;
} */
/* table.listing tbody td {
  vertical-align: middle;
} */
/* OLDER DEFINITIONS */
/* .p_date_scheduled {
  color: #ab803f;
  font-weight: 700;
}
.p_date_live {
  color: #528a52;
  font-weight: 700;
}
td.status.features > .status-tag {
  font-weight: 700;
}
td.status.features.scheduled > .status-tag {
  border: 1px solid #ab803f;
  color: #ab803f;
  background-color: #f9ecd8;
}
td.status.features.live > .status-tag {
  color: #528a52;
  border: 1px solid #528a52;
  background-color: #eaf3ea;
}

input[type=checkbox]:before {
  top: 5px;
}
.listing .children a:before {
  font-size: 2rem;
}
td.ord .handle {
  margin-top: 0;
}
.human-readable-date {
  white-space: nowrap;
}
.checkbox_input div.field-content input {
  display: inline-block;
}
input[type=checkbox] {
  height: 20px;
}
.object-layout table thead tr {
  height: 40px;
} */
