{% load wagtailadmin_tags %}

<td class="{% if column.classname %}{{ column.classname }} {% endif %}title {{ column.name }}">
    <div class="{% if 'as_html' in column.name %}flex-grow{% endif %} title-wrapper">
        {% fragment as title %}
            {% if title_id %}<span id="{{ title_id }}">
                {% if 'as_html' in column.name %}
                    {{ value|safe }}
                {% else %}
                    {{ value }}
                {% endif %}
            </span>
            {% else %}
                {% if 'as_html' in column.name %}
                    {{ value|safe }}
                {% else %}
                    {{ value }}
                {% endif %}
            {% endif %}
        {% endfragment %}
        {% block title %}
            {% if link_url %}
                <a {% include "wagtailadmin/shared/attrs.html" with attrs=link_attrs %}>
                    {% if 'as_html' in column.name %}
                        {{ title|safe }}
                    {% else %}
                        {{ title }}
                    {% endif %}
                </a>
            {% elif label_id %}
                <label for="{{ label_id }}">{{ title }}</label>
            {% else %}
                {% if 'as_html' in column.name %}
                    {{ title|safe }}
                {% else %}
                    {{ title }}
                {% endif %}
            {% endif %}
        {% endblock %}
    </div>
    {% if buttons %}
        <ul class="actions">
            {% block buttons %}
                {% include "wagtailadmin/shared/buttons.html" %}
            {% endblock %}
        </ul>
    {% endif %}
</td>
