<nav class="header-nav">
  <ul class="u-flex nav-menu">
    <li class="nav-logo">
      <a href="{% url 'dalme_public:home' %}" class="u-flex">
        <img class="logo" src="https://db.dalme.org/static/images/dalme_logo.svg">
        <p>DALME</p>
      </a>
    </li>
    <li>
      <a href="https://dalme.org/about/" class="nav-text">
        ABOUT
      </a>
      <a href="https://dalme.org/about/" class="nav-icon">
        <i class="fas fa-info"></i>
      </a>
    </li>
    <li>
      <a href="https://dalme.org/people/" class="nav-text">
        PEOPLE
      </a>
      <a href="https://dalme.org/people/" class="nav-icon">
        <i class="fas fa-users"></i>
      </a>
    </li>
    <li>
      <a href="https://db.dalme.org/" class="nav-text">
        RESOURCES
      </a>
      <a href="https://db.dalme.org/" class="nav-icon">
        <i class="fas fa-archive"></i>
      </a>
    </li>
  </div>
</nav>
