{% load dalme_public_tags %}

<table class="u-grid source-list">
  <thead>
    <tr>
      <th><strong>Name</strong></th>
      <th><strong>Type</strong></th>
      <th><strong>Date</strong></th>
      <th><strong>Transcription</strong></th>
      <th><strong>Image</strong></th>
    </tr>
  </thead>
  <tbody>
    {% for source in page_obj %}
      {% get_source_data source as source_data %}
      <tr>
        <td>
          <a href="{% url 'dalme_public:source_detail' pk=source.pk %}">
            {{ source.name }}
          </a>
        </td>
        <td>{{ source_data.source_type }}</td>
        <td>{{ source_data.source_date }}</td>
        {% if source_data.has_transcription %}
          <td><i class="fa fa-check"></i></td>
        {% else %}
          <td><i class="fa fa-times"></i></td>
        {% endif %}
        {% source_has_image source as has_image %}
        {% if has_image %}
          <td><i class="fa fa-check"></i></td>
        {% else %}
          <td><i class="fa fa-times"></i></td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
