{% load wagtailadmin_tags make_list_csv %}

<div class="{{ classname }}">
    {% if help_text %}
        <span>
            <div class="help">
                {% icon name="help" classname="default" %}
                {{ help_text }}
            </div>
        </span>
    {% endif %}
    <section class="field-row-panel manual-form collapse-help" id="{{ prefix }}-general-form-section" data-panel>
        <div class="w-field-row">
            {% include 'field_include.html' with child=children.type col_class="col4" %}
            {% include 'field_include.html' with child=children.version col_class="col3" %}
            {% include 'field_include.html' with child=children.date col_class="col5" %}
        </div>
    </section>
    {% for child in children.values %}
        {% if child.block.name in "title,author,detail,abstract,url"|make_list_csv %}
            <section
                class="field-row-panel manual-form collapse-help{% if child.block.name == 'abstract' %} rich-text{% endif %}"
                id="{{ prefix }}-{{ child.block.name }}-form-section"
                data-panel
            >
                <div class="w-field-row">
                    {% include 'field_include.html' with child=child col_class="col12" %}
                </div>
            </section>
        {% endif %}
    {% endfor %}
    <section class="field-row-panel manual-form align-top collapse-help" id="{{ prefix }}-files-form-section" data-panel>
        <div class="w-field-row">
            {% include 'field_include.html' with child=children.document col_class="col6" %}
            {% include 'field_include.html' with child=children.page col_class="col6" %}
        </div>
    </section>
</div>
