{% load wagtailcore_tags %}

<div
  id="{{ value.subsection|slugify }}"
  {% block subsection_class %}class="u-subsection u-flex"{% endblock %}
  data-collapsed="{{ value.collapsed|yesno:"true,false" }}"
  onclick="window.CustomUtils.toggleSection(this)"
>
  <a href="#{{ value.subsection|slugify }}" class="anchor">
    {% block subsection_title %}
      <h3 {% if value.minor_heading %} class="minor_heading" {% endif %}>{{ value.subsection }}</h4>
    {% endblock %}
  </a>
  <i class="fas {% if value.collapsed %}fa-caret-down{% else %}fa-caret-up{% endif %} subsection"></i>
</div>
<div class="subsection-container {% if value.collapsed %}u-none{% endif %}">
  {% include_block value.body %}
</div>
