{% extends "dalme_public/layouts/__single_column.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block header_extra %}
  <div class="title u-flex u-type-serif">
    <h1 class="small">The</h1>
    <h1>Documentary Archaeology</h1>
    <h1 class="last"><span class="small">of</span> Late Medieval Europe</h1>
    {% if page.learn_more_page %}
      <a class="u-lozenge" href="{% pageurl page.learn_more_page %}">LEARN MORE</a>
    {% endif %}
  </div>
  {% if page.banners %}
    {% for banner in page.banners %}
      {{ banner }}
    {% endfor %}
  {% endif %}
{% endblock %}

{% block main_column %}
  {% include "dalme_public/includes/_featured.html" %}

  <section class="mission u-flex">
    <h2 class="u-lozenge">DALME</h2>
    <div class="u-flex">
      <div class="statement home-parchment">
        <img src="{% static 'images/dalme_logo.svg' %}" alt="DALME logo">
        {{ page.body }}
      </div>
      <div class="home-register"></div>
    </div>
  </section>

  {% if page.sponsors %}
    <section class="support u-flex">
      <h2 class="u-lozenge">SUPPORT</h2>
      <p>We are grateful to the following organizations for supporting the project.</p>
      <div class="support-logos u-flex">
        {% for sponsor in page.sponsors %}
          {{ sponsor }}
        {% endfor %}
      </div>
    </section>
  {% endif %}

{% endblock %}
