{
  "schemaVersion": "1.0",
  "description": "Session Manager settings",
  "sessionType": "Standard_Stream",
  "inputs": {
    "kmsKeyId": "${key_id}",
    "s3BucketName": "${logs_bucket}",
    "s3KeyPrefix": "ssm/${aws_account}",
    "s3EncryptionEnabled": true,
    "cloudWatchLogGroupName": "",
    "cloudWatchEncryptionEnabled": true,
    "cloudWatchStreamingEnabled": false,
    "idleSessionTimeout": 60,
    "maxSessionDuration": null,
    "runAsEnabled": false,
    "shellProfile": {
      "linux": "",
      "windows": ""
    }
  }
}
