.collection-description,
main.features .block-text {
  max-height: 126px;
  overflow-y: hidden;
  transition: max-height 0.8s ease-out;
}
.collection-description {
  margin-top: 1.5rem;
}
.collection-description p,
main.features .block-text p {
  margin-top: 0;
}
