div[data-contentpath="role"] .w-field__input {
  display: flex;
}
div[data-contentpath="role"] .w-field__input select {
  height: 42px;
  width: auto;
}
.list-by-role {
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  flex-grow: 1;
  margin-right: 42px;
}
.list-by-role div:not(.role-list-empty) {
  background: var(--w-color-surface-page);
  border: 1px solid var(--w-color-text-meta);
  color: var(--w-color-text-meta);
  border-radius: 2px;
  display: inline-block;
  font-size: 13px;
  padding: 1px 8px;
  text-align: center;
  word-break: normal;
}
.role-list-empty {
  background-color: var(--w-color-critical-50);
  border-radius: 3px;
  color: var(--w-color-grey-600);
  height: 42px;
  display: flex;
  align-items: center;
  padding: 0 40px;
  font-size: 14px;
}
