{% load static %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    {% block meta %}
      <meta charset="utf-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <meta name="description" content=""/>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% endblock %}
    <title>
      {% block title %}DALME{% endblock %}
    </title>
    {% block styles %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/dalme_public.css' %}" />
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    {% endblock %}
  </head>

  <body id="body" class="u-flex">
    <header role="banner">
      {% block nav %}
        {% include "dalme_public/includes/_nav.html" %}
      {% endblock %}
    </header>

    <main id="main" class="main" role="main">
      <div class="main-container">
        {% block content %}{% endblock %}
      </div>
    </main>

    <footer class="u-flex" role="contentinfo">
      {% include "dalme_public/includes/_footer.html" %}
    </footer>

    {% block js_foot %}{% endblock %}

  </body>
</html>
