{% load static dalme_public_tags wagtailimages_tags wagtailuserbar %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    {% block meta %}
      <meta charset="utf-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <meta name="description" content=""/>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <link rel="apple-touch-icon" sizes="180x180" href="{% static '/icons/apple-touch-icon.png' %}">
      <link rel="icon" type="image/png" sizes="32x32" href="{% static '/icons/favicon-32x32.png' %}">
      <link rel="icon" type="image/png" sizes="16x16" href="{% static '/icons/favicon-16x16.png' %}">
      <link rel="manifest" href="{% static '/icons/site_public.webmanifest' %}">
      <link rel="mask-icon" href="{% static '/icons/safari-pinned-tab.svg' %}" color="#912643">
      <link rel="shortcut icon" href="{% static '/icons/favicon.ico' %}">
      <meta name="apple-mobile-web-app-title" content="DALME">
      <meta name="application-name" content="DALME">
      <meta name="msapplication-TileColor" content="#b91d47">
      <meta name="msapplication-TileImage" content="{% static '/icons/mstile-144x144.png' %}">
      <meta name="msapplication-config" content="{% static '/icons/browserconfig.xml' %}">
      <meta name="theme-color" content="#ffffff">
    {% endblock %}
    <title>
      {% block title %}DALME{% endblock %}
    </title>
    {% block styles %}
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-vue.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/dalme_public/dalme_public.css' %}" />
    {% endblock %}
  </head>

  {% with page.get_verbose_name|lower as page_name %}
    <body id="body" class="{{ page_name }} u-flex u-type-sans">
      {% block banner %}{% endblock %}
      {% image page.header_image original as header_image %}
      <header
        class="{{ page_name }}"
        role="banner"
        {% if header_image %}
          {% get_header_image_styles header_image page.header_position as styles %}
          style="{{ styles }}"
        {% endif %}>
          {% include "dalme_public/includes/_nav.html" %}
          {% block header_extra %}{% endblock %}
      </header>

      <main
        id="main" class="{{ page_name }}{% if records or record %} inventories{% endif %}{% if record %} inventory{% endif %}" role="main">
        {% block content %}{% endblock %}
      </main>

      <footer class="u-flex" id="footer-app">
        {% footer %}
        {% include "dalme_public/includes/_share_popup.html" %}
      </footer>

      {% block js_foot %}
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
        <script src="https://kit.fontawesome.com/04c8493f39.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script-->
        <script type="text/javascript" src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js" integrity="sha512-hDWGyh+Iy4Mr9AHOzUP2+Y0iVPn/BwxxaoSleEjH/i1o4EVTF/sh0/A1Syii8PWOae+uPr+T/KHwynoebSuAhw==" crossorigin="anonymous"></script>
        <script>
          $(document).ready(function() {
            api_endpoint = "{{ api_endpoint }}";
            db_endpoint = "{{ db_endpoint }}";

            $('body').on('click', '#hamburger', function(e) {
              const menu = $(e.target).closest('nav').find('ul');
              if (menu.css('display') === 'none') {
                menu.css({ display: 'flex' })
              } else {
                menu.css({ display: 'none' })
              }
            });

            // Subsections initialize.
            const subsections = $('.block-subsection');
            $.each(subsections, function(index, value) {
              const subsection = $(value);
              const sub_container = $('<div/>').attr({class: 'subsection-container'});
              const nextSubsection = subsection.nextAll('.block-subsection:first');
              if (nextSubsection.length) {
                sub_container.append(subsection.nextUntil(nextSubsection).detach());
              } else {
                sub_container.append(subsection.nextAll().detach());
              }
              sub_container.insertAfter(subsection);
              if (subsection.find('i').hasClass('fa-caret-left')) {
                sub_container.hide();
              }
            });

            // Collections initialize.
            const collections = $('section.collection');
            $.each(collections, function(index, value) {
              const collection = $(value);
              if (collection.find('i').hasClass('fa-caret-left')) {
                collection.children().not('.u-subsection').hide();
              }
            });

            $('body').on('click', '#handle', function(e) {
              const target = $(e.target);
              let icon = null;
              if (e.target.localName === 'div') {
                icon = target.find('i');
              } else if (e.target.localName === 'h3') {
                icon = target.next();
              } else {
                icon = target;
              }

              // Collections.
              icon.hasClass('fa-caret-left')
                ? icon.removeClass('fa-caret-left').addClass('fa-caret-down')
                : icon.removeClass('fa-caret-down').addClass('fa-caret-left');
              icon.closest('section')
                .attr('data-collapsed', function(index, attr) {
                  return attr === 'true' ? 'false' : 'true';
                });
              if (icon.hasClass('corpus')) {
                const collection = $(icon).closest('section.corpus');
                const nodes = collection.children().not('.u-subsection');
                icon.hasClass('fa-caret-left')
                  ? nodes.hide()
                  : nodes.show();
              }

              // Subsections collapsing logic.
              if (icon.hasClass('subsection')) {
                const subsection = $(icon).closest('.block-subsection');
                if (icon.hasClass('fa-caret-left')) {
                  subsection.next().hide();
                } else {
                  subsection.next().show();
                }
              }
            });

            // share footer button
            const share_app = new Vue({
              el: '#footer-app',
              delimiters: ['${', '}'],
              created() {
                const clipboard_copy = new ClipboardJS('#clip_copy');
                this.format('html')
              },
              data: {
                page_title: '{{ page.title }}',
                page_url: '{{ page.url }}',
                show_menu: false,
                show_copied: false,
                content: null
              },
              methods: {
                showCopiedTooltip() {
                  this.show_menu = false;
                  this.show_copied = true;
                  setTimeout(() => this.show_copied = false, 800)
                },
                format(type) {
                  switch (type) {
                    case 'html':
                      this.content = `<a href=${this.page_url}>${this.page_title}</a>`
                      break;
                    default:
                      return 'HEY!'
                  }
                }
              }
            });
          });
        </script>
      {% endblock %}
      {% if page.citable and not records and not record %}
          {% get_citation_data as citation %}
          {{ citation.2 | safe }}
          {{ citation | json_script:"citation_data" }}
          <script src="https://cdn.jsdelivr.net/npm/vue-clickaway@2.2.2/dist/vue-clickaway.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/citation-js@0.4.0-9"></script>
          <script>
            const cite_app = new Vue({
              el: '#cite-container',
              delimiters: ['${', '}'],
              directives: {
                onClickaway: window.VueClickaway.directive,
              },
              created() {
                const Cite = require('citation-js');
                let _data = JSON.parse($('#citation_data').text());
                let formats = _data[0];
                let config = Cite.plugins.config.get('csl');
                for (let i = 0, len = formats.length; i < len; ++i) {
                  if (formats[i].file) {
                    $.ajax({ method: "GET", url: `/static/citation_styles/${formats[i].file}`})
                    .done(function(xml_data) {
                      config.templates.add(formats[i].name, xml_data);
                    })
                  }
                }
                this.formats = formats;
                this.citation = new Cite(_data[1]);
                this.updateCitation('harvard1');
              },
              data: {
                citation: null,
                showCitePanel: false,
                showCopied: false,
                popoverPlacement: 'right',
                formats: null,
                format: 'html',
                template: 'harvard1',
                lang: 'en-US',
                formatted_citation: null,
                file_extensions: {
                  bibtex: '.bib',
                  ris: '.ris'
                }
              },
              methods: {
                formatCitation(template, format=this.format, output_format='bibliography') {
                  return this.citation.format(output_format, {
                      format: format,
                      template: template,
                      lang: this.lang
                    });
                },
                updateCitation(template) {
                  this.formatted_citation = this.formatCitation(template);
                  this.template = template;
                },
                showCopiedTooltip() {
                  this.showCitePanel = false;
                  this.showCopied = true;
                  setTimeout(() => this.showCopied = false, 800)
                },
                downloadCitation(format) {
                  const blob = new Blob([this.formatCitation(this.template, 'text', format)], {
                    encoding: 'UTF-8',
                    type: 'text/plain;charset=UTF-8'
                  })
                  const link = document.createElement('a');
                  link.href = URL.createObjectURL(blob)
                  link.download = `citation${this.file_extensions[format]}`
                  link.click()
                  URL.revokeObjectURL(link.href)
                },
                closeCitePanel() {
                  this.showCitePanel = false;
                },
              }
            });
          </script>
      {% endif %}
    </body>
  {% endwith %}

  {% wagtailuserbar 'bottom-right' %}
</html>
