{% load static dalme_public_tags wagtailimages_tags wagtailuserbar %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    {% block meta %}
      <meta charset="utf-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <meta name="description" content=""/>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% endblock %}
    <title>
      {% block title %}DALME{% endblock %}
    </title>
    {% block styles %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/dalme_public.css' %}" />
    {% endblock %}
  </head>

  {% with page.get_verbose_name|lower as page_name %}
    <body id="body" class="{{ page_name }} u-flex">
      {% image page.header_image original as header_image %}
      <header
        class="{{ page_name }}"
        role="banner"
        {% if header_image %}
          {% get_header_image_styles header_image as styles %}
          style="{{ styles }}"
        {% endif %}>
          {% include "dalme_public/includes/_nav.html" %}
          {% block header_extra %}{% endblock %}
      </header>

      <main
        id="main" class="{{ page_name }}{% if inventories or inventory %} inventories{% endif %}" role="main">
        {% block content %}{% endblock %}
      </main>

      <footer class="u-flex">
        {% include "dalme_public/includes/_footer.html" %}
      </footer>

      {% block js_foot %}
        <script src="https://kit.fontawesome.com/04c8493f39.js" crossorigin="anonymous"></script>
      {% endblock %}
    </body>
  {% endwith %}

  {% wagtailuserbar 'bottom-right' %}
</html>
