{% extends "dalme_public/layouts/__left_side_column.html" %}
{% load wagtailcore_tags static hosts compress %}

{% block title %}{{ block.super }} &ndash; {{ page.title_switch }}{% endblock %}

{% block banner %}
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
          {{ message }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}

{% block header_extra %}
  {% include "dalme_public/includes/_flat_header.html" %}
{% endblock %}

{% block left_side_column %}
  {% include "dalme_public/includes/_flat_nav.html" %}
  {% include "dalme_public/includes/_features_nav.html" %}
{% endblock %}

{% block main_column %}
  <div class="content">
    {{ page.body }}
    <div id="bibliography-app" v-cloak>
      <beat-loader v-if="spinner" :loading="spinner" color="#aaa"></beat-loader>
      <div class="bibliography-container" v-if="bibliography" v-html="bibliography"></div>
    </div>
  </div>
{% endblock %}

{% block js_foot %}
  {{ block.super }}
  {% compress js %}
    <script type="text/javascript" src="{% static 'js/dalme_app/dalme_util.js' %}"></script>
  {% endcompress %}
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue-spinner@1.0.4/dist/vue-spinner.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/citation-js@0.4.10/build/citation.min.js" integrity="sha256-vqUHuIyFzuc0osFFLRQk5hhFPLGHSnc4jvAtp9lZYvo=" crossorigin="anonymous"></script>
  {% host_url 'api_endpoint' host 'data' as api_url %}
  <script>
    Vue.component('beat-loader', VueSpinner.BeatLoader);
    const bibliography_app = new Vue({
      el: '#bibliography-app',
      delimiters: ['${', '}'],
      created() {
        const Cite = require('citation-js');
        this.config = Cite.plugins.config.get('@csl');
        this.loadTemplate();
        this.citation = new Cite();
        this.fetchData();
      },
      data: {
        fetching: false,
        config: null,
        citation: null,
        bibliography: null,
        api_endpoint: '{{ api_url }}',
        format: 'html',
        template: 'chicago',
        output_format: 'bibliography',
        lang: 'en-US',
      },
      computed: {
        spinner() {
          return (this.entries === null) || this.fetching == true;
        },
      },
      methods: {
        loadTemplate() {
          const that = this;
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
            if (xhttp.readyState == 4 && xhttp.status == 200) {
              let xml_data = new XMLSerializer().serializeToString(xhttp.responseXML);
              that.config.templates.add('chicago', xml_data);
            }
          };
          xhttp.open("GET", '/static/citation_styles/chicago-author-date-16th-edition.csl', true);
          xhttp.send();
        },
        fetchData() {
          this.fetching = true;
          fetch(`${this.api_endpoint}/library/?format=json`)
            .then(response => response.json())
            .then(data => {
              for (let i = 0, len = data.length; i < len; ++i) {
                this.citation.add(data[i]);
              }
              this.bibliography = this.citation.format(this.output_format, {
                format: this.format,
                template: this.template,
                lang: this.lang
              });
              this.fetching = false;
              setTimeout(() => this.addAnchors(), 0);
            });
        },
        addAnchors() {
          $('.csl-entry').each(function() {
            let key = $(this).data('csl-entry-id').split('/');
            $(this).prepend(`<a href="#${key['1']}"></a>`)
          });
          if (window.location.hash) {
            $('html').animate({
              scrollTop: $(`a[href='${window.location.hash}']`).offset().top
            }, 800);
          }
        }
      }
    });
    </script>
{% endblock%}
