{% extends "dalme_public/layouts/__left_side_column.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block title %}{{ page.title_switch }} &mdash; {{ block.super }}{% endblock %}

{% block header_extra %}
  {% include "dalme_public/includes/_simple_header.html" %}
{% endblock %}

{% block left_side_column %}
  {% include "dalme_public/includes/_features_nav.html" %}
{% endblock %}

{% block main_column %}
  <div class="content">
    {{ page.body }}

    {% with page.corpora.all as corpora %}
      {% if corpora %}
        <div class="corpora-container u-flex">
          {% for corpus in corpora %}
            <section class="corpus">
              <div id="handle" class="u-subsection u-flex" data-collapsed="true">
                <h3>{{ corpus.title }}</h3>
                <i class="fas fa-caret-left corpus"></i>
              </div>
              {{ corpus.description|richtext }}
              <h4>Collections</h4>
              <ul class="collections">
                {% for collection in corpus.collections.all %}
                  <li class="u-flex">
                    <a href="{% pageurl collection %}">{{ collection.title }}</a>
                    <span class="count">1257–1444 | {{ collection.count }} Records</span>
                  </li>
                {% endfor %}
              </ul>
            </section>
          {% endfor %}
        </div>
      {% else %}
        <p>No corpora currently defined.</p>
      {% endif %}
    {% endwith %}
  </div>
{% endblock %}
