{% extends "dalme_public/layouts/__left_side_column.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block title %}{{ page.title_switch }} &mdash; {{ block.super }}{% endblock %}

{% block header_extra %}
  {% include "dalme_public/includes/_simple_header.html" %}
{% endblock %}

{% block left_side_column %}
  {% include "dalme_public/includes/_features_nav.html" %}
{% endblock %}

{% block main_column %}
  <div class="content">
    {{ page.body }}

    {% with page.collections.all as sections %}
      {% if sections %}
        <div class="collections-container u-flex">
          {% for collection in sections %}
            <section class="collection">
              <div class="u-subsection u-flex" data-collapsed="true">
                <h3>{{ collection.title }}</h3>
                <i id="handle" class="fas fa-caret-left collection"></i>
              </div>
              {{ collection.description|richtext }}
              <h4>Collections</h4>
              <ul class="sets">
                {% for set in collection.sets.all %}
                  <li class="u-flex">
                    <a href="{% pageurl set %}">{{ set.title }}</a>
                    <span class="count">1257–1444 | {{ set.count }} Records</span>
                  </li>
                {% endfor %}
              </ul>
            </section>
          {% endfor %}
        </div>
      {% else %}
        <p>No collections currently defined.</p>
      {% endif %}
    {% endwith %}
  </div>
{% endblock %}
