{% extends "dalme_public/layouts/__left_side_column.html" %}
{% load wagtailcore_tags static %}

{% block title %}{{ page.title_switch }} &mdash; {{ block.super }}{% endblock %}

{% block header_extra %}
  {% include "dalme_public/includes/_simple_header.html" %}
{% endblock %}

{% block left_side_column %}
  {% include "dalme_public/includes/_at_a_glance.html" %}
  {% include "dalme_public/includes/_features_nav.html" %}
{% endblock %}

{% block main_column %}
  <div class="content u-flex">
    <section>
      {% for block in page.body %}
        {% if not page.main_image %}
          {% if forloop.counter0 == 0 %}
            <nav class="browse">
              <div class="u-button">
                <a href="{% pageurl page %}inventories/?collection={{ page.pk }}">Browse</a>
              </div>
            </nav>
          {% endif %}
        {% else %}
          {% if forloop.counter0 == 1 %}
            <nav class="browse">
              <div class="u-button">
                <a href="{% pageurl page %}inventories/?collection={{ page.pk }}">Browse</a>
              </div>
            </nav>
          {% endif %}
        {% endif %}
        <div class="block-{{ block.block_type }}">
          {% include_block block %}
        </div>
      {% endfor %}
    </section>
  </div>
{% endblock %}
