{% extends "dalme_public/layouts/__left_side_column.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block title %}{{ block.super }} &ndash; {{ page.title_switch }}{% endblock %}

{% block header_extra %}
  {% include "dalme_public/includes/_simple_header.html" %}
{% endblock %}

{% block left_side_column %}
  {% include "dalme_public/includes/_features_filter.html" %}
{% endblock %}

{% block main_column %}
  <div class="content">
    {{ page.body }}
    {% for key, features in featured %}
      <h3 class="featured-group-key">{{ key|title }}</h3>
      {% if not request.GET.order_by or request.GET.order_by == 'date' %}
        {% for subkey, subfeatures in features %}
          <h4 class="featured-group-key">{{ subkey|title }}</h3>
          <div class="featured-group u-flex">
            {% for subfeature in subfeatures %}
              {% if subfeature.main_image %}
                {% image subfeature.main_image height-200 as figure %}
                {% if figure.width > 600 %}
                  <a class="featured-panel w3x" href="{% pageurl subfeature %}">
                {% elif figure.width > 250 %}
                  <a class="featured-panel w2x" href="{% pageurl subfeature %}">
                {% else %}
                  <a class="featured-panel w1x" href="{% pageurl subfeature %}">
                {% endif %}
                <div class="feature-panel-image" style="background-image: url('{{ figure.url }}'); background-position: center; background-size: cover;"></div>
              {% else %}
                <a class="featured-panel w1x" href="{% pageurl subfeature %}">
                  <div class="feature-panel-image" style="background: #000;"></div>
              {% endif %}
                <div class="feature-panel-title">{{ subfeature.title }}</div>
              </a>
            {% endfor %}
          </div>
        {% endfor %}
      {% else %}
        <ul class="featured-group u-flex">
          {% for feature in features %}
            <a href="{% pageurl feature %}">
              <li class="featured-panel">
                {% if feature.main_image %}
                  {% image feature.main_image height-200 %}
                {% endif %}
                <p>{{ feature.title }}</p>
              </li>
            </a>
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
{% block js_foot %}
  {{ block.super }}
  <script>
    const setContentWidth = () => {
        const content_width = $('.content').width();
        $('.content').attr('style', `--content-width:${content_width}px;`);
    };
    $(document).ready(function() {
      setContentWidth();

      $(window).resize(function() {
        if(this.resizeTO) clearTimeout(this.resizeTO);
        this.resizeTO = setTimeout(function() {
          $(this).trigger('windowResize');
        }, 500);
      });

      $(window).on('windowResize', function() { setContentWidth(); });

      $('.block-text').prepend('<div class="show-more d-none">Show more</div>')

      $('.block-text').each( function() {
        if ($(this).prop('scrollHeight') > $(this).outerHeight()) {
          $(this).find('.show-more').removeClass('d-none')
        }
      });

      $('.show-more').on('click', function() {
        if ($(this).text() == 'Show more') {
          $(this).parent().css({"maxHeight":"1000px"});
          $(this).text('Show less');
        } else {
          $(this).parent().css({"maxHeight":"126px"});
          $(this).text('Show more');
        }
      });
    });
  </script>
{% endblock %}
