{% extends "dalme_public/layouts/__left_side_column.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block title %}{{ page.title_switch }} &mdash; {{ block.super }}{% endblock %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block header_extra %}
  {% include "dalme_public/includes/_simple_header.html" %}
{% endblock %}

{% block left_side_column %}
  {% include "dalme_public/includes/_features_back.html" %}
  {% include "dalme_public/includes/_record_detail.html" %}
  {% include "dalme_public/includes/_object_nav.html" %}
{% endblock %}

{% block main_column %}
  <div class="metadata u-flex">
    <span>{{ page.first_published_at.date }}</span>
    <span>by {{ page.author }}</span>
  </div>

  <div class="content">
    {% if page.carousel %}
      {% include "dalme_public/includes/_carousel.html" %}
    {% endif %}
    {{ page.body }}
  </div>
{% endblock %}

{% block js_foot %}
  {{ block.super }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}
