{% extends "dalme_public/layouts/__left_side_column.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block title %}{{ page.title_switch }} &mdash; {{ block.super }}{% endblock %}

{% block header_extra %}
  {% include "dalme_public/includes/_simple_header.html" %}
{% endblock %}

{% block left_side_column %}
  {% include "dalme_public/includes/_features_nav.html" %}
  {% include "dalme_public/includes/_object_nav.html" %}
{% endblock %}

{% block main_column %}
  <div class="metadata u-flex">
    <!-- TODO: Will make this dyamic when the publishing mechanism is developed -->
    <span>May 2020</span>
    <span>by {{ page.author }}</span>
  </div>

  {% if page.carousel %}
    <div class="main-image carousel">
      {% include "dalme_public/includes/_carousel.html" %}
    </div>
  {% endif %}

  <div class="content">
    {% include "dalme_public/includes/_record_detail.html" %}
    <div class="phrase">
      <h4>Phrase</h4>
      {{ page.phrase|richtext }}
    </div>
    {{ page.body|richtext }}
  </div>

{% endblock %}
