{% extends "dalme_public/layouts/__left_side_column.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block title %}{{ page.title_switch }} &mdash; {{ block.super }}{% endblock %}

{% block header_extra %}
  {% include "dalme_public/includes/_simple_header.html" %}
{% endblock %}

{% block left_side_column %}
  {% include "dalme_public/includes/_features_back.html" %}
  {% include "dalme_public/includes/_record_detail.html" %}
  {% include "dalme_public/includes/_inventory_nav.html" %}
{% endblock %}

{% block main_column %}
  <div class="metadata u-flex">
    <span>{{ page.first_published_at.date }}</span>
    <span>by {{ page.author }}</span>
  </div>

  {% if page.main_image %}
    <div class="main-image u-flex">
      {% image page.main_image fill-1000x500 %}
      {% if page.main_image.caption %}
        <p class="caption">{{ page.main_image.caption }}</p>
      {% endif %}
    </div>
  {% endif %}

  <div class="content">
    {% for block in page.body %}
      {% if forloop.counter0 == 0 %}
      {% else %}
        <div class="block-{{ block.block_type }}">
          {% include_block block %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
