{% extends "dalme_public/layouts/__left_side_column.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block title %}{{ page.title_switch }} &mdash; {{ block.super }}{% endblock %}

{% block header_extra %}
  {% include "dalme_public/includes/_simple_header.html" %}
{% endblock %}

{% block left_side_column %}
  {% include "dalme_public/includes/_features_filter.html" %}
{% endblock %}

{% block main_column %}
  <div class="content">
    {{ page.body }}
    {% for key, features in featured %}
      <h3 class="featured-group-key">{{ key|title }}</h3>
      <ul class="featured-group u-flex">
        {% for feature in features %}
          <a href="{% pageurl feature %}">
            <li class="featured-panel">
              {% if feature.main_image %}
                {% image feature.main_image height-200 %}
              {% endif %}
              <p>{{ feature.title }}</p>
            </li>
          </a>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
{% endblock %}
