{% extends "dalme_public/layouts/__left_side_column.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block title %}{{ page.title_switch }} &mdash; {{ block.super }}{% endblock %}

{% block banner %}
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
          {{ message }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}

{% block header_extra %}
  {% include "dalme_public/includes/_breadcrumbs.html" %}
  <div class="title u-flex u-type-serif">
    <h1>{{ page.title }}</h1>
    <h2>
      {% with page.get_parent.get_parent as home %}
        <a href="{% pageurl home %}">{{ home.title }}</a>
      {% endwith %}
    </h2>
  </div>
{% endblock %}

{% block left_side_column %}
  {% include "dalme_public/includes/_flat_nav.html" %}
  {% include "dalme_public/includes/_features_nav.html" %}
{% endblock %}

{% block main_column %}
  <div class="content">
    {{ page.body }}
    {% if page.show_contact_form %}
      {% include "dalme_public/includes/_contact_form.html" %}
    {% endif %}
  </div>
{% endblock %}
