{% extends "dalme_public/layouts/__left_side_column.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block title %}{{ block.super }} &ndash; {{ page.title_switch }}{% endblock %}

{% block banner %}
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
          {{ message }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}

{% block header_extra %}
  {% include "dalme_public/includes/_flat_header.html" %}
{% endblock %}

{% block left_side_column %}
  {% if page.get_parent.title == 'Collections' %}
    {% include "dalme_public/includes/_collections_filter.html" %}
  {% else %}
    {% include "dalme_public/includes/_flat_nav.html" %}
  {% endif %}
  {% if page.citable %}
    <div id="cite-container" class="mt-5" v-cloak>
      {% include "dalme_public/includes/_cite_menu.html" %}
      {% include "dalme_public/includes/_cite_popup.html" %}
    </div>
  {% endif %}
  {% include "dalme_public/includes/_features_nav.html" %}
{% endblock %}

{% block main_column %}
  <div class="content">
    {{ page.body }}
    {% if page.show_contact_form %}
      {% include "dalme_public/includes/_contact_form.html" %}
    {% endif %}
  </div>
{% endblock %}

{% block js_foot %}
  {{ block.super }}
  {% if page.specific.title == 'Publications' %}
    <script>
      $(document).ready(function() {
        $('.abstract-container').each( function() {
          if ($(this).prop('scrollHeight') > $(this).outerHeight()) {
            $(this).find('.show-more').removeClass('d-none')
          }
        });
        $('.show-more').on('click', function() {
          if ($(this).text() == 'Show more') {
            $(this).parent().css({"maxHeight":"1000px"});
            $(this).text('Show less');
          } else {
            $(this).parent().css({"maxHeight":"84px"});
            $(this).text('Show more');
          }
        });
      })
    </script>
  {% endif %}
{% endblock%}
