{% extends "dalme_public/layouts/__twin_side_columns.html" %}
{% load solo_tags %}

{% block title %}DALME{% endblock %}

{% block header %}
  {% get_solo 'dalme_public.HomePage' as public_home %}
  {% with public_home.name as header_text %}
    {% include "dalme_public/includes/_source_header.html" %}
  {% endwith %}
{% endblock %}

{% block left_side_column %}
{% endblock %}

{% block main_column %}
  <div class="public-content">
    {% get_solo 'dalme_public.HomePage' as public_home %}
    {% with public_home.description as description %}
      {% include "dalme_public/includes/_description.html" %}
    {% endwith %}
    {% include "dalme_public/includes/_collections.html" %}
  </div>
{% endblock %}

{% block right_side_column %}
  {% include "dalme_public/includes/_object_of_the_month.html" %}
  {% include "dalme_public/includes/_inventory_of_the_month.html" %}
{% endblock %}
