{% extends "dalme_public/layouts/__single_column.html" %}
{% load wagtailcore_tags static %}

{% block header_extra %}
  <div class="title u-flex u-type-serif">
    <h1 class="small">The</h1>
    <h1>Documentary Archaeology</h1>
    <h1 class="last"><span class="small">of</span> Late Medieval Europe</h1>
    <div class="u-lozenge">LEARN MORE</div>
  </div>
{% endblock %}

{% block main_column %}
  {% include "dalme_public/includes/_featured.html" %}

  <section class="mission u-flex">
    <h2 class="u-lozenge">DALME</h2>
    <div class="u-flex">
      <div class="statement u-type-sans">
        <img src="{% static "images/dalme_logo.svg" %}" alt="DALME logo">
        {{ page.body }}
      </div>

      <div class="register">
        <div class="a">
          <div class="b">
            <img class="c" src="{% static "images/homepage_register.png" %}">
          </div>
        </div>
      </div>
  </section>

  <section class="support u-flex">
    <h2 class="u-lozenge">SUPPORT</h2>
    <p>We are grateful to the following organizations for supporting the project.</p>
    <div class="support-logos u-flex">
      <div class="u-flex">
        <img src="{% static "images/support_logos/SOHP_no_background.png" %}" alt="SOHP">
      </div>
      <div class="u-flex">
        <img src="{% static "images/support_logos/IAS_no_background.png" %}" alt="IAS">
      </div>
      <div class="u-flex">
        <img src="{% static "images/support_logos/ACLS_no_background.png" %}" alt="ACLS">
      </div>
    </div>
  </section>

{% endblock %}
