{% extends "dalme_public/layouts/__single_column.html" %}
{% load static hosts %}

{% block title %}{{ data.short_name }} &mdash; {{ block.super }}{% endblock %}

{% block styles %}
  {{ block.super }}
  <link href="{% static 'css/diva.css' %}" rel="stylesheet">
  <link href="{% static 'css/TEI.css' %}" rel="stylesheet">
{% endblock %}

{% block header_extra %}
  {% include "dalme_public/includes/_collapsible_header.html" %}
{% endblock %}

{% block main_column %}
  <div id="app" class="app inventory-detail">
    <nav>
      <ul class="u-flex">
        <li class="hamburger" @click="handleFlipView">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </li>

        <li
          class="pagination next u-flex"
          v-bind:class="{ inactive: !hasMultipleFolios }"
          @click="handleFolioNext">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </li>

        <li
          class="pagination current u-flex"
          v-bind:class="{ inactive: !hasMultipleFolios }"
          @click="toggleFolioSelect"
          v-on-clickaway="hideFolioSelect">
            <span>${folioInfo}</span>
            <i v-if="hasMultipleFolios" class="fa fa-chevron-down" aria-hidden="true"></i>
        </li>
        <ul class="folio-selector u-flex" v-if="folioSelect">
          <template v-for="(folio, index) in sourceData.folios">
            <li v-if="index === folioIndex" :key="index" class="inactive">
              Folio ${sourceData.folios[index].pageName} (${index + 1}/${folioCount})
            </li>
            <li v-else :key="index" @click="handleFolioSelect(index)">
              Folio ${sourceData.folios[index].pageName} (${index + 1}/${folioCount})
            </li>
          </template>
        </ul>

        <li
          class="pagination previous right u-flex"
          v-bind:class="{ inactive: !hasMultipleFolios }"
          @click="handleFolioPrevious">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </li>

        <li :id=`diva-${divaId}-zoom-in-button` class="zoom in" @click="handleZoomIn">
          <i class="fa fa-search-plus" aria-hidden="true"></i>
        </li>

        <li :id=`diva-${divaId}-zoom-out-button` class="zoom out" @click="handleZoomOut">
          <i class="fa fa-search-minus" aria-hidden="true"></i>
        </li>

      </ul>
    </nav>
  </div>
  <div class="folios u-flex">
    <section class="folio">
      <div id="diva_viewer"></div>
      <div id="folio-rights" class="folio-rights u-flex"></div>
    </section>
    <div id="resize-handle" class="resize-handle"></div>
    <section id="transcription" class="transcription"></section>
  </div>
{% endblock %}

{% block js_foot %}
  {{ block.super }}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'js/CETEI.js' %}"></script>
  <!-- <script type="text/javascript" src="{% static 'js/diva.js' %}"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/diva.js@6.0.2/build/diva.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-clickaway@2.2.2/dist/vue-clickaway.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-resizable-dom@0.35.0/dist/jquery-resizable.min.js"></script>
  {{ data|json_script:"source-data" }}
  {% host_url 'dashboard' host 'db' as db_url %}
  {% host_url 'api_endpoint' host 'data' as api_url %}
  <script>
    const setHeaderHeight = () => {
        const height = $('header.collections').height();
        $('section#transcription').attr('style', `--header-height:${height}px;`);
    }
    $(document).ready(function() {
      setHeaderHeight();
      const splitter = $('div.folios');

      $(document).on('click', '.ab-column-toggler', (e) => {
          const parent = e.target.closest('tei-ab');
          parent.classList.toggle('closed');
      });

      $(window).width() <= 600
        ? splitter.addClass('horizontal-split')
        : splitter.addClass('vertical-split')

      const getTitle = (e, tag) => {
        let extent = null;
        let reason = null;
        let type = null;
        let lemma = null;
        let resp = null;
        let title = null;
        if (e.hasAttribute('unit') && e.hasAttribute('quantity')) {
           quantity = e.getAttribute('quantity');
          let unit = e.getAttribute('unit');
          extent = 'extent ' + quantity + unit;
        } else if (e.hasAttribute('extent')) {
          extent = 'extent ' + e.getAttribute('extent');
        };
        if (e.hasAttribute('reason')) {
          reason = e.getAttribute('reason')
        };
        if (e.hasAttribute('type')) {
          type = e.getAttribute('type')
        };
        if (e.hasAttribute('lemma')) {
          lemma = '' + e.getAttribute('lemma') + ''
        };
        if (e.hasAttribute('resp')) {
          resp = ' by ' + e.getAttribute('resp')
        };
        if (tag == 'word' && type && lemma) {
          title = type + ': ' + lemma;
        } else {
          title = tag;
          if (extent) {
            title = title + ': ' + extent;
            if (reason) {
              title = title + ', ' + reason;
            };
          } else if (reason) {
            title = title + ': ' + reason;
          } else if (type) {
            title = title + ': ' + type;
          } else if (resp) {
            title = title + resp;
          }
        };
        return title;
      };

      const teiBehaviours = {
        'tei': {
          'ab': function(e) {
              //if (e.parent.elementName !== 'tei-layout') {
              //    return;
              //}
              const colNum = e.getAttribute('n');
              const content = document.createElement('div');
              content.className = 'ab-content';
              content.setAttribute('n', colNum);
              content.innerHTML = e.innerHTML;
              const div = document.createElement('div');
              div.innerHTML = `<span class="label">COL ${colNum}</span><i class="fa fa-caret-down"></i><i class="fa fa-caret-left"></i>`;
              div.className = 'ab-column-toggler';

              e.innerHTML = '';
              e.appendChild(div);
              e.appendChild(content);
          },
          'gap': function(e) {
            e.setAttribute('title', getTitle(e, 'gap'));
            e.setAttribute('data-toggle', 'tooltip');
          }, //@reason, @unit, @quantity, @extent
          'space': function(e) {
            e.setAttribute('title', getTitle(e, 'space'));
            e.setAttribute('data-toggle', 'tooltip');
          }, //@unit, @quantity, @extent
          'unclear': function(e) {
            e.setAttribute('title', getTitle(e, 'unclear'));
            e.setAttribute('data-toggle', 'tooltip');
          }, //@reason
          'supplied': function(e) {
            e.setAttribute('title', getTitle(e, 'supplied'));
            e.setAttribute('data-toggle', 'tooltip');
          }, //@reason
          'add': function(e) {
            e.setAttribute('title', getTitle(e, 'addition'));
            e.setAttribute('data-toggle', 'tooltip');
          }, //@place
          'abbr': function(e) {
            e.setAttribute('title', getTitle(e, 'abbreviation'));
            e.setAttribute('data-toggle', 'tooltip');
          }, //@type
          'w': function(e) {
            e.setAttribute('title', getTitle(e, 'word'));
            e.setAttribute('data-toggle', 'tooltip');
          }, //@type, @lemma
          'quote': function(e) {
            e.setAttribute('title', getTitle(e, 'quote'));
            e.setAttribute('data-toggle', 'tooltip');
          }, //@resp
        }
      };

      const renderImage = ({ pageId, zoomLevel, imageId }) => {
        const node = $('#diva_viewer');
        node.empty();
          window.folio = new Diva('diva_viewer', {
            objectData:`{{db_url}}pages/${pageId}/manifest/`,
            enableAutoTitle: false,
            enableFullscreen: false,
            enableKeyScroll: false,
            blockMobileMove: false,
            enableSpaceScroll: false,
            enableGotoPage: false,
            enableGridIcon: false,
            enableGridControls: false,
            enableImageTitles: false,
            enableToolbar: false,
            adaptivePadding: 0,
            fixedPadding: 0,
            zoomLevel: zoomLevel,
          });
      };

      const renderRights = (notice) => {
        const node = $('#folio-rights');
        node.empty();
        node.html(`<p>${notice}</p>`)
      };

      const renderTranscription = transcriptionId => {
        const node = $('#transcription');
        node.empty();
        if (!transcriptionId) {
          const warning = 'This folio has not been transcribed.'
          node.innerHTML = `<div class="warning">${warning}</div>`;
        } else {
          const endpoint = `{% host_url 'api_endpoint:transcriptions-list' host 'data' %}${transcriptionId}?format=json`;
          const tei = new CETEI();
          tei.addBehaviors(teiBehaviours);
          $.get(endpoint, function(data) {
            const tr_text = data.transcription;
            const tei_block = `<TEI xmlns="http://www.tei-c.org/ns/1.0"><text><body>${tr_text}</body></text></TEI>`;
            tei.makeHTML5(tei_block, function(text) {
              node.addClass('justify-content-left').html(text);
            });
          }, 'json');
        };
      };

      window.eventBus = new Vue();
      window.eventBus.$on('renderFolio', (data) => {
        const endpoint = `{{api_url}}/pages/${data.pageId}/get_rights/`;
        let image = false;
        $.get(endpoint, function(rdata) {
          if (rdata.rights && rdata.rights.hasOwnProperty('show_image') && rdata.rights.show_image) {
            if (data.imageId) {
              image = true;
              renderImage(data);
              if (rdata.rights.display_notice) {
                renderRights(rdata.rights.notice);
              }
            }
          }
          if (!image) { $('#diva_viewer').html('<div class="diva-no-image"></div>'); }
          renderTranscription(data.transcriptionId);
        }, 'json');
      });
      window.eventBus.$on('zoomIn', () => {
        if (window.folio) {
          window.folio.zoomIn();
        }
      });
      window.eventBus.$on('zoomOut', () => {
        if (window.folio) {
          window.folio.zoomOut();
        }
      });
      window.eventBus.$on('flipView', data => {
        const node = $('.folios');
        const main = node.parent().parent();
        if (node.hasClass('vertical-split')) {
          node.removeClass('vertical-split').addClass('horizontal-split');
          main.toggleClass('vertical-split', false);
          main.toggleClass('horizontal-split', true);
          node.find('.folio')
            .resizable('destroy')
            .resizableSafe({
              handleSelector: '#resize-handle',
              resizeWidth: false,
              onDragEnd: function() {
                  Diva.Events.publish('PanelSizeDidChange');
                  window.folio.destroy();
                  renderImage(data);
              },
            })
            .css({ width: '' });
        } else {
          node.removeClass('horizontal-split').addClass('vertical-split');
          main.toggleClass('horizontal-split', false);
          main.toggleClass('vertical-split', true);
          node.find('.folio')
            .resizable('destroy')
            .resizableSafe({
              handleSelector: '#resize-handle',
              resizeHeight: false,
              onDragEnd: function() {
                if (data.imageId) {
                  Diva.Events.publish('PanelSizeDidChange');
                  window.folio.destroy();
                  renderImage(data);
                }
              },
            })
            .css({ height: '' });
        }
      });

      $('.folio').resizableSafe({
        handleSelector: '#resize-handle',
        resizeHeight: $('.vertical-split').length ? false : true,
        resizeWidth: $('.vertical-split').length ? true : false,
        onDragEnd: function() {
          Diva.Events.publish('PanelSizeDidChange');
          window.folio.destroy();
          renderImage(data);
        }
      });

      $('body').on('click', '#collapsible-handle', function(e) {
        const target = $(e.target).closest('div.title');
        const icon = target.find('i');
        icon.hasClass('fa-chevron-down')
          ? icon.removeClass('fa-chevron-down').addClass('fa-chevron-left')
          : icon.removeClass('fa-chevron-left').addClass('fa-chevron-down');
        $('div.description')
          .attr('data-collapsed', function(index, attr) {
            return attr === 'true' ? 'false' : 'true';
          });
        setHeaderHeight();
      });

      const app = new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        directives: {
          onClickaway: window.VueClickaway.directive,
        },
        mounted() {
          window.eventBus.$emit('renderFolio', this.eventData);
        },
        data: {
          folioIndex: {{ initial_folio_index }},
          zoomLevel: 2,
          folioSelect: false,
          date: 0,
          divaId: 1,
        },
        computed: {
          sourceData() {
            const node = document.getElementById('source-data');
            return JSON.parse(node.textContent);
          },
          hasFolios() {
            return this.folioCount > 0;
          },
          hasMultipleFolios() {
            return this.folioCount > 1;
          },
          hasPrevious() {
            return this.folioIndex + 1 > 1;
          },
          hasNext() {
            return this.folioIndex + 1 < this.sourceData.folios.length;
          },
          folioCount() {
            return this.sourceData.no_folios;
          },
          folioImageId() {
            return this.sourceData.folios[this.folioIndex].pageImageId;
          },
          folioId() {
            return this.hasFolios
              ? this.sourceData.folios[this.folioIndex].pageId
              : null;
          },
          folioName() {
            return this.hasFolios
              ? this.sourceData.folios[this.folioIndex].pageName
              : null;
          },
          transcriptionId() {
            return this.hasFolios
              ? this.sourceData.folios[this.folioIndex].transcriptionId
              : null;
          },
          currentFolio() {
            const index = `${this.folioIndex + 1}/${this.folioCount}`;
            return `Folio ${this.folioName} (${index})`;
          },
          folioInfo() {
            return this.hasFolios ? this.currentFolio : 'No folios';
          },
          eventData() {
            return {
              pageId: this.folioId,
              transcriptionId: this.transcriptionId,
              zoomLevel: this.zoomLevel,
              imageId: this.folioImageId
            };
          },
        },
        methods: {
          incrementDivaId() {
            this.divaId += 1;
          },
          handleZoomIn() {
            // Keep track of the zoom level so it persists between page loads,
            // but there's no need to pass it to the viewer via the event.
            if (this.zoomLevel > 0) {
              this.zoomLevel = --this.zoomLevel;
              window.eventBus.$emit('zoomIn');
            }
          },
          handleZoomOut() {
            if (this.zoomLevel < 4) {
              this.zoomLevel = ++this.zoomLevel;
              window.eventBus.$emit('zoomOut');
            }
          },
          handleFolioPrevious() {
            if (this.hasPrevious) {
              this.folioIndex = --this.folioIndex;
              window.eventBus.$emit('renderFolio', this.eventData);
              this.incrementDivaId();
            }
          },
          handleFolioNext() {
            if (this.hasNext) {
              this.folioIndex = ++this.folioIndex;
              window.eventBus.$emit('renderFolio', this.eventData);
              this.incrementDivaId();
            }
          },
          handleFolioSelect(index) {
            if (this.folioIndex !== index) {
              this.folioIndex = index;
              window.eventBus.$emit('renderFolio', this.eventData);
              this.incrementDivaId();
              this.folioSelect = false;
            }
          },
          handleFlipView() {
            window.eventBus.$emit('flipView', this.eventData);
            window.eventBus.$emit('renderFolio', this.eventData, false);
            this.incrementDivaId();
          },
          toggleFolioSelect() {
            if (this.hasMultipleFolios) {
              this.folioSelect = !this.folioSelect;
            }
          },
          hideFolioSelect(e) {
            if (!e.target.closest('.folio-selector')) {
              this.folioSelect = false;
            }
          },
        },
      });

    });
  </script>
{% endblock %}
