{% extends "dalme_public/layouts/__single_column.html" %}
{% load dalme_public_tags static hosts compress %}

{% block title %}{{ data.short_name }} &mdash; {{ block.super }}{% endblock %}

{% block styles %}
  {{ block.super }}
  {% compress css %}
    <link rel="stylesheet" href="{% static 'js/Diva-6.0.2/diva.css' %}" />
    <link rel="stylesheet" href="{% static 'css/TEI.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/dalme_public/dalme_public_tei.css' %}" />
  {% endcompress %}
{% endblock %}

{% block header_extra %}
  {% include "dalme_public/includes/_breadcrumbs.html" %}
{% endblock %}

{% block main_column %}
  <div id="app">
  <div v-if="showHelp" v-on-clickaway="toggleHelpTips"></div>
  <div class="app inventory-toolbar">
    <nav v-cloak>
      <ul class="u-flex">
        <li :id=`diva-${divaId}-zoom-out-button` class="zoom out nav_button" @click="handleZoomOut">
          <i class="fa fa-search-minus" aria-hidden="true"></i>
        </li>
        <li :id=`diva-${divaId}-zoom-in-button` class="zoom in nav_button" @click="handleZoomIn">
          <i class="fa fa-search-plus" aria-hidden="true"></i>
        </li>
        <b-popover
          variant="dark"
          :target=`diva-${divaId}-zoom-out-button`
          placement="bottomright"
          :show="showHelp"
          triggers="manual">
          Image zoom.
        </b-popover>
        <li
          id="info_panel_button"
          class="nav_button mr-auto"
          @click="toggleInfoPanel"
          v-bind:class="{ active: showInfoPanel }">
          <i class="fas fa-info-circle"></i>
        </li>
        <b-popover
          variant="dark"
          target="info_panel_button"
          placement="top"
          :show="showHelp"
          triggers="manual">
          Record information.
        </b-popover>

        <li class="border-0 text-start mr-auto">
          <span>{{ title }}</span>
        </li>

        <li
          class="pagination previous left u-flex nav_button"
          v-bind:class="{ inactive: !hasMultipleFolios }"
          @click="handleFolioPrevious">
            <i class="fa fa-backward fa-sm mt-1" aria-hidden="true"></i>
        </li>
        <b-dropdown
          id="folio_menu"
          class="p-0"
          right
          no-caret
          menu-class="dropdown-menu p-0 pt-3 pb-3"
          toggle-class="nav_button">
            <template #button-content>
              <span>${folioInfo}</span>
              <i class="fa fa-caret-down fa-sm ml-2 mt-1" aria-hidden="true"></i>
            </template>
            <template v-if="hasMultipleFolios" v-for="(folio, index) in sourceData.folios">
              <b-dropdown-item v-if="index === folioIndex" :key="index" class="inactive dropdown-item">
                <span>Folio ${sourceData.folios[index].pageName} (${index + 1}/${folioCount})</span>
              </b-dropdown-item>
              <b-dropdown-item v-else :key="index" @click="handleFolioSelect(index)" class="dropdown-item">
                <span>Folio ${sourceData.folios[index].pageName} (${index + 1}/${folioCount})</span>
              </b-dropdown-item>
            </template>
        </b-dropdown>
        <b-popover
          variant="dark"
          target="folio_menu"
          placement="topleft"
          :show="showHelp"
          triggers="manual">
          Folio navigation.
        </b-popover>
        <li
          class="pagination next u-flex nav_button"
          v-bind:class="{ inactive: !hasMultipleFolios }"
          @click="handleFolioNext">
            <i class="fa fa-forward fa-sm mt-1" aria-hidden="true"></i>
        </li>
        <div id="cite-container">
          <li
            id="cite-button"
            class="nav_button"
            v-bind:class="{ active: showCitePanel }"
            @click="showCitePanel = !showCitePanel">
            <i class="fas fa-book"></i>
          </li>
          <b-popover
            variant="dark"
            target="cite-button"
            placement="bottom"
            :show="showCopied"
            triggers="manual">
            Copied!
          </b-popover>
          <b-popover
            variant="dark"
            target="cite-button"
            placement="topleft"
            :show="showHelp"
            triggers="manual">
            Citation panel.
          </b-popover>
          {% include "dalme_public/includes/_cite_popup.html" %}
        </div>
        <li
          id="help_toggle"
          class="nav_button"
          v-bind:class="{ active: showHelp }"
          @click="toggleHelpTips">
          <i class="fas fa-question-circle"></i>
        </li>
        <b-dropdown
          id="viewer_menu"
          ref="optionsDropdown"
          class="p-0"
          right
          no-caret
          menu-class="dropdown-menu p-0 pt-3 pb-3"
          toggle-class="hamburger nav_button">
          <template #button-content>
            <i class="fa fa-bars"></i>
          </template>
          <b-dropdown-item
            id="viewer_flip_menu"
            class="dropdown-item"
            href="#"
            @click="handleFlipView('vertical-split')">
            <i class="fa-fw" v-bind:class="{ 'far fa-square': viewerMode == 'horizontal-split', 'fas fa-check-square': viewerMode == 'vertical-split' }"></i> Vertical Split
          </b-dropdown-item>
          <b-popover
            boundary="window"
            variant="dark"
            target="viewer_flip_menu"
            placement="left"
            :show="showHelp"
            triggers="manual">
            Change how the screen is split.
          </b-popover>
          <b-dropdown-item class="dropdown-item" href="#" @click="handleFlipView('horizontal-split')">
            <i class="fa-fw" v-bind:class="{ 'far fa-square': viewerMode == 'vertical-split', 'fas fa-check-square': viewerMode == 'horizontal-split' }"></i> Horizontal Split
          </b-dropdown-item>
          <b-dropdown-divider></b-dropdown-divider>
          <b-dropdown-item id="text_wrap_menu" class="dropdown-item" href="#" @click="toggleTextWrap" v-bind:class="{ disabled: renderMode == 'basic' }">
            <i class="fa-fw" v-bind:class="{ 'far fa-square': !softWrap, 'fas fa-check-square': softWrap }"></i> Soft-wrap text
          </b-dropdown-item>
          <b-popover
            boundary="window"
            variant="dark"
            target="text_wrap_menu"
            placement="left"
            :show="showHelp"
            triggers="manual">
            Change how lines wider than the viewing area are treated.
          </b-popover>
          <b-dropdown-item id="newlines_menu" @click="showNewlines = !showNewlines" class="dropdown-item" href="#">
            <i class="fa-fw" v-bind:class="{ 'far fa-square': !showNewlines, 'fas fa-check-square': showNewlines }"></i> Newline symbols
          </b-dropdown-item>
          <b-popover
            boundary="window"
            variant="dark"
            target="newlines_menu"
            placement="left"
            :show="showHelp"
            triggers="manual">
            Show or hide new line symbols.
          </b-popover>
          <b-dropdown-divider></b-dropdown-divider>
          <b-dropdown-item class="dropdown-item" href="#" @click="changeRenderMode('basic')">
            <i class="fa-fw" v-bind:class="{ 'far fa-square': renderMode == 'scholarly', 'fas fa-check-square': renderMode == 'basic' }"></i> Basic mode
          </b-dropdown-item>
          <b-dropdown-item
            id="viewer_mode_menu"
            class="dropdown-item"
            href="#"
            @click="changeRenderMode('scholarly')">
            <i class="fa-fw" v-bind:class="{ 'fas fa-check-square': renderMode == 'scholarly', 'far fa-square': renderMode == 'basic' }"></i> Scholarly mode
          </b-dropdown-item>
          <b-popover
            boundary="window"
            variant="dark"
            target="viewer_mode_menu"
            placement="rightbottom"
            :show="showHelp"
            triggers="manual">
            <b>Basic Mode:</b></br>
            Rendering emphasises readability. Lines are...</br>
            <b>Scholarly Mode:</b></br>
            Rendering emphasises accuracy. Editorial marks...</br>
          </b-popover>
        </b-dropdown>
        <b-popover
          variant="dark"
          target="viewer_menu__BV_toggle_"
          placement="top"
          :show="showHelp"
          triggers="manual">
          Options.
        </b-popover>
      </ul>
    </nav>
  </div>
  <div class="folios u-flex viewer">
    <section class="folio">
      <div class="record-info" v-if="showInfoPanel" v-on-clickaway="toggleInfoPanel">
        <div class="description">
          {% if data.description %}
            {{ data.description }}
          {% else %}
            No description currently available.
          {% endif %}
        </div>
        <ul class="u-flex u-type-sans">
          <li><span>Archival location:</span> {{ data.short_name }}</li>
          <li><span>Date(s):</span> {{ data.date }}</li>
          {% with data.folios|length as count %}
            <li><span>Extent:</span> {{ count }} Folio{% if count > 1 %}s{% endif %}</li>
          {% endwith %}
        </ul>
        <div class="u-type-sans mt-2 credits">
          {{ data.get_credit_line.credit_line }}
        </div>
      </div>
      <div id="diva_viewer"></div>
      <div id="folio-rights" class="folio-rights u-flex"></div>
    </section>
    <div id="resize-handle" class="resize-handle"></div>
    <b-popover
      boundary="window"
      variant="dark"
      target="resize-handle"
      :placement="handleHelpPlacement"
      :show="showHelp"
      triggers="manual">
      Drag to resize viewer panels.
    </b-popover>
    <section
      id="transcription"
      class="transcription"
      v-bind:class="[renderMode, { 'soft-wrap': softWrap }, { 'show-newlines': showNewlines }]">
      <beat-loader v-show="loading" color="#aaa"></beat-loader>
      <div class="empty-folio-warning" v-if="!transcriptionId || !renderedTranscription">This folio has not been transcribed.</div>
      <div v-if="transcriptionId" v-html="renderedTranscription" id="tei-container"></div>
    </section>
  </div>
</div>
{% endblock %}

{% block js_foot %}
  {{ block.super }}
  {% compress js %}
    <script type="text/javascript" src="{% static 'js/CETEI.js' %}"></script>
  {% endcompress %}
  <!--script type="text/javascript" src="{% static 'js/diva_dev.js' %}"></script-->
  <script src="https://cdn.jsdelivr.net/npm/diva.js@6.0.2/build/diva.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-clickaway@2.2.2/dist/vue-clickaway.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-resizable-dom@0.35.0/dist/jquery-resizable.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/citation-js@0.4.10/build/citation.min.js" integrity="sha256-vqUHuIyFzuc0osFFLRQk5hhFPLGHSnc4jvAtp9lZYvo=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue-spinner@1.0.4/dist/vue-spinner.min.js"></script>

  {{ data|json_script:"source-data" }}
  {% host_url 'dashboard' host 'db' as db_url %}
  {% host_url 'api_endpoint' host 'data' as api_url %}

  {% get_citation_data as citation %}
  {{ citation.2 | safe }}
  {{ citation | json_script:"citation_data" }}

  <script>
    const setHeaderHeight = () => {
        const height = $('header').height();
        $('section#transcription').attr('style', `--header-height:${height}px;`);
    }
    $(document).ready(function() {
      setHeaderHeight();
      const splitter = $('div.folios');
      $(document).on('click', '.ab-column-toggler', (e) => {
          const parent = e.target.closest('tei-ab');
          parent.classList.toggle('closed');
      });

      $(window).width() <= 600
        ? splitter.addClass('horizontal-split')
        : splitter.addClass('vertical-split')

      const setExtent = (e) => {
        const tag_name = e.tagName.slice(4,);
        const reason = e.getAttribute('reason', false);
        var quantity = parseInt(e.getAttribute('quantity', 'nope'));
        var unit = e.getAttribute('unit', null);
        var extent = e.getAttribute('extent', null);
        const fillers = {
          word: '___ ',
          char: '* ',
        }
        if (extent && !quantity && !unit) {
          let e_tokens = extent.split(' ');
          if (e_tokens.length == 2) {
            if (parseInt(e_tokens[0]) !== NaN) {
              quantity = parseInt(e_tokens[0]);
            } else if (e_tokens[0] == 'full') {
              quantity = 1;
            } else if (e_tokens[0].includes('-')) {
              let range = e_tokens[0].split('-');
              quantity = Math.max(range);
            }
            unit = e_tokens[1];
          }
        }
        if (unit && extent) {
          var content = '';
          var title = '';
          if (unit.startsWith('word') || unit.startsWith('char')) {
            if (quantity) {
              content = fillers[unit.slice(0,4)].repeat(quantity).trim();
              title = `${quantity} missing ${unit}`;
              if (reason) title += ` (${reason})`;
            } else {
              content = extent;
              title = extent;
            }
            e.innerHTML = `[ ${content} ]`;
            e.setAttribute('title', title);
            e.setAttribute('data-toggle', 'tooltip');
          } else if (unit.startsWith('line') || unit.startsWith('page')) {
            if (quantity) {
              let qual = tag_name == 'SPACE' ? ' blank ' : ' ';
              content = reason ? `${quantity} ${unit} (${reason})` : `${quantity}${qual}${unit}`;
            } else {
              content = extent;
            }
            e.innerHTML = content;
            e.setAttribute('show', 'block');
          }
        } else if (extent) {
          e.innerHTML = `[ ${extent} ]`;
        }
        return e
      };

      const setTitle = (e) => {
        const tag_name = e.tagName.slice(4,);
        const reason = e.getAttribute('reason', false);
        const type = e.getAttribute('type', false);
        const lemma = e.getAttribute('lemma', false);
        const resp = e.getAttribute('resp', false);
        const title_strings = {
          'ADD': 'addition',
          'ABBR': `expanded ${e.getAttribute('type', 'abbreviation')}`,
        }
        if (reason) {
          e.setAttribute('title', `${tag_name.toLowerCase()} (${reason})`);
        } else if (type && lemma) {
          e.setAttribute('title', `${type} (${lemma})`);
        } else if (resp) {
          e.setAttribute('title', `by ${resp}`);
        } else if (tag_name in title_strings) {
          e.setAttribute('title', title_strings[tag_name]);
        } else {
          e.setAttribute('title', `${tag_name.toLowerCase()}`);
        }
        e.setAttribute('data-toggle', 'tooltip');
      };

      const teiBehaviours = {
        'tei': {
          'ab': function(e) {
              const colNum = e.getAttribute('n');
              const content = document.createElement('div');
              content.className = 'ab-content';
              content.setAttribute('n', colNum);
              content.innerHTML = e.innerHTML;
              const div = document.createElement('div');
              div.innerHTML = `<div><span class="label">C${colNum}</span><i class="fa fa-caret-down"></i><i class="fa fa-caret-right"></i></div>`;
              div.className = 'ab-column-toggler';
              e.innerHTML = '';
              e.appendChild(div);
              e.appendChild(content);
          },
          'gap': function(e) { e = setExtent(e); },
          'space': function(e) { e = setExtent(e); },
          'unclear': function(e) { e = setTitle(e); },
          'supplied': function(e) { e = setTitle(e); },
          'add': function(e) { e = setTitle(e); },
          'abbr': function(e) { e = setTitle(e); },
          'w': function(e) { e = setTitle(e); },
          'quote': function(e) { e = setTitle(e); },
          'g': function(e) {
            let ref = e.getAttribute('ref', false);
            if (ref) e.innerText = String.fromCharCode(parseInt(ref, 16));
          },
          'hi': [
            ["[rend=superscript]", function(e) {
              if (e.innerText.length > 3) {
                e.setAttribute('rend-basic', 1);
              }
            }],
          ],
          'ref': [
            ['[target]', function(e) {
              let ref_id = e.getAttribute('target');
              e.innerHTML = `<a href="#${ref_id}">${e.getAttribute('target')}</a>`;
            }]
          ],
          'note': [
            [':not([type=marginal])', function(e) {
              e.setAttribute('name', e.getAttribute('target'));
            }]
          ],
        }
      };

      const renderImage = ({ pageId, zoomLevel, imageId }) => {
        const node = $('#diva_viewer');
        node.empty();
        window.folio = new Diva('diva_viewer', {
          objectData:`{{db_url}}pages/${pageId}/manifest/`,
          enableAutoTitle: false,
          enableFullscreen: false,
          enableKeyScroll: false,
          blockMobileMove: false,
          enableSpaceScroll: false,
          enableGotoPage: false,
          enableGridIcon: false,
          enableGridControls: false,
          enableImageTitles: false,
          enableToolbar: false,
          enableAutoWidth: true,
          adaptivePadding: 0,
          fixedPadding: 0,
          zoomLevel: zoomLevel || 2,
        });
        window.folioPageId = pageId;
      };

      Diva.Events.subscribe('ViewerDidLoad', () => resizeFolioAndRedraw());

      const renderRights = (notice) => {
        const node = $('#folio-rights');
        node.empty();
        node.html(`<div>${notice}</div>`)
      };

      const calcFolioHeight = () => {
        const windowHeight = $(window).height();
        const transcriptionHeight = $('#transcription').height();
        const headerHeight = $('header').height();
        const toolbarHeight = $('.inventory-toolbar').height();
        const rightsHeight = $('.folio-rights').height();
        const footerHeight = $('footer').height();

        const fullHeight = windowHeight - (headerHeight + toolbarHeight + rightsHeight + footerHeight);
        return Math.max(fullHeight, (transcriptionHeight - rightsHeight));
      }

      const resizeFolio = () => {
        const ui = $('#diva_viewer');
        ui.find('.diva-wrapper').width(ui.width()).height(calcFolioHeight());
      }
      window.addEventListener('resize', resizeFolio);

      const resizeFolioAndRedraw = () => {
        console.log('resizeFolioAndRedraw')
        resizeFolio();
        window.dispatchEvent(new Event('resize'));  // simulate window resize to trigger canvas resize because Diva.Events.publish('PanelSizeDidChange'); doesn't seem to work
      }

      window.eventBus = new Vue();
      window.eventBus.$on('renderFolio', (data) => {
        const endpoint = `{{api_url}}/pages/${data.pageId}/get_rights/`;
        let image = false;
        $.get(endpoint, function(rdata) {
          if (rdata.rights && rdata.rights.hasOwnProperty('show_image') && rdata.rights.show_image) {
            if (data.imageId) {
              image = true;
              renderImage(data);
              if (rdata.rights.display_notice) {
                renderRights(rdata.rights.notice);
              }
            }
          }
          if (!image) { $('#diva_viewer').html('<div class="diva-no-image"></div>'); }
        }, 'json').then(() => {
             $('.folio').resizableSafe({
                 handleSelector: '#resize-handle',
                 resizeHeight: $('.vertical-split').length ? false : true,
                 resizeWidth: $('.vertical-split').length ? true : false,
                 onDragEnd: function() {
                     resizeFolioAndRedraw();
                 }
             });
         });
       });

      window.eventBus.$on('zoomIn', () => {
        if (window.folio) {
          window.folio.zoomIn();
        }
      });

      window.eventBus.$on('zoomOut', () => {
        if (window.folio) {
          window.folio.zoomOut();
        }
      });

      window.eventBus.$on('flipView', data => {
        resizeFolioAndRedraw();
        const node = $('.folios');
        const main = node.parent().parent();
        if (node.hasClass('vertical-split')) {
          node.removeClass('vertical-split').addClass('horizontal-split');
          main.toggleClass('vertical-split', false);
          main.toggleClass('horizontal-split', true);
          node.find('.folio')
            .resizableSafe({
              handleSelector: '#resize-handle',
              resizeWidth: false,
              onDragEnd: function() {
                resizeFolioAndRedraw();
              },
            })
            .css({ width: '' });
        } else {
          node.removeClass('horizontal-split').addClass('vertical-split');
          main.toggleClass('horizontal-split', false);
          main.toggleClass('vertical-split', true);
          node.find('.folio')
            .resizableSafe({
              handleSelector: '#resize-handle',
              resizeHeight: false,
              onDragEnd: function() {
                if (data.imageId) {
                  resizeFolioAndRedraw();
                }
              },
            })
            .css({ height: '' });
        }
      });

      $('body').on('click', '#collapsible-handle', function(e) {
        const target = $(e.target).closest('div.title');
        const icon = target.find('i');
        icon.hasClass('fa-chevron-down')
          ? icon.removeClass('fa-chevron-down').addClass('fa-chevron-left')
          : icon.removeClass('fa-chevron-left').addClass('fa-chevron-down');
        $('div.description')
          .attr('data-collapsed', function(index, attr) {
            return attr === 'true' ? 'false' : 'true';
          });
        setHeaderHeight();
      });

      // Vue.config.devtools = true
      Vue.component('beat-loader', VueSpinner.BeatLoader);
      const app = new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        directives: {
          onClickaway: window.VueClickaway.directive,
        },
        mounted() {
          window.eventBus.$emit('renderFolio', this.eventData);
        },
        created() {
          window.addEventListener("resize", this.windowResized);
          const Cite = require('citation-js');
          this.formats = this.citationData[0];
          this.config = Cite.plugins.config.get('@csl');
          const that = this;
          for (let i = 0, len = this.formats.length; i < len; ++i) {
            if (this.formats[i].file) {
              var xhttp = new XMLHttpRequest();
              xhttp.onreadystatechange = function() {
                if (xhttp.readyState == 4 && xhttp.status == 200) {
                  let xml_data = new XMLSerializer().serializeToString(xhttp.responseXML);
                  that.config.templates.add(that.formats[i].name, xml_data);
                }
              };
              xhttp.open("GET", `/static/citation_styles/${that.formats[i].file}`, true);
              xhttp.send();
            }
          }
          this.citation = new Cite(this.citationData[1]);
          this.updateCitation('harvard1', 'bibliography');
          this.tei = new CETEI();
          this.tei.addBehaviors(teiBehaviours);
          this.fetchTranscription();
        },
        data: {
          showHelp: false,
          showCitePanel: false,
          showCopied: false,
          popoverPlacement: 'bottom',
          handleHelpPlacement: 'left',
          folioIndex: {{ initial_folio_index }},
          zoomLevel: 2,
          folioSelect: false,
          date: 0,
          divaId: 1,
          showInfoPanel: true,
          renderMode: 'scholarly',
          viewerMode: 'vertical-split',
          softWrap: false,
          showNewlines: false,
          formats: null,
          format: 'html',
          template: 'harvard1',
          lang: 'en-US',
          formatted_citation: null,
          file_extensions: {
            bibtex: '.bib',
            ris: '.ris'
          },
          loading: false,
          renderedTranscription: null,
          tei: null,
        },
        watch: {
          folioIndex: "fetchTranscription"
        },
        computed: {
          citationData() {
            const node = document.getElementById('citation_data');
            document.getElementsByTagName("BODY")[0].removeChild(node);
            return JSON.parse(node.textContent);
          },
          sourceData() {
            const node = document.getElementById('source-data');
            document.getElementsByTagName("BODY")[0].removeChild(node);
            return JSON.parse(node.textContent);
          },
          hasFolios() {
            return this.folioCount > 0;
          },
          hasMultipleFolios() {
            return this.folioCount > 1;
          },
          hasPrevious() {
            return this.folioIndex + 1 > 1;
          },
          hasNext() {
            return this.folioIndex + 1 < this.sourceData.folios.length;
          },
          folioCount() {
            return this.sourceData.no_folios;
          },
          folioImageId() {
            return this.sourceData.folios[this.folioIndex].pageImageId;
          },
          folioId() {
            return this.hasFolios
              ? this.sourceData.folios[this.folioIndex].pageId
              : null;
          },
          folioName() {
            return this.hasFolios
              ? this.sourceData.folios[this.folioIndex].pageName
              : null;
          },
          transcriptionId() {
            return this.hasFolios
              ? this.sourceData.folios[this.folioIndex].transcriptionId
              : null;
          },
          currentFolio() {
            const index = `${this.folioIndex + 1}/${this.folioCount}`;
            return `Folio ${this.folioName} (${index})`;
          },
          folioInfo() {
            return this.hasFolios ? this.currentFolio : 'No folios';
          },
          eventData() {
            return {
              pageId: this.folioId,
              transcriptionId: this.transcriptionId,
              zoomLevel: this.zoomLevel,
              imageId: this.folioImageId
            };
          },
        },
        methods: {
          incrementDivaId() {
            this.divaId += 1;
          },
          handleZoomIn() {
            // Keep track of the zoom level so it persists between page loads,
            // but there's no need to pass it to the viewer via the event.
            if (this.zoomLevel > 0) {
              this.zoomLevel = --this.zoomLevel;
              window.eventBus.$emit('zoomIn');
            }
          },
          handleZoomOut() {
            if (this.zoomLevel < 4) {
              this.zoomLevel = ++this.zoomLevel;
              window.eventBus.$emit('zoomOut');
            }
          },
          handleFolioPrevious() {
            if (this.hasPrevious) {
              this.folioIndex = --this.folioIndex;
              window.eventBus.$emit('renderFolio', this.eventData);
              this.incrementDivaId();
            }
          },
          handleFolioNext() {
            if (this.hasNext) {
              this.folioIndex = ++this.folioIndex;
              window.eventBus.$emit('renderFolio', this.eventData);
              this.incrementDivaId();
            }
          },
          handleFolioSelect(index) {
            if (this.folioIndex !== index) {
              this.folioIndex = index;
              window.eventBus.$emit('renderFolio', this.eventData);
              this.incrementDivaId();
              this.folioSelect = false;
            }
          },
          handleFlipView(split) {
            window.eventBus.$emit('flipView', this.eventData);
            // window.eventBus.$emit('renderFolio', this.eventData, false);
            // this.incrementDivaId();
            this.viewerMode = split;
            this.handleHelpPlacement = split == 'vertical-split' ? 'right' : 'top';
          },
          toggleInfoPanel() {
            this.showInfoPanel = this.showInfoPanel ? false : true;
          },
          changeRenderMode(mode) {
            this.renderMode = mode;
            this.softWrap = mode == 'basic' ? true : false;
            setTimeout(() => this.toggleTeiContainers(), 0);
          },
          toggleTextWrap() {
            if (this.renderMode == 'scholarly') {
              this.softWrap = this.softWrap ? false : true;
            }
          },
          formatCitation(template, output_format, format=this.format) {
            return this.citation.format(output_format, {
                format: format,
                template: template,
                lang: this.lang
              });
          },
          updateCitation(template, output_format) {
            this.formatted_citation = this.formatCitation(template, output_format);
            this.template = template;
          },
          showCopiedTooltip() {
            this.showCitePanel = false;
            this.showCopied = true;
            setTimeout(() => this.showCopied = false, 800);
          },
          downloadCitation(format) {
            const blob = new Blob([this.formatCitation(this.template, format, 'text')], {
              encoding: 'UTF-8',
              type: 'text/plain;charset=UTF-8'
            })
            const link = document.createElement('a');
            link.href = URL.createObjectURL(blob)
            link.download = `citation${this.file_extensions[format]}`
            link.click()
            URL.revokeObjectURL(link.href)
          },
          closeCitePanel() {
            this.showCitePanel = false;
          },
          toggleHelpTips() {
            let state = this.showHelp ? false : true;
            if(state) {
              this.$refs.optionsDropdown.show();
              setTimeout(() => this.showHelp = state, 80);
            } else {
              this.showHelp = state;
            }
          },
          fetchTranscription() {
            if (this.transcriptionId) {
              $('[data-toggle="tooltip"]').tooltip('dispose');
              this.loading = true;
              const that = this;
              fetch(`{% host_url 'api_endpoint:transcriptions-list' host 'data' %}${this.transcriptionId}/?format=json`)
                .then(response => response.json())
                .then(data => {
                  if (data.transcription != '') {
                    let tr_text = data.transcription.replace(/\n/g, '<lb/>');
                    const tei_block = `<TEI xmlns="http://www.tei-c.org/ns/1.0"><text><body>${tr_text}</body></text></TEI>`;
                    that.tei.makeHTML5(tei_block, function (data) {
                      that.loading = false;
                      that.renderedTranscription = data.outerHTML;
                      setTimeout(() => that.toggleTeiContainers(), 0);
                    });
                  } else {
                    this.loading = false;
                    that.renderedTranscription = null;
                  }
              });
            }
          },
          childrenAllHidden(container) {
            const all_children = $(container).children(':not(tei-lb)');
            const hidden_children = $(container).children(':not(tei-lb)').filter(function() {
              return $(this).css('display') == 'none';
            });
            let all_hidden = all_children.length === hidden_children.length ? true : false;
            return all_hidden
          },
          adjustTeiRendering() {
            // leaders
            let tei_width = Math.round(Math.max($('tei-text').innerWidth(), $('tei-body').innerWidth()));
            $('tei-metamark[function=leader]').each(function(index, el) {
              let sum = 0;
              let prev_array = [];
              let next_array = [];
              let prevSibs = $(this).prevUntil('tei-lb');
              let prevChild = $(this).prevUntil('*:has(tei-lb)');
              let nextSibs = $(this).nextUntil('tei-lb');
              let nextChild = $(this).nextUntil('*:has(tei-lb)');
              if (prevChild.length < prevSibs.length) {
                let prev_el = prevChild.length ? prevChild : this;
                prev_array = $.merge(prevChild, $(prev_el).prev().children().nextUntil('tei-lb'));
              } else {
                prev_array = prevSibs;
              }
              if (nextChild.length < nextSibs.length) {
                let next_el = nextChild.length ? nextChild : this;
                next_array = $.merge(nextChild, $(next_el).next().children().nextUntil('tei-lb'));
              } else {
                next_array = nextSibs;
              }
              const line_el = $.merge(prev_array, next_array)
              line_el.each(function(i, elt) { sum += $(this).width(); });
              let container_width = tei_width;
              if ($(this).parent().hasClass('ab-content')) {
                container_width = Math.round($(this).parent().innerWidth());
              }
              let target_width = container_width - sum - 15;
              target_width = target_width > 10 ? target_width : 10;
              $(this).width(target_width);
            });
            $('[data-toggle="tooltip"]').tooltip();
          },
          toggleTeiContainers() {
            const containerList = [
              { selector: 'tei-ab[type=column] div.ab-content', parent: true },
              { selector: 'tei-layout[columns]', parent: false },
              { selector: 'tei-note:not([type=marginal])', parent: false }
            ];
            const that = this;
            for (let i = 0, len = containerList.length; i < len; ++i) {
              $(containerList[i].selector).each(function() {
                let target = containerList[i].parent ? $(this).parent() : $(this);
                if (that.childrenAllHidden(this)) {
                  target.hide();
                } else {
                  target.show();
                }
              });
            }
            this.adjustTeiRendering();
          },
          windowResized() {
            setTimeout(() => this.adjustTeiRendering(), 0);
          }
        },
      });

    });
  </script>
{% endblock %}
