{% extends "dalme_public/layouts/__single_column.html" %}
{% load dalme_public_tags static hosts compress %}

{% block title %}{{ block.super }} &ndash; {{ title }}{% endblock %}

{% block styles %}
  {{ block.super }}
  {% compress css %}
    <link rel="stylesheet" href="{% static 'js/Diva-6.0.2/diva.css' %}" />
    <link rel="stylesheet" href="{% static 'css/TEI.css' %}" />
  {% endcompress %}
{% endblock %}

{% block header_extra %}
  {% include "dalme_public/includes/_breadcrumbs.html" %}
{% endblock %}

{% block main_column %}
  <div id="app" v-cloak>
  <div v-if="showHelp" v-on-clickaway="toggleHelpTips"></div>
  <div class="app inventory-toolbar">
    <nav>
      <ul class="u-flex">
        <li
          id="diva-1-zoom-out-button"
          class="zoom out nav_button"
          :class="{ inactive: zoomLevel <= divaMinZoom }"
          @click="handleZoomOut">
          <i class="fa fa-search-minus" aria-hidden="true"></i>
        </li>
        <li
          id="diva-1-zoom-in-button"
          class="zoom in nav_button"
          :class="{ inactive: zoomLevel >= divaMaxZoom }"
          @click="handleZoomIn">
          <i class="fa fa-search-plus" aria-hidden="true"></i>
        </li>
        <b-popover
          variant="dark"
          target="diva-1-zoom-out-button"
          placement="bottomright"
          :show="showHelp"
          triggers="manual">
          Image zoom.
        </b-popover>
        <li
          id="info_panel_button"
          class="nav_button"
          @click="toggleInfoPanel"
          v-bind:class="{ active: showInfoPanel }">
          <i class="fas fa-info-circle"></i>
        </li>
        <b-popover
          variant="dark"
          target="info_panel_button"
          placement="top"
          :show="showHelp"
          triggers="manual">
          Record information.
        </b-popover>

        <li class="border-0 title overflow-hidden">
          <div class="nav-record-title">{{ data.name }}</div>
        </li>

        <li
          class="pagination previous left u-flex nav_button"
          v-bind:class="[{ disabled: !hasMultipleFolios }, { disabled: !hasPrevious }]"
          @click="handleFolioPrevious">
            <i class="fa fa-caret-left mt-1" aria-hidden="true"></i>
        </li>
        <b-dropdown
          id="folio_menu"
          class="p-0"
          right
          no-caret
          :disabled="!hasMultipleFolios"
          menu-class="dropdown-menu p-0 pt-3 pb-3"
          toggle-class="nav_button">
            <template #button-content>
              <span>${folioInfo}</span>
              <i class="fa fa-caret-down fa-sm ml-2 mt-1" v-if="hasMultipleFolios"></i>
            </template>
            <template v-if="hasMultipleFolios" v-for="(folio, index) in sourceData.folios">
              <b-dropdown-item v-if="index === folioIndex" :key="index" class="inactive dropdown-item">
                <span>Folio ${sourceData.folios[index].pageName} (${index + 1}/${folioCount})</span>
              </b-dropdown-item>
              <b-dropdown-item v-else :key="index" @click="handleFolioSelect(index)" class="dropdown-item">
                <span>Folio ${sourceData.folios[index].pageName} (${index + 1}/${folioCount})</span>
              </b-dropdown-item>
            </template>
        </b-dropdown>
        <b-popover
          variant="dark"
          target="folio_menu"
          placement="topleft"
          :show="showHelp"
          triggers="manual">
          Folio navigation.
        </b-popover>
        <li
          class="pagination next u-flex nav_button"
          v-bind:class="[{ disabled: !hasMultipleFolios }, { disabled: !hasNext }]"
          @click="handleFolioNext">
            <i class="fa fa-caret-right mt-1" aria-hidden="true"></i>
        </li>
        <div id="cite-container">
          <li
            id="cite-button"
            class="nav_button"
            v-bind:class="{ active: showCitePanel }"
            @click="showCitePanel = !showCitePanel">
            <i class="fas fa-book"></i>
          </li>
          <b-popover
            variant="dark"
            target="cite-button"
            placement="bottom"
            :show="showCopied"
            triggers="manual">
            Copied!
          </b-popover>
          <b-popover
            variant="dark"
            target="cite-button"
            placement="topleft"
            :show="showHelp"
            triggers="manual">
            Citation panel.
          </b-popover>
          {% include "dalme_public/includes/_cite_popup.html" %}
        </div>
        <li
          id="help_toggle"
          class="nav_button"
          v-bind:class="{ active: showHelp }"
          @click="toggleHelpTips">
          <i class="fas fa-question-circle"></i>
        </li>
        <b-dropdown
          id="viewer_menu"
          ref="optionsDropdown"
          class="p-0"
          right
          no-caret
          menu-class="dropdown-menu p-0 pt-3 pb-3"
          toggle-class="hamburger nav_button">
          <template #button-content>
            <i class="fa fa-bars"></i>
          </template>
          <b-dropdown-item
            id="viewer_flip_menu"
            class="dropdown-item"
            href="#"
            @click="handleFlipView('vertical-split')">
            <i class="fa-fw" v-bind:class="{ 'far fa-square': viewerMode == 'horizontal-split', 'fas fa-check-square': viewerMode == 'vertical-split' }"></i> Vertical split
          </b-dropdown-item>
          <b-popover
            boundary="window"
            variant="dark"
            target="viewer_flip_menu"
            placement="left"
            :show="showHelp"
            triggers="manual">
            Change how the screen is split.
          </b-popover>
          <b-dropdown-item class="dropdown-item" href="#" @click="handleFlipView('horizontal-split')">
            <i class="fa-fw" v-bind:class="{ 'far fa-square': viewerMode == 'vertical-split', 'fas fa-check-square': viewerMode == 'horizontal-split' }"></i> Horizontal split
          </b-dropdown-item>
          <b-dropdown-divider></b-dropdown-divider>
          <b-dropdown-item id="notes_menu" class="dropdown-item" href="#" @click="showMarginalNotes = !showMarginalNotes" v-bind:class="{ disabled: !hasMarginalNotes }">
            <i class="fa-fw" v-bind:class="{ 'far fa-square': !showMarginalNotes, 'fas fa-check-square': showMarginalNotes }"></i> Marginal notes
          </b-dropdown-item>
          <b-popover
            boundary="window"
            variant="dark"
            target="notes_menu"
            placement="lefttop"
            :show="showHelp"
            triggers="manual">
            Show or hide the marginal notes bar.
          </b-popover>
          <b-dropdown-item id="text_wrap_menu" class="dropdown-item" href="#" @click="toggleTextWrap" v-bind:class="{ disabled: renderMode == 'basic' }">
            <i class="fa-fw" v-bind:class="{ 'far fa-square': !softWrap, 'fas fa-check-square': softWrap }"></i> Wrap long lines
          </b-dropdown-item>
          <b-popover
            boundary="window"
            variant="dark"
            target="text_wrap_menu"
            placement="lefttop"
            :show="showHelp"
            triggers="manual">
            Long lines are soft-wrapped.
          </b-popover>
          <b-dropdown-item id="linebreak_menu" @click="showLinebreaks = !showLinebreaks" class="dropdown-item" href="#">
            <i class="fa-fw" v-bind:class="{ 'far fa-square': !showLinebreaks, 'fas fa-check-square': showLinebreaks }"></i> Line-break symbols
          </b-dropdown-item>
          <b-popover
            boundary="window"
            variant="dark"
            target="linebreak_menu"
            placement="left"
            :show="showHelp"
            triggers="manual">
            Show or hide new line symbols.
          </b-popover>
          <b-dropdown-divider></b-dropdown-divider>
          <b-dropdown-item class="dropdown-item" href="#" @click="changeRenderMode('basic')">
            <i class="fa-fw" v-bind:class="{ 'far fa-square': renderMode == 'scholarly', 'fas fa-check-square': renderMode == 'basic' }"></i> Basic mode
          </b-dropdown-item>
          <b-dropdown-item
            id="viewer_mode_menu"
            class="dropdown-item"
            href="#"
            @click="changeRenderMode('scholarly')">
            <i class="fa-fw" v-bind:class="{ 'fas fa-check-square': renderMode == 'scholarly', 'far fa-square': renderMode == 'basic' }"></i> Scholarly mode
          </b-dropdown-item>
          <b-popover
            boundary="window"
            variant="dark"
            target="viewer_mode_menu"
            placement="right"
            :show="showHelp"
            triggers="manual">
            <b>Basic Mode:</b></br>
            Rendering emphasises readability. Lines are...</br>
            <b>Scholarly Mode:</b></br>
            Rendering emphasises accuracy. Editorial marks...</br>
          </b-popover>
        </b-dropdown>
        <b-popover
          variant="dark"
          target="viewer_menu__BV_toggle_"
          placement="top"
          :show="showHelp"
          triggers="manual">
          Options.
        </b-popover>
      </ul>
    </nav>
  </div>
  <div class="folios u-flex viewer" :class="viewerMode">
    <section class="folio">
      <div class="record-info" v-if="showInfoPanel" v-on-clickaway="toggleInfoPanel">
        <div class="description">
          {% if data.description %}
            {{ data.description }}
          {% else %}
            No description currently available.
          {% endif %}
        </div>
        <ul class="u-flex u-type-sans">
          <li><span>Archival location:</span> {{ data.short_name }}</li>
          <li><span>Date(s):</span> {{ data.date }}</li>
          {% with data.folios|length as count %}
            <li><span>Extent:</span> {{ count }} Folio{% if count > 1 %}s{% endif %}</li>
          {% endwith %}
        </ul>
        <div class="u-type-sans mt-2 credits">
          {{ data.get_credit_line.credit_line }}
        </div>
      </div>
      <div id="diva_viewer">
        <beat-loader v-show="divaLoading" color="#aaa"></beat-loader>
        <div v-if="showImage && !folioImageId" class="diva-no-image"></div>
        <div v-if="!showImage" class="diva-no-right">
          <div>Copyright restrictions prevent us from displaying this image.</div>
        </div>
      </div>
      <div id="folio-rights" class="folio-rights u-flex" v-if="showImage && folioImageId && showNotice && rightsNotice">
        <div>${rightsNotice}</div>
      </div>
    </section>
    <div id="resize-handle" class="resize-handle"></div>
    <b-popover
      boundary="window"
      variant="dark"
      target="resize-handle"
      :placement="handleHelpPlacement"
      :show="showHelp"
      triggers="manual">
      Drag to resize viewer panels.
    </b-popover>
    <section
      id="transcription"
      class="transcription"
      :class="[renderMode, { 'soft-wrap': softWrap }, { 'show-newlines': showLinebreaks }, { 'no-scroll-bar': hasMarginalNotes && showMarginalNotes}]"
      :style="{ height: transcriptionHeight + 'px' }">
      <beat-loader v-show="loading" color="#aaa"></beat-loader>
      <div class="empty-folio-warning" v-if="!transcriptionId || !renderedTranscription">This folio has not been transcribed.</div>
      <div v-if="transcriptionId" v-html="renderedTranscription" id="tei-container"></div>
    </section>
    <div
      id="notebar"
      :style= "[viewerMode == 'horizontal-split' ? { height: transcriptionHeight + 'px', top: divaHeight + headerHeight + 47 + 'px' } : { height: transcriptionHeight + 'px' }]"
      v-show="hasMarginalNotes && showMarginalNotes">
      <div class="notes_container"></div>
    </div>
  </div>
</div>
{% endblock %}

{% block js_foot %}
  {{ block.super }}
  {% compress js %}
    <script type="text/javascript" src="{% static 'js/CETEI.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dalme_app/dalme_util.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ResizeSensor.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dalme_common/cetei_functions.js' %}"></script>
  {% endcompress %}
  <script src="https://cdn.jsdelivr.net/npm/diva.js@6.0.2/build/diva.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-clickaway@2.2.2/dist/vue-clickaway.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-resizable-dom@0.35.0/dist/jquery-resizable.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/citation-js@0.4.10/build/citation.min.js" integrity="sha256-vqUHuIyFzuc0osFFLRQk5hhFPLGHSnc4jvAtp9lZYvo=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue-spinner@1.0.4/dist/vue-spinner.min.js"></script>

  {{ data|json_script:"source-data" }}
  {% host_url 'dashboard' host 'db' as db_url %}
  {% host_url 'api_endpoint' host 'data' as api_url %}

  {% get_citation_data as citation %}
  {{ citation.2 | safe }}
  {{ citation | json_script:"citation_data" }}

  <script>
    $(document).ready(function() {
      Vue.component('beat-loader', VueSpinner.BeatLoader);
      const app = new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        directives: {
          onClickaway: window.VueClickaway.directive,
        },
        mounted() {
          this.windowHeight = $(window).height();
          this.headerHeight = $('header').height();
          this.divaHeight = $('.folio').height();
          this.footerHeight = $('#footer-app').height();
          $('main.viewer').css({ height: `${Math.round(this.windowHeight - this.headerHeight - this.footerHeight)}px`});
          this.renderFolio();
          this.fetchTranscription();
          this.updateURL();
        },
        created() {
          window.addEventListener("resize", this.windowResized);
          this.tei = new CETEI();
          this.tei.addBehaviors(dalmeTeiBehaviours);
          const Cite = require('citation-js');
          this.styles = this.citationData[0];
          this.config = Cite.plugins.config.get('@csl');
          this.loadTemplates().then(() => {
            this.citation = new Cite(this.citationData[1]);
            setTimeout(() => this.template = 'chicago_16', 0);
          })
        },
        data: {
          api_endpoint: '{{ api_url }}',
          db_endpoint: '{{ db_url }}',
          showHelp: false,
          showInfoPanel: true,
          showCitePanel: false,
          showCopied: false,
          popoverPlacement: 'bottom',
          format: 'html',
          template: 'apa',
          output_format: 'bibliography',
          lang: 'en-US',
          citation: null,
          config: null,
          styles: null,
          handleHelpPlacement: '{{ viewer_mode }}' == 'vertical-split' ? 'left' : 'bottom',
          renderMode: '{{ render_mode }}',
          viewerMode: '{{ viewer_mode }}',
          softWrap: '{{ render_mode }}' == 'basic' ? true : false,
          showLinebreaks: false,
          folioSelect: false,
          date: 0,
          folioIndex: {{ initial_folio_index }},
          loading: false,
          renderedTranscription: null,
          tei: null,
          hasMarginalNotes: false,
          hasColumns: false,
          hasLeaders: false,
          hasBraces: false,
          showMarginalNotes: true,
          showImage: false,
          showNotice: false,
          rightsNotice: null,
          divaLoading: true,
          zoomLevel: 2,
          divaMaxZoom: 4,
          divaMinZoom: 0,
          divaHeight: 100,
          footerHeight: 54,
          windowHeight: null,
          headerHeight: 93,
        },
        watch: {
          folioIndex: "switchFolio",
          zoomLevel: "zoomViewer"
        },
        computed: {
          citationData() {
            const node = document.getElementById('citation_data');
            document.getElementsByTagName("BODY")[0].removeChild(node);
            return JSON.parse(node.textContent);
          },
          formatted_citation() {
            return this.citation.format(this.output_format, {
              format: this.format,
              template: this.template,
              lang: this.lang
            });
          },
          sourceData() {
            const node = document.getElementById('source-data');
            document.getElementsByTagName("BODY")[0].removeChild(node);
            return JSON.parse(node.textContent);
          },
          hasFolios() {
            return this.folioCount > 0;
          },
          hasMultipleFolios() {
            return this.folioCount > 1;
          },
          hasPrevious() {
            return this.folioIndex + 1 > 1;
          },
          hasNext() {
            return this.folioIndex + 1 < this.sourceData.folios.length;
          },
          folioCount() {
            return this.sourceData.no_folios;
          },
          folioImageId() {
            return this.sourceData.folios[this.folioIndex].pageImageId;
          },
          folioId() {
            return this.hasFolios
              ? this.sourceData.folios[this.folioIndex].pageId
              : null;
          },
          folioName() {
            return this.hasFolios
              ? this.sourceData.folios[this.folioIndex].pageName
              : null;
          },
          transcriptionId() {
            return this.hasFolios
              ? this.sourceData.folios[this.folioIndex].transcriptionId
              : null;
          },
          currentFolio() {
            const index = `${this.folioIndex + 1}/${this.folioCount}`;
            return `Folio ${this.folioName} (${index})`;
          },
          folioInfo() {
            return this.hasFolios ? this.currentFolio : 'No folios';
          },
          transcriptionHeight() {
            if (this.viewerMode == 'vertical-split') {
              return Math.round(this.windowHeight - this.headerHeight - this.footerHeight - 42);
            } else {
              return Math.round(this.windowHeight - this.headerHeight - this.divaHeight - this.footerHeight - 45);
            }
          },
        },
        methods: {
          handleFolioPrevious() {
            if (this.hasPrevious) --this.folioIndex;
          },
          handleFolioNext() {
            if (this.hasNext) ++this.folioIndex;
          },
          handleFolioSelect(index) {
            if (this.folioIndex !== index) {
              this.folioIndex = index;
              this.folioSelect = false;
            }
          },
          handleZoomIn() {
            if (this.zoomLevel + 1 <= this.divaMaxZoom) ++this.zoomLevel;
          },
          handleZoomOut() {
            if (this.zoomLevel - 1 >= this.divaMinZoom) --this.zoomLevel;
          },
          zoomViewer() {
            window.folio.setZoomLevel(this.zoomLevel);
          },
          switchFolio() {
            this.divaLoading = true;
            this.loading = true;
            this.resetTeiRendering();
            this.fetchTranscription();
            this.renderFolio();
            this.updateURL();
          },
          renderFolio() {
            const that = this;
            $.get(`${this.api_endpoint}/pages/${this.folioId}/get_rights/`, function (data) {
              if (data.rights) {
                that.showImage = data.rights.hasOwnProperty('show_image') ? data.rights.show_image : false;
                that.showNotice = data.rights.display_notice;
                that.rightsNotice = data.rights.notice;
                if (that.showImage && that.folioImageId) {
                  that.renderImage();
                } else {
                  that.divaLoading = false;
                }
              }
            }, 'json').then(() => that.setResizable());
          },
          renderImage() {
            if (!window.folio) {
              window.folio = new Diva('diva_viewer', {
                objectData: `${this.db_endpoint}/pages/${this.folioId}/manifest/`,
                enableAutoTitle: false,
                enableFullscreen: false,
                enableKeyScroll: false,
                blockMobileMove: false,
                enableSpaceScroll: false,
                enableGotoPage: false,
                enableGridIcon: false,
                enableGridControls: false,
                enableImageTitles: false,
                enableToolbar: false,
                enableAutoWidth: true,
                adaptivePadding: 0,
                fixedPadding: 0,
                zoomLevel: 2,
                tileHeight: 1000, // default = 256
                tileWidth: 1000 // default = 256
              });
              Diva.Events.subscribe('ViewerDidLoad', () => {
                app.updateViewer();
                this.divaMaxZoom = window.folio.getMaxZoomLevel();
                this.divaLoading = false;
              });
            } else {
              this.zoomLevel = 2;
              window.folio.changeObject(`${this.db_endpoint}/pages/${this.folioId}/manifest/`);
            }
          },
          setResizable(flipView=false) {
            const node = $('.folio');
            node.resizableSafe('destroy');
            node.resizableSafe({
                handleSelector: '#resize-handle',
                resizeHeight: this.viewerMode == 'horizontal-split' ? true : false,
                resizeWidth: this.viewerMode == 'vertical-split' ? true : false,
                onDrag: function(e, el, newWidth, newHeight, opt) { app.updateViewer(newHeight); },
            });
            node.css({ maxHeight: this.viewerMode == 'horizontal-split' ?
              `${Math.round(this.windowHeight - this.headerHeight - this.footerHeight - 51)}px` :
              'unset' });
            if (flipView) node.css({ height: '', width: '' });
          },
          handleFlipView(split) {
            this.viewerMode = split;
            this.setResizable(true);
            this.handleHelpPlacement = split == 'vertical-split' ? 'left' : 'bottom';
            this.updateViewer();
            $('section.transcription').scrollTop(0);
            update_session({ 'public-viewer-mode': split });
          },
          updateViewer(divaHeight=false) {
            if (divaHeight) this.divaHeight = divaHeight;
            setTimeout(() => window.dispatchEvent(new Event('resize')), 600);
          },
          fetchTranscription() {
            if (this.transcriptionId) {
              const that = this;
              fetch(`{% host_url 'api_endpoint:transcriptions-list' host 'data' %}${this.transcriptionId}/?format=json`)
                .then(response => response.json())
                .then(data => {
                  if (data.transcription != '') {
                    let tr_text = data.transcription.replace(/\n/g, '<lb/>');
                    const tei_block = `<TEI xmlns="http://www.tei-c.org/ns/1.0"><text><body>${tr_text}</body></text></TEI>`;
                    that.tei.makeHTML5(tei_block, function (data) {
                      that.loading = false;
                      that.renderedTranscription = data.outerHTML;
                      setTimeout(() => that.setupTeiRendering(), 0);
                    });
                  } else {
                    that.loading = false;
                    that.renderedTranscription = null;
                  }
              });
            }
          },
          async loadTemplates() {
            const that = this;
            await Promise.all(this.styles.map(style => {
              if (style.file) {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                  if (xhttp.readyState == 4 && xhttp.status == 200) {
                    let xml_data = new XMLSerializer().serializeToString(xhttp.responseXML);
                    that.config.templates.add(style.name, xml_data);
                  }
                };
                xhttp.open("GET", `/static/citation_styles/${style.file}`, true);
                xhttp.send();
              }
            }));
          },
          downloadCitation(format) {
            const blob = new Blob([this.formatCitation(this.template, format, 'text')], {
              encoding: 'UTF-8',
              type: 'text/plain;charset=UTF-8'
            })
            const link = document.createElement('a');
            link.href = URL.createObjectURL(blob)
            link.download = format == 'bibtex' ? 'citation.bib' : 'citation.ris';
            link.click()
            URL.revokeObjectURL(link.href)
          },
          setupTeiRendering() {
            if ($('tei-seg[type=brace]').length) {
              this.hasBraces = true;
              this.formatBraces();
            }
            if ($('tei-note[type=marginal]').length) {
              this.hasMarginalNotes = true;
              this.formatMarginalNotes();
            }
            if ($('tei-ref[target]').length) {
              this.formatRenvois();
            }
            if ($('tei-ab[type=column]').length) {
              this.hasColumns = true;
              this.formatColumns();
            }
            if ($('tei-metamark[function=leader]').length) {
              this.hasLeaders = true;
              this.formatLeaders();
            }
            $('[data-toggle="tooltip"]').tooltip();
            setTimeout(() => {
              new ResizeSensor($('tei-text'), function(e) { app.updateTeiRendering(e) });
              $('section.transcription').scrollTop(0);
            }, 10);
          },
          updateTeiRendering(e) {
            if (this.hasLeaders) {
              this.formatLeaders();
            }
            if (this.hasMarginalNotes) {
              let prev_height = $('.notes_container').height();
              $('.notes_container').height(e.height);
              $('tei-note[type=marginal]').each(function() {
                let new_top = (parseInt($(this).css('top'), 10) / prev_height) * e.height;
                $(this).css({ top: `${Math.round(new_top)}px`});
              });
            }
          },
          resetTeiRendering() {
            $('[data-toggle="tooltip"]').tooltip('dispose');
            if (this.hasMarginalNotes) {
              this.hasMarginalNotes = false;
              $('.notes_container').empty();
              $('#transcription').off('scroll');
              $('#notebar').off('scroll wheel');
            }
            if (this.hasColumns) {
              this.hasColumns = false;
              $(document).off('click', '.ab-column-toggler')
            }
            this.hasBraces = false;
            this.hasLeaders = false;
          },
          toggleTeiContainers() {
            const containerList = [
              { selector: 'tei-ab[type=column] div.ab-content', parent: true },
              { selector: 'tei-layout[columns]', parent: false },
              { selector: 'tei-note:not([type])', parent: false }
            ];
            const that = this;
            for (let i = 0, len = containerList.length; i < len; ++i) {
              $(containerList[i].selector).each(function() {
                const target = containerList[i].parent ? $(this).parent() : $(this);
                const all_children = $(this).children(':not(tei-lb)');
                const hidden_children = $(this).children(':not(tei-lb)').filter(function() {
                  return $(this).css('display') == 'none';
                });
                all_children.length === hidden_children.length ? target.hide() : target.show();
              });
            }
          },
          changeRenderMode(mode) {
            this.renderMode = mode;
            update_session({ 'public-render-mode': mode });
            this.softWrap = mode == 'basic' ? true : false;
            setTimeout(() => this.toggleTeiContainers(), 0);
          },
          toggleTextWrap() {
            if (this.renderMode == 'scholarly') {
              this.softWrap = this.softWrap ? false : true;
            }
          },
          toggleHelpTips() {
            let state = this.showHelp ? false : true;
            if(state) {
              this.$refs.optionsDropdown.show();
              setTimeout(() => this.showHelp = state, 80);
            } else {
              this.showHelp = state;
            }
          },
          showCopiedTooltip() {
            this.showCitePanel = false;
            this.showCopied = true;
            setTimeout(() => this.showCopied = false, 800);
          },
          windowResized() {
            this.windowHeight = $(window).height();
            this.divaHeight = $('.folio').height();
            this.headerHeight = $('header').height();
            this.footerHeight = $('#footer-app').height();
            $('main.viewer').css({ height: `${Math.round(this.windowHeight - this.headerHeight - this.footerHeight)}px`});
          },
          closeCitePanel() {
            this.showCitePanel = false;
          },
          toggleInfoPanel() {
            this.showInfoPanel = this.showInfoPanel ? false : true;
          },
          updateURL() {
            let path_tokens = location.pathname.split('/').filter(Boolean);
            if (!/[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}/.test(path_tokens[path_tokens.length - 1])) {
              path_tokens.pop();
            }
            const url = `${location.protocol}//${location.host}/${path_tokens.join('/')}/${this.sourceData.folios[this.folioIndex].pageName}/`;
            window.history.replaceState(null, null, url);
          },
          formatBraces() {
            $('tei-seg[type=brace]').each(function(index, el) {
              let target = $(this).attr('target');
              if (target) {
                if (target.length > 1 && target.startsWith('#')) target = target.substring(1);
                $(this).append($(`tei-note#${target}`).remove());
              }
            });
          },
          formatMarginalNotes() {
            $('tei-note[type=marginal]').each(function(index, el) {
              let margin_top = Math.round($(this).position().top);
              let note = $(this).remove();
              $(note).css({ top: `${margin_top}px`});
              $('.notes_container').append(note);
            });
            $('.notes_container').height($('tei-text').height());
            $('#transcription').on('scroll', function (e) {
              $('#notebar').scrollTop($(this).scrollTop());
            });
            $('#notebar').on('scroll wheel', function(e) {
              e.preventDefault();
              e.stopPropagation();
              return false;
            });
          },
          formatColumns() {
            $(document).on('click', '.ab-column-toggler', (e) => {
                const parent = e.target.closest('tei-ab');
                parent.classList.toggle('closed');
            });
          },
          formatLeaders() {
            let container_width = Math.round(Math.max($('tei-text').innerWidth(), $('tei-body').innerWidth()));
            $('tei-metamark[function=leader]').each(function(index, el) {
              let sum = 0;
              let prev_array = [];
              let next_array = [];
              let prevSibs = $(this).prevUntil('tei-lb');
              let prevChild = $(this).prevUntil('*:has(tei-lb)');
              let nextSibs = $(this).nextUntil('tei-lb');
              let nextChild = $(this).nextUntil('*:has(tei-lb)');
              if (prevChild.length < prevSibs.length) {
                let prev_el = prevChild.length ? prevChild : this;
                prev_array = $.merge(prevChild, $(prev_el).prev().children().nextUntil('tei-lb'));
              } else {
                prev_array = prevSibs;
              }
              if (nextChild.length < nextSibs.length) {
                let next_el = nextChild.length ? nextChild : this;
                next_array = $.merge(nextChild, $(next_el).next().children().nextUntil('tei-lb'));
              } else {
                next_array = nextSibs;
              }
              const line_el = $.merge(prev_array, next_array)
              line_el.each(function(i, elt) { sum += $(this).innerWidth(); });
              const container_column = $(this).parents('.ab-content');
              if (container_column.length) {
                let column_width = container_column.attr('width');
                if (typeof column_width === typeof undefined || column_width === false) {
                  container_column.attr('width', container_column.innerWidth());
                }
                container_width = container_column.attr('width');
              }
              let target_width = container_width - sum - 15;
              target_width = target_width > 10 ? target_width : 10;
              $(this).width(target_width);
            });
          },
          formatRenvois() {
            $('tei-ref[target]').each( function(index, el) {
              let note_id = $(this).attr('target');
              if (note_id.length > 1 && note_id.startsWith('#')) note_id = note_id.substring(1);
              note = $(`tei-note[id='${note_id}']`)
              if (note.length) {
                $(this).attr({
                  title: note.html(),
                  'data-toggle': 'tooltip',
                  'data-html': true,
                  'data-template': '<div class="tooltip note" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>',
                })
              }
            })
          }
        }
      });
    });
  </script>
{% endblock %}
