{% extends "dalme_public/layouts/__left_side_column.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block title %}{{ page.title_switch }} &mdash; {{ block.super }}{% endblock %}

{% block header_extra %}
  {% include "dalme_public/includes/_simple_header.html" %}
{% endblock %}

{% block left_side_column %}
  {% include "dalme_public/includes/_at_a_glance.html" %}
  {% include "dalme_public/includes/_features_nav.html" %}
{% endblock %}

{% block main_column %}
  <!-- TODO: main image block with its own template -->
  {% if page.main_image %}
    <div class="main-image u-flex">
      {% image page.main_image fill-1000x330 %}
      {% if page.main_image.caption %}
        <p class="caption">{{ page.main_image.caption }}</p>
      {% endif %}
    </div>
  {% endif %}

  <div class="content u-flex">
    <section>
      <nav class="browse">
        <div class="u-button">
          <a href="{% pageurl page %}inventories/?set={{ page.pk }}">Browse</a>
        </div>
      </nav>
      {% for block in page.body %}
        {% if forloop.counter0 == 0 and block.block_type == 'main_image' %}
        {% else %}
          <div class="block-{{ block.block_type }}">
            {% include_block block %}
          </div>
        {% endif %}
      {% endfor %}
    </section>
  </div>
{% endblock %}
