{% extends "dalme_public/layouts/__left_side_column.html" %}

{% block title %}Resource List &mdash; {{ block.super }}{% endblock %}

{% block left_side_column %}
  {% include "dalme_public/includes/_filters.html" %}
{% endblock %}

{% block main_column %}
  {% if page_obj %}
    {% include "dalme_public/includes/_sources.html" %}
    {% include "dalme_public/includes/_pagination.html" %}
  {% else %}
    <p><strong>No resources found.</strong></p>
  {% endif %}
{% endblock %}

{% block js_foot %}
  {{ block.super }}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script type="text/javascript">
    $(function() {
      $('form.filter-form').submit(function() {
        $.each($(this).find('input,select'), function(i, field) {
          if (!field.value) {
            $(field).prop('disabled', true);
          }
        });
        return true;
      });
    });
  </script>
{% endblock %}
