{% extends "dalme_public/layouts/__left_side_column.html" %}
{% load static %}

{% block styles %}
  {{ block.super }}
  <link href="{% static 'css/diva.css' %}" rel="stylesheet">
  <link href="{% static 'css/TEI.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}{{ source.name }}{% endblock %}

{% block header %}
  {% with source.name as header_text %}
    {% include "dalme_public/includes/_source_header.html" %}
  {% endwith %}
{% endblock %}

{% block left_side_column %}
  {% include "dalme_public/includes/_source_list_nav.html" %}
  {% include "dalme_public/includes/_source_metadata.html" %}
{% endblock %}

{% block main_column %}
  {% include "dalme_public/includes/_source_related.html" %}
  <div class="viewers-container u-flex">
    {% include "dalme_public/includes/_source_canvas.html" %}
    {% include "dalme_public/includes/_source_transcription.html" %}
  </div>
{% endblock %}

{% block js_foot %}
  {{ block.super }}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'js/diva.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/CETEI.js' %}"></script>
  <script type="text/javascript">
    // TODO: This is duped from dalme_editor.js.
    // We need to rethink the entire JS situation.
    function getTitle(e, tag) {
      if (e.hasAttribute("unit") && e.hasAttribute("quantity")) {
        var quantity = e.getAttribute("quantity");
        var unit = e.getAttribute("unit");
        var extent = 'extent ' + quantity + unit;
      } else if (e.hasAttribute("extent")) {
        var extent = 'extent ' + e.getAttribute("extent");
      };
      if (e.hasAttribute("reason")) {
        var reason = e.getAttribute("reason")
      };
      if (e.hasAttribute("type")) {
        var type = e.getAttribute("type")
      };
      if (e.hasAttribute("lemma")) {
        var lemma = '"' + e.getAttribute("lemma") + '"'
      };
      if (e.hasAttribute("resp")) {
        var resp = ' by ' + e.getAttribute("resp")
      };
      if (tag == 'word' && type && lemma) {
        var title = type + ': ' + lemma;
      } else {
        var title = tag;
        if (extent) {
          title = title + ': ' + extent;
          if (reason) { title = title + ', ' + reason; };
        } else if (reason) {
          title = title + ': ' + reason;
        } else if (type) {
          title = title + ': ' + type;
        } else if (resp) {
          title = title + resp;
        }
      };
      return title;
    };
    var tei = new CETEI();
    tei.addBehaviors({
      'tei': {
        'gap': function(e) {
          e.setAttribute("title", getTitle(e, 'gap'));
          e.setAttribute("data-toggle", "tooltip");
        }, //@reason, @unit, @quantity, @extent
        'space': function(e) {
          e.setAttribute("title", getTitle(e, 'space'));
          e.setAttribute("data-toggle", "tooltip");
        }, //@unit, @quantity, @extent
        'unclear': function(e) {
          e.setAttribute("title", getTitle(e, 'unclear'));
          e.setAttribute("data-toggle", "tooltip");
        }, //@reason
        'supplied': function(e) {
          e.setAttribute("title", getTitle(e, 'supplied'));
          e.setAttribute("data-toggle", "tooltip");
        }, //@reason
        'add': function(e) {
          e.setAttribute("title", getTitle(e, 'addition'));
          e.setAttribute("data-toggle", "tooltip");
        }, //@place
        'abbr': function(e) {
          e.setAttribute("title", getTitle(e, 'abbreviation'));
          e.setAttribute("data-toggle", "tooltip");
        }, //@type
        'w': function(e) {
          e.setAttribute("title", getTitle(e, 'word'));
          e.setAttribute("data-toggle", "tooltip");
        }, //@type, @lemma
        'quote': function(e) {
          e.setAttribute("title", getTitle(e, 'quote'));
          e.setAttribute("data-toggle", "tooltip");
        }, //@resp
      }
    });
    var transcriptionId = '{{ transcription_id|escapejs }}';
    if (transcriptionId == 'None') {
      $('#tei-transcription').html(
        '<div class="renderer-warning"><strong>This folio/page has not been transcribed.</strong></div>'
      ).addClass('empty');
    } else {
      $.get(`/api/transcriptions/${transcriptionId}?format=json`, function(data) {
        var tr_text = data.transcription;
        var tei_block = `<TEI xmlns="http://www.tei-c.org/ns/1.0"><text><body>${tr_text}</body></text></TEI>`;
        tei.makeHTML5(tei_block, function(text) {
          $('#tei-transcription').addClass("justify-content-left").html(text);
        });
        $('#tei-transcription').append(
          `<div class='tei-author'>Transcribed by ${data.author}</div>`
        );
      }, 'json');
    };
  </script>
  <script>
    var pageId = '{{ page_id|safe }}';
    if (pageId === 'False') {
      var warning = 'There is no image associated with this folio/page.';
      var node = document.getElementById('source-canvas')
      node.innerHTML = `<div class="renderer-warning"><strong>${warning}</strong></div>`;
    } else {
      new Diva('diva_viewer', {
        objectData: `/pages/${pageId}/manifest`,
        enableAutoTitle: false,
        enableFullscreen: false,
        enableKeyScroll: false,
        blockMobileMove: false,
        enableSpaceScroll: false,
        enableGotoPage: false,
        enableGridIcon: false,
        enableGridControls: false,
        enableImageTitles: false,
        enableToolbar: true,
        tileHeight: 1000,
        tileWidth: 1000,
        zoomLevel: 2,
      });
    }
  </script>
{% endblock %}
