{% extends "web/layouts/left_side_column.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block title %}{{ block.super }} &ndash; {{ page.title_switch }}{% endblock %}

{% block header_extra %}
  {% include "web/includes/simple_header.html" %}
{% endblock %}

{% block left_side_column %}
  {% include "web/includes/features_back.html" %}
  {% if page.citable %}
    <div id="cite-container" class="mt-5" v-cloak>
      {% include "bibliography/cite_menu.html" %}
      {% include "bibliography/cite_popup.html" %}
    </div>
  {% endif %}
  {% include "web/includes/record_detail.html" %}
  {% include "web/includes/side_features_nav.html" %}
{% endblock %}

{% block main_column %}
  <div class="feature metadata u-flex">
    {% if page.go_live_at %}
      <span>{{ page.go_live_at|date:"j F Y" }}</span>
    {% else %}
      <span>{% now "j F Y" %}</span>
    {% endif %}
    <span>by {% if page.byline_url %}<a href="{{ settings.web.Settings.team_profiles_url }}{{ page.byline_url }}">{% endif %}{{ page.byline }}{% if page.byline_url %}</a>{% endif %}</span>
  </div>

  <div class="content">
    {% include_block page.body %}
  </div>
{% endblock %}
