body.home section.featured {
  align-items: start;
  flex-direction: column;
  margin: 0 auto;
}
body.home section.featured h4 {
  text-transform: none;
}
body.home section.featured > div:first-child {
  background: transparent;
  flex-direction: column;
}
body.home section.featured img {
  flex-shrink: 0;
  height: auto;
}

.monthly {
  box-shadow: 0 0 10px #7b7b7b;
  background: #000;
  flex-direction: column;
  height: 230px;
}
.monthly:hover {
  box-shadow: 0 0 20px #7b7b7b;
}
.monthly > div {
  background: #fff;
  flex-direction: column;
}
.monthly h3,
.monthly h4 {
  margin: 0 1.5rem;
}
.monthly h3 {
  color: #000;
  font-weight: 500;
  font-size: 1.4rem;
  margin-top: 1rem;
  font-family: "Lora", "Times New Roman", serif;
  font-style: italic;
}
.monthly h4 {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}
.monthly .rich-text {
  height: 100%;
}
.monthly p {
  font-size: 1rem;
  margin: 0.4rem 1.5rem 0 1.5rem !important;
}
.monthly img {
  align-self: center;
  margin: 0;
  padding: 0;
}
.monthly.essay {
  background: #000;
  flex-direction: column;
}
.monthly.essay button {
  align-self: center;
  margin-bottom: 1rem;
}
.monthly.essay a {
  color: #fff;
  font-weight: 600;
}
.monthly.essay h4 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  font-family: "Lora", "Times New Roman", serif;
  color: black;
  font-style: italic;
  font-weight: 500;
}
.featured > div,
.featured > div .monthly.object {
  margin-bottom: 15px;
}
.featured > div.monthly.essay {
  margin-bottom: 0;
}
.featured .essay-content {
  height: 275px;
}
.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.seven-lines {
  -webkit-line-clamp: 7;
}
.eight-lines {
  -webkit-line-clamp: 8;
}

/* Media Queries */
@media only screen and (min-width: 600px) {
  body.home section.featured {
    transform: translate(0, -4.25rem);
  }
  .monthly {
    flex-direction: row;
    height: 230px;
  }
  .monthly.essay {
    background: #000;
    flex-direction: row;
    height: 100%;
    margin: 0;
  }
  .monthly img {
    width: 230px;
  }
  .featured .essay-content {
    height: 230px;
  }
}

@media only screen and (min-width: 950px) {
  body.home section.featured {
    flex-direction: row;
    margin: 0 auto;
  }
  body.home section.featured > div:first-child {
    width: 622px;
  }
  body.home section.featured > div:last-child {
    width: 311px;
    margin-left: 15px;
    overflow: hidden;
  }
  .featured > div {
    margin-bottom: 0;
  }
  .monthly.essay {
    background: #fff;
    flex-direction: column;
    height: 475px;
    /* margin: 0 1rem; */
  }
  .monthly img {
    width: auto;
  }
  .featured .essay-content {
    height: 275px;
  }
}
