/* set editor font */
.Draftail-Editor .DraftEditor-root {
  font-family: "PT Serif", "Times New Roman", serif !important;
}

/* General purpose classes */
.flex-grow {
  flex-grow: 1;
}
.u-none {
  display: none !important;
}
.u-hide {
  opacity: 0 !important;
}

/* General purpose adjustments to select2 */
.select2-container ul.select2-choices,
.select2-container a.select2-choice {
  border: 1px solid var(--w-color-border-field-default);
  color: var(--w-color-text-context) !important;
  background-color: var(--w-color-surface-field);
  background-image: none;
  box-shadow: none !important;
}
.select2-drop {
  background: var(--w-color-surface-field);
  color: var(--w-color-text-context) !important;
}
.select2-drop-active {
  border: 1px solid var(--w-color-border-field-default);
}
.select2-search input {
  border: 1px solid var(--w-color-border-field-default);
}
.select2-container ul.select2-choices:focus-within {
  outline: 3px solid var(--w-color-focus) !important;
}
.select2-container li.select2-search-choice {
  color: var(--w-color-text-context) !important;
}
.select2-search input.select2-input:focus {
  outline: 0 !important;
}
.select2-drop ul.select2-results li.select2-result {
  border-bottom: 1px dotted var(--w-color-border-field-default);
}
.select2-drop ul.select2-results li.select2-no-results {
  background: var(--w-color-surface-field);
}

/* FIXES TO ADMIN UI ELEMENTS */
/* prevent dates from wrapping in lists */
.listing .w-human-readable-date,
.listing .w-status.w-status--primary {
  text-wrap: nowrap;
}

/* streamlined field errors */
.w-field__errors {
  display: flex;
  align-items: baseline;
  width: 100%;
}
.w-field__errors .error-message {
  font-size: 12px;
  line-height: 1.2;
  background-color: var(--w-color-critical-50);
  border-radius: 6px;
  min-height: 24px;
  max-height: 42px;
  width: 100%;
  padding: 3px 10px 3px 30px;
  overflow: hidden;
}
.w-field__errors-icon {
  margin-inline-end: 8px;
  top: 7px;
  left: 9px;
  position: absolute;
}

/* make chooser buttons same height as fields */
.button.chooser__choose-button {
  height: 42px;
  padding: 10px 15px;
  border-color: inherit;
}

/* set size of thumbnail in image choosers */
.image-chooser .chooser__image {
  max-height: 95px;
  max-width: 125px;
}

/* fix location of comment buttons in forms */
.w-field-row {
  gap: 64px;
}
select {
  width: 100%;
}
input[type='checkbox'] + .w-field__comment-button {
  inset-inline-end: unset;
  inset-inline-start: 30px;
}

/* fix modal dialogues */
.base-modal-box {
  padding: 0 55px;
  display: flex;
  flex-direction: column;
}
.base-modal-buttons {
  display: flex;
  justify-content: flex-end;
}
.base-modal-buttons .button + .button {
  margin-inline-start: 5px;
}
.modal-dialog .modal-content {
  box-shadow: 0px 0px 15px 0px #00000069;
  padding-bottom: 0;
}
.modal-dialog {
  margin-right: auto !important;
  margin-left: auto !important;
  width: fit-content !important;
  max-width: 80%;
}
.modal-dialog .w-header {
  height: 50px;
}
.modal-dialog .w-header > div.row {
  display: flex;
  padding-top: .625rem !important;
  height: 100%;
  padding-inline-end: 55px !important;
  padding-inline-start: 15px !important;
}
.modal-dialog .w-header h1.w-header__title {
  display: flex;
  align-items: center;
  gap: 10px;
  text-wrap: nowrap;
}
.modal-dialog .w-header .w-header__glyph.icon {
  position: relative;
  inset-inline-start: 0;
  top: unset;
}
.modal-dialog .w-header form.search-form .w-field__wrapper {
  display: inline;
}
.modal-dialog .w-header form.search-form .w-field__input {
  margin-top: 0;
}
.modal-dialog .w-header form.search-form .w-field__input input {
  font-size: 14px;
  line-height: 1;
  min-height: 2px;
  padding: 5px 20px 5px 30px;
  background-color: #ffffff4d;
  color: white;
  border-color: var(--w-color-icon-primary);
}
.modal-dialog .w-header form.search-form .w-field__input input::placeholder {
  color: var(--w-color-text-label-menus-default);
}
.modal-dialog .w-header form.search-form .icon-search.w-field__icon {
  top: 7px;
  top: 7px;
  inset-inline-start: 5px;
  color: #ffffff8a;
}
.modal-dialog .modal-content .close.button {
  height: 40px !important;
  width: 40px !important;
  top: 5px !important;
  align-items: center;
  background-color: initial;
  color: var(--w-color-text-button);
  display: inline-flex;
  inset-inline-end: 5px;
  justify-content: center;
  padding: 0;
  position: absolute;
  z-index: 1;
}
.modal-dialog .modal-content .close.button:hover {
  background-color: var(--w-color-surface-menu-item-active);
  color: var(--w-color-text-button);
}
.modal-dialog .modal-body nav.pagination {
  margin-bottom: 2em;
}
/* hide gradient titles */
.field-row-panel.with-gradient .image-chooser .chooser__title,
#id_gradient-chooser .chooser__title {
  display: none;
}

/* field row panels */
.field-row-panel .w-panel__wrapper {
  display: flex;
  flex-direction: column;
}
.field-row-panel .w-field__wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.field-row-panel .w-field {
  display: flex !important;
  flex-direction: column;
  flex-grow: 1;
}
.field-row-panel .help {
  height: 37px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
}
.field-row-panel.collapse-help .help {
  height: 19px;
}
.field-row-panel .w-field__input {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.field-row-panel.align-baseline .w-field__input {
  align-items: baseline;
}
.field-row-panel.align-top .w-field__input {
  align-items: flex-start;
}
.field-row-panel:not(.rich-text) .w-panel__wrapper:last-of-type .w-field__input {
  margin-right: -42px;
}
.field-row-panel .w-field__comment-button {
  position: relative !important;
  top: unset;
  transform: translateX(-100%);
  margin-left: 15px;
  padding: .8rem .5rem;
}
.w-field-row .w-field__wrapper .w-field__wrapper {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* file input look */
input[type=file] {
  font-size: 14px;
  height: 42px;
  line-height: 34px;
  padding: 4px 10px;
  vertical-align: middle;
}
input[type=file]::file-selector-button {
  margin-bottom: 5px;
  margin-right: 10px;
}

/* empty choosers */
.empty-chooser-message {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
  max-width: 300px;
}

/* help panels */
div.struct-block > span > div.help {
  margin: 15px 0;
  display: flex;
  align-items: center;
}
div.struct-block > span > div.help svg.icon-help {
  margin-left: -3px;
  margin-right: 10px;
  height: 1.3em;
}

/* comboboxes */
.w-combobox,
.w-combobox__optgroup {
  width: unset !important;
}

/* date range fields */
.w-drilldown__contents .daterange_field {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.w-drilldown__contents .daterange_field input:last-of-type {
  margin-top: 0;
}

/* tooltips */
/* .Tooltip {
  display: flex;
}
.TooltipText {
  margin-right: 10px;
  width: max-content;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 24px;
  display: inline-block;
  height: 100%;
}
.Tooltip__button {
  overflow: visible;
}
.tippy-box {
  white-space: nowrap !important;
  max-width: unset !important;
} */

/* fix help box icon alignment */
.icon-help {
  top: 1rem !important;
}
