container_commands:
  01_collectstatic:
    command: source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput
  02_compress_and_recollect:
    command: python manage.py compress --verbosity=0 && python manage.py collectstatic --noinput
  03_set_logfile_permissions and owner:
    command: chmod a+w /opt/python/log/dalme_app.log && chown root:wsgi /opt/python/log/dalme_app.log
  04_djangoq_run:
    command: python manage.py qcluster
option_settings:
  "aws:elasticbeanstalk:application:environment":
    PYTHONPATH: "/opt/python/current/app:$PYTHONPATH"
