container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python dalme/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python dalme/manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python dalme/manage.py collectstatic --noinput"
  04_set_logfile_permissions:
    command: "chmod ug+w /opt/python/log/dalme_app.log"
  05_set_logfile_owner:
    command: "chown root:wsgi /opt/python/log/dalme_app.log"
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "dalme.settings"
    "PYTHONPATH": "/opt/python/current/app/dalme:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: dalme/dalme/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"
