container_commands:
  01_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
  02_set_logfile_permissions:
    command: "chmod ug+w /opt/python/log/dalme_app.log"
  03_set_logfile_owner:
    command: "chown root:wsgi /opt/python/log/dalme_app.log"
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "dalme.settings"
    "PYTHONPATH": "/opt/python/current/app:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "dalme/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"
