packages:
  yum:
    gcc-c++: []
    make: []
sources:
  /home/ec2-user: http://download.redis.io/redis-stable.tar.gz
files:
  "/home/ec2-user/redis.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      # Redis configuration file
      bind 127.0.0.1
      protected-mode yes
      port 6379
      tcp-backlog 128
      timeout 0
      tcp-keepalive 300
      daemonize yes
      supervised no
      pidfile /var/run/redis_6379.pid
      loglevel notice
      logfile /var/log/redis.log
      databases 16
      always-show-logo yes
      save 900 1
      save 300 10
      save 60 10000
      stop-writes-on-bgsave-error yes
      rdbcompression yes
      rdbchecksum no
      dbfilename dump.rdb
      dir /var/lib/redis/
      replica-serve-stale-data yes
      replica-read-only yes
      repl-diskless-sync no
      repl-diskless-sync-delay 5
      repl-disable-tcp-nodelay no
      replica-priority 100
      lazyfree-lazy-eviction no
      lazyfree-lazy-expire no
      lazyfree-lazy-server-del no
      replica-lazy-flush no
      appendonly no
      appendfilename "appendonly.aof"
      appendfsync everysec
      no-appendfsync-on-rewrite no
      auto-aof-rewrite-percentage 100
      auto-aof-rewrite-min-size 64mb
      aof-load-truncated yes
      aof-use-rdb-preamble yes
      lua-time-limit 5000
      slowlog-log-slower-than 10000
      slowlog-max-len 128
      latency-monitor-threshold 0
      notify-keyspace-events ""
      hash-max-ziplist-entries 512
      hash-max-ziplist-value 64
      list-max-ziplist-size -2
      list-compress-depth 0
      set-max-intset-entries 512
      zset-max-ziplist-entries 128
      zset-max-ziplist-value 64
      hll-sparse-max-bytes 3000
      stream-node-max-bytes 4096
      stream-node-max-entries 100
      activerehashing yes
      client-output-buffer-limit normal 0 0 0
      client-output-buffer-limit replica 256mb 64mb 60
      client-output-buffer-limit pubsub 32mb 8mb 60
      hz 10
      dynamic-hz yes
      aof-rewrite-incremental-fsync yes
      rdb-save-incremental-fsync yes
      maxmemory-policy allkeys-lru
  "/home/ec2-user/redis-server" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/sh
      # Originally from - https://raw.githubusercontent.com/KeithP/install-redis-amazon-linux-centos/master/redis-server
      # Source function library.
      . /etc/rc.d/init.d/functions

      # Source networking configuration.
      . /etc/sysconfig/network

      # Check that networking is up.
      [ "$NETWORKING" = "no" ] && exit 0

      redis="/usr/local/bin/redis-server"
      prog=$(basename $redis)

      REDIS_CONF_FILE="/etc/redis/redis.conf"

      [ -f /etc/sysconfig/redis ] && . /etc/sysconfig/redis

      lockfile=/var/lock/subsys/redis

      start() {
        [ -x $redis ] || exit 5
        [ -f $REDIS_CONF_FILE ] || exit 6
        echo -n $"Starting $prog: "
        daemon $redis $REDIS_CONF_FILE
        retval=$?
        echo
        [ $retval -eq 0 ] && touch $lockfile
        return $retval
      }

      stop() {
        echo -n $"Stopping $prog: "
        killproc $prog -QUIT
        retval=$?
        echo
        [ $retval -eq 0 ] && rm -f $lockfile
        return $retval
      }

      restart() {
        stop
        start
      }

      reload() {
        echo -n $"Reloading $prog: "
        killproc $redis -HUP
        RETVAL=$?
        echo
      }

      force_reload() {
        restart
      }

      rh_status() {
        status $prog
      }

      rh_status_q() {
        rh_status >/dev/null 2>&1
      }

      case "$1" in
        start)
            rh_status_q && exit 0
            $1
            ;;
        stop)
            rh_status_q || exit 0
            $1
            ;;
        restart|configtest)
            $1
            ;;
        reload)
            rh_status_q || exit 7
            $1
            ;;
        force-reload)
            force_reload
            ;;
        status)
            rh_status
            ;;
        condrestart|try-restart)
            rh_status_q || exit 0
          ;;
        *)
            echo $"Usage: $0 {start|stop|status|restart|condrestart|try-restart|reload|force-reload}"
            exit 2
      esac
commands:
  redis_install_01:
    command: make -s
    cwd: /home/ec2-user/redis-stable
  redis_install_02:
    command: make -s install
    cwd: /home/ec2-user/redis-stable
  redis_install_03:
    command: rm -rf /etc/redis /var/lib/redis
  redis_install_04:
    command: mkdir /etc/redis /var/lib/redis
  redis_install_05:
    command: cp src/redis-server src/redis-cli /usr/local/bin
    cwd: /home/ec2-user/redis-stable
  redis_install_06:
    command: cp redis.conf /etc/redis
    cwd: /home/ec2-user
  redis_install_07:
    command: mv redis-server /etc/init.d
    cwd: /home/ec2-user
  redis_install_8:
    command: chmod 755 /etc/init.d/redis-server
  redis_install_9:
    command: service redis-server start
