files:
  "/home/ec2-user/celeryd.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      [program:celery]
      command=/opt/python/etc/celery.sh
      directory=/opt/python/current/app
      user=celery
      numprocs=1
      stdout_logfile=/opt/python/log/celery_worker.log
      stderr_logfile=/opt/python/log/celery_worker.log
      autostart=true
      autorestart=true
      startsecs=1
      stopwaitsecs = 600
      stopasgroup=true
  "/home/ec2-user/celery.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      source /opt/python/current/env
      source /opt/python/run/venv/bin/activate
      cd /opt/python/current/app
      exec /opt/python/run/venv/bin/celery -A dalme.celeryapp:app worker --beat -l info --scheduler django_celery_beat.schedulers:DatabaseScheduler --loglevel=info
commands:
  celery_install_01:
    command: mv celeryd.conf /opt/python/etc
    cwd: /home/ec2-user
  celery_install_02:
    command: mv celery.sh /opt/python/etc
    cwd: /home/ec2-user
  celery_install_03:
    command: chmod +x celery.sh
    cwd: /opt/python/etc
  celery_install_05:
    command: id -u celery &>/dev/null || useradd celery
