files:
  "/home/ec2-user/djangoq.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      [program:django-q]
      command=/opt/python/etc/djangoq_start.sh
      directory=/opt/python/current/app
      user=root
      numprocs=1
      stdout_logfile=/var/log/djangoq/worker.log
      stderr_logfile=/var/log/djangoq/worker.log
      autostart=true
      autorestart=true
      startsecs=10
      stopwaitsecs=600
      killasgroup=true
      stopasgroup=true
  "/home/ec2-user/djangoq_start.sh" :
      mode: "000755"
      owner: root
      group: root
      content: |
        #!/bin/bash
        source /opt/python/current/env
        source /opt/python/run/venv/bin/activate
        cd /opt/python/current/app
        exec python manage.py qcluster
commands:
  install_01:
    command: mv djangoq.conf /opt/python/etc
    cwd: /home/ec2-user
  install_02:
    command: mv djangoq_start.sh /opt/python/etc
    cwd: /home/ec2-user
  install_03:
    command: chmod +x djangoq_start.sh
    cwd: /opt/python/etc
