.block-document a,
.block-document a:visited {
  color: #5e5e5e;
}
.abstract-container p {
  line-height: 1.7;
}

/* documents/publications/lectures */
.block-document {
  color: #5e5e5e;
  border-top: 1px solid #e0e0e0;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
  padding-left: .5rem;
  padding-right: .5rem;
}
.block-document:last-of-type {
  border-bottom: none;
}
.block-document .metadata {
  margin-right: 1rem;
  padding: 0;
  flex-grow: 1;
}
.block-document p {
  font-size: 1rem;
  margin: 0.75rem 0;
}
.block-document .metadata > div {
  flex-direction: row;
}
.block-document .doc-title {
  display: block;
}
.block-document .doc-title h4,
.block-document .doc-title a {
  font-family: "PT Serif", "Times New Roman", serif;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.4;
  color: #333;
  text-decoration: none;
  margin-bottom: 0;
  display: inline;
  border-bottom: 1px dotted transparent;
}
.block-document .doc-title a:hover {
  color: #084094;
  border-bottom: 1px dotted #084094;
}
.block-document .doc-title a.doc-icon {
  font-size: 12px;
  color: #999;
  margin-left: 5px;
  vertical-align: middle;
}
.block-document .doc-title a.doc-icon i {
  height: 1.4rem;
}
.block-document .doc-title a.doc-icon:hover {
  color: #084094;
}
.block-document .doc-detail {
  align-items: baseline;
  display: flex;
}
.block-document .metadata span {
  font-weight: 400;
  font-size: 1.1rem;
  color: #6b6b6b;
}
.block-document .metadata .doc-date {
  margin-left: auto;
  font-size: 1rem;
  font-weight: 600;
  line-height: 2;
  white-space: nowrap;
  padding-left: 1rem;
}

/* Media Queries */
@media only screen and (min-width: 600px) {
  .block-document .metadata > div {
    flex-direction: row;
  }
}
