.show-button {
  font-family: "Open Sans", 'Helvetica', 'Arial', sans-serif;
  margin-top: 2px;
  border-radius: 3px;
  cursor: pointer;
  float: right;
  border: 1px solid #e4e4e4;
  font-size: 9px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 2px 5px;
  color: #cbcbcb;
  margin-left: 1rem;
  margin-bottom: 1rem;
  width: 74px;
  text-align: center;
}
.show-button::before {
  content: "Show more";
}
.show-button.show-less::before {
  content: "Show less";
}
.show-button:hover {
  background-color: #e6ecf6;
  color: #354d87;
  border-color: #354d87;
}
.text-expandable-container {
  max-height: 126px;
  overflow-y: hidden;
  transition: max-height 0.8s ease-out;
}
