{% extends "dash_base.html" %}
{% block extra-dropdowns %}{% endblock %}
{% block extra-sidebar %}{% endblock %}
{% block content %}
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">DALME Dashboard</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                                    <div class="panel panel-red">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <i class="fa fa-book fa-5x"></i>
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="huge">3</div>
                                                    <div>Wiki</div>
                                                    <!--Use the link http://en.wikipedia.org/w/api.php?action=query&meta=siteinfo&siprop=statistics
                                                    and read the property articles of the statistics tag. -->
                                                </div>
                                            </div>
                                        </div>
                                        <a href="http://dighist.fas.harvard.edu/projects/DALME/wiki">
                                            <div class="panel-footer">
                                                <span class="pull-left">View Details</span>
                                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <i class="fa fa-image fa-5x"></i>
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="huge">287</div>
                                                    <div>DAM</div>
                                                    <!-- https://www.resourcespace.com/knowledge-base/api/ -->
                                                </div>
                                            </div>
                                        </div>
                                        <a href="http://dighist.fas.harvard.edu/projects/DALME/dam">
                                            <div class="panel-footer">
                                                <span class="pull-left">View Details</span>
                                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                    </div>
                </div>


            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
{% endblock %}
