{% extends "dash_base.html" %}
{% load staticfiles i18n %}

{% block extra_head %}
<link href="{% static 'ImageViewer/imageviewer.css' %}" rel="stylesheet" type="text/css" />
<script src="{% static 'ImageViewer/imageviewer.js' %}"></script>
{% endblock %}

{% block extra_dropdowns %}{% endblock %}

{% block content %}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ heading }}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default panel-full-height">
                <div class="panel-heading">
                    <i class="fa fa-list-alt fa-fw"></i> Inventory Viewer
                        {% if folios.has_other_pages %}
                            <div class="pull-right">Folios:
                                {% if folios.has_previous %}
                                    <a href="?page={{ folios.previous_page_number }}" class="btn btn-default btn-xs">
                                        <i class="fa fa-arrow-left"></i>
                                    </a>
                                {% else %}
                                    <button type="button" class="btn btn-default btn-xs disabled">
                                        <i class="fa fa-arrow-left"></i>
                                    </button>
                                {% endif %}
                                <div class="btn btn-default btn-xs">{{ folios.0.0 }}</div>
                                {% if folios.has_next %}
                                    <a href="?page={{ folios.next_page_number }}" class="btn btn-default btn-xs">
                                        <i class="fa fa-arrow-right"></i>
                                    </a>
                                {% else %}
                                    <button type="button" class="btn btn-default btn-xs disabled">
                                        <i class="fa fa-arrow-right"></i>
                                    </button>
                                {% endif %}
                            </div>
                        {% endif %}
                </div>
                <div class="panel-body-partitioned">
                    <div class="row">
                        <div class="col-lg-6 no-padding-right">
                            <div class="partition-right">
                                <div class="partition-body">
                                    <div id="image-view">
                                        <div class="image-container">
                                            <img src="{{ folios.0.1 }}" data-high-res-src="{{ folios.0.1 }}" alt="" class="pannable-image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 no-padding-left">
                            <div class="partition">
                                <div class="partition-heading">
                                    Transcription
                                    {% if has_actions %}
                                        <div class="pull-right">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                                    Actions
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu pull-right" role="menu">
                                                    {% for para, name in actions %}
                                                        {% if para == 'divider' %}
                                                            <li class="divider"></li>
                                                        {% elif para == 'title' %}
                                                            <li class="title">{{ name }}</li>
                                                        {% else %}
                                                            <li><a {{ para | safe }}>{{ name }}</a></li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="partition-body pbody-full-height-header-footer">
                                    {% for i in folios.0.2 %}
                                        <div class="row trans-line">
                                            <div class="col-lg-1 trans-line-no">{{ i.0 }}</div>
                                            <div class="col-lg-11">
                                            {% for token in i.1 %}
                                                {% if tokenise %}
                                                    <div class="btn btn-info btn-xs">{{ token.0 | safe }}</div>
                                                {% else %}
                                                    <span class="{{ token.1 }}">{{ token.0 | safe }}</span>
                                                {% endif %}
                                            {% endfor %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->

{% endblock %}

{% block extra_scripts %}
<script>
    $(function () {
        $('.pannable-image').ImageViewer({ zoomValue : 50 });
    });
</script>
{% endblock %}
