{% extends "dash_base.html" %}
{% load staticfiles i18n %}
{% block extra_head %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

{% endblock %}
{% block content %}
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{ heading }}</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{ item }} Information
                        </div>
                        <div class="panel-body">
                            <form role="form" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>{{ form.inv_title.label }}</label>
                                            <input class="form-control" id="{{ form.inv_title.id_for_label }}" name="{{ form.inv_title.html_name}}">
                                            <p class="help-block">{{ form.inv_title.help_text }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>{{ form.inv_source.label }}</label>
                                            <input class="form-control" id="{{ form.inv_source.id_for_label }}" name="{{ form.inv_source.html_name}}">
                                            <p class="help-block">{{ form.inv_source.help_text }}</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>{{ form.inv_transcriber.label }}</label>
                                            <input class="form-control" id="{{ form.inv_transcriber.id_for_label }}" name="{{ form.inv_transcriber.html_name}}">
                                            <p class="help-block">{{ form.inv_transcriber.help_text }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label>{{ form.inv_location.label }}</label>
                                            <input class="form-control" id="{{ form.inv_location.id_for_label }}" name="{{ form.inv_location.html_name}}">
                                            <p class="help-block">{{ form.inv_location.help_text }}</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label>{{ form.inv_series.label }}</label>
                                            <input class="form-control" id="{{ form.inv_series.id_for_label }}" name="{{ form.inv_series.html_name}}">
                                            <p class="help-block">{{ form.inv_series.help_text }}</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label>{{ form.inv_shelf.label }}</label>
                                            <input class="form-control" id="{{ form.inv_shelf.id_for_label }}" name="{{ form.inv_shelf.html_name}}">
                                            <p class="help-block">{{ form.inv_shelf.help_text }}</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label>{{ form.inv_date.label }}</label>
                                            <div class="input-group date" data-provide="datepicker">
                                                <input class="form-control"  id="{{ form.inv_date.id_for_label }}" name="{{ form.inv_date.html_name}}">
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                            </div>
                                            <p class="help-block">{{ form.inv_date.help_text }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>{{ form.inv_notes.label }}</label>
                                            <textarea class="form-control" id="{{ form.inv_notes.id_for_label }}" name="{{ form.inv_notes.html_name}}" rows="8"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label>{{ form.inv_file.label }}</label>
                                                <input id="{{ form.inv_file.id_for_label }}" name="{{ form.inv_file.html_name}}" type="file">
                                            </div>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-wrapper -->
{% endblock %}
{% block extra_scripts %}
<script type="text/javascript" charset="utf-8">
    $('.datepicker').datepicker();
</script>
{% endblock %}
