.social {
    display: none;
    background: #000;
    color: #ccc;
    align-items: center;
    font-size: 1.7rem;
    padding: 10px 50px;
    white-space: nowrap;
    gap: 10px;
}
.social > i:not(:first-child):not(:last-child) {
    margin: 0 0.3rem;
}
.social i:hover,
.social i:active {
    color: #fff !important;
}
#share-button {
    vertical-align: unset;
    display: inline-flex;
}
#share-button i.share {
    font-size: 1.7rem;
    color: #5e5e5e;
}
#share-button a,
#share-button a:active,
#share-button a:focus {
    padding: 0;
    display: inline;
    box-shadow: none;
    background: none;
}
#share-button a:hover {
    background: none;
}

@media only screen and (min-width: 600px) {
    .social {
        display: flex !important;
    }
}

@media only screen and (min-width: 950px) {
    .social > i {
        font-size: 1.5rem
    }
}
