{% load template_helpers %}
<div class="wf-manager-container">
  <div class="wf-manager-title">
    <i class="fa fa-code-branch fa-fw"></i> Workflow
  </div>
  <div class="wf-manager-controls">
    <div class="wf-manager-status-container">
      {% if workflow.wf_status == 2 and workflow.stage_done %}
        <button class="wf-manager-status_btn {{ workflow.status.css_class }}" role="button" onclick="update_workflow('begin_stage', {{ workflow.stage }})">{{ workflow.status.text_alt }}</button>
      {% elif workflow.wf_status == 2 %}
        <div class="wf-manager-status {{ workflow.status.css_class }}">{{ workflow.status.text }}</div>
        <button class="wf-manager-status_btn tag-wf-in_progress" role="button" onclick="update_workflow('stage_done', {{ workflow.stage }})"><i class="far fa-check-square fa-fw"></i> DONE</button>
      {% else %}
        <div class="wf-manager-status {{ workflow.status.css_class }}">{{ workflow.status.text }}</div>
      {% endif %}
    </div>
    <div class="wf-manager-info">
      <i class="far fa-history fa-fw"></i> {{ workflow.last_modified|htimesince }} | <a href="/users/{{ workflow.last_user.username }}">{{ workflow.last_user.profile.full_name }}</a>
    </div>
    <button class="wf-manager-help {% if workflow.help_flag %}wf-help_flag-on{% endif %}" role="button" onclick="update_workflow('toggle_help')">
        <i class="fa fa-flag fa-fw"></i><div class="wf-manager-help_text">Help</div>
    </button>
    <button class="wf-manager-menu" id="workflow-menu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-bars fa-fw"></i>
    </button>
    <div id="wf_menu" class="dropdown-menu dropdown-menu-right" aria-labelledby="workflow-menu">
      <div class="dropdown-title">Workflow Manager</div>
      <div class="dropdown-divider"></div>
      {% for i in wf_stages %}
        <div id="{{ i.0 }}" class="wf-item">
          {% if i.1 %}
            <i class="fas fa-check fa-fw mr-2 text-gray-400"></i>
          {% elif i.2 and not i.1 %}
            <i class="fas fa-hammer fa-fw mr-2 text-gray-400"></i>
          {% else %}
            <i class="far fa-square fa-fw mr-2 text-gray-400"></i>
          {% endif %}
          {{ i.0|title }}
        </div>
      {% endfor %}
      <div class="dropdown-divider"></div>
      {% if workflow.wf_status != 1 %}
      <a id="assessment_menu" class="dropdown-item" href="#" onclick="update_workflow('change_status', 1)">
        <i class="fas fa-clipboard-check fa-fw mr-2 text-gray-400"></i> Place under assessment
      </a>
      {% else %}
      <a id="processing_menu" class="dropdown-item" href="#" onclick="update_workflow('change_status', 2)">
        <i class="fas fa-clipboard-list fa-fw mr-2 text-gray-400"></i> Resume processing
      </a>
      {% endif %}
    </div>
  </div>
</div>
