/*DataTables general fixes */
.dataTables_wrapper .dataTables_processing {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  position: absolute;
  top: 39px !important;
  left: 0 !important;
  width: 100% !important;
  margin-left: 0 !important;
  margin-top: 0 !important;
  text-align: center;
  padding: 1em 1em;
  z-index: 100;
  height: calc(100% - 75px);
}

.dataTables_wrapper .card {
  border: 0;
  background-color: rgba(255, 255, 255, 0.78);
}

div.DTS div.dataTables_scrollBody {
  background: none !important;
}

div.dts tbody td {
  white-space: normal !important;
}

table.dataTable tr.dtrg-group td {
  background-color: #fafafa !important;
  padding-bottom: 5px;
  padding-top: 5px;
  color: #888;
}

.table_connector_col {
  text-align: center;
  color: #0361aa;
  margin-top: 17vh;
  font-size: 24px;
}

.table_connector_row {
  text-align: center;
  color: #0361aa;
  margin-top: 32px;
  margin-bottom: 24px;
  font-size: 24px;
}

table.table_scroll thead th {
  border-bottom: 1px solid #a3b1bd !important;
  white-space: nowrap !important;
  vertical-align: middle;
  padding: 8px;
  border-color: #a3b1bd !important;
}

div.dataTables_scrollHeadInner table.dataTable {
  border-collapse: collapse !important;
}

th.sorting_asc::before, th.sorting_asc::after, th.sorting_desc::before, th.sorting_desc::after, th.sorting::before, th.sorting::after {
  bottom: .5em !important;
}

.td-center {
  text-align: center;
}

.td-center .DTE_Field_InputControl {
  justify-content: center;
}

.td-center .DTE_Field_InputControl label {
  margin-left: 0;
}

.table td {
  border-bottom: 1px dotted #a3b1bd !important;
  border-top: none !important;
  /* vertical-align: middle; */
  padding: 8px;
  /*border-right: 1px solid #ebeef0;*/
}

table.c_stripe tbody td:nth-of-type(odd) {
  background: #f8f8f8;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child {
  padding-left: 35px !important;
}

/* Datatables column rendering classes */

.dt_checkbox_true {
  width: 1.28571429em;
  text-align: center;
  color: #4cae4c;
}

.dt_checkbox_false {
  width: 1.28571429em;
  text-align: center;
  color: #d43f3a;
}
