/* search results */
.search-icon {
  color: #6c757d;
  position: absolute;
  top: 14px;
  left: 12px;
}
.search-input-buttons {
  position: absolute;
  top: 10px;
  right: 12px;
}
.clear-search-box {
  position: absolute;
  top: 12px;
  right: 15px;
}
.search-results-input {
  border: 1px dotted #aaa;
  border-radius: 0;
  border-right: none;
  border-left: none;
  padding-left: 42px;
  padding-right: 40px;
}
.search-results-input:focus,
.search-results-input:active {
  box-shadow: none !important;
  outline: none !important;
}
.search-results-checkbox {
  font-size: 14px;
  line-height: 1.5;
}
.search-results-checkbox input {
  margin-right: 5px;
}
.search-result-entry {
  margin-bottom: 20px;
}
.search-result-link {
  color: #084094;
  font-size: 19px;
}
.search-result-link:hover {
  color: #084094;
  font-size: 19px;
  border-bottom: 1px dotted #084094;
}
.search-result-detail {
  font-size: 14px;
  color: #267e30;
}
.search-result-text {
  font-size: 14px;
  color: #686868;
  white-space: pre-line;
}
.search-result-text em {
  font-weight: 600;
  background-color: #ffffdd;
}
.search-text-container {
  max-height: 63px;
  overflow-y: hidden;
  transition: max-height 0.8s ease-out;
}
.search-help-container {
  margin-bottom: 2rem;
}
.search-head-container {
  border-radius: 0;
  color: #444;
  padding-right: 1rem;
  padding-left: 1rem;
  align-items: center;
  height: 32px;
}
.search-status {
  border-bottom: 1px dotted #aaa;
  border-radius: 0;
  color: #444;
  padding-right: 1rem;
  padding-left: 1rem;
  min-height: 32px;
  align-items: center;
  background-color: #fbfbfb;
}
.search-status.search-error {
  color: #4e0f0f;
  background-color: #f1b5b5;
}
.search-status ul {
  margin-bottom: 0;
}
.search-button {
  border: 1px solid #aaa;
  font-size: 9px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 2px 5px;
  color: #ababab;
}
.search-button:hover {
  background-color: #e6ecf6;
  color: #354d87 !important;
  border-color: #354d87 !important;
}
.search-button.active {
  color: #6d6d6d;
  border-color: #9c9c9c;
}
#search_submit {
  background-color: #e6ecf6;
  color: #6d87b7;
  border-color: #6d87b7;
}
#search-help-content {
  padding: 1rem;
  background-color: #f4f9fd;
  border-bottom: 1px dotted #9c9c9c;
}
#advanced-search {
  border-top: 1px dotted #aaa;
  border-bottom: 1px dotted #aaa;
  padding-left: 1rem;
  padding-right: 1rem;
}
#advanced-search .form-control {
  box-shadow: none !important;
  outline: none !important;
}
#advanced-search .help-heading {
  border-bottom: 1px dotted #9c9c9c;
  padding: 10px 2px;
  color: #6e777f;
}
#advanced-search .advanced-search-row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  border-bottom: 1px dotted #9c9c9c;
}
#advanced-search .advanced-search-row .custom-select,
#advanced-search .advanced-search-row .form-control {
  width: auto;
}
#advanced-search .form-group {
  margin-right: .5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
#advanced-search .form-group:last-child {
  margin-right: none;
}
#advanced-search .grow {
  flex-grow: 1;
}
#advanced-search .query_is {
  font-size: .9rem;
  align-self: center;
  margin-right: .5rem;
}
#advanced-search .query_op_first {
  font-size: .9rem;
  align-self: center;
  width: 57px;
  text-align: center;
}
#advanced-search .query_op {
  width: 65px;
}
#advanced-search .button {
  border: 1px solid #aaa;
  border-radius: .2rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  line-height: 1.5;
  background-color: #fff;
  cursor: pointer;
  color: #495057;
  padding: 3px 3px;
  align-self: center;
  display: flex;
}
#advanced-search .button:hover {
  background-color: #e6ecf6;
  color: #354d87;
  border-color: #354d87;
}
#advanced-search .button.disabled {
  cursor: default;
  border-color: #aaa;
  background-color: #fbfbfb;
  color: #aaa;
  margin-right: 3px;
}
#advanced-search .button.remove {
  margin-right: 3px;
  margin-left: auto;
}
#advanced-search .button i {
  font-size: .7rem;
  font-weight: 600;
}
#advanced-search .advanced-search-footer {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
}
#search-help-content .block-text {
  color: #444;
  font-family: "Open Sans", 'Helvetica', 'Arial', sans-serif;
  font-size: 1rem;
  line-height: 1.7;
  margin-top: 40px;
}
#search-help-content .block-text ul {
  margin-left: 1rem;
  margin-right: 2rem;
}
#search-help-content .block-text li {
  padding-left: 0.5rem;
  list-style-type: disc;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
#search-help-content .block-text b {
  font-family: "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace;
  font-size: 87.5%;
  color: #212529;
  display: inline-block;
  border-bottom: 1px solid grey;
  background-color: white;
}
#search-help-content .block-text b::after {
  font-family: "Font Awesome 5 Free";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  content: "\f246";
  margin-left: 5px;
}
#search-help-content .block-text i {
  font-family: "PT Serif", "Times New Roman", serif;
}
.hidden-search-submit {
  border: none;
  width: 0px;
  height: 0px;
  position: absolute;
  right: 0;
}
.search-results {
  margin-right: 0;
  margin-left: 0;
  margin-top: 2rem;
}


/* search tooltip toggle switch */
.custom-switch {
  padding-left: 2.25rem;
  float: right;
}
.custom-control {
  position: relative;
  z-index: 1;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5rem;
}
.custom-control-input {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 1rem;
  height: 1.25rem;
  opacity: 0;
  box-shadow: none !important;
  outline: none !important;
}
.custom-control-label {
  position: relative;
  display: flex;
  padding-top: 1px;
}
.custom-switch .custom-control-label::before {
  left: -2.25rem;
  width: 1.75rem;
  pointer-events: all;
  border-radius: .5rem;
}
.custom-control-label::before {
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.custom-control-label::before {
  position: absolute;
  top: .25rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  content: "";
  background-color: #fff;
  border: #adb5bd solid 1px;
}
.custom-switch .custom-control-label::after {
  top: calc(.25rem + 2px);
  left: calc(-2.25rem + 2px);
  width: calc(1rem - 4px);
  height: calc(1rem - 4px);
  background-color: #adb5bd;
  border-radius: .5rem;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-transform .15s ease-in-out;
  transition: transform .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: transform .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-transform .15s ease-in-out;
}
.custom-control-label::after {
  position: absolute;
  top: .25rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  background: no-repeat 50%/50% 50%;
}
