-r requirements.txt
coverage==7.8.0
django-debug-toolbar==5.2.0
django-extensions==4.1
factory_boy==3.3.3
freezegun==1.5.1
hypothesis==6.123.0
ipdb==0.13.13
ipython==9.9.0
jupyter==1.0.0
markdown==3.7
moto[s3]==5.1.5
notebook==6.5.6
pre-commit==4.0.1
pydot==3.0.3
pyjwt==2.10.1
pyparsing==3.2.0
pytest-cov==6.1.1
pytest-django-queries==1.2.0
pytest-django==4.11.1
pytest-mock==3.14.0
pytest-structlog==1.1
pytest-watcher==0.4.3
pytest==8.3.5
rich==14.0.0
ruff==0.9.6
tqdm==4.67.1
wagtail-factories==4.2.1
watchdog==6.0.0
