{% load highlight %}
<div class="search-result-entry">
    <a class="search-result-link" href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a>
    <div class="search-result-detail">{{ result.object.get_set_type_display }}
      {% if result.object.is_public %}
        | Public
      {% endif %}
      {% if result.object.has_landing %}
        (with landing page)
      {% endif %}
      </div>
    <div class="search-result-text">{% highlight result.object.description with query max_length 500 %}</div>
</div>
