{% load highlight %}
<div class="search-result-entry">
    <a class="search-result-link" href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a>
    <div class="search-result-detail">Task | List: {{ result.object.task_list.name }} | Created by {{ result.object.created_by.profile.full_name }} on {{ result.object.creation_timestamp|date:"j-M-Y" }}
      {% if result.object.completed %}
        | COMPLETED
      {% endif %}
      </div>
    <div class="search-result-text">{% highlight result.object.description with query max_length 500 %}</div>
</div>
