<div class="card mb-3">
  <div class="sub-card-header">
    <div class="card-header-title"><i class="fa fa-comment fa-fw"></i> Comments</div>
  </div>
  <div class="card-body" id="comments">
      <div class="comment-box-container d-flex mb-3">
        <div class="d-inline-block mr-3"><i class="fa fa-comment-medical img_avatar mt-1 fa-2x"></i></div>
        <div class="comment-card comment-box d-inline-block">
          <div class="comment-body p-2">
            <textarea class="form-control form-control-sm comment-textarea" placeholder="Leave a comment..." id="new_comment_text"></textarea>
            <div class="comment-tip">Click here for formatting options</div>
          </div>
          <button class="btn btn-primary ml-auto d-flex mr-2 mb-2" type="button" onclick="create_comment('{{ model }}', '{{ object }}')">Comment</button>
        </div>
      </div>
  </div>
</div>
