@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i&display=swap&subset=latin-ext');

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

input,
select {
  background: #fff;
}

/* Utilities */
.u-flex {
  display: flex;
  flex-direction: column;
}

.u-grid {
  display: grid;
}

/* Site */
body {
  font-family: 'Merriweather', serif;
  min-height: 100vh;
}

.main {
  flex: 1 0 auto;
}

main a,
main a:visited {
  color: #0361aa;
}

nav.header-nav {
  color: #f2e4e4;
  z-index: 100;
  background-color: #2f333c;
  background-image: linear-gradient(59deg, #11587c 24.62%, #1b1b1b);
  background-size: cover;
  top: 1;
}

nav.header-nav a,
nav.header-nav a:visited {
  color: #f2e4e4;
}

nav.header-nav .nav-logo a,
nav.header-nav .nav-logo a:visited {
  color: #fff;
  flex-direction: row;
  justify-content:center;
  align-items:center;
  color: #fff;
  font-size: 1.6rem;
  text-decoration: none;
}

nav.header-nav .nav-text {
  display: none;
}

nav.header-nav .nav-logo p {
  font-family: Academy Engraved LET;
  font-size: 27px;
  margin-left: 1rem;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .05rem;
}

nav.header-nav .nav-menu {
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 1em;
}

nav.header-nav img.logo {
  background: #fff;
  height: 1.6em;
  margin: 0.5em 0;
}

nav.header-nav ul > li:nth-child(2) {
  margin-left: auto;
}

nav.header-nav ul > li {
  padding-right: 1.2em;
}

nav.header-nav ul > li:last-child {
  padding-right: 0;
}

header.source-header {
  background: #369;
  margin-bottom: 2em;
}

/* TODO: Update image for each archive by set_name on class. */
header.source-header.florence {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://cache.marriott.com/marriottassets/destinations/hero/florence-it-destination.jpg);
  background-position: right center;
}

header.source-header.marseille {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/static/images/marseille.png);
  background-position: center top -150px;
}

header.source-header > .wrapper {
  background: rgba(0, 0, 0, 0.3);
}

header .collection {
  font-style: italic;
}

header .collection a {
  color: #eeeecc;
  text-shadow: 1px 1px 0px #000;
}

header.source-header h1 {
  padding: 0.33em;
  margin: 0;
  font-size: 36pt;
  color: #fff;
}

.main-container article {
  margin: 2em;
}

.side-column {
  flex-direction: column;
  flex: 0 0 calc(100% / 2.5 * 0.5);
}

.side-column > aside {
  background: #eeeecb;
  padding: 0.66em 1em;
  margin-bottom: 0.66em;
}

.side-column h3, .side-column h4 {
  color: #346599;
}

.side-column h4 {
  margin: 0.66em 0 0.165em 0;
}

.side-column h4, {
  margin: 0.66em 0 0.165em 0;
}

.source-related-container {
  flex-direction: row;
  margin-bottom: 1em;
}

.source-related {
  background: #eeeecb;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(4em, 1fr) );
}

.source-related-pagination {
  background: #eeeecb;
  padding: 0.66em;
  align-items: center;
  justify-content: center;
}

.source-related-pagination.previous {
  margin-right: 0.33em;
}

.source-related-pagination.next {
  margin-left: 0.33em;
}

.no-related,
.related-link {
  align-items: center;
  justify-content: center;
  padding: 0.66em;
}

.related-link.active {
  background: #fff;
}

.related-name {
  text-align: center;
}

.related-icons {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 0.33em;
  width: 100%;
}

.related-icons .fa-file-alt {
  margin-left: 0.33em;
}

.related-icon {
  color: #616161;
}

.related-icon.missing {
  color: #d2d2d2;
}

.main-column {
  flex-direction: column;
  flex-grow: 1;
}

.main-column > .public-content {
  width: 85%;
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.6;
}

.public-content > h2 {
  margin-bottom: 0.33em;
}

.public-content > h3 {
  margin-bottom: 0.66em;
}

.public-content > p {
  margin-bottom: 1em;
}

.collection-card,
.set-card {
  background: #eee;
  padding: 0.66em;
  margin-bottom: 0.66em;
}

.viewers-container {
  flex-direction: column;
  margin: 0 1em;
}

.viewers-container > section {
  width: 100%;
}

.source-list-nav,
.source-metadata {
  margin-bottom: 0.5em;
  width: 100%;
}

.source-list-nav > nav {
  text-align: end;
}

.source-transcription {
  padding: 1.8em 3em;
}

.source-transcription.empty {
  padding: 0;
}

.source-transcription > h2 {
  margin-left: auto
}

.source-transcription p {
  margin-bottom: 1em;
}

.renderer-warning {
  padding: 3em;
}

.source-list {
  border-collapse: collapse;
  grid-template-columns: 2fr 1fr 1fr 0.33fr 0.33fr;
  width: 100%;
  overflow-x: scroll;
}

.source-list-pagination {
  padding: 1em 0.66em;
}

.step-links > .current {
  margin: 0 0.66em;
}

.step-links > .inactive {
  color: #d2d2d2;
}

.step-links > .step-first {
  margin-right: 0.33em;
}

.step-links > .step-last {
  margin-left: 0.33em;
}

.source-list-row {
  margin-bottom: 1em;
}

.source-list-row.header {
  font-weight: bold;
}

.source-list thead, tbody, tr {
  display: contents;
}

.source-list th, td {
  padding: 0.4em 0.66em;
}

.source-list th {
  text-align: left;
}

.source-list .fa {
  font-size: 0.8rem;
}

footer {
  margin: 0;
}

footer > div {
  color: #696969;
  background: #ececec;
  flex-direction: row;
  padding: 2em 1.5em;
  width:100%;
}

.first-word {
  color: #346599;
  font-weight: 900;
  font-style: italic;
}

.curated-source {
  margin-top: 0.66em;
}

.field-container h4 {
  margin: 0.33em 0;
}

.field-container input,
.field-container select {
  padding: 0.33em;
}

.field-container select#id_source_type {
  min-height: 10em;
}

.date-field-container {
  flex-direction: row;
}

.date-field-container > input {
  width: 100%;
}

.submit-filter {
  background: #fff;
  padding: 0.33em 0;
  width: 20%;
}

.submit-filter {
  margin-top: 0.66em;
}

.errorlist {
  color: red;
  font-size: 0.85rem;
  padding: 0 0.16em 0.16em 0.166em;
}

.errorlist > li:last-child {
  padding-top: 0.33em
}

.source-rights {
  background: #eeeecb;
  margin-top: 1em;
  padding: 1em;
}

.source-rights .symbol {
  vertical-align: middle;
}

.source-rights h4 {
  margin-bottom: 0.165em;
}

.source-rights p {
  font-size: 0.9rem;
  margin-top: 0.165em;
}

/* Media Queries */
@media only screen and (min-width: 600px) {
  header.source-header {
    padding: 2em 1em;
  }

  header.source-header h1 {
    padding: 0;
  }

  nav.header-nav .nav-icon {
    display: none;
  }

  nav.header-nav .nav-text {
    display: inline;
  }
}

@media only screen and (min-width: 900px) {
  header.source-header {
    padding: 2em 2em;
  }

  nav.header-nav ul > li:not(:first-child) {
    padding-right: 3em;
  }
}

@media only screen and (min-width: 1200px) {
  header.source-header {
    padding: 2em 4em;
  }

  header.source-header h1 {
    padding: 0;
  }

  .main-container article {
    flex-direction: row;
    margin: 2em 4em;
  }

  .main-column {
    margin: 0;
  }

  .viewers-container {
    flex-direction: row;
    margin: 0;
  }

  .viewers-container > section {
    width: 50%;
  }

  .source-list-nav > nav {
    text-align: start;
  }

  .side-column {
    flex-direction: column;
  }

  .side-column.left {
    margin-right: 4em;
  }

  .side-column.right {
    margin-left: 4em;
  }

  .source-list-nav,
  .source-metadata {
    margin-bottom: 1em;
  }
}

@media only screen and (min-width: 1800px) {
  header.source-header {
    padding: 2em 8em;
  }

  .main-container article {
    margin: 2em 8em;
  }

  .main-column > .public-content {
    width: 65%;
  }
}
