/*general fixes to SB-Admin theme*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #5d656c;
  text-align: left;
  background-color: #fff;
}

.shadow {
  box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.25) !important;
}


.img-placeholder {
  height: 80vh;
  /* background-color: #8a8a8a; */
  color: #c8c8c8;
}

.nowrap {
  white-space: nowrap !important;
}

:focus, :active {
  /*box-shadow: none !important;*/
  outline: none !important;
}

a {
  color: #0361aa;
}

.page_title {
  white-space: nowrap;
  overflow: hidden;
}

.title_current {
  font-weight: 800;
}

.title_link {
  color: #fff;
}

.title_link:hover {
  color: #fff;
  text-decoration: underline;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.script-results {
  min-height: 30vh;
  max-height: 50vh;
  overflow: scroll;
}

.script-item {
  border: 1px solid #a5a5a5;
  border-radius: .4rem;
  margin-bottom: 5px;
  margin-top: 5px;
  text-decoration: none;
  align-items: center;
  color: #5d656c;
}

.script-item:hover {
  text-decoration: none;
  background-color: #f0f8ff;
  color: #0361aa;
}

.script-icon {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-top-left-radius: .35rem;
  border-bottom-left-radius: .35rem;
  align-self: flex-start;
  margin-right: 20px;
  width: 36px;
}

.script-button {

}

/* messages and alerts */

.alert {
  padding: .75rem 1.25rem;
  margin-bottom: 1.5rem;
  margin-top: -1.5rem;
  border: 1px solid transparent;
  border-radius: 0;
  font-size: .9rem;
}


/* default cards */

.card {
  border: 1px solid #a5a5a5;
  border-radius: 0.25rem;
}

.card-full {
  height: calc(100vh - 163px);
}

.card-header {
  font-size: 0.85rem;
  font-weight: 600;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: .5rem;
  padding-right: .5rem;
  background-color: #e8e9ec;
  border-bottom: 1px solid #a5a5a5;
}

.card-footer {
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid #a5a5a5;
}

.card-footer:hover {
  background-color: #a5a5a5;
  border-top: 1px solid #a5a5a5;
}

.card-body {
  padding-top: .75rem;
  padding-bottom: .75rem;
}

/* full table cards */

.card-table-header {
  font-size: 0.8rem;
  font-weight: 600;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #e8e9ec;
  border-bottom: 1px solid #a5a5a5;
  border-top-left-radius: .2rem;
  border-top-right-radius: .2rem;
  height: 39px;
  display: flex;
}

.card-table-body {
  padding-top: .2rem;
  padding-bottom: 1rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.table thead th {
  border-bottom: 1px solid #a5a5a5 !important;
  white-space: nowrap !important;
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  border-color: #a3b1bd !important;
  border-top: none;
  font-size: .8rem;
}

table.dataTable {
  border-color: #a3b1bd !important;
  color: #212529 !important;
  font-size: .9rem;
}

.dataTables_paginate {
  font-size: .8rem;
  align-self: flex-end;
}

.pagination {
  margin: 2px 0;
  white-space: nowrap;
  justify-content: flex-end;
}

.page-link, .page-item.disabled .page-link {
  padding: .35rem .75rem;
  line-height: 1;
  border-color: #a3b1bd;
}

.page-link:hover {
  border-color: #a3b1bd;
}

.dataTables_info {
  font-size: .8rem;
  padding-top: 0 !important;
  margin-right: auto;
}

table.dataTable tbody tr.selected a, table.dataTable tbody th.selected a, table.dataTable tbody td.selected a {
  color: #0361aa !important;
}

/* model template */

.model-select-container {
  min-width: 200px;
}

.model-button-container {
  width: 80px;
}

.edit-mode-btn {
  height: 26px;
  background-color: #fff;
  border-color: #a3b1bd;
  color: #787878;
}

.edit-mode-btn.active {
  background-color: #f1e2e3 !important;
  color: #784442 !important;
  border-color: #b29e9d !important;
}

.model-btn {
  border: 1px solid #e8e9ec;
  border-radius: 0;
  height: 50%;
  font-size: .8rem;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 100%;
  background-color: #e8e9ec;
  color: #787878;
}

.model-btn:hover {
  background-color: #0361aa;
  border-color: #0361aa;
  color: #fff;
}

.model-btn:disabled, .model-btn:disabled:hover {
  opacity: .65;
  background-color: #e8e9ec;
  border: 1px solid #e8e9ec;
  color: #787878;
}

.custom_select {
  color: #787878;
  border: 1px solid #a5a5a5;
}

.border-left {
  border-left: 1px solid #a5a5a5 !important;
}

.border-right {
  border-right: 1px solid #a5a5a5 !important;
}

.border-top {
  border-top: 1px solid #a5a5a5 !important;
}

.border-bottom {
  border-bottom: 1px solid #a5a5a5 !important;
}

.model-attribute-container {
  display: inline-block;
  margin-right: 5px;
}

.model-attribute-label {
  font-weight: 500;
  border: 1px solid rgb(215, 215, 215);
  padding-right: .5rem;
  padding-left: .5rem;
  border-bottom-left-radius: .5rem;
  border-top-left-radius: .5rem;
  padding-bottom: .1rem;
  padding-top: .1rem;
  font-size: .8rem;
  background-color: #f6f6f6;
  white-space: nowrap;
  display: inline;
}

.model-attribute-value {
  border: 1px solid rgb(215, 215, 215);
  font-weight: 400;
  padding-right: .5rem;
  padding-left: .5rem;
  border-bottom-right-radius: .5rem;
  border-top-right-radius: .5rem;
  padding-bottom: .1rem;
  padding-top: .1rem;
  font-size: .8rem;
  background-color: #fff;
  white-space: nowrap;
  display: inline;
  margin-left: -6px;
}

/* embed table cards */

.sub-card-header {
  padding: 4px;
  font-size: 0.85rem;
  font-weight: 600;
  background-color: #e3f0f5;
  border-bottom: 1px solid #a5a5a5;
  height: 36px;
  border-top-left-radius: .2rem;
  border-top-right-radius: .2rem;
  color: #376783;
}

.sub-card-header-embed {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 0.85rem;
  font-weight: 600;
  background-color: #e8e9ec;
  border-bottom: 1px solid #a5a5a5;
  border-top: 1px solid #a5a5a5;
  height: 36px;
  color: #376783;
}

.sub-card-footer {
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #e8e9ec;
  padding-right: 10px;
  padding-left: 10px;
  border-bottom-left-radius: .2rem !important;
  border-bottom-right-radius: .2rem !important;
  min-height: 32px;
  border-top: 1px solid #a5a5a5;
  align-items: center;
  display: flex;
}

.card-header-title {
  align-self: flex-start;
  margin-right: auto;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 6px;
}

.dt-embed table.dataTable {
  margin-top: 0;
  font-size: .8rem;
}

.dt-embed .card-body {
  padding-top: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0;
}

.dt-embed .table thead th {
  border-top: none;
}

.dt-embed .dataTables_info, .dt-embed .dataTables_paginate {
  font-size: .8rem;
}

/* datatables Editor form classes */

.modal-content {
  border-radius: 8px;
}

.modal-header {
  padding: .5rem 1rem;
  border-bottom: 1px solid #a5a5a5;
  background-color: #2f333c;
  color: #ffffff;
  background-image: linear-gradient(180deg,#11587c 10%,#17222b 100%);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-weight: 600;
}

.modal-header .close {
  font-size: 1.3rem;
  color: #fff;
  padding: 0;
  margin: 0;
  line-height: .8;
}

.modal-footer {
  border-top: 1px solid #a5a5a5;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #e8e9ec;
}

h5.modal-title {
  font-size: 1rem;
}

.DTE {
  font-size: .9rem;
}

.DTE .form-group {
  margin-bottom: .25rem;
}

.DTE .form-control {
  font-size: .9rem;
  height: 1.8rem;
  padding: .2rem .5rem;
  line-height: 1;
  border: 1px solid #a5a5a5;
}

.DTE .form-control:focus {
  box-shadow: 0px 0px 1px 2px #0361aa inset !important;
}

.DTE .col-form-label {
  line-height: 1;
  height: 1.8rem;
  text-align: right;
  font-size: .9rem;
}

.DTE .error {
  width: auto;
}

.DTE .form-text {
  font-size: .8rem;
  margin-top: 5px;
  margin-left: 5px;
}

.DTE_Field_InputControl {
  display: flex !important;
}

.DTE_Field_InputControl textarea {
  min-height: 100px;
  height: 100px;
}

.chosen-container-multi .chosen-choices {
  border-radius: .35rem;
  border: 1px solid #a5a5a5;
  background-image: none;
}

.DTE .btn {
  font-size: .8rem;
  line-height: 1.2;
  margin-left: 10px;
}

div.DTE_Field_Type_checkbox div label, div.DTE_Field_Type_radio div label {
  line-height: 1;
  margin-bottom: 0;
}

div.DTE_Field_Type_textarea textarea {
    height: 120px;
}

/* dashboard cards/tiles */

.homecard {
  border: 1px solid #a5a5a5;
  border-radius: 0.25rem;
}

.homecard .card-footer:hover {
  background-color: rgba(165, 165, 165, 0.61);
  border-top: 1px solid #a5a5a5;
}

.homecard-action {
  align-self: flex-start;
  margin-right: auto;
}

.homecard-action {
  align-self: flex-end;
}

.homecard a:hover {
  text-decoration: none;
}

.ch-primary {
  background-color: #0361aa;
  color: #fff;
}

/*fix for z-index problem */
.sidebar.toggled .nav-item .collapse {
  z-index: 1000;
  left: calc(6.5rem + .5rem / 2);
}

.card-body-icon {
  position: absolute;
  z-index: 0;
  top: -1.25rem;
  right: -1rem;
  opacity: 0.4;
  font-size: 5rem;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}

/* special cards */

.card-tabs-header {
  font-size: 0.85rem;
  font-weight: 400;
  padding-top: .4rem;
  padding-bottom: 0;
  background-color: #e8e9ec;
  border-bottom: 1px solid #a5a5a5;
  border-top-left-radius: .2rem !important;
  border-top-right-radius: .2rem !important;
  height: 39px;
}

.card-tabs-header .card-header-tabs {
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
}

.nav-tabs .nav-link {
  padding: 5px 20px;
  border: 1px solid rgb(200, 200, 200);
  border-top-left-radius: .35rem;
  border-top-right-radius: .35rem;
  border-bottom: none;
}

.nav-tabs .nav-link.active {
  color: #6e707e;
  background-color: #fff;
  border-color: #b9bbc5 #b3b5be #fff;
  border-bottom: 1px solid #fff;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: #a5a5a5 #a5a5a5 #a5a5a5;
}

.nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active:hover {
  border-color: #a5a5a5 #a5a5a5 #fff;
}

/* full card toolbar */

.dt-buttons {
  margin-bottom: 0;
  height: 26px;
  align-self: flex-start;
  margin-right: auto;
}

.dt-buttons-subcard {
  height: 35px;
  line-height: 1.8;
}

.dt-buttons-corner-right {
  border-top-right-radius: .25rem !important;
}

.dt-button-collection-title {
  padding: 0 !important;
}

.dt-buttons button.btn {
  font-size: .8rem !important;
  background-color: #fff;
  border-color: #a3b1bd;
  color: #787878;
  padding: .25rem .5rem;
  line-height: 1.2;
}

.dt-btn-group {
  margin-top: 1px;
  margin-right: 5px;
}

.dt-btn-group > .btn:not(:first-child),
.dt-btn-group > .dt-btn-group:not(:first-child) {
  margin-left: -1px;
}

.dt-btn-group > .btn:not(:last-child):not(.dropdown-toggle),
.dt-btn-group > .dt-btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.dt-btn-group > .btn:not(:first-child),
.dt-btn-group > .dt-btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.dt-btn {
  font-size: .8rem !important;
  background-color: #fff;
  border-color: #a3b1bd;
  color: #787878;
  padding: .25rem .5rem;
  line-height: 1.2;
  height: 26px;
}

.dt-btn:hover {
  background-color: #0361aa;
  border-color: #0361aa;
  color: #fff;
}

.dt-btn.active {
  color: #3a3b45 !important;
  background-color: #e3e4e7 !important;
  border-color: #a5a5a5 !important;
}

.dt-buttons button.btn:hover {
  background-color: #0361aa;
  border-color: #0361aa;
  color: #fff;
}

.dt-buttons button.disabled:hover {
  background-color: #fff;
  border-color: #a3b1bd;
  color: #787878;
  cursor: default;
}

.btn_single {
  border-radius: .2rem !important;
}

.buttons-colvis {
  font-family: "Font Awesome 5 Free" !important;
  /* border-top-right-radius: 0;
  border-bottom-right-radius: 0; */
}

button.buttons-create, button.buttons-edit, button.buttons-remove {
  font-family: "Font Awesome 5 Free" !important;
  margin-right: 0;
}

.buttons-page-length {
  margin-right: 0;
}


/* search results page */

.search-prepend {
  font-size: .9rem;
  height: 31px;
}

.search-results-btn {
  height: 31px;
  font-size: .9rem;
  line-height: 0.5;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.search-results-input:focus {
  box-shadow: 0px 0px 1px 2px #0361aa inset !important;
}

.search-results-checkbox {
  font-size: .9rem;
  line-height: 1.5;
}

.search-results-checkbox input {
  margin-right: 5px;
}

.search-results-none {

}

.highlighted {
  font-weight: 600;
}


.search-result-entry {
  margin-bottom: 20px;
}

.search-result-link {
  font-size: 1.2rem;
}

.search-result-detail {
  font-size: .85rem;
  color: #267e30;
}

.search-result-text {
  font-size: .9rem;
  color: #686868;
}


/* tab + menubar card footer */
.tab-pane {
  border-bottom: 1px solid #a5a5a5;
}

#tab-footer-interface {
  display: none;
}

.tab-footer {
  padding-top: 0;
  padding-bottom: .4rem;
  background-color: #e8e9ec;
  padding-right: 1rem;
  padding-left: 1rem;
  border-bottom-left-radius: .2rem !important;
  border-bottom-right-radius: .2rem !important;
  height: 32px;
}

.card-footer-tabs {
  font-size: 0.7rem;
  font-weight: 400;
  border-bottom: none;
}

.card-footer-tabs .nav-item {
  margin-top: -1px !important;
  z-index: 1;
}

.card-footer-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: .2rem !important;
  border-bottom-right-radius: .2rem !important;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.card-footer-tabs .nav-link.active, .card-footer-tabs .nav-link.active:hover {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #a5a5a5;
  border-right: 1px solid #a5a5a5;
  border-left: 1px solid #a5a5a5;
}

.card-footer-tabs .nav-link:hover {
  border-top: 1px solid #a5a5a5;
  border-bottom: 1px solid #a5a5a5;
  border-right: 1px solid #a5a5a5;
  border-left: 1px solid #a5a5a5;
}

.tab-footer-text {
  padding-top: .4rem;
}

/*special buttons */
#c-classes_button .btn {
  font-size: .875rem !important;
  background-color: #fff;
  border-color: #a3b1bd;
  color: #787878;
  padding: .25rem .5rem;
  line-height: 1.5;
}

#c-classes_button .btn:hover {
  background-color: #0361aa;
  border-color: #0361aa;
  color: #fff;
}

#c-classes_button .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}

#c-classes_button .btn:focus {
  box-shadow: none !important;
}

#c-classes_button .btn:hover {
  background-color: #0361aa;
  border-color: #0361aa;
  color: #fff;
}

#attribute_card .dt-buttons, #content_card .dt-buttons, #c-classes_button {
  display: inline;
  float: right;
}

#attribute_card, #content_card {
  padding-top: .3rem;
  padding-bottom: .2rem;
  padding-left: 1rem;
  padding-right: .3rem;
}

#a-title, #c-title {
  display: inline !important;
  line-height: 2rem;
}

/* general buttons */

.hearderBtn {
  font-size: .8rem;
  padding-top: .2rem;
  padding-bottom: .2rem;
}

.btn-primary {
  color: #fff;
  background-color: #215986;
  border-color: #011536;
}

.btn-primary:hover {
  color: #fff;
  background-color: #011536;
  border-color: #011536;
}

.btn-secondary {
  color: #fff;
  background-color: #5d656c;
  border-color: #212529;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}

.btn-light {
  color: #2f2f2f;
  background-color: #d1d4d7;
  border-color: #888;
}

.btn-light:hover {
  color: #fff;
  background-color: #5d656c;
  border-color: #212529;
}

.btn-success {
  color: #fff;
  background-color: #1f7f31;
  border-color: #13855c;
}

.btn-success:hover {
  color: #fff;
  background-color: #13855c;
  border-color: #13855c;
}

.btn-info {
  color: #fff;
  background-color: #03889a;
  border-color: #258391;
}

.btn-info:hover {
  color: #fff;
  background-color: #258391;
  border-color: #258391;
}

.btn-warning {
  color: #fff;
  background-color: #af8427;
  border-color: #dda20a;
}

.btn-warning:hover {
  color: #fff;
  background-color: #dda20a;
  border-color: #dda20a;
}

.btn-danger {
  color: #fff;
  background-color: #a6332b;
  border-color: #7d190f;
}

.btn-danger:hover {
  color: #fff;
  background-color: #be2617;
  border-color: #7d190f;
}

.badge-pill {
  padding-right: 9px;
  padding-left: 9px;
  border-radius: 10px;
  font-size: .7rem;
  line-height: 10px;
}

/*DataTables general fixes */
div.DTS div.dataTables_scrollBody {
  background: none !important;
}

table.dataTable tr.dtrg-group td {
  background-color: #fafafa !important;
  padding-bottom: 5px;
  padding-top: 5px;
  color: #888;
}

.table_connector_col {
  text-align: center;
  color: #0361aa;
  margin-top: 17vh;
  font-size: 1.5rem;
}

.table_connector_row {
  text-align: center;
  color: #0361aa;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

table.table_scroll thead th {
  border-bottom: 1px solid #a3b1bd !important;
  white-space: nowrap !important;
  vertical-align: middle;
  padding: .5rem;
  border-color: #a3b1bd !important;
}

div.dataTables_scrollHeadInner table.dataTable {
  border-collapse: collapse !important;
}

th.sorting_asc::before, th.sorting_asc::after, th.sorting_desc::before, th.sorting_desc::after, th.sorting::before, th.sorting::after {
  bottom: .5em !important;
}

.table td {
  border-bottom: 1px dotted #a3b1bd !important;
  border-top: none !important;
  vertical-align: middle;
  padding: 8px;
  /*border-right: 1px solid #ebeef0;*/
}

table.c_stripe tbody td:nth-of-type(odd) {
  background: rgba(238, 238, 240, 0.57);
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child {
  padding-left: 35px !important;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
  top: 9px !important;
  left: 9px !important;
}

/*datatables search filter*/

.dataTables_filter {
  align-self: flex-end;
}

.dataTables_filter label {
  color: #e8e9ec !important;
  font-size: .000001rem !important;
  margin-bottom: 0 !important;
}

div.table_scroller .dataTables_filter label {
  color: #fff !important;
  font-size: .000001rem !important;
  margin-bottom: .4rem !important;
}

.dataTables_filter .form-control-sm {
  font-size: .8rem;
  line-height: 1.2;
  border-radius: .3rem;
  margin-left: 0 !important;
}

.dataTables_filter input {
  border: 1px solid #a3b1bd !important;
  height: 26px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.dataTables_filter input:focus {
  box-shadow: 0px 0px 1px 2px #0361aa inset !important;
}

.table-hover tbody tr:hover {
  color: #212529;
}

table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {
  background-color: #f0f8ff !important;
  color: #0361aa !important;
}

/*DALME tables search filter system */

.table-filter {
  height: 34px;
  background-color: #f3f3f3;
  color: #707070;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-bottom: 1px solid #bbb;
}

.filter_info {
  font-size: .9rem;
  font-weight: 600;
  float: left;
}

.filters-btn {
  float: right;
  border: 1px solid #bbb;
  background-color: #f3f3f3;
  color: #000;
  font-size: .8rem;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  line-height: 1.2;
  margin-left: 3px;
}

.filters-btn:hover, .filters-btn:active, .filters-btn:focus {
  background-color: #cbcbcb;
  color: #000;
}

.filter-select {
  width: auto;
  font-size: .8rem;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 22px;
  line-height: 1.2;
  margin-right: 10px;
  float: left;
  border: 1px solid #bbb;
  background-color: #f3f3f3;
  color: #000;
  height: 21px;
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%235a5c69' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .5rem center/8px 10px;
}

.filter-text {
  width: auto;
  font-size: .8rem;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  line-height: 1.2;
  margin-right: 15px;
  float: left;
  border: 1px solid #bbb;
  background-color: #f3f3f3;
  color: #000;
  height: 21px;
}

.filter-text:focus {
  box-shadow: 0px 0px 1px 2px #0361aa inset !important;
  color: #000;
}

.filter-switch {
  width: auto;
  font-size: .8rem;
  margin-right: 15px;
  float: left;
  height: 21px;
}

.filter-switch .custom-control-label::before {
    background-color: #f3f3f3;
    top: .2rem;
}

.filter-switch .custom-control-label::after {
    top: calc(.2rem + 2px);
}

.filter-switch .custom-control-input:checked~.custom-control-label::before {
  border-color: #218cf9;
  background-color: #218cf9;
}

.custom-switch label {
  padding-top: 2px;
  color: #000;
}

.filter-check {
  width: auto;
  font-size: .8rem;
  line-height: 1.2;
  margin-right: 10px;
  float: left;
  background-color: #f3f3f3;
  color: #707070;
  height: 21px;
}

.filter-check label {
    color: #000;
}

/*dropdown menus */

.dropdown-menu {
  min-width: 7.5rem;
  font-size: .8rem;
  padding-left: 0;
  padding-right: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  border-radius: .35rem;
  background-color: #fff;
  box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.45);
  border: none;
  top: 100%;
}

.dropdown-item {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0;
  padding-bottom: 0;
  display: block;
  color: #3a3b45;
  text-decoration: none;
  white-space: nowrap;
  margin-right: 0;
  margin-top: .2rem;
  margin-left: 0;
  margin-bottom: .2rem;
  font-weight: 600;
}

.dropdown-item.active {
  color: #0361aa !important;
  background-color: #fff;
  border-left: 0.25rem solid #1f7f31 !important;
  padding-left: .75rem;
}

.dropdown-item:hover {
  padding-left: .75rem;
  border-radius: 0;
  border-left: 0.25rem solid #0361aa !important;
  background-color: rgba(0,0,0,.075)
}

.page-item.active .page-link {
  background-color: #0361aa !important;
  border-color: #0361aa !important;
}

.page-link a {
  color: #0361aa !important;
}

a.page-link:focus, a.page-link:active {
  box-shadow: none !important;
  outline: none !important;
}

/* Datatables column rendering classes */

.dt_n_level {
  font-size: 12px;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 0;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid #2e6da4;
  border-radius: 4px;
  padding-top: .1rem;
  padding-bottom: .1rem;
  padding-left: .5rem;
  padding-right: .5rem;
}

.dt_n_level_DEBUG {
  color: #2e6da4;
  border: 1px solid #2e6da4;
}

.dt_n_level_SUCCESS {
  color: #4cae4c;
  border: 1px solid #4cae4c;
}

.dt_n_level_WARNING {
  color: #eea236;
  border: 1px solid #eea236;
}

.dt_n_level_INFO {
  color: #1b6d85;
  border: 1px solid #1b6d85;
}

.dt_n_level_ERROR {
  color: #d43f3a;
  border: 1px solid #d43f3a;
}

.dt_n_type {
  color: #333;
  font-size: 12px;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 0;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid #333;
  border-radius: 4px;
  padding-top: .1rem;
  padding-bottom: .1rem;
  padding-left: .5rem;
  padding-right: .5rem;
}

.dt_checkbox_true {
  width: 1.28571429em;
  text-align: center;
  color: #4cae4c;
}

.dt_checkbox_false {
  width: 1.28571429em;
  text-align: center;
  color: #d43f3a;
}


/* sidebar fixes */

.dalme-logo {
    display: inline;
    float: left;
    margin-top: 5px;
    background-color: #fff;
}

.sidebar .nav-item .collapse .collapse-inner {
  box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.45) !important;
}

.sidebar.toggled .nav-item .nav-link {
  padding: .5rem 1rem !important;
}

.sidebar-brand-text {
  font-size: 1.7rem;
  font-family: Academy Engraved LET;
  padding-top: .6rem;
}

.bg-gradient-sidebar {
  background-color: #2f333c;
  background-image: linear-gradient(180deg,#11587c 10%,#17222b 100%);
  background-size: cover;
}

.sidebar .sidebar-heading {
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.8rem;
  padding-bottom: 0.2rem;
  font-weight: 600;
  font-size: .65rem;
}

.sidebar .sidebar-menu-heading {
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.8rem;
  padding-bottom: 0.2rem;
  font-weight: 600;
  font-size: .8rem;
  color: #949494;
}

.sidebar .nav-item .nav-link {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.sidebar .nav-item {
  font-size: 0.9rem;
}

.sidebar .nav-item.active .nav-link {
  font-weight: 400 !important;
}

.sidebar .nav-item .nav-link i {
  font-size: 1rem;
  margin-right: 0.25rem;
}

.sidebar .nav-item .nav-link span {
  font-size: 0.9rem;
  display: inline;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item, .sidebar .nav-item .collapsing .collapse-inner .collapse-item {
  padding-left: 0.75rem !important;
  padding-right: 1rem !important;
  padding-top: 0.2rem !important;
  padding-bottom: 0 !important;
  margin: 0 !important;
  border-left: 0.25rem solid #fff !important;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover, .sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {
  border-radius: 0;
  border-left: 0.25rem solid #0361aa !important;
  background-color: rgba(0,0,0,.075)
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active, .sidebar .nav-item .collapsing .collapse-inner .collapse-item.active {
  color: #0361aa !important;
}


/*topbar fixes*/

.topbar-dalme {
  background-color: #1b1b1b;
  color: #fff;
  padding-right: 0;
}

.topbar {
  height: 2rem;
  font-size: .8rem;
}

.topbar .dropdown-list {
  width: auto !important;
  white-space: normal;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link {
  color: #939393;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: #fff;
  background-color: #3a3a3a;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link:active {
  color: #fff;
  background-color: #3a3a3a;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link:focus {
  color: #fff;
  background-color: #3a3a3a;
}

li#searchIcon.show {
  color: #fff !important;
  background-color: #3a3a3a !important;
}

li#searchIcon.show a {
  color: #fff !important;
  background-color: #3a3a3a !important;
}

.topbar-badge {
  color: #1b1b1b;
  background-color: #939393;
  padding-bottom: 2px;
}

.topbar-badge-alert {
  color: #fff;
  background-color: #a6332b;
  padding-bottom: 2px;
}

.topbar-border-left {
  border-left: 1px solid #3a3a3a;
}

.topbar .nav-item .nav-link {
  height: 2rem;
}

.fa-g {
  font-size: .8rem !important;
}

.topbar .dropdown-list .dropdown-item {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  display: block !important;
  color: #3a3b45 !important;
  text-decoration: none !important;
  white-space: nowrap !important;
  margin-right: 0 !important;
  margin-top: .2rem !important;
  margin-left: 0 !important;
  margin-bottom: .2rem !important;
  font-weight: 600 !important;
  line-height: 1.5rem !important;
  border: 0 !important;
  font-size: .85rem!important;
}

.topbar .dropdown-list .dropdown-item.active {
  color: #0361aa !important;
  background-color: #fff !important;
  border-left: 0.25rem solid #1f7f31 !important;
  padding-left: .75rem !important;
}

.topbar .dropdown-list .dropdown-item:hover {
  padding-left: .75rem !important;
  border-radius: 0 !important;
  border-left: 0.25rem solid #0361aa !important;
  background-color: rgba(0,0,0,.075) !important;
}

/* topbar tasks */

.dropdown-tasks {
  width: 20rem !important;
  padding: 0;
}

.dropdown-tasks-header {
  padding-top: 1rem;
  padding-bottom: .75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #888;
  border-bottom: 1px dotted #a5a5a5;
  font-weight: 700;
}

.dropdown-tasks-item {
  border-bottom: 1px dotted #a5a5a5;
  font-weight: 600;
  color: #5c5c5c;
  font-size: 1rem;
}

.dropdown-tasks-item:hover {
  text-decoration: none;
  color: #0361aa;
  background-color: #f0f8ff;
}

.dropdown-tasks-item a:hover {
  text-decoration: none;
}

.dropdown-tasks-action {
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: .8rem;
  font-weight: 600;
  color: #888;
  display: inline-block;
  width: 50%;
  text-align: center;
}
.dropdown-tasks-action-rb {
  border-right: 1px dotted #a5a5a5;
}

.dropdown-tasks-action:hover {
  text-decoration: none;
  background-color: #0361aa;
  border-color: #0361aa;
  color: #fff;
}

.dropdown-tasks-info {
  align-self: flex-start;
  flex-grow: 4;
  padding-top: 6px;
  padding-bottom: 10px;
  padding-left: 1rem;
  padding-right: .75rem;
}

.dropdown-tasks-buttons {
  width: 33px;
  margin-left: auto;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  display: block;
  border-bottom: 1px transparent;
}

.dropdown-tasks-btn-bb {
  border-bottom: 1px dotted #d8d8d8 !important;
}

.dropdown-tasks-btn {
  margin: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: .8rem;
  border: none;
  border-left: 1px dotted #d8d8d8;
  color: #a5a5a5;
  background-color: #fff;
  border-radius: 0;
  height: 50%;
}

.dropdown-tasks-btn:hover {
  background-color: #0361aa;
  border-color: #0361aa;
  color: #fff;
}

.dropdown-tasks-empty {
  padding: 1rem;
  border-bottom: 1px dotted #a5a5a5;
  text-align: center;
}

.dropdown-tasks-list {
  border: 1px solid #b8bcbb;
  border-radius: .35rem;
  font-size: .6rem;
  font-weight: 600;
  padding: 0px 5px;
  text-transform: uppercase;
  background-color: #f4f4f4;
  color: #878c8c;
  align-self: flex-start;
  margin-right: auto;
}

.dropdown-tasks-due {
  border: 1px solid #896f2f;
  border-radius: .35rem;
  font-size: .6rem;
  font-weight: 600;
  padding: 0px 5px;
  text-transform: uppercase;
  background-color: #eedba4;
  color: #816132;
  align-self: flex-end;
}

.dropdown-tasks-overdue {
  border: 1px solid #853933;
  border-radius: .35rem;
  font-size: .6rem;
  font-weight: 600;
  padding: 0px 5px;
  text-transform: uppercase;
  background-color: #d9b9bd;
  color: #943737;
  align-self: flex-end;
}


/* topbar search form */
.search-slider {
  shadow: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  top: 0 !important;
  right: 100% !important;
  left: auto;
  margin-right: 0 !important;
  border: none;
  background-color: #3a3a3a;
}

.navbar-search {
  width: 15rem !important;
}

#topbar_search {
  border: none;
  background-color: #3a3a3a;
  color: #b9b9b9 !important;
  font-size: .8rem;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0;
  height: 2rem;
}

#topbar_search:focus {
  color: #fff !important;
  box-shadow: 0px 0px 1px 2px #0361aa inset !important;
}

#topbar_search::placeholder {
  color: #777 !important;
}

/* source viewers/editors */

.transcription-editor {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  height: calc(100vh - 143px); /*topbar+tb-margin+card-header+card-margin+footer = 24+24+45+16+32 +10 adjustment*/
  /* box-shadow: inset 50px 0px 0px #ebebeb; */
}

.panel-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  /* height: calc(100vh - 114px); */
}

.panel-top {
  flex: 0 0 auto;
  height: 400px; /*adjusted manually*/
  width: 100%;
}

.panel-bottom {
  flex: 1 1 auto;
  height: calc(100vh - 543px); /*topbar+tb-margin+card-header+panel-top+card-margin = 24+24+45+400+16 all -9 adjustment*/
  padding-top: 4px;
}

.panel-left {
  flex: 0 0 auto;
  width: 100%; /*adjusted manually*/
  height: 100%;
  padding-top: .2rem;
  padding-bottom: 1rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.panel-right {
  flex: 1 1 auto;
  padding-left: 4px;
  height: 100%;
}

.splitter-horizontal {
  flex: 0 0 auto;
  height: 10px !important;
  background: url(./horizontalgrip.png) center center/33px 6px no-repeat #e8e9ec;
  cursor: row-resize !important;
  border-top: 1px solid #a5a5a5;
  border-bottom: 1px solid #a5a5a5;
}

.splitter-vertical {
  flex: 0 0 auto;
  width: 10px !important;
  background: url(./verticalgrip.png) center center/6px 33px no-repeat #e8e9ec;
  cursor: col-resize !important;
  border-right: 1px solid #a5a5a5;
  border-left: 1px solid #a5a5a5;
}

#diva_viewer {
  height: 100%;
  background: #0e0e0e;
}

.diva-wrapper {
  height: 100% !important;
  min-height: 100% !important;
  width: 100% !important;
}

.diva-outer {
  background: #0e0e0e !important;
  border-bottom: none !important;
  border-left: none !important;
  border-right: none !important;
  border: none !important;
}

.diva-tools {
  height: 0 !important;
  overflow: hidden !important;
}

#editor {
  overflow: scroll;
  white-space: pre-line;
  line-height: 1.3;
  font-family: 'Menlo', 'Consolas', monospace;
  height: calc(100vh - 572px); /* panel-bottom-editor_bar-xml_margin = 509-29-10*/
}

.ace_scroller {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
}

.ace_gutter {
  padding-top: 10px;
  padding-bottom: 10px;
}

#xmleditor-options {
  font-size: .8rem !important;
  width: 21rem;
  display: none;
  top: 105%;
}

#xmleditor-options .custom-select {
  font-size: .8rem !important;
  padding-right: 1.75rem;
  padding-left: .5rem;
  height: 1.6rem;
  line-height: 1;
}

.custom-select:focus, .custom-select:active {
  box-shadow: none !important;
  outline: none !important;
}

#xmleditor-options .col-form-label {
  padding-top: .3rem;
  padding-bottom: .3rem;
  text-align: right;
}

#xmleditor-options .dropdown-divider {
  margin-top: .75rem;
  margin-bottom: 1rem;
}

/* editor toolbar */

#viewer-toolbar {
  background-color: #fff;
  border-bottom: 1px solid #a5a5a5;
}

#editor-toolbar {
  border-top: 1px solid #a5a5a5;
  background-color: #fff;
  border-bottom: 1px solid #a5a5a5;
}

.editor-btn {
  font-size: .8rem;
  border-color: #a5a5a5;
  padding: .25rem .5rem;
  line-height: 1.5;
  border-radius: 0;
  border: none;
  background-color: #fff;
  color: #3a3b45;
}

.editor-btn:hover {
  background-color: #c4e1ef;
  color: #0361aa;
}

.editor-btn:disabled {
  color: #ababab;
  cursor: default;
}

.editor-btn:disabled:hover {
  color: #ababab;
  cursor: default;
  background-color: #fff;
}

.editor-btn:focus, .editor-btn:active {
  background-color: #c4e1ef !important;
  color: #024e88 !important;
}

.editor-btn.active {
  background-color: #e3e4e7;
  color: #3a3b45;
}

#btn_save {
  background-color: #fafff5;
  color: #2a4936;
}

#btn_save:hover {
  background-color: #dae9d3;
  color: #025e13;
}

#btn_save:disabled {
  color: #ababab;
  cursor: default;
}

#btn_save:disabled:hover {
  color: #ababab;
  cursor: default;
  background-color: #fff;
}

#btn_cancel {
  background-color: #fff8fd;
  color: #734847;
}

#btn_cancel:hover {
  background-color: #f5e9e8;
  color: #ae040e;
}

.button-border-left {
  border-left: 1px solid #a5a5a5;
}

.button-border-right {
  border-right: 1px solid #a5a5a5;
}

.single_folio {
  font-size: .8rem;
  padding: .25rem .5rem;
  line-height: 1.5;
  background-color: #fff;
  color: #3a3b45;
  border-left: 1px solid #a5a5a5;
}

.current-folio {
  color: #9b9eb9;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 600;
  border-left: 0.25rem solid #1f7f31;
}

.current-folio:hover {
  color: #9b9eb9;
  background-color: #fff;
  border-left: 0.25rem solid #1f7f31;
}

/*lists */
.attribute_list {
  font-size: .9rem;
  line-height: 1.6rem;
}

.attribute_list_item {
  padding-left: 0;
  list-style: none;

}

.attribute_list_label {
  font-weight: 500;
  border: 1px solid rgb(215, 215, 215);
  padding-right: .5rem;
  padding-left: .5rem;
  border-bottom-left-radius: .5rem;
  border-top-left-radius: .5rem;
  padding-bottom: .1rem;
  padding-top: .1rem;
  font-size: .8rem;
  background-color: #f6f6f6;
  white-space: nowrap;
}

.attribute_list_value {
  font-weight: 400;
}

/* colours */

.bg-primary {
  background-color: #0361aa !important;
}

.bg-primary-soft {
  background-color: #91bcd9 !important
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #0062cc !important;
}

.bg-gradient-primary {
  background-color: #0361aa;
  background-image: linear-gradient(180deg, #0361aa 10%, #011536 100%);
  background-size: cover;
}

.bg-secondary {
  background-color: #5d656c !important;
}

.bg-secondary-soft {
  background-color: rgba(93, 101, 108, 0.49) !important;
}

a.bg-secondary:hover, a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
  background-color: #545b62 !important;
}

.bg-success {
  background-color: #1f7f31 !important;
}

.bg-success-soft {
  background-color: rgba(31, 127, 49, 0.55) !important;
}

a.bg-success:hover, a.bg-success:focus,
button.bg-success:hover,
button.bg-success:focus {
  background-color: #1e7e34 !important;
}

.bg-gradient-success {
  background-color: #1f7f31;
  background-image: linear-gradient(180deg, #1f7f31 10%, #13855c 100%);
  background-size: cover;
}

.bg-info {
  background-color: #03889a !important;
}

.bg-info-soft {
  background-color: rgba(3, 136, 154, 0.49) !important;
}

a.bg-info:hover, a.bg-info:focus,
button.bg-info:hover,
button.bg-info:focus {
  background-color: #117a8b !important;
}

.bg-gradient-info {
  background-color: #03889a;
  background-image: linear-gradient(180deg, #03889a 10%, #258391 100%);
  background-size: cover;
}

.bg-warning {
  background-color: #af8427 !important;
}

.bg-warning-soft {
  background-color: rgba(175, 132, 39, 0.5) !important;
}

a.bg-warning:hover, a.bg-warning:focus,
button.bg-warning:hover,
button.bg-warning:focus {
  background-color: #d39e00 !important;
}

.bg-gradient-warning {
  background-color: #af8427;
  background-image: linear-gradient(180deg, #af8427 10%, #dda20a 100%);
  background-size: cover;
}

.bg-danger {
  background-color: #a6332b !important;
}

.bg-danger-soft {
   background-color: rgba(166, 51, 43, 0.47) !important;
}

a.bg-danger:hover, a.bg-danger:focus,
button.bg-danger:hover,
button.bg-danger:focus {
  background-color: #bd2130 !important;
}

.bg-gradient-danger {
  background-color: #a6332b;
  background-image: linear-gradient(180deg, #a6332b 10%, #be2617 100%);
  background-size: cover;
}

.bg-light {
  background-color: #e0e2e9!important;
}

.text-gray-300 {
  color: #5d656c !important;
}

.text-gray-400 {
  color: #5d656c !important;
}

.text-gray-600 {
  color: #5d656c !important;
}

.text-dark-grey {
  color: #212529 !important;
}

.text-primary {
  color: #011536 !important;
}

.text-secondary {
  color: #5d656c !important;
}

.text-success {
  color: #13855c !important;
}

.text-info {
  color: #258391 !important;
}

.text-warning {
  color: #dda20a !important;
}

.text-danger {
  color: #be2617 !important;
}

.progress-bar {
  background-color: #0361aa !important;
}

.progress {
  background-color: #e0e2e9 !important;
}
