/*general fixes to SB-Admin theme*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #5d656c;
  text-align: left;
  background-color: #fff;
}

.shadow {
  box-shadow: 0 2px 28px 0 rgba(58,59,69,.25) !important;
}

parsererror {
  margin-left: -30px !important;
  margin-right: -30px !important;
  margin-top: -10px !important;
  border: none !important;
  border-bottom: 1px solid #ef8c83 !important;
  background-color: #fadbd8 !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

parsererror h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  padding-top: 5px !important;
  color: #78261f !important;
  margin-bottom: 5px !important;
}

parsererror div {
  font-family: 'Menlo', 'Consolas', monospace !important;
  font-size: 14px !important;
}

tei-TEI {
    width: 100%
}

.img-placeholder {
  height: 80vh;
  /* background-color: #8a8a8a; */
  color: #c8c8c8;
}

.nowrap {
  white-space: nowrap !important;
}

.wrap {
  white-space: normal !important;
}

:focus, :active {
  /*box-shadow: none !important;*/
  outline: none !important;
}

button:focus, button:active {
  box-shadow: none !important;
  outline: none !important;
}

input:focus {
  box-shadow: 0px 0px 1px 2px #0361aa inset !important;
}

a {
  color: #0361aa;
}

.page_title {
  white-space: nowrap;
  overflow: hidden;
}

.title_current {
  font-weight: 800;
}

.title_link {
  color: #fff;
}

.title_link:hover {
  color: #fff;
  text-decoration: underline;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.script-results {
  min-height: 30vh;
  max-height: 50vh;
  overflow: scroll;
}

.script-item {
  border: 1px solid #a5a5a5;
  border-radius: 6px;
  margin-bottom: 5px;
  margin-top: 5px;
  text-decoration: none;
  align-items: center;
  color: #5d656c;
}

.script-item:hover {
  text-decoration: none;
  background-color: #f0f8ff;
  color: #0361aa;
}

.script-icon {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  align-self: flex-start;
  margin-right: 20px;
  width: 36px;
}

.script-button {

}

/* messages and alerts */

.alert {
  padding: 12px 20px;
  margin-bottom: 24px;
  margin-top: -24px;
  border-radius: 0;
  font-size: 14px;
}

.alert-success {
  color: #0f6848;
  background-color: #d2f4e8;
  border: 1px solid #d2f4e8;
  border-bottom-color: #6dddb3;
}

.alert-info {
  color: #1c606a;
  background-color: #d7f1f5;
  border-color: #d7f1f5;
  border-bottom-color: #82d2e0;
}

.alert-warning {
  color: #806520;
  background-color: #fdf3d8;
  border-color: #fdf3d8;
  border-bottom-color: #f8da89;
}

.alert-danger {
  color: #78261f;
  background-color: #fadbd8;
  border-color: #fadbd8;
  border-bottom-color: #ef8c83;
}

.close {
  float: right;
  font-size: 24px;
  font-weight: 700;
  line-height: .9;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

/* Workset controller */

.workset-controller-container {
  border: 1px solid #a5a5a5;
  border-radius: 6px;
  margin-bottom: 6px;
  background-color: #fff;
}

.btn-controller {
  border: 0;
  height: 24px;
  background-color: transparent;
  color: #5d656c;
}

.btn-controller:hover {
  background-color: #e3f0f5;
  color: #376783;
}

.btn-controller.disabled, .btn-controller.disabled:hover {
  color: #a5a5a5;
  background-color: transparent;
  cursor: default;
}

.workset-controller-prev {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: 1px solid #a5a5a5;
  padding-left: 10px;
  padding-right: 10px;
}

.workset-controller-next {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 1px solid #a5a5a5;
  padding-left: 10px;
  padding-right: 10px;
}

.workset-controller-status {
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 3px;
  padding-bottom: 1px;
  background: linear-gradient(to right, #e3f0f5, #e3f0f5 49%, #ffffff 51%, #ffffff);
  font-weight: 600;
  font-size: 13px;
}

.workset-controller-menu {
  border-left: 1px solid #a5a5a5;
}

/* default cards */

.card {
  border: 1px solid #a5a5a5;
  border-radius: 4px;
}

.card-full {
  height: calc(100vh - 163px);
}

.card-full-tasks {
  height: calc(100vh - 72px);
}

.card-header {
  font-size: 14px;
  font-weight: 600;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #e8e9ec;
  border-bottom: 1px solid #a5a5a5;
}

.card-footer {
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid #a5a5a5;
}

.card-footer:hover {
  background-color: #a5a5a5;
  border-top: 1px solid #a5a5a5;
}

.card-body {
  padding-top: 12px;
  padding-bottom: 12px;
}

/* full table cards */

.card-table-header {
  font-size: 13px;
  font-weight: 600;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #e8e9ec;
  border-bottom: 1px solid #a5a5a5;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  height: 39px;
  display: flex;
}

.card-table-body {
  padding-top: 3px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

.table thead th {
  border-bottom: 1px solid #a5a5a5 !important;
  white-space: nowrap !important;
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  border-color: #a3b1bd !important;
  border-top: none;
  font-size: 13px;
}

table.dataTable {
  border-color: #a3b1bd !important;
  color: #212529 !important;
  font-size: 14px;
}

.dataTables_paginate {
  font-size: 13px;
  align-self: flex-end;
}

.pagination {
  margin: 2px 0;
  white-space: nowrap;
  justify-content: flex-end;
}

.page-link, .page-item.disabled .page-link {
  padding: 6px 12px;
  line-height: 1;
  border-color: #a3b1bd;
}

.page-link:hover {
  border-color: #a3b1bd;
}

.dataTables_info {
  font-size: 13px;
  padding-top: 0 !important;
  margin-right: auto;
}

#dataTables-list.dataTable tbody tr.selected a, #dataTables-list.dataTable tbody th.selected a, #dataTables-list.dataTable tbody td.selected a {
  color: #0361aa !important;
}

#dataTables-list.dataTable tbody td.select-checkbox:before {
  content: ' ';
  margin-top: -6px;
  margin-left: -6px;
  border: 1px solid #a5a5a5 !important;
  border-radius: 3px;
}

#dataTables-list.dataTable tbody td.select-checkbox:before, #dataTables-list.dataTable tbody td.select-checkbox:after {
  top: inherit !important;
}

#dataTables-list.dataTable tr.selected td.select-checkbox:after {
  margin-top: -7px !important;
  text-shadow: none !important;
  font-size: 60%;
}

/* thumbnail previews */

/* .panel-preview:before {
  position: absolute;
  font-family: 'Font Awesome 5 Free';
  top: 50vh;
  right: 10vh;
  content: "\f070";
  font-size: 4em;
  color: #f2f2f2;
} */

table.dataTable tbody tr.selected a, table.dataTable tbody td.selected a {
  color: inherit !important;
}

.panel-preview {
  background-color: #fff;
  background-image: url(../images/no_image.png);
  background-position: center center;
  background-repeat:no-repeat;
}

.card-columns {
  column-count: 2;
  column-gap: 5px !important;
  orphans: 1;
  widows: 1;
  padding: 10px;
}

.card-thumbnail {
  width: 150px;
}

.card-thumbnail .card-body {
  padding: 5px;
  font-size: 13px;
  font-weight: 600;
  align-content: center;
  justify-content: center;
  text-align: center;
}

/* model template */

.model-select-container {
  min-width: 200px;
  overflow: hidden;
}

.model-button-container {
  width: 80px;
  min-width: 80px;
  overflow: hidden;
}

.edit-mode-btn {
  height: 26px;
  background-color: #fff;
  border-color: #a3b1bd;
  color: #787878;
}

.edit-mode-btn.active {
  background-color: #f1e2e3 !important;
  color: #784442 !important;
  border-color: #b29e9d !important;
}

.model-btn {
  border: 1px solid #e8e9ec;
  border-radius: 0;
  height: 50%;
  font-size: 13px;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 100%;
  background-color: #e8e9ec;
  color: #787878;
}

.model-btn:hover {
  background-color: #0361aa;
  border-color: #0361aa;
  color: #fff;
}

.model-btn:disabled, .model-btn:disabled:hover {
  opacity: .65;
  background-color: #e8e9ec;
  border: 1px solid #e8e9ec;
  color: #787878;
}

.custom_select {
  color: #787878;
  border: 1px solid #a5a5a5;
}

.border-left {
  border-left: 1px solid #a5a5a5 !important;
}

.border-right {
  border-right: 1px solid #a5a5a5 !important;
}

.border-top {
  border-top: 1px solid #a5a5a5 !important;
}

.border-bottom {
  border-bottom: 1px solid #a5a5a5 !important;
}

.model-attribute-container {
  display: inline-block;
  margin-right: 5px;
  overflow: hidden;
}

.model-attribute-label {
  font-weight: 500;
  border: 1px solid rgb(215, 215, 215);
  padding-right: 8px;
  padding-left: 8px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  padding-bottom: 2px;
  padding-top: 2px;
  font-size: 13px;
  background-color: #f6f6f6;
  white-space: nowrap;
  display: inline;
  overflow: hidden;
}

.model-attribute-value {
  border: 1px solid rgb(215, 215, 215);
  font-weight: 400;
  padding-right: 8px;
  padding-left: 8px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  padding-bottom: 2px;
  padding-top: 2px;
  font-size: 13px;
  background-color: #fff;
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: -6px;
}

/* embed table cards */

.sub-card-header {
  padding: 4px;
  font-size: 13px;
  font-weight: 600;
  background-color: #e3f0f5;
  border-bottom: 1px solid #a5a5a5;
  height: 36px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #376783;
}

.sub-card-header-embed {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 13px;
  font-weight: 600;
  background-color: #e8e9ec;
  border-bottom: 1px solid #a5a5a5;
  border-top: 1px solid #a5a5a5;
  height: 36px;
  color: #376783;
}

.sub-card-header-embed-top {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 13px;
  font-weight: 600;
  background-color: #e8e9ec;
  border-bottom: 1px solid #a5a5a5;
  height: 36px;
  color: #376783;
}

.sub-card-footer {
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #e8e9ec;
  padding-right: 10px;
  padding-left: 10px;
  border-bottom-left-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
  min-height: 32px;
  border-top: 1px solid #a5a5a5;
  align-items: center;
  display: flex;
}

.card-header-title {
  align-self: flex-start;
  margin-right: auto;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 6px;
}

.dt-embed table.dataTable {
  margin-top: 0;
  font-size: 13px;
}

.dt-embed .card-body {
  padding-top: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0;
}

.dt-embed .table thead th {
  border-top: none;
}

.dt-embed .dataTables_info, .dt-embed .dataTables_paginate {
  font-size: 13px;
}

/* datatables Editor form classes */

.modal-content {
  border-radius: 8px;
}

.modal-header {
  padding: 8px 16px;
  border-bottom: 1px solid #a5a5a5;
  background-color: #2f333c;
  color: #ffffff;
  background-image: linear-gradient(#11587c 10%, #2e4558);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  font-weight: 600;
}

.modal-header .close {
  font-size: 21px;
  color: #fff;
  padding: 0;
  margin: 0;
  line-height: .8;
}

.modal-footer {
  border-top: 1px solid #a5a5a5;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #e8e9ec;
  height: 41px;
}

h5.modal-title {
  font-size: 16px;
}

.DTE ::placeholder {
  color: #c5c6cd;
}

.DTE {
  font-size: 14px;
}

.dte_field_center .DTE_Field_InputControl {
  justify-content: center;
}

.dte_field_center .DTE_Field_InputControl label {
  margin-left: 0;
}

.DTE .form-group {
  margin-bottom: 4px;
}

.DTE .form-control {
  font-size: 14px;
  height: auto;
  padding: 5px 8px;
  border: 1px solid #a5a5a5;
}

.DTE .form-control:focus {
  box-shadow: 0px 0px 1px 2px #0361aa inset !important;
}

.DTE .col-form-label {
  height: 32px;
  text-align: right;
  font-size: 14px;
  padding-right: 0;
}

.DTE .error {
  width: auto;
}

.DTE .form-text {
  font-size: 13px;
  margin-top: 3px;
  margin-left: 5px;
}

.DTE .editor_upload button {
  margin-left: 0;
  width: auto;
  background-image: linear-gradient(to bottom,#fefefe,#f2f2f2);
  font-size: 13px;
  color: #777;
}

.DTE .editor_upload .drop {
  border: 1px dashed #a5a5a5;
  color: #777;
  padding-top: 15px;
}

.DTE_Field_InputControl label {
  font-size: 13px;
  color: #8b949b;
  padding-bottom: 1px;
}

.DTE_Field_InputControl textarea {
  min-height: 100px;
  height: 100px;
}

.DTE_Field_Type_checkbox div[data-dte-e="input"] {
  padding-top: 6px;
}

.DTE .btn {
  font-size: 13px;
  line-height: 1.2;
  margin-left: 10px;
}

div.DTE_Field_Type_checkbox div label, div.DTE_Field_Type_radio div label {
  line-height: 1;
  margin-bottom: 0;
}

div.DTE_Field_Type_textarea textarea {
    height: 120px;
}

/* special form classes  */

.DTED .modal-dialog {
  max-width: 700px !important;
}

.DTED .modal-body {
  max-height: 85vh;
  overflow: scroll;
}

.formset-none {
  border-top: 1px solid #a5a5a5;
  padding: 1em;
  text-align: center;
}

.utility-toolbar {
  background-color: #fff;
  border-top: 1px solid #a5a5a5;
  border-bottom: 1px solid #a5a5a5;
  height: 29px;
}

.form-hidden {
  display: none;
}

.attribute_selectize .selectize-input {
  width: 240px;
}

.selectize-input {
  border: 1px solid #a5a5a5;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 36px;
  border-radius: 6px;
  min-height: 33px;
  font-size: 14px;
  line-height: 1.5;
}

.selectize-input input:focus {
  box-shadow: none !important;
}

.selectize-control.plugin-remove_button [data-value] .remove {
  padding: 5px 0 0 0;
}

.selectize-control.multi .selectize-input.has-items {
  padding-top: 4px;
  padding-bottom: 0px;
  padding-left: 3px;
  padding-right: 3px;
}

.selectize-control.multi .selectize-input [data-value] {
  background-image: linear-gradient(#0b7fb9, #2572a8);
}

.selectize-control.multi .selectize-input>div {
  padding: 4px 8px;
}

#page-formset, #attribute-formset {
  margin-top: 15px;
}

#page-formset label {
  font-size: 13px;
  text-align: right;
  padding-left: 3px;
  padding-right: 5px;
  height: 32px;
}

.remove_icon {
  align-self: flex-start;
  margin-left: 8px;
  margin-bottom: 6px;
  margin-top: 5px;
  margin-right: 8px;
  color: #dcdcdc !important;
  font-size: 1.2em;
}

.info_icon {
  align-self: flex-start;
  margin-left: 5px;
  margin-bottom: 6px;
  color: #dcdcdc !important;
  font-size: 1.2em;
}

.remove_icon:hover {
  color: #c35b5e !important;
}

.info_icon:hover {
  color: #437c9d !important;
}

.util-icon-set {
  margin-bottom: 8px;
  margin-top: 5px;
}

.util-icon-set .remove_icon {
  margin-left: 0;
}

.w-15 {
  width: 15%;
}

.w-20 {
  width: 20%;
}

.formset-header {
  font-size: 13px;
  font-weight: 600;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  height: 29px;
  display: flex;
  background-color: #e3f0f5;
  color: #376783;
  line-height: 1.7;
}

#btn_add_set {
  border-top-right-radius: 3px;
}

.formset-body {
  min-height: 36px;
}

.formset-item {
  display: flex;
  align-items: center;
  border-top: 1px solid #a5a5a5;
  padding-top: 5px;
}

.formset-table {
  border-top: 1px solid #a5a5a5;
  width: 100%;
}

.formset-table thead {
  border-top: 1px solid #a5a5a5;
  border-bottom: 1px solid #a5a5a5;
}

.formset-table th:not(:last-child) {
  border-right: 1px solid #a5a5a5;
}

.formset-table th {
  font-size: 13px;
  font-weight: 400;
  padding-left: 10px;
}

.formset-table td {
  margin: 0;
  padding: 0;
}

.formset-table td:not(:last-child) {
  border-right: 1px solid #a5a5a5;
}

.formset-table tr:not(:last-child) {
  border-bottom: 1px solid #a5a5a5;
}

.formset-table .DTE_Field input {
  border: none !important;
}

.formset-field-container {
  align-self: flex-start;
  padding-left: 5px;
}

/* dashboard cards/tiles */

.homecard {
  border: 1px solid #a5a5a5;
  border-radius: 4px;
}

.homecard .card-footer:hover {
  background-color: rgba(165, 165, 165, 0.61);
  border-top: 1px solid #a5a5a5;
}

.homecard-action {
  align-self: flex-start;
  margin-right: auto;
}

.homecard-action {
  align-self: flex-end;
}

.homecard a:hover {
  text-decoration: none;
}

.ch-primary {
  background-color: #0361aa;
  color: #fff;
}

/*fix for z-index problem */
.sidebar.toggled .nav-item .collapse {
  z-index: 1000;
  left: calc(104px + 8px / 2);
}

.card-body-icon {
  position: absolute;
  z-index: 0;
  top: -20px;
  right: -16px;
  opacity: 0.4;
  font-size: 80px;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}

/* special cards */

.card-tabs-header {
  font-size: 14px;
  font-weight: 400;
  padding-top: 6px;
  padding-bottom: 0;
  background-color: #e8e9ec;
  border-bottom: 1px solid #a5a5a5;
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
  height: 39px;
  display: flex;
}

.card-tabs-header .card-header-tabs {
  margin-bottom: 0;
  margin-right: auto;
  margin-left: 0;
}

.nav-tabs .nav-link {
  padding: 5px 20px;
  border: 1px solid rgb(200, 200, 200);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: none;
}

.nav-tabs .nav-link.active {
  color: #6e707e;
  background-color: #fff;
  border-color: #b9bbc5 #b3b5be #fff;
  border-bottom: 1px solid #fff;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: #a5a5a5 #a5a5a5 #a5a5a5;
}

.nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active:hover {
  border-color: #a5a5a5 #a5a5a5 #fff;
}

.ui-autocomplete {
  position: absolute;
  cursor: default;
  z-index: 9999 !important;
  font-size: 14px !important;
  border-radius: 4px !important;
  border: 1px solid #a5a5a5 !important;
  color: #5d656c !important;
}
/* full card toolbar */

.dt-buttons {
  margin-bottom: 0;
  height: 26px;
  align-self: flex-start;
  margin-right: 5px;
}

.dt-buttons-subcard {
  height: 35px;
  line-height: 1.8;
}

.dt-buttons-corner-right {
  border-top-right-radius: 4px !important;
}

.dt-button-collection-title {
  padding: 0 !important;
}

.dt-buttons button.btn {
  font-size: 13px !important;
  background-color: #fff;
  border-color: #a3b1bd;
  color: #787878;
  padding: 4px 8px;
}

.dt-btn-group {
  margin-top: 1px;
  margin-right: 5px;
}

.dt-btn-group > .btn:not(:first-child),
.dt-btn-group > .dt-btn-group:not(:first-child) {
  margin-left: -1px;
}

.dt-btn-group > .btn:not(:last-child):not(.dropdown-toggle),
.dt-btn-group > .dt-btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.dt-btn-group > .btn:not(:first-child),
.dt-btn-group > .dt-btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.dt-btn {
  font-size: 13px !important;
  background-color: #fff;
  border-color: #a3b1bd;
  color: #787878;
  padding: 4px 8px;
  line-height: 1.2;
  height: 26px;
}

.dt-btn:hover {
  background-color: #0361aa;
  border-color: #0361aa;
  color: #fff;
}

.dt-btn.active {
  color: #3a3b45 !important;
  background-color: #e3e4e7 !important;
  border-color: #a5a5a5 !important;
}

.dt-buttons button.btn:hover {
  background-color: #0361aa;
  border-color: #0361aa;
  color: #fff;
}

.dt-buttons button.disabled:hover {
  background-color: #fff;
  border-color: #a3b1bd;
  color: #787878;
  cursor: default;
}

.btn_single {
  border-radius: 3px !important;
}

/* .buttons-colvis {
  font-family: "Font Awesome 5 Free" !important;
} */

/* button.buttons-create, button.buttons-edit, button.buttons-remove {
  font-family: "Font Awesome 5 Free" !important;
  margin-right: 0;
} */

.dt_menu_icon {
  width: 16px;
  text-align: center;
  margin-right: 5px;
}

.buttons-page-length {
  margin-right: 0;
}


/* search results page */

.search-prepend {
  font-size: 14px;
  height: 31px;
}

.search-results-btn {
  height: 31px;
  font-size: 14px;
  line-height: 0.5;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.search-results-input:focus {
  box-shadow: 0px 0px 1px 2px #0361aa inset !important;
}

.search-results-checkbox {
  font-size: 14px;
  line-height: 1.5;
}

.search-results-checkbox input {
  margin-right: 5px;
}

.search-results-none {

}

.highlighted {
  font-weight: 600;
}


.search-result-entry {
  margin-bottom: 20px;
}

.search-result-link {
  font-size: 19px;
}

.search-result-detail {
  font-size: 14px;
  color: #267e30;
}

.search-result-text {
  font-size: 14px;
  color: #686868;
}


/* tab + menubar card footer */
.tab-pane {
  border-bottom: 1px solid #a5a5a5;
}

#tab-footer-interface {
  display: none;
}

.tab-footer {
  padding-top: 0;
  padding-bottom: 6px;
  background-color: #e8e9ec;
  padding-right: 16px;
  padding-left: 16px;
  border-bottom-left-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
  height: 32px;
}

.card-footer-tabs {
  font-size: 11px;
  font-weight: 400;
  border-bottom: none;
}

.card-footer-tabs .nav-item {
  margin-top: -1px !important;
  z-index: 1;
}

.card-footer-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.card-footer-tabs .nav-link.active, .card-footer-tabs .nav-link.active:hover {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #a5a5a5;
  border-right: 1px solid #a5a5a5;
  border-left: 1px solid #a5a5a5;
}

.card-footer-tabs .nav-link:hover {
  border-top: 1px solid #a5a5a5;
  border-bottom: 1px solid #a5a5a5;
  border-right: 1px solid #a5a5a5;
  border-left: 1px solid #a5a5a5;
}

.tab-footer-text {
  padding-top: 6px;
}

/* general buttons */

.btn {
  font-size: 13px;
  line-height: 1.2;
}

.hearderBtn {
  font-size: 13px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.btn-primary {
  color: #fff;
  background-color: #215986;
  border-color: #011536;
}

.btn-primary:hover {
  color: #fff;
  background-color: #011536;
  border-color: #011536;
}

.btn-secondary {
  color: #fff;
  background-color: #5d656c;
  border-color: #212529;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}

.btn-light {
  color: #2f2f2f;
  background-color: #d1d4d7;
  border-color: #888;
}

.btn-light:hover {
  color: #fff;
  background-color: #5d656c;
  border-color: #212529;
}

.btn-success {
  color: #fff;
  background-color: #1f7f31;
  border-color: #13855c;
}

.btn-success:hover {
  color: #fff;
  background-color: #13855c;
  border-color: #13855c;
}

.btn-info {
  color: #fff;
  background-color: #03889a;
  border-color: #258391;
}

.btn-info:hover {
  color: #fff;
  background-color: #258391;
  border-color: #258391;
}

.btn-warning {
  color: #fff;
  background-color: #af8427;
  border-color: #dda20a;
}

.btn-warning:hover {
  color: #fff;
  background-color: #dda20a;
  border-color: #dda20a;
}

.btn-danger {
  color: #fff;
  background-color: #a6332b;
  border-color: #7d190f;
}

.btn-danger:hover {
  color: #fff;
  background-color: #be2617;
  border-color: #7d190f;
}

.badge-pill {
  padding-right: 9px;
  padding-left: 9px;
  border-radius: 10px;
  font-size: 12px;
  line-height: 10px;
}

.badge-primary {
  background-color: #1b5f94;
  color: #ffffff;
}

/*DataTables general fixes */
div.DTS div.dataTables_scrollBody {
  background: none !important;
}

div.dts tbody td {
  white-space: normal !important;
}

table.dataTable tr.dtrg-group td {
  background-color: #fafafa !important;
  padding-bottom: 5px;
  padding-top: 5px;
  color: #888;
}

.table_connector_col {
  text-align: center;
  color: #0361aa;
  margin-top: 17vh;
  font-size: 24px;
}

.table_connector_row {
  text-align: center;
  color: #0361aa;
  margin-top: 32px;
  margin-bottom: 24px;
  font-size: 24px;
}

table.table_scroll thead th {
  border-bottom: 1px solid #a3b1bd !important;
  white-space: nowrap !important;
  vertical-align: middle;
  padding: 8px;
  border-color: #a3b1bd !important;
}

div.dataTables_scrollHeadInner table.dataTable {
  border-collapse: collapse !important;
}

th.sorting_asc::before, th.sorting_asc::after, th.sorting_desc::before, th.sorting_desc::after, th.sorting::before, th.sorting::after {
  bottom: .5em !important;
}

.td-center {
  text-align: center;
}

.td-center .DTE_Field_InputControl {
  justify-content: center;
}

.td-center .DTE_Field_InputControl label {
  margin-left: 0;
}

.table td {
  border-bottom: 1px dotted #a3b1bd !important;
  border-top: none !important;
  vertical-align: middle;
  padding: 8px;
  /*border-right: 1px solid #ebeef0;*/
}

table.c_stripe tbody td:nth-of-type(odd) {
  background: #f8f8f8;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child {
  padding-left: 35px !important;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
  top: 9px !important;
  left: 9px !important;
}

/*datatables search filter*/

.dataTables_filter {
  align-self: flex-end;
}

.dataTables_filter label {
  color: #e8e9ec !important;
  font-size: 1px !important;
  margin-bottom: 0 !important;
}

div.table_scroller .dataTables_filter label {
  color: #fff !important;
  font-size: 1px !important;
  margin-bottom: 6px !important;
}

.dataTables_filter .form-control-sm {
  font-size: 13px;
  border-radius: 5px;
  margin-left: 0 !important;
}

.dataTables_filter input {
  border: 1px solid #a3b1bd !important;
  height: 26px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.dataTables_filter input:focus {
  box-shadow: 0px 0px 1px 2px #0361aa inset !important;
}

.table-hover tbody tr:hover {
  color: #212529;
}

table.dataTable tbody>tr.selected td, table.dataTable tbody>tr>.selected td {
  background-color: #e3f0f5 !important;
  color: #0361aa !important;
}

li.search-field input.default {
  width: 100% !important;
}

/*DALME tables search filter system */

.table-filter {
  height: 37px;
  background-color: #f3f3f3;
  color: #707070;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #bbb;
  display: flex;
  align-items: flex-end;
}

.filter_info {
  font-size: 14px;
  font-weight: 600;
  margin-right: auto;
  line-height: 2;
}

.filters-btn {
  border: 1px solid #bbb;
  background-color: #f3f3f3;
  color: #000;
  font-size: 13px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  line-height: 1.2;
  margin-left: 3px;
  align-self: flex-end;
}

.filters-btn:hover, .filters-btn:active, .filters-btn:focus {
  background-color: #cbcbcb;
  color: #000;
}

.filter_buttons {
  margin-left: auto;
}

.table-filter .selectize-control {
    margin-right: 10px;
}

.table-filter .selectize-input {
  border: 1px solid #a5a5a5;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 36px;
  border-radius: 6px;
  min-height: 25px;
  font-size: 13px;
  line-height: 1.2;
  height: 26px;
}

.filter-text {
  width: auto;
  font-size: 13px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  line-height: 1.2;
  margin-right: 15px;
  border: 1px solid #bbb;
  background-color: #f8f8f8;
  color: #000;
  height: 26px;
}

.filter-inline-text {
  margin-right: 10px;
  font-size: 13px;
  margin-left: -5px;
  line-height: 1.8;
  color: #000;
}

.filter-text:focus {
  box-shadow: 0px 0px 1px 2px #0361aa inset !important;
  color: #000;
}

.filter-switch {
  width: auto;
  font-size: 13px;
  margin-right: 15px;
  height: 26px;
}

.filter-switch .custom-control-label::before {
    background-color: #f3f3f3;
    top: 3px;
}

.filter-switch .custom-control-label::after {
    top: calc(3px + 2px);
}

.filter-switch .custom-control-input:checked~.custom-control-label::before {
  border-color: #218cf9;
  background-color: #218cf9;
}

.custom-switch label {
  padding-top: 2px;
  color: #000;
}

.filter-check {
  width: auto;
  font-size: 13px;
  line-height: 1.2;
  margin-right: 10px;
  background-color: #f3f3f3;
  color: #707070;
  height: 26px;
}

.filter-check label {
    color: #000;
}

/*dropdown menus */

.dropdown-menu {
  min-width: 120px;
  font-size: 13px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 2px 28px 0 rgba(58,59,69,.45);
  border: none;
  top: 100%;
}

.dropdown-item {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0;
  padding-bottom: 0;
  display: block;
  color: #3a3b45;
  text-decoration: none;
  white-space: nowrap;
  margin-right: 0;
  margin-top: 3px;
  margin-left: 0;
  margin-bottom: 3px;
  font-weight: 600;
}

.dropdown-item.active {
  color: #0361aa !important;
  background-color: #fff;
  border-left: 4px solid #1f7f31 !important;
  padding-left: 12px;
}

.dropdown-item:hover {
  padding-left: 12px;
  border-radius: 0;
  border-left: 4px solid #0361aa !important;
  background-color: rgba(0,0,0,.075)
}

.dropdown-title {
  padding-left: 16px;
  padding-right: 16px;
  white-space: nowrap;
  font-size: 13px;
  font-weight: 600;
  color: #376783;
  margin-bottom: 3px;
}

.dropdown-text {
  padding-right: 16px;
  padding-left: 16px;
}

.page-item.active .page-link {
  background-color: #0361aa !important;
  border-color: #0361aa !important;
}

.page-link a {
  color: #0361aa !important;
}

a.page-link:focus, a.page-link:active {
  box-shadow: none !important;
  outline: none !important;
}

/* Datatables column rendering classes */

.dt_checkbox_true {
  width: 1.28571429em;
  text-align: center;
  color: #4cae4c;
}

.dt_checkbox_false {
  width: 1.28571429em;
  text-align: center;
  color: #d43f3a;
}


/* sidebar fixes */

.dalme-logo {
    display: inline;
    float: left;
    margin-top: 5px;
    background-color: #fff;
}

.sidebar .nav-item .collapse .collapse-inner {
  box-shadow: 0 2px 28px 0 rgba(58,59,69,.45) !important;
}

.sidebar.toggled .nav-item .nav-link {
  padding: 8px 16px !important;
}

.sidebar-brand-text {
  font-size: 27px;
  font-family: Academy Engraved LET;
  padding-top: 10px;
}

.bg-gradient-sidebar {
  background-color: #2f333c;
  background-image: linear-gradient(180deg,#11587c 10%,#17222b 100%);
  background-size: cover;
}

.sidebar .sidebar-heading {
  text-align: left;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 13px;
  padding-bottom: 3px;
  font-weight: 600;
  font-size: 10px;
}

.sidebar .sidebar-menu-heading {
  text-align: left;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 13px;
  padding-bottom: 3px;
  font-weight: 600;
  font-size: 13px;
  color: #949494;
}

.sidebar .nav-item .nav-link {
  padding-top: 8px;
  padding-bottom: 8px;
}

.sidebar .nav-item {
  font-size: 14px;
}

.sidebar .nav-item.active .nav-link {
  font-weight: 400 !important;
}

.sidebar .nav-item .nav-link i {
  font-size: 16px;
  margin-right: 4px;
}

.sidebar .nav-item .nav-link span {
  font-size: 14px;
  display: inline;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item, .sidebar .nav-item .collapsing .collapse-inner .collapse-item {
  padding-left: 12px !important;
  padding-right: 16px !important;
  padding-top: 3px !important;
  padding-bottom: 0 !important;
  margin: 0 !important;
  border-left: 4px solid #fff !important;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover, .sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {
  border-radius: 0;
  border-left: 4px solid #0361aa !important;
  background-color: rgba(0,0,0,.075)
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active, .sidebar .nav-item .collapsing .collapse-inner .collapse-item.active {
  color: #0361aa !important;
}


/*topbar fixes*/

.topbar-dalme {
  background-color: #1b1b1b;
  color: #fff;
  padding-right: 0;
}

.topbar {
  height: 32px;
  font-size: 13px;
}

.topbar .dropdown-list {
  width: auto !important;
  white-space: normal;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link {
  color: #939393;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: #fff;
  background-color: #3a3a3a;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link:active {
  color: #fff;
  background-color: #3a3a3a;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link:focus {
  color: #fff;
  background-color: #3a3a3a;
}

li#searchIcon.show {
  color: #fff !important;
  background-color: #3a3a3a !important;
}

li#searchIcon.show a {
  color: #fff !important;
  background-color: #3a3a3a !important;
}

.topbar-badge {
  color: #1b1b1b;
  background-color: #939393;
  padding-bottom: 2px;
}

.topbar-badge-alert {
  color: #fff;
  background-color: #a6332b;
  padding-bottom: 2px;
}

.topbar-border-left {
  border-left: 1px solid #3a3a3a;
}

.topbar .nav-item .nav-link {
  height: 32px;
}

.fa-g {
  font-size: 13px !important;
}

.topbar .dropdown-list .dropdown-item {
  padding-left: 16px !important;
  padding-right: 16px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  display: block !important;
  color: #3a3b45 !important;
  text-decoration: none !important;
  white-space: nowrap !important;
  margin-right: 0 !important;
  margin-top: 3px !important;
  margin-left: 0 !important;
  margin-bottom: 3px !important;
  font-weight: 600 !important;
  line-height: 24px !important;
  border: 0 !important;
  font-size: 14px !important;
}

.topbar .dropdown-list .dropdown-item.active {
  color: #0361aa !important;
  background-color: #fff !important;
  border-left: 4px solid #1f7f31 !important;
  padding-left: 12px !important;
}

.topbar .dropdown-list .dropdown-item:hover {
  padding-left: 12px !important;
  border-radius: 0 !important;
  border-left: 4px solid #0361aa !important;
  background-color: rgba(0,0,0,.075) !important;
}

/* worksets */

.workset-title {
  font-size: 14px;
  font-weight: 600;
  color: #1b5f94;
  margin-top: -5px;
}

.workset-endpoint {
  border: 1px solid #949a99;
  border-radius: 6px;
  font-size: 10px;
  font-weight: 600;
  padding: 0px 5px;
  text-transform: uppercase;
  background-color: #ebebeb;
  color: #707575;
  white-space: nowrap;
  margin-top: 5px;
  display: inline-block;
}

/* tasks */

.task-title {
  padding-left: 5px;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 600;
  color: #1b5f94;
  margin-top: -5px;
}

.task-description {
  padding-left: 5px;
  margin-bottom: -3px;
}

.task-date {
  border: 1px solid #949a99;
  border-radius: 6px;
  font-size: 10px;
  font-weight: 600;
  padding: 0px 5px;
  text-transform: uppercase;
  background-color: #ebebeb;
  color: #707575;
  white-space: nowrap;
  margin-bottom: 3px;
}

.task-due {
  border-color: #896f2f !important;
  background-color: #eedba4 !important;
  color: #816132 !important;
}

.task-overdue {
  border-color: #853933 !important;
  background-color: #d9b9bd !important;
  color: #943737 !important;
}

.task-completed {
  border-color: #5d9b7e !important;
  background-color: #dfe7e5 !important;
  color: #367451 !important;
}

.task-attachment {
  border: 1px solid #949a99;
  border-radius: 6px;
  font-size: 10px;
  font-weight: 600;
  padding: 0px 5px;
  text-transform: uppercase;
  background-color: #ebebeb;
  color: #707575;
  white-space: nowrap;
  display: table;
  margin-bottom: 3px;
}

.task-attachment:hover {
  text-decoration: none;
  border: 1px solid #436784;
  background-color: #dce8ee;
  color: #486e8d;
}

.ticket-open{
  border: 1px solid #853933;
  border-radius: 6px;
  font-size: 8px;
  font-weight: 600;
  padding: 0px 5px;
  text-transform: uppercase;
  background-color: #d9b9bd;
  color: #943737;
  white-space: nowrap;
  display: inline-block;
  margin-bottom: 3px;
  margin-right: 5px;
}

.ticket-closed {
  border: 1px solid #5d9b7e;
  border-radius: 6px;
  font-size: 8px;
  font-weight: 600;
  padding: 0px 5px;
  text-transform: uppercase;
  background-color: #dfe7e5;
  color: #367451;
  white-space: nowrap;
  display: inline-block;
  margin-bottom: 3px;
  margin-right: 5px;
}

.ticket-tag {
  border: 1px solid #949a99;
  border-radius: 6px;
  font-size: 10px;
  font-weight: 600;
  padding: 0px 5px;
  text-transform: uppercase;
  background-color: #ebebeb;
  color: #707575;
  white-space: nowrap;
  display: table;
  margin-bottom: 3px;
}

.ticket-bug {
  background-color: #db8784;
  color: #3e3e3e;
  border-color: #5d5d5d;
}

.ticket-feature {
  background-color: #efafa0;
  color: #3e3e3e;
  border-color: #5d5d5d;
}

.ticket-documentation {
  background-color: #fbe7d7;
  color: #3e3e3e;
  border-color: #5d5d5d;
}

.ticket-question {
  background-color: #a0c77f;
  color: #3e3e3e;
  border-color: #5d5d5d;
}

.ticket-content {
  background-color: #d7e102;
  color: #3e3e3e;
  border-color: #5d5d5d;
}

/* topbar tasks popup */

.dropdown-tasks {
  width: 420px !important;
  padding: 0;
}

.dropdown-tasks-header {
  padding-top: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  color: #888;
  border-bottom: 1px dotted #a5a5a5;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.dropdown-task-add {
  margin-left: auto;
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 3px 8px;
  color: #fff;
}

.dropdown-task-add i {
  color: #888;
}

.dropdown-task-add:hover {
  border-color: #1b5f94;
  color: #1b5f94;
}

.dropdown-task-add:hover i {
  color: #1b5f94;
}

.dropdown-tasks-item {
  border-bottom: 1px dotted #a5a5a5;
  display: flex;
}

.dropdown-tasks-text {
  padding: 5px 16px;
}

.dropdown-task-title {
  font-size: 14px;
  font-weight: 600;
  color: #1b5f94;
}

.dropdown-task-title:hover {
  color: #1b5f94;
}

.dropdown-task-description {
  font-size: 13px;
}

.dropdown-tasks-info {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 10px;
  margin-left: auto;
}

.dropdown-tasks-pill {
  border: 1px solid #949a99;
  border-radius: 6px;
  font-size: 10px;
  font-weight: 600;
  padding: 0px 5px;
  text-transform: uppercase;
  background-color: #ebebeb;
  color: #707575;
  white-space: nowrap;
  margin-bottom: 3px;
}

.dropdown-tasks-action {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
  font-size: 13px;
  font-weight: 600;
  color: #888;
  display: inline-block;
  width: 50%;
  text-align: center;
}
.dropdown-tasks-action-rb {
  border-right: 1px dotted #a5a5a5;
}

.dropdown-tasks-action:hover {
  text-decoration: none;
  background-color: #f4f4f4;
  color: #1b5f94;
}

.dropdown-tasks-buttons {
  padding-top: 15px;
  background-color: #f4f4f4;
}

.btn_task_complete {
  margin-right: 10px;
  margin-left: 10px;
}

.btn_task_complete:hover {
  color: #1b5f94;
}

.dropdown-tasks-empty {
  padding: 16px;
  border-bottom: 1px dotted #a5a5a5;
  text-align: center;
}

/* task details */

.task-detail-title {
  font-size: 20px;
  font-weight: 600;
  color: #1b5f94;
}

.task-detail-description {
  font-size: 15px;
  font-weight: 400;
  color: #777;
  line-height: 1.6;
  margin-bottom: 10px;
  margin-top: 10px;
}

.task-detail-dates_detail {
  display: flex;
  line-height: 1.5;
  flex-direction: column;
}
.task-detail-dates_detail .task-date, .task-detail-attachments_detail .task-attachment {
  margin-right: auto;
  font-size: 12px;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.task-detail-attachments_detail {
  display: flex;
  line-height: 1.5;
  margin-top: 10px;
  flex-direction: column;
}

.task-detail-attachments_detail:before {
  content: "Attachments:";
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

/* progress pies */

.pie-wrapper {
  height: 65px;
  width: 65px;
  float: left;
  position: relative;
}

.pie-wrapper:nth-child(3n + 1) {
  clear: both;
}

.pie-wrapper .pie {
  height: 100%;
  width: 100%;
  clip: rect(0, 65px, 65px, 37px);
  left: 0;
  position: absolute;
  top: 0;
}

.pie-wrapper .pie .half-circle {
  height: 100%;
  width: 100%;
  border: 8px solid #ca843f;
  border-radius: 50%;
  clip: rect(0, 37px, 65px, 0);
  left: 0;
  position: absolute;
  top: 0;
}

.pie-wrapper .label {
  background: #436585;
  border-radius: 50%;
  bottom: 7px;
  color: #ecf0f1;
  cursor: default;
  display: block;
  font-size: 15px;
  font-weight: 600;
  left: 7px;
  line-height: 53px;
  position: absolute;
  right: 7px;
  text-align: center;
  top: 7px;
}

.pie-wrapper .label .smaller {
  color: #bdc3c7;
  font-size: 12px;
}

.pie-wrapper .shadow {
  height: 100%;
  width: 100%;
  border: 0.5em solid #bdc3c7;
  border-radius: 50%;
}

/* task viewer */

.task-viewer-embed {
  border-left: 1px solid #a5a5a5;
}

.task-viewer {

}

/* topbar search form */
.search-slider {
  shadow: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  top: 0 !important;
  right: 100% !important;
  left: auto;
  margin-right: 0 !important;
  border: none;
  background-color: #3a3a3a;
}

.navbar-search {
  width: 240px !important;
}

#topbar_search {
  border: none;
  background-color: #3a3a3a;
  color: #b9b9b9 !important;
  font-size: 13px;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0;
  height: 32px;
}

#topbar_search:focus {
  color: #fff !important;
  box-shadow: 0px 0px 1px 2px #0361aa inset !important;
}

#topbar_search::placeholder {
  color: #777 !important;
}

/* source viewers/editors */

.transcription-editor {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  height: calc(100vh - 143px); /*topbar+tb-margin+card-header+card-margin+footer = 24+24+45+16+32 +10 adjustment*/
  /* box-shadow: inset 50px 0px 0px #ebebeb; */
}

.panel-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  /* height: calc(100vh - 114px); */
}

.panel-top {
  flex: 0 0 auto;
  height: 400px; /*adjusted manually*/
  width: 100%;
  overflow: hidden;
}

.panel-bottom {
  flex: 1 1 auto;
  height: calc(100vh - 543px); /*topbar+tb-margin+card-header+panel-top+card-margin = 24+24+45+400+16 all -9 adjustment*/
  padding-top: 4px;
}

.panel-left {
  flex: 0 0 auto;
  width: 100%; /*adjusted manually*/
  height: 100%;
  padding-top: 3px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

.panel-right {
  flex: 1 1 auto;
  padding-left: 4px;
  height: 100%;
  min-height: 80vh;
}

.splitter-horizontal {
  flex: 0 0 auto;
  height: 10px !important;
  background: url(./horizontalgrip.png) center center/33px 6px no-repeat #e8e9ec;
  cursor: row-resize !important;
  border-top: 1px solid #a5a5a5;
  border-bottom: 1px solid #a5a5a5;
}

.splitter-vertical {
  flex: 0 0 auto;
  width: 10px !important;
  background: url(./verticalgrip.png) center center/6px 33px no-repeat #e8e9ec;
  cursor: col-resize !important;
  border-right: 1px solid #a5a5a5;
  border-left: 1px solid #a5a5a5;
}

#diva_viewer {
  height: 100%;
  background: #0e0e0e;
}

.diva-wrapper {
  height: 100% !important;
  min-height: 100% !important;
  width: 100% !important;
}

.diva-outer {
  background: #0e0e0e !important;
  border-bottom: none !important;
  border-left: none !important;
  border-right: none !important;
  border: none !important;
}

.diva-tools {
  height: 0 !important;
  overflow: hidden !important;
}

#editor {
  overflow: scroll;
  white-space: pre-line;
  line-height: 1.3;
  font-family: 'Menlo', 'Consolas', monospace;
  height: calc(100vh - 572px); /* panel-bottom-editor_bar-xml_margin = 509-29-10*/
}

.ace_scroller {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
}

.ace_gutter {
  padding-top: 10px;
  padding-bottom: 10px;
}

#xmleditor-options {
  font-size: 13px !important;
  width: 335px;
  display: none;
  top: 105%;
}

#xmleditor-options .custom-select {
  font-size: 13px !important;
  padding-right: 28px;
  padding-left: 8px;
  height: 26px;
  line-height: 1;
}

.custom-select:focus, .custom-select:active {
  box-shadow: none !important;
  outline: none !important;
}

#xmleditor-options .col-form-label {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: right;
}

#xmleditor-options .dropdown-divider {
  margin-top: 12px;
  margin-bottom: 16px;
}

/* editor toolbar */

#viewer-toolbar {
  background-color: #fff;
  border-bottom: 1px solid #a5a5a5;
}

#editor-toolbar {
  border-top: 1px solid #a5a5a5;
  background-color: #fff;
  border-bottom: 1px solid #a5a5a5;
}

.editor-btn {
  font-size: 13px;
  border-color: #a5a5a5;
  padding: 4px 8px;
  line-height: 1.5;
  border-radius: 0;
  border: none;
  background-color: transparent;
  color: #3a3b45;
}

.editor-btn:hover {
  background-color: #c4e1ef;
  color: #0361aa;
}

.editor-btn:disabled {
  color: #ababab;
  cursor: default;
}

.editor-btn:disabled:hover {
  color: #ababab;
  cursor: default;
  background-color: #fff;
}

.editor-btn:focus, .editor-btn:active {
  background-color: #c4e1ef !important;
  color: #024e88 !important;
}

.editor-btn.active {
  background-color: #e3e4e7;
  color: #3a3b45;
}

#btn_save {
  background-color: #fafff5;
  color: #2a4936;
}

#btn_save:hover {
  background-color: #dae9d3;
  color: #025e13;
}

#btn_save:disabled {
  color: #ababab;
  cursor: default;
}

#btn_save:disabled:hover {
  color: #ababab;
  cursor: default;
  background-color: #fff;
}

#btn_cancel {
  background-color: #fff8fd;
  color: #734847;
}

#btn_cancel:hover {
  background-color: #f5e9e8;
  color: #ae040e;
}

.button-border-left {
  border-left: 1px solid #a5a5a5;
}

.button-border-right {
  border-right: 1px solid #a5a5a5;
}

.single_folio {
  font-size: 13px;
  padding: 4px 8px;
  line-height: 1.5;
  background-color: #fff;
  color: #3a3b45;
  border-left: 1px solid #a5a5a5;
}

.current-folio {
  color: #9b9eb9;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 600;
  border-left: 4px solid #1f7f31;
}

.current-folio:hover {
  color: #9b9eb9;
  background-color: #fff;
  border-left: 4px solid #1f7f31;
}

/*lists */
.attribute_list {
  font-size: 14px;
  line-height: 26px;
}

.attribute_list_item {
  padding-left: 0;
  list-style: none;

}

.attribute_list_label {
  font-weight: 500;
  border: 1px solid rgb(215, 215, 215);
  padding-right: 8px;
  padding-left: 8px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  padding-bottom: 2px;
  padding-top: 2px;
  font-size: 13px;
  background-color: #f6f6f6;
  white-space: nowrap;
}

.attribute_list_value {
  font-weight: 400;
}

/* colours */

.bg-primary {
  background-color: #0361aa !important;
}

.bg-primary-soft {
  background-color: #91bcd9 !important
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #0062cc !important;
}

.bg-gradient-primary {
  background-color: #0361aa;
  background-image: linear-gradient(180deg, #0361aa 10%, #011536 100%);
  background-size: cover;
}

.bg-secondary {
  background-color: #5d656c !important;
}

.bg-secondary-soft {
  background-color: rgba(93, 101, 108, 0.49) !important;
}

a.bg-secondary:hover, a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
  background-color: #545b62 !important;
}

.bg-success {
  background-color: #1f7f31 !important;
}

.bg-success-soft {
  background-color: rgba(31, 127, 49, 0.55) !important;
}

a.bg-success:hover, a.bg-success:focus,
button.bg-success:hover,
button.bg-success:focus {
  background-color: #1e7e34 !important;
}

.bg-gradient-success {
  background-color: #1f7f31;
  background-image: linear-gradient(180deg, #1f7f31 10%, #13855c 100%);
  background-size: cover;
}

.bg-info {
  background-color: #03889a !important;
}

.bg-info-soft {
  background-color: rgba(3, 136, 154, 0.49) !important;
}

a.bg-info:hover, a.bg-info:focus,
button.bg-info:hover,
button.bg-info:focus {
  background-color: #117a8b !important;
}

.bg-gradient-info {
  background-color: #03889a;
  background-image: linear-gradient(180deg, #03889a 10%, #258391 100%);
  background-size: cover;
}

.bg-warning {
  background-color: #af8427 !important;
}

.bg-warning-soft {
  background-color: rgba(175, 132, 39, 0.5) !important;
}

a.bg-warning:hover, a.bg-warning:focus,
button.bg-warning:hover,
button.bg-warning:focus {
  background-color: #d39e00 !important;
}

.bg-gradient-warning {
  background-color: #af8427;
  background-image: linear-gradient(180deg, #af8427 10%, #dda20a 100%);
  background-size: cover;
}

.bg-danger {
  background-color: #a6332b !important;
}

.bg-danger-soft {
   background-color: rgba(166, 51, 43, 0.47) !important;
}

a.bg-danger:hover, a.bg-danger:focus,
button.bg-danger:hover,
button.bg-danger:focus {
  background-color: #bd2130 !important;
}

.bg-gradient-danger {
  background-color: #a6332b;
  background-image: linear-gradient(180deg, #a6332b 10%, #be2617 100%);
  background-size: cover;
}

.bg-light {
  background-color: #e0e2e9!important;
}

.text-gray-300 {
  color: #5d656c !important;
}

.text-gray-400 {
  color: #5d656c !important;
}

.text-gray-600 {
  color: #5d656c !important;
}

.text-dark-grey {
  color: #212529 !important;
}

.text-primary {
  color: #011536 !important;
}

.text-secondary {
  color: #7e8890 !important;
}

.text-success {
  color: #13855c !important;
}

.text-info {
  color: #258391 !important;
}

.text-warning {
  color: #dda20a !important;
}

.text-danger {
  color: #a83f30 !important;
}

.progress-bar {
  background-color: #0361aa !important;
}

.progress {
  background-color: #e0e2e9 !important;
}
