@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style-type: none;
}
input,
select {
  background: #fff;
}
img {
  height: auto;
  max-width: 100%;
}

/* Utilities */
.u-flex {
  display: flex;
}

.u-grid {
  display: grid;
}

.u-float-left {
  float: left;
  padding-right: 1.5rem;
}

.u-float-right {
  float: right;
  padding-left: 1.5rem;
}

.u-lozenge {
  background: #02a1ff;
  border-radius: 2rem;
  font-family: 'Open Sans', sans-serif;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
}

.u-button {
  background: #02a1ff;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
}

.u-small-caps-heading {
  color: #636363;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.4rem 0;
  letter-spacing: 0.3rem;
  margin: 0;
  text-transform: uppercase;
}

/* Layout */
html, body {
  height: 100%;
}
html {
  font-size: 10pt;
}
body {
  font-family: 'Open Sans', sans-serif;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
.content {
  padding: 0 2rem 4rem 2rem;
}

main {
  flex: 5;
  font-size: 1.1rem;
  padding: 2rem 0;
}
main p {
  margin: 0 0 1rem;
  line-height: 1.8;
}
main section {
  clear: right;
}
main section p {
  font-size: 1.1rem;
  margin: 1rem;
}
main section h4 {
  color: #666;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  margin: 0.6rem 0;
  /* TODO: last one to move inline */
  display: flex;
  justify-content: space-between;
}
main section h4 span:nth-child(2) {
  width: 1rem;
  text-align: center;
}
main .main-column {
  border-left: 1px solid #aaa;
  font-family: "PT Serif";
  flex-direction: column;
}

body.home main p {
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  color: #636363;
}
body.home main .main-column {
  border-left: 0;
}
body.home section.featured {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
}
body.home section.featured h4 {
  text-transform: none;
}
body.home section.featured > div:first-child {
  background: transparent;
  flex-direction: column;
}
main.home {
  background: #e8e8e8;
}

main.collections section p,
main.collection section p,
main.set section p {
  margin: 1rem 0;
}

nav.primary {
  flex: 1 0 auto;
  align-content: space-between;
  align-items: center;
  padding: 0.66rem 4rem;
  z-index: 100;
}
nav.primary .home {
  font-weight: bold;
  font-size: 1.5rem;
}
nav.primary ul {
  text-align: right;
  flex: 1 0 auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav.primary ul li {
  display: inline-block;
}
nav.primary ul li a {
  display: block;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 0.5rem;
  margin: 0.5rem;
  text-transform: uppercase;
}
nav.primary ul li a.active {
  border-bottom: 3px solid rgb(49, 162, 249);
}

nav.breadcrumbs {
  background: rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  padding: 0.5rem 4rem;
}
nav.breadcrumbs ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav.breadcrumbs ul li {
  display: inline-block;
  margin: 0 0 0 0.5rem;
}
nav.breadcrumbs ul li:not(:last-child)::after {
  content: "\f0da";
  font-family: "Font Awesome 5 Free";
  font-size: 0.8rem;
  font-weight: 900;
  padding-left: 0.3rem;
}
nav.breadcrumbs ul li.home {
  margin: 0;
}
nav.breadcrumbs ul li a {
  color: #ddd;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9rem;
}

header {
  background: #333;
  color: #fff;
}
header a {
  color: #fff;
  text-decoration: none;
}
header hgroup {
  text-shadow: 0 0 12pt rgba(0, 0, 0, 0.6);
}
header .title {
  padding: 2rem;
}
header .title h1, header .title h2, header .title span {
  text-shadow: 0 0 12pt rgba(0, 0, 0, 0.6);
}
header > div {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
header .title > h1 {
  font-size: 2rem;
}
header .title > h2 {
  margin-top: 0.2rem;
  font-family: "PT Serif";
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 100;
}
header.home .title > h1 {
  font-size: 3rem;
  font-weight: bold;
}
header.home .title > h1.last {
 display: inline-flex;
 flex-direction: row;
}
header.home h1.small,
header.home span.small {
  font-family: "PT Serif", serif;
  font-size: 1.5rem;
  font-style: italic;
}
header.home span.small {
  align-self: center;
  padding-right: 1rem;
  padding-top: 0.3rem;
}
header.home > div {
  padding: 4.5rem 0 0 0;
}
header.home > div > div {
  margin: 2rem 0 5rem 0;
}
header .title.collapsible {
  font-style: italic;
  flex-direction: row;
  padding: 1rem 4rem;
}
header .title.collapsible h1 {
  font-family: "PT Serif", serif;
  font-size: 1.5rem;
}
header .collapsible span {
  margin-left: auto;
}

aside.side-column {
  flex: 1;
  flex-direction: column;
  text-align: right;
  padding: 0 2rem;
}
nav.secondary ul {
  list-style-type: none;
  margin: 0 0 8rem 0;
  padding: 0;
}
nav.secondary ul li {
  color: #000;
  font-size: 1.1rem;
  text-decoration: none;
  line-height: 1.8;
  margin-bottom: 0.5rem;
}
nav.secondary ul li a.active {
  font-weight: bold;
  border-bottom: 2px solid rgb(49, 162, 249);
}

nav.features,
.record-detail {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 1rem;
}
nav.features ul {
  list-style-type: none;
  margin: 0;
}
nav.features h3 {
  padding: 0 0 0.5rem 0;
}
nav.features ul li {
  white-space: nowrap;
  padding: 0.5rem 0;
}
nav.features h3 {
  border-bottom: 1px solid #ccc;
  font-size: 0.9rem;
}
nav.features ul li {
  border-bottom: 1px solid #ccc;
}
nav.features ul li a {
  color: #000;
  text-decoration: none;
  font-size: 0.9rem;
}
.record-detail {
  padding-left: 1.5rem;
  width: 17.5rem;
}
.record-detail ul {
  border-left: 1px solid #aaa;
  padding: 0 0 2rem 1.75rem;
}

nav.browse {
  font-family: 'Open Sans', sans-serif;
  padding: 0 0 1rem 1rem;
  text-transform: uppercase;
}
nav.browse a {
  color: #fff;
  font-size: 0.9rem;
  padding: 0 1rem;
}

section.featured {
  flex-direction: column;
  transform: translate(0, -4.25rem);
  margin: 0 4em;
}
section.featured > div:first-child {
  width: calc(100% / 3 * 2);
}
section.featured > div:last-child {
  width: calc(100% / 3 * 1);
}
.monthly {
  box-shadow: 0 0 20px #7b7b7b;
  background: #fff;
  flex-direction: row;
  margin: 0.66em;
}
.monthly > div,
.monthly.essay {
  flex-direction: column;
}
.monthly.source {
  height: 20em;
}
.monthly h3,
.monthly h4 {
  margin: 0 1rem;
}
.monthly h3 {
  font-weight: bolder;
  font-size: 1.2rem;
  margin-top: 1rem;
}
.monthly h4 {
  font-style: italic;
  margin-top: 0.5rem;
}
.monthly .rich-text {
  height: 100%;
}
.monthly p {
  font-size: 0.9rem;
  margin-top: 0.4rem;
}
.monthly.essay img {
  padding: 0 1rem;
}
.monthly.essay button {
  align-self: center;
  margin-bottom: 1rem;
}
.monthly.essay a {
  color: #fff;
  font-weight: bold;
}
.metadata {
  color: #636363;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  padding: 0 2rem 1rem 2rem;
}
.metadata > span:last-child {
  margin-left: auto;
}
body.featured.inventory .main-image {
  padding: 0 2rem 0 0;
}
body.essay .main-image {
  align-self: center;
  padding: 0 2rem;
}

.mission,
.support {
  align-items: center;
  box-shadow: 0 0 20px #7b7b7b;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0;
}
.mission h2,
.support h2 {
  color: #fff;
  font-size: 1rem;
  transform: translate(0, -1.1rem);
}
.support h2 {
  background: #929292;
}
.support p {
  margin-top: 0;
}
.mission {
  background: #fff;
  margin-top: 0;
}
.mission > div {
  margin: 0rem 1rem 2.5rem 3.5rem;
}
.statement > img {
  float: left;
  padding: 0.3rem 1rem 0 0;
  width: 7rem;
}
.statement p {
  margin: 0;
}
.register > img {
  height: auto;
  width: 100%;
}
.register .a {
  margin: 1em 2em 0 4em;
  width: 150px;
  border: 10px solid rgb(91, 160, 241);
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.register .b {
  background: transparent;
  box-shadow: 0 0 20px inset rgba(0,0,0,0.5);
}
.register .c {
  width: 150px;
  position: relative;
  top: -25px;
  left: -30px;
}

.support {
  background: #ebfcff;
}
.support-logos {
  margin: 0 4rem 2rem 4rem;
}
.support-logos > div {
  align-items: center;
  border: 1px solid #dee2e3;
  justify-content: center;
  padding: 1rem 2rem;
}
.support-logos > div:not(:first-child):not(:last-child) {
  margin: 0 1rem
}

.main-image {
  flex-direction: column;
  padding: 0 2rem 1rem 2rem;
}
.main-image .caption {
  color: #aaa;
  font-family: 'Open Sans', sans-serif;
  margin: 0 0 0 auto;
}
main.featured.object .main-image {
  padding: 0 1rem 1rem 1rem;
}
.phrase {
  border-bottom: 1px dotted #636363;
  width: 60%;
  margin-bottom: 1rem;
}
.phrase > h4 {
  color: #636363;
  font-family: 'Open Sans', sans-serif;
}

.subheading {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  font-size: 1.3rem;
}
.subsections i {
  align-self: center;
  margin-left: auto;
}
section[data-collapsed='true'] .rich-text {
  display: none;
}
section[data-collapsed='true'] .subheading {
  border-bottom: 0;
}

footer {
  align-items: center;
  background: #333;
  box-shadow: 0 0 10px #000;
  color: #fff;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 0 4rem;
}
nav.footer {
  flex: 2 0 auto;
}
nav.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav.footer ul li {
  display: inline;
}
nav.footer ul li:not(:last-child)::after {
  content: " \2022 ";
}
nav.footer ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75rem;
  padding: 0 0.2rem;
}
.copyright {
  font-size: 0.75rem;
  flex: 4 0 auto;
  text-align: center;
}
.social {
  background: #000;
  color: #ccc;
  text-align: center;
  flex: 1 0 0;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  white-space: nowrap;
}
.social > i:not(:first-child):not(:last-child) {
  margin: 0 0.3rem;
}

/* Inventories */
header .description {
  align-items: flex-start;
  border-top: 1px dotted #636363;
  font-size: 1.1rem;
  flex-direction: row;
  padding: 1rem 4rem;
}
header .description p {
  max-width: 60%;
}
header .description ul {
  color: #5e5e5e;
  flex-direction: column;
  margin-left: auto;
  padding: 0;
  text-align: right;
}
header .description ul li {
  padding-bottom: 0.3rem;
}
div.description[data-collapsed='true'] {
  display: none;
}
div.description[data-collapsed='true'] {
  border-top: 0;
}

main.inventories > article {
  border: 0;
}

i.active {
  cursor: pointer;
}
i.inactive {
  color: #aaa;
}

.app {
  font-family: 'Open Sans', sans-serif;
  padding: 0 4rem;
}
.app .active {
  cursor: pointer!important;
}
.app .inactive {
  color: #aaa!important;
  cursor: default!important;
}
.app nav {
  color: #6b6b6b;
  border-top: 1px solid #6b6b6b;
  border-bottom: 1px solid #6b6b6b;
}
.app nav li {
  cursor: pointer;
  padding: 0.75rem 1rem 0.75rem 1rem;
}
.app nav li.search {
  cursor: text;
}
.app nav li:not(:last-child) {
  border-right: 1px solid #6b6b6b;
}
.app nav li.filter.right {
  border-right: 0;
}
.app nav li > span {
  padding-right: 0.2rem;
}
.app nav li.right {
  border-left: 1px solid #6b6b6b;
  margin-left: auto;
}
.app nav li.search > input {
  border: 0;
  font-size: 1rem;
  outline: none;
  width: 17.5rem;
}
.app section {
  padding: 0 1rem;
}
.app section > div {
  grid-template-columns: 5fr 2fr 2fr 1fr;
}
.app section > div > span {
  padding: 0.75rem 2rem 0.75rem 0;
}
.app section > div > span:not(.heading) {
  border-top: 1px dotted #636363;
}
.app section .heading > strong {
  cursor: pointer;
}
.app.inventory-list .pagination {
  padding: 1rem 0 0 1rem;
  margin-left: auto;
}
.app.inventory-list .pagination .current {
  padding: 0 0.5rem;
}
.app.inventory-list .pagination i:first-child {
  padding-right: 0.2rem;
}
.app.inventory-list .pagination i:last-child {
  padding-left: 0.2rem;
}
.app.inventory-list section .icons {
  color: #aaa;
  font-size: 1.5rem;
  text-align: right;
}
.app.inventory-list section .icons > i:last-child {
  padding-left: 0.5rem;
}
.app .short-name {
  color: #aaa;
  padding-left: 0.33rem;
}
.inventories .folios {
  padding: 0 4rem;
}
.folios > section {
  border-bottom: 1px solid #6b6b6b;
}
.folios.vertical-split {
  flex-direction: row;
}
.folios.vertical-split .diva-viewer-canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.folios.horizontal-split {
  flex-direction: column;
}
.folios.vertical-split > section {
  width: 50%;
}
.folios.horizontal-split > section {
  height: 50%;
}
section.folio {
  justify-content: center!important;
}
/* TODO: Filter positioning needs work for different viewpoints. */
.filter-panel {
  transform: translate(117%, 20%);
  width: 35rem;
}
.folio-selector {
  transform: translate(244%, 10%);
  width: 20rem;
}
.folio-selector,
.filter-panel {
  background: #fff;
  border: 1px solid #6b6b6b;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px #7b7b7b;
  padding: 2rem;
  position: absolute;
  z-index: 1;
}
.folio-selector:before,
.folio-selector:after,
.filter-panel:before,
.filter-panel:after {
	bottom: 100%;
	left: 80%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.folio-selector:before,
.filter-panel:before {
	border-color: rgba(107, 107, 107, 0);
	border-bottom-color: #6b6b6b;
	border-width: 31px;
	margin-left: -31px;
}
.folio-selector:after,
.filter-panel:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #fff;
	border-width: 30px;
    /* filter: drop-shadow(0 1px 2px rgba(0,0,0,.5)); */
	margin-left: -30px;
}
.app nav .folio-selector li {
  border: 0;
}
.filter-form {
  flex-direction: column;
}
.filter-form > .label {
  font-size: 1rem;
  padding: 1rem 0 0 0;
}
.filter-form input {
  align-self: center;
  width: 2rem;
}
.filter-form .asset {
  padding-top: 1rem;
}

.folio-rights {
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}
.folios .folio-rights h4 {
  margin: 0.7rem 0 0.4rem 0;
}
.folios .folio-rights p {
  font-size: 0.9rem;
  margin: 0;
}
.folios .folio-rights p:last-child {
  margin-bottom: 1rem;
}

/* 3rd Party Overrides */
div.diva-outer {
  background: #2d2d2d;
  border: 0;
}
div.diva-wrapper {
  min-height: 60vh;
}
tei-TEI {
  display: flex;
}
input.vs__search {
  display: none;
}
div.vs__dropdown-toggle {
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #ccc;
  min-height: 3rem;
}
div.vs__selected-options,
span.vs__selected {
  margin: 0;
  padding: 0;
}
div.vue-slider {
  padding: 1.5rem 0 0 0 !important;
}

/* Media Queries */
@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 900px) {
}

@media only screen and (min-width: 1200px) {
  body {
    width: 110rem;
    margin: 0 auto;
  }
  section.featured {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1800px) {
  body {
    width: 80rem;
    margin: 0 auto;
  }
}
