{% load wagtailimages_tags %}

{% with value as slides %}
  <div id="carousel" class="carousel block-carousel" data-ride="carousel">
    {% if slides|length > 1 %}
      <ul class="carousel-indicators">
        {% for slide in slides %}
          {% if forloop.counter0 == 0 %}
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
          {% else %}
            <li data-target="#carousel" data-slide-to="{{ forloop.counter0 }}"></li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}

    <div class="carousel-inner">
      {% for slide in slides %}
        {% if forloop.counter0 == 0 %}
          <div class="carousel-item active">
            {% image slide height-400 %}
          </div>
        {% else %}
          <div class="carousel-item">
            {% image slide height-400 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    {% if slides|length > 1 %}
      <a class="carousel-control-prev" href="#carousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#carousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    {% endif %}
  </div>
{% endwith %}
