{% extends "public/layouts/left_side_column.html" %}
{% load collection_date_range wagtailcore_tags wagtailimages_tags static %}

{% block title %}{{ block.super }} &ndash; {{ page.title_switch }}{% endblock %}

{% block header_extra %}
  {% include "public/includes/simple_header.html" %}
{% endblock %}

{% block left_side_column %}
  {% include "public/includes/collections_filter.html" %}
  {% if page.citable %}
    <div id="cite-container" class="mt-5" v-cloak>
      {% include "public/includes/cite_menu.html" %}
      {% include "public/includes/cite_popup.html" %}
    </div>
  {% endif %}
  {% include "public/includes/features_nav.html" %}
{% endblock %}

{% block main_column %}
  <div class="content">
    {% include_block page.body %}
    {% if corpora %}
      <div id="corpora" class="corpora-container u-flex">
        {% for corpus, collections in corpora %}
          {% include "corpus.html" %}
        {% endfor %}
      </div>
    {% else %}
      <h4>No corpora or collections found.</h4>
    {% endif %}
  </div>
{% endblock %}
