{% extends "public/layouts/left_side_column.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block title %}{{ block.super }} &ndash; {{ page.title_switch }} &ndash; {{ title }} {% endblock %}

{% block banner %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block header_extra %}
    {% include "public/includes/simple_header.html" %}
{% endblock %}

{% block left_side_column %}
    {% include "public/includes/flat_nav.html" %}
    {% include "public/includes/features_nav.html" %}
{% endblock %}

{% block main_column %}
    <div class="content">
        <section id="person-profile">
            <div class="avatar-frame">
                {% if person.avatar %}
                    <div class="headshot-bg" style="background: center / cover url({% get_media_prefix %}{{ person.avatar }});"></div>
                {% else %}
                    <div class="headshot-bg no-photo"></div>
                {% endif %}
            </div>
            <div class="person-name">
                <div>{{ person.name }}</div>
                {% if person.url %}
                    <a href="{{ person.url }}" class="person-url">
                        <i class="fas fa-link person-url-icon"></i>
                    </a>
                {% endif %}
            </div>
            <div class="person-title">{{ person.title }}</div>
            <div class="person-affiliation">{{ person.affiliation }}</div>
            {% if person.roles %}
                <div class="person-roles">
                    {% for role in person.roles.all %}
                        {{ role.description }}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="block-text person-biography">
                {% include_block person.biography|richtext %}
            </div>
        </section>
        <section>
            <div class="block-heading">Contributions</div>
            <div>
                {% for item in contributions %}
                    <div>
                        <div>{{ item.record }}</div>
                        <div>{{ item.credit }}</div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}
