main.object > article,
main.features > article,
main.essay > article {
  flex-direction: column-reverse;
}
main.object .content,
main.inventory > .content,
main.essay > .content {
  padding: 0 1rem 2rem 1rem;
}

/* tile groups */
.featured-group {
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  width: calc(100% + 1rem);
}
.featured-group > a {
  margin: 0 1rem 1.5rem 0;
}
.featured-group > .featured-panel:not(:last-child) {
  margin-right: 1rem;
}
.featured-group-key {
  border-bottom: 1px dotted #9c9c9c;
  padding-bottom: 0.5rem;
}
h3.featured-group-key {
  font-size: 1.5rem;
  color: #3a5d82;
  font-weight: 650;
  letter-spacing: 0.1rem;
  padding-left: .1rem;
}
h4.featured-group-key {
  color: #5e5e5e;
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  padding-left: .1rem;
}
.features-back {
  display: none;
  margin-bottom: 1rem;
}

/* feature tiles */
.featured-panel {
  border: 1px solid #d7d7d7;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
}
.featured-panel:hover {
  box-shadow: 0 0 12px #d7d7d7;
}
.featured-panel.w1x {
  width: calc((var(--content-width) - 2rem) / 3);
}
.featured-panel.w2x {
  width: calc(((var(--content-width) - 1rem) / 3) * 2);
}
.featured-panel.w3x {
  width: var(--content-width);
}
.feature-panel-image {
  height: 200px;
  width: 100%;
  border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
}
.feature-panel-title {
  margin: auto;
  padding: 0.5rem 1rem;
  text-align: center;
  line-height: 1.5;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

/* Media Queries */
@media only screen and (min-width: 600px) {
  main.object > article,
  main.features > article,
  main.essay > article {
    flex-direction: row;
  }
  .features-back {
    display: block;
  }
  main.object .content,
  main.inventory > .content,
  main.essay > .content {
    padding: 0 3rem 4rem 3rem;
  }
}
