button[name="FOOTNOTE"] > svg > path:nth-child(1) {
  fill: none;
}
.footnoteEntity {
  cursor: pointer;
  position: relative;
  top: -5px;
  font-size: 90%;
}
.footnoteTooltipText {
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.Tooltip {
  display: flex;
}
.Tooltip__button {
  display: flex;
  align-items: center;
  justify-content: center;
}
