/* TEI Common */

.transcription tei-TEI {
  margin: 0;
}
.ab-content {
  padding: 1rem;
}
.closed .ab-content {
  display: none;
}
.ab-column-toggler .fa-caret-right {
  display: inline;
}
.ab-column-toggler .fa-caret-down {
  display: none;
}
.closed .ab-column-toggler .fa-caret-right {
  display: none;
}
.closed .ab-column-toggler .fa-caret-down {
  display: inline;
}
.ab-column-toggler {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  font-family: "Open Sans",sans-serif;
  white-space: nowrap;
  height: 100%;
  width: 30px;
  border-right: 1px dotted #6b6b6b;
}
.ab-column-toggler > div {
  color: #6b6b6b;
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ab-column-toggler .label {
  font-size: 15px;
  font-weight: 600;
}
tei-ab {
  display: block;
}
tei-layout[columns] {
  display: flex;
  margin-top: .5em;
  margin-bottom: .5em;
}
tei-layout[columns] tei-ab {
  position: relative;
  padding-left: 30px;
  border-left: 1px solid #aaa;
  min-height: 100px;
}
tei-layout[columns] tei-ab.closed:not(:last-of-type) .ab-column-toggler {
  border-right-color: transparent;
}
tei-mute {
  display: none;
}
tei-quote {
  white-space: normal;
}
tei-hi[rend=indent] {
  padding-left: 1em;
}
tei-hi[rend=indent1] {
  padding-left: 2em;
}
tei-hi[rend=indent2] {
  padding-left: 3em;
}
tei-hi[rend=underline] {
  text-decoration: underline;
}
tei-hi[rend=center] {
  display: inline-block;
  text-align: center;
  width: 100%;
}
tei-w[type=elision]:empty {
  margin-right: .25rem;
}

/* independent soft-wrap */
section.transcription.soft-wrap tei-text > tei-body {
  white-space: pre-line !important;
}
section.transcription.soft-wrap tei-lb::after {
  white-space: pre-line;
}
section.transcription.show-newlines tei-lb::before {
  content: ' ';
  background-image: url(/static/images/newline-icon.svg);
  background-position: center 9px;
  background-repeat: no-repeat;
  width: 15px;
  height: 23px;
  display: inline-block;
  background-size: contain;
}
section.transcription.show-newlines tei-hi[rend=center] + tei-lb::before,
section.transcription.show-newlines tei-note + tei-lb::before,
section.transcription.show-newlines tei-layout[columns] > tei-lb::before,
section.transcription.show-newlines tei-ab[type=column] + tei-lb::before,
section.transcription.show-newlines div.ab-content > tei-lb:first-child::before {
  display: none;
}
div.ab-content > tei-lb:first-child {
  display: inline-block;
}
section.transcription.show-newlines tei-hi[rend=center]::after {
  content: ' ';
  background-image: url(/static/images/newline-icon.svg);
  background-position: center 9px;
  background-repeat: no-repeat;
  width: 15px;
  height: 23px;
  display: inline-block;
  background-size: contain;
}

/* TEI Scholarly */
section.transcription.scholarly {
  overflow: auto;
}
section.transcription.scholarly tei-text > tei-body {
  white-space: pre;
}

/* TEI Basic */
section.transcription.basic {
  overflow: scroll;
}
section.transcription.basic tei-text > tei-body {
  white-space: pre-line;
}
section.transcription.basic tei-del,
section.transcription.basic tei-pc {
  display: none;
}

section.transcription.basic tei-hi[rend-basic="1"],
section.transcription.basic tei-hi[rend="subscript"] {
  vertical-align: unset;
  font-size: 100%;
}
