{% extends "registration/login_base.html" %}
{% load staticfiles i18n %}
{% block title %}DALME Password Reset{% endblock %}
{% block content %}
<div class="login-card-body">
  {% if validlink %}
    <form id="login-form" method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
        <ul class="login-form-list mb-4">
          <li>Password can't be similar to other personal information.</li>
          <li>Password must contain at least 8 characters.</li>
          <li>Password can't be a commonly used password.</li>
          <li>Password can't be entirely numeric.</li>
        </ul>
        <div class="mb-3">
          <input name="{{ form.new_password1.name }}" type="password" id="{{ form.new_password1.id_for_label }}" class="login-form-control" placeholder="New password"
          required="required" autofocus="autofocus">
        </div>
        <div class="mb-3">
          <input name="{{ form.new_password2.name }}" type="password" id="{{ form.new_password2.id_for_label }}" class="login-form-control" placeholder="New password confirmation"
          required="required" autofocus="autofocus">
        </div>
      <button class="btn btn-primary login-btn mb-3" type="submit">Change password</button>
    </form>
  {% else %}
    <div class="login-form-text mb-3">
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </div>
  {% endif %}
</div>
{% endblock %}
