{% extends "registration/login_base.html" %}
{% load static i18n %}
{% block title %}DALME Password Reset{% endblock %}
{% block content %}
<div class="login-card-body">
  <form id="login-form" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
      <div class="login-form-text mb-4">
        Enter the email address associated with your account and we will send you a message
        with instructions on how to reset your password.
      </div>
      <div class="mb-3">
        <input name="{{ form.email.name }}" type="email" id="{{ form.email.id_for_label }}" class="login-form-control" placeholder="Email"
        required="required" autofocus="autofocus">
      </div>
    <button class="btn btn-primary login-btn mb-3" type="submit">Submit</button>
  </form>
</div>
{% endblock %}
