{% load static i18n %}
{% load compress %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="DALME Project">
    <meta name="author" content="DALME">
    <title>{{ page_title }} | DALME</title>
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/icons/site_db.webmanifest' %}">
    <link rel="mask-icon" href="{% static '/icons/safari-pinned-tab.svg' %}" color="#912643">
    <link rel="shortcut icon" href="{% static '/icons/favicon.ico' %}">
    <meta name="apple-mobile-web-app-title" content="DALME">
    <meta name="application-name" content="DALME">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="msapplication-TileImage" content="{% static '/icons/mstile-144x144.png' %}">
    <meta name="msapplication-config" content="{% static '/icons/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
    <!-- Lodash -->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js" integrity="sha256-ur/YlHMU96MxHEsy3fHGszZHas7NzH4RQlD4tDVvFhw=" crossorigin="anonymous"></script>
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <link href="{% static 'js/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/jquery-ui/jquery-ui.min.js' %}"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/b-1.6.3/b-colvis-1.6.3/cr-1.5.2/fc-3.3.1/fh-3.1.7/kt-2.5.2/r-2.2.5/rg-1.1.2/rr-1.2.7/sp-1.1.1/sl-1.3.1/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/b-1.6.3/b-colvis-1.6.3/cr-1.5.2/fc-3.3.1/fh-3.1.7/kt-2.5.2/r-2.2.5/rg-1.1.2/rr-1.2.7/sp-1.1.1/sl-1.3.1/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg==" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.21/dataRender/datetime.js"></script>
    <!-- DataTables Editor -->
    <link rel="stylesheet" type="text/css" href="{% static 'js/Editor-1.9.4/css/editor.bootstrap4.min.css' %}">
    <script type="text/javascript" src="{% static 'js/Editor-1.9.4/js/dataTables.editor.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Editor-1.9.4/js/editor.bootstrap4.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.default.min.css" integrity="sha256-ibvTNlNAB4VMqE5uFlnBME6hlparj5sEr1ovZ3B/bNA=" crossorigin="anonymous" />
    <!-- other -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" integrity="sha256-R91pD48xW+oHbpJYGn5xR0Q7tMhH4xOrWn1QqMRINtA=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha256-yNbKY1y6h2rbVcQtf0b8lq4a+xpktyFc3pSYoGAY1qQ=" crossorigin="anonymous"></script>
    <!-- DALME CSS START -->
    {% compress css %}
      <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
      <link href="{% static 'css/dalme_app/_alerts.css' %}" rel="stylesheet">
      <link href="{% static 'css/dalme_app/_comments_module.css' %}" rel="stylesheet">
      <link href="{% static 'css/dalme_app/_dt_rendering.css' %}" rel="stylesheet">
      <link href="{% static 'css/dalme_app/_dte_forms.css' %}" rel="stylesheet">
      <link href="{% static 'css/dalme_app/_general.css' %}" rel="stylesheet">
      <link href="{% static 'css/dalme_app/_sidebar.css' %}" rel="stylesheet">
      <link href="{% static 'css/dalme_app/_topbar.css' %}" rel="stylesheet">
      <link href="{% static 'css/dalme_app/_workflow_manager.css' %}" rel="stylesheet">
    {% endcompress %}
    <!-- DALME CSS END -->
    <!-- DALME JS START -->
    {% compress js %}
      <script type="text/javascript" src="{% static 'js/dalme_app/dalme_util.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/dalme_app/dalme_app.js' %}"></script>
    {% endcompress %}
      {{ preferences|json_script:"user-preferences" }}
      <script>api_endpoint = "{{ api_endpoint }}";</script>
      <script>
        $(document).ready(function () {
            $(document).click(function (event) {
                var clickover = $(event.target);
                var _opened = $(".navbar-collapse").hasClass("show");
                if (_opened === true && !clickover.hasClass("navbar-toggler")) { $(".navbar-toggler").click(); }
            });
            dalme_startup({% if helpers %}"{{ helpers | safe }}"{% endif %});
            {% if messages %}
                {% for message in messages %}
                  toastr.{{ message.tags }}('{{ message | safe }}');
                {% endfor %}
            {% endif %}
        });
      </script>
    <!-- DALME JS END -->
    {% block extra_head %}{% endblock %}
    {% block extra_js %}{% endblock %}
</head>
<body id="page-top">
  <div id="wrapper">
  {% block sidebar %}
    <ul class="navbar-nav bg-gradient-sidebar sidebar sidebar-dark accordion {% if sidebar_toggle %} toggled {% endif %}" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <img class="dalme-logo" height="40" src="{% static 'images/dalme_logo.svg'%}" alt="DALME">
        <div class="sidebar-brand-text mx-3">DALME</div>
      </a>
      {% for item in sidebar %}
        {{ item|safe }}
      {% endfor %}
      {% block extra_sidebar %}{% endblock %}
      <hr class="sidebar-divider d-none d-md-block mt-3">
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle" onclick="update_session({var:'sidebar_toggle'})"></button>
      </div>
    </ul>
  {% endblock %}
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        {% block topbar %}
        <nav class="navbar navbar-expand navbar-light topbar-dalme topbar mb-4 static-top shadow-sm">
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <div class="page_title">{{ page_chain | safe }}</div>
          <ul class="navbar-nav ml-auto">
            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropleft topbar-border-left" id="searchIcon" data-toggle="tooltip" data-placement="bottom" title="Search DALME" data-delay='{"show":"1000", "hide":"0"}'>
              <a class="nav-link" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-g"></i>
              </a>
              <!-- Dropdown - Search -->
              <div class="dropdown-menu dropdown-menu-right animated--grow-in search-slider" aria-labelledby="searchDropdown">
                <form class="form-inline navbar-search" role="form" method="post" id="search-form" enctype="multipart/form-data" action="/search/">
                  {% csrf_token %}
                  {{ form.management_form }}
                  <input
                    type="text"
                    class="topbar_search form-control border-0 small"
                    id="{{ form.0.query.id_for_label }}"
                    name="{{ form.0.query.html_name }}"
                    value="{{ form.0.query.value|default_if_none:'' }}"
                    placeholder="Search"
                    autocomplete="off"
                    autocorrect="off"
                    autocapitalize="off"
                    spellcheck="false"
                    aria-label="Search"
                    required
                  >
                </form>
              </div>
            </li>
            {% block extra_dropdowns %}{% endblock %}
            {% for item in dropdowns %}
                {{ item|safe }}
            {% endfor %}
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow topbar-border-left">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-user-circle fa-g mr-2"></i> {{ request.user.profile.full_name }}
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="/users/{{ request.user.username }}/">
                  <i class="fas fa-user fa-fw mr-2 text-gray-400"></i> Profile
                </a>
                <a class="dropdown-item" href="/users/{{ request.user.username }}/?preferences">
                  <i class="fas fa-cog fa-fw mr-2 text-gray-400"></i> Preferences
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-fw mr-2 text-gray-400"></i> Logout
                </a>
              </div>
            </li>
            <!-- Nav Item - Full screen toggle -->
            <li class="nav-item no-arrow topbar-border-left" id="fullScreenToggle">
              <a class="nav-link" href="#" role="button" onclick="full_screen_mode('on')">
                  <i class="fas fa-expand fa-g"></i>
              </a>
            </li>
          </ul>
        </nav>
        <!-- End of Topbar -->
        {% endblock %}
        <!-- Begin Page Content -->
        {% block content %}{% endblock %}
        </div>
        <!-- End of Main Content -->
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>
<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logout-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="logout_title">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="/logout/">Logout</a>
      </div>
    </div>
  </div>
</div>
{% if helpers %}
  {% for helper in helpers %}
    {% with 'js/dalme_helpers/'|add:helper|add:'.js' as helper_static %}
      {% compress js %}
        <script type="text/javascript" src="{% static helper_static %}"></script>
      {% endcompress %}
    {% endwith %}
  {% endfor %}
{% endif %}
{% block extra_scripts %}
{% endblock %}
</body>
</html>
