{% load admin_urls %}

{% include 'platonic_concepts/head.html' %}
{% include 'platonic_concepts/navbar.html' %}

<div class="container">
  <h1>{{ concept }}</h1>
  <div id="getty-search">
    <h2>Getty Terms</h2>
    <input type="text" name="getty-search" value="{{ concept }}">
    <button class="btn btn-xs btn-primary" type="button" name="getty-search-button"><span class="glyphicon glyphicon-search"></span></button>
  </div>
  <div id="getty-results"></div>
</div>

<script type="text/javascript">
  var searchTerm = $("#getty-search input").val();
  var query = "select ?Subject ?Term ?Parents ?ScopeNote {\
    ?Subject a skos:Concept; luc:term  \"" + searchTerm + "\"; skos:inScheme aat: ;\
       gvp:prefLabelGVP [xl:literalForm ?Term].\
    optional {?Subject gvp:parentStringAbbrev ?Parents}\
    optional {?Subject skos:scopeNote [dct:language gvp_lang:en; rdf:value ?ScopeNote]}\
  } order by asc(lcase(str(?Term)))";
  queryUrl = "http://vocab.getty.edu/sparql.json?query=" + query + "&toc=Case-insensitive_Full_Text_Search_Query&implicit=true&equivalent=false&_form=/queriesF";
  htmlQueryUrl = "http://vocab.getty.edu/sparql?query=" + query + "&toc=Case-insensitive_Full_Text_Search_Query&implicit=true&equivalent=false&_form=/queriesF";
  var gettyResults = $("#getty-results");
  $.getJSON(queryUrl, function( data ) {
    gettyResults.append("<a href='" + htmlQueryUrl + "'>View original search</a>");
    $.each( data['results']['bindings'], function( i, result ) {
      console.log(result);
      resultText = "<h3><a href='" + result['Subject']['value'] + "'>" + result['Term']['value'] + "</a></h3>";
      if ('ScopeNote' in result) {
        resultText += "<p>" + result['ScopeNote']['value'] + "</p>";
      }
      gettyResults.append(resultText);
    });
  });
</script>

{% include 'platonic_concepts/foot.html' %}
