// app global css in SCSS form

html,body {
  height: 100% !important;
}

a {
  text-decoration: none;
}

h1,h2,h3,h4,h5 {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

pre {
  margin: 0;
}

.dalme-logo {
  font-family: Academy Engraved LET, Serif;
  font-size: 27px;
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.sticky-header {
  max-height: 800px;
  thead tr th {
    position: sticky;
    z-index: 1;
  }
  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th {
    background-color: #fff;
  }
  thead tr:first-child th {
    top: 0;
  }
  &.q-table--loading thead tr:last-child th {
    top: 400px;
  }
}

.q-drawer--right {
  position: absolute !important;
}

.frosted-background > .q-dialog__backdrop {
  background: none;
  backdrop-filter: blur(10px) grayscale(70%);
}

.q-drawer--mini .q-expansion-item--expanded.mini-exp-open .q-expansion-item__content {
  display: inherit !important;
}

.full-page-height {
  height: calc(100vh - 50px);
}
.icon-adj {
  padding: 8px 18px;
}
.q-drawer--left.q-drawer--bordered {
  border-right: 1px solid transparent;
}

.box-left-arrow::before {
  content: "";
  position: absolute;
  border: 8px solid #d0d0d0;
  border-color: transparent #d0d0d0 transparent transparent;
  top: 10px;
  left: -17px;
}

.box-left-arrow::after {
  content: "";
  position: absolute;
  border: 8px solid #e0e0e0;
  border-color: transparent whitesmoke transparent transparent;
  top: 10px;
  left: -16px;
}

.md-editor-textbox .q-field__control {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.md-editor-textbox .q-field__control:before {
  border-bottom-style: dashed;
}
