// app global css in SCSS form

a {
  text-decoration: none;
}

h1,h2,h3,h4,h5 {
  margin: 0;
}

pre {
  margin: 0;
}

.dalme-logo {
  font-family: Academy Engraved LET, Serif;
  font-size: 27px;
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}
