// app global css in SCSS form

a {
  text-decoration: none;
}

h1,h2,h3,h4,h5 {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

pre {
  margin: 0;
}

.dalme-logo {
  font-family: Academy Engraved LET, Serif;
  font-size: 27px;
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.sticky-header {
  max-height: 800px;
  thead tr th {
    position: sticky;
    z-index: 1;
  }
  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th {
    background-color: #fff;
  }
  thead tr:first-child th {
    top: 0;
  }
  &.q-table--loading thead tr:last-child th {
    top: 400px;
  }
}
