/* BSTree View classes */

.bstreeview {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  padding: 0;
  overflow: scroll;
  font-size: 13px;
  border-right: 1px solid #a5a5a5;
  height: 735px;
}

.bstreeview .list-group {
  margin-bottom: 0;
  border-bottom: none;
}

.bstreeview .list-group-item {
  border-radius: 0;
  border-width: 1px 0 0 0;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  cursor: pointer;
}

.bstreeview .list-group-item:hover {
  color: #fff;
  background-color: #215986;
}

.bstreeview .list-group-item.active {
  background-color: #b9e5fb;
  color: #0c335c;
}

.bstreeview > .list-group-item:first-child {
  border-top-width: 0;
}

.bstreeview .state-icon {
  margin-right: 8px;
  width: 12px;
  text-align: center;
}

.bstreeview .item-icon {
  margin-right: 5px;
}

/* JSONEditor classes */

.tree-panel {
  max-width: 30%;
  flex: 0 0 30%;
}

.editor-panel {
  max-width: 70%;
  flex: 0 0 70%;
}

.config-editor-toolbar {
  display: flex;
  border-bottom: 1px solid #a5a5a5;
}

.config-editor-title {
  display: flex;
  align-items: center;
  padding-left: 7px;
  font-size: 16px;
  font-weight: 500;
}

.config-editor-button {
  margin-left: auto;
  background-color: white;
  border: none;
  font-size: 16px;
  padding: 5px 10px;
  border-left: 1px solid #a5a5a5;
}

.config-editor-button:hover {
  color: #fff;
  background-color: #215986;
}

.jsoneditor {
  border: none;
}

div.jsoneditor-outer {
  height: 700px;
}
