/* dashboard cards/tiles */

.homecard {
  border: 1px solid #a5a5a5;
  border-radius: 4px;
}

.homecard .card-footer:hover {
  background-color: rgba(165, 165, 165, 0.61);
  border-top: 1px solid #a5a5a5;
}

.homecard-action {
  align-self: flex-start;
  margin-right: auto;
}

.homecard-action {
  align-self: flex-end;
}

.homecard a:hover {
  text-decoration: none;
}

.ch-primary {
  background-color: #0361aa;
  color: #fff;
}

.half-tile {
  width: 49%;
}
