/* sidebar fixes */

.dalme-logo {
    display: inline;
    float: left;
    margin-top: 5px;
    background-color: #fff;
}

.sidebar .nav-item .collapse .collapse-inner {
  box-shadow: 0 2px 28px 0 rgba(58,59,69,.45) !important;
}

.sidebar.toggled .nav-item .nav-link {
  padding: 8px 16px !important;
}

.sidebar-brand-text {
  font-size: 27px;
  font-family: Academy Engraved LET;
  padding-top: 10px;
}

.bg-gradient-sidebar {
  background-color: #2f333c;
  background-image: linear-gradient(59deg, #11587c 54.62%, #1b1b1b);
  background-size: cover;
}

.sidebar .sidebar-heading {
  text-align: left;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 13px;
  padding-bottom: 3px;
  font-weight: 600;
  font-size: 10px;
}

.sidebar .sidebar-menu-heading {
  text-align: left;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 13px;
  padding-bottom: 3px;
  font-weight: 600;
  font-size: 13px;
  color: #949494;
}

.sidebar .nav-item .nav-link {
  padding-top: 8px;
  padding-bottom: 8px;
}

.sidebar .nav-item {
  font-size: 14px;
}

.sidebar .nav-item.active .nav-link {
  font-weight: 400 !important;
}

.sidebar .nav-item .nav-link i {
  font-size: 16px;
  margin-right: 4px;
}

.sidebar .nav-item .nav-link span {
  font-size: 14px;
  display: inline;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item, .sidebar .nav-item .collapsing .collapse-inner .collapse-item {
  padding-left: 12px !important;
  padding-right: 16px !important;
  padding-top: 3px !important;
  padding-bottom: 0 !important;
  margin: 0 !important;
  border-left: 4px solid #fff !important;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover, .sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {
  border-radius: 0;
  border-left: 4px solid #0361aa !important;
  background-color: rgba(0,0,0,.075)
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active, .sidebar .nav-item .collapsing .collapse-inner .collapse-item.active {
  color: #0361aa !important;
}

.nav-item hr.sidebar-divider {
  border-top: 1px solid #dedede;
  margin-top: 9px;
  margin-bottom: 5px;
  border-bottom: 1px solid white;
}

.sidebar-dark .nav-item.active .nav-link,
.sidebar-dark .nav-item.active .nav-link i {
  color: #d2d2d2;
}

.sidebar-dark .nav-item.active:hover .nav-link,
.sidebar-dark .nav-item.active:hover .nav-link i {
  color: #fff;
}

/* STACKED MENU ICONS */

.fa-stack-container {
  position: relative;
  line-height: 1.5;
  margin-right: 1px;
}

.fa-stack-base {
  font-size: 16px;
}

.fa-stack-detail {
  right: 2px;
  top: 1px;
  position: absolute;
  font-size: 8px;
  color: white;
}

.dash-menu {
  margin-top: 10px;
  border-top: 1px solid rgb(77, 87, 106);
  background-color: rgb(26, 46, 61);
}
.search-menu {
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(77, 87, 106);
  background-color: rgb(26, 46, 61);
}

.dash-menu:hover,
.search-menu.active {
  background-color: rgba(50, 88, 117, 0.51)
}
