.transcription-editor {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  height: calc(100vh - 143px); /*topbar+tb-margin+card-header+card-margin+footer = 24+24+45+16+32 +10 adjustment*/
  /* box-shadow: inset 50px 0px 0px #ebebeb; */
}

tei-TEI {
  margin-top: 10px;
  margin-bottom: 10px;
}

.panel-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  min-height: 600px;
  /* height: calc(100vh - 114px); */
}

.panel-top {
  flex: 0 0 auto;
  height: 400px; /*adjusted manually*/
  width: 100%;
  overflow: hidden;
}

.panel-bottom {
  flex: 1 1 auto;
  height: calc(100vh - 543px); /*topbar+tb-margin+card-header+panel-top+card-margin = 24+24+45+400+16 all -9 adjustment*/
  /* padding-top: 4px; */
}

.panel-left {
  flex: 0 0 auto;
  width: 100%; /*adjusted manually*/
  height: 100%;
  padding-top: 3px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

.panel-right {
  flex: 1 1 auto;
  padding-left: 4px;
  height: 100%;
  min-height: 80vh;
}

.splitter-horizontal {
  flex: 0 0 auto;
  height: 15px !important;
  background: url(/static/images/horizontalgrip.png) center 2px/30px 6px no-repeat #e8e9ec;
  cursor: row-resize !important;
  border-top: 1px solid #a5a5a5;
  border-bottom: 1px solid #a5a5a5;
}

.splitter-vertical {
  flex: 0 0 auto;
  width: 15px !important;
  background: url(/static/images/verticalgrip.png) 2px center/6px 30px no-repeat #e8e9ec;
  cursor: col-resize !important;
  border-right: 1px solid #a5a5a5;
  border-left: 1px solid #a5a5a5;
}

#diva_viewer {
  height: 100%;
  background: #0e0e0e;
}

.diva-wrapper {
  height: 100% !important;
  min-height: 100% !important;
  width: 100% !important;
}

.diva-outer {
  background: #0e0e0e !important;
  border-bottom: none !important;
  border-left: none !important;
  border-right: none !important;
  border: none !important;
}

.diva-tools {
  height: 0 !important;
  overflow: hidden !important;
}

#editor {
  overflow: scroll;
  white-space: pre-line;
  line-height: 1.3;
  font-family: 'Menlo', 'Consolas', 'Monaco', monospace;
  height: calc(100vh - 600px); /* panel-bottom-editor_bar-xml_margin = 509-29-10*/
}

.ace_scroller {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}

.ace_gutter {
  padding-top: 10px;
  padding-bottom: 10px;
}

#xmleditor-options {
  font-size: 13px !important;
  width: 335px;
  display: none;
  top: 105%;
}

#xmleditor-options .custom-select {
  font-size: 13px !important;
  padding-right: 28px;
  padding-left: 8px;
  height: 26px;
  line-height: 1;
}

.custom-select:focus, .custom-select:active {
  box-shadow: none !important;
  outline: none !important;
}

#xmleditor-options .col-form-label {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: right;
}

#xmleditor-options .dropdown-divider {
  margin-top: 12px;
  margin-bottom: 16px;
}

/* editor toolbar */

#viewer-toolbar {
  background-color: #fff;
  border-bottom: 1px solid #a5a5a5;
}

#editor-toolbar {
  border-top: 1px solid #a5a5a5;
  background-color: #fff;
  border-bottom: 1px solid #a5a5a5;
}

#btn_save {
  background-color: #fafff5;
  color: #2a4936;
}

#btn_save:hover {
  background-color: #dae9d3;
  color: #025e13;
}

#btn_save:disabled {
  color: #ababab;
  cursor: default;
}

#btn_save:disabled:hover {
  color: #ababab;
  cursor: default;
  background-color: #fff;
}

#btn_cancel {
  background-color: #fff8fd;
  color: #734847;
}

#btn_cancel:hover {
  background-color: #f5e9e8;
  color: #ae040e;
}

.button-border-left {
  border-left: 1px solid #a5a5a5;
}

.button-border-right {
  border-right: 1px solid #a5a5a5;
}

.single_folio {
  font-size: 13px;
  padding: 4px 8px;
  line-height: 1.5;
  background-color: #fff;
  color: #3a3b45;
  border-left: 1px solid #a5a5a5;
}

.current-folio {
  color: #9b9eb9;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 600;
  border-left: 4px solid #1f7f31;
}

.current-folio:hover {
  color: #9b9eb9;
  background-color: #fff;
  border-left: 4px solid #1f7f31;
}

/*tag annotator*/

#tag-menu {
  border-left: 1px solid #a5a5a5;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  height: calc(100vh - 572px); /* panel-bottom-editor_bar-xml_margin = 509-29-10*/
  /* overflow-y: scroll; */
}

.tag-menu-container {
  min-width: 180px;
}

.tag-menu-form {
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50vw;
}

.tag-menu-form .input-container {
  display: flex;
  width: 100%;
  align-items: flex-start;
}

.tag-menu-form .input-container:not(:first-of-type) {
  margin-top: 5px;
}

.tag-menu-form button {
  margin-left: auto;
}

.tag-menu-form textarea {
  margin-top: 5px;
  min-width: 20vw;
}

.tag-menu-button-safe, 
.tag-menu-button {
  width: 100%;
  background-color: #fff;
  font-size: 13px;
  font-weight: 400;
  border-bottom: 1px solid #a5a5a5;
  padding: 5px 10px;
  text-transform: uppercase;
  text-align: left;
  display: flex;
  align-items: center;
  padding-left: 0;
}

.tag-menu-button-safe:hover, 
.tag-menu-button:hover {
  cursor: pointer;
  background-color: #c4e1ef;
  color: #0361aa;
}

.tag-menu-dropdown input, .tag-menu-dropdown select {
  display: inline !important;
  width: auto !important;
  /* flex-grow: 1; */
}

.tag-menu-dropdown input, 
.tag-menu-dropdown select {
  margin-right: 5px;
}

.tag-menu-section-head {
  width: 100%;
  background-color: #f6f6f6;
  font-size: 12px;
  font-weight: 600;
  border-bottom: 1px solid #a5a5a5;
  padding: 5px 10px;
  text-align: left;
  white-space: nowrap;
}

.tag-menu-section-head:after {
    font-family: "Font Awesome 5 Free";
    content: "\f0d7";
    float: right;
}
.tag-menu-section-head.collapsed:after {
    content: "\f0d9";
}

.tag-menu-section-head:hover {
  cursor: pointer;
  color: #0361aa;
}
.form-text-flex {
  margin-top: 0.25rem;
  display: flex;
  flex-wrap: wrap;
  white-space: pre-line;
}
.input-grp {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.input-grp input,
.input-grp select {
  margin-right: 0;
}

.tag-tooltip {
  color: #d1d3e2;
}

.tooltip a {
  color: #ccc;
  text-decoration: none;
  border-bottom: 1px dotted;
}

.tooltip a:hover {
  color: #fff;
}
button.glyph {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 400;
  width: 38px;
  height: 38px;
  border-radius: 8px;
  border: 1px solid grey;
  margin: 0;
}
.glyph-container {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 5px;
  min-width: 160px;
  max-width: 20vw;
  width: max-content;
}
.multi-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  align-self: start;
  padding-left: 5px;
}
.multi-title {
  font-size: 16px;
  line-height: 33px;
  font-weight: 500;
  color: #215986;
}
.multi-help {
  font-weight: 300;
  padding-left: 1.25rem;
}
.multi-container .form-check label {
  font-weight: 500;
  font-size: 14px;
  color: #535353;
}
.multi-container .form-check {
  margin-top: 5px;
}
/* OVERRIDES TEI.CSS */
#notebar {
  right: 0 !important;
}

