/* workflow manager */

.wf-manager-container {
  font-size: 13px;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid #a5a5a5;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 13px;
  display: flex;
}

.wf-manager-title {
  align-self: flex-start;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  background-color: #e3f0f5;
  color: #376783;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 28px;
  border-right: 1px solid #a5a5a5;
  white-space: nowrap;
}

.wf-manager-controls {
  display: flex;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
}

.wf-manager-status-container {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  white-space: nowrap;
}

.wf-manager-status {
  border: 0;
  border-radius: 0;
  font-weight: 700;
  font-size: 11px;
  border-right: 1px solid #a5a5a5 !important;
  text-transform: uppercase;
  line-height: 1.5;
  padding-left: 15px;
  padding-right: 15px;
  height: 28px;
  padding-top: 6px;
}

.wf-manager-status_btn {
  border: 0;
  border-radius: 0;
  font-weight: 700;
  font-size: 11px;
  border-right: 1px solid #a5a5a5 !important;
  text-transform: uppercase;
  line-height: 1.5;
  padding-left: 10px;
  padding-right: 10px;
}

.wf-manager-status_btn:hover, .wf-manager-menu:hover, .wf-manager-help:hover {
  text-decoration: none;
  background-color: #e3f0f5;
  color: #376783;
}

.wf-manager-info {
  font-weight: 400;
  font-size: 12px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
  overflow: hidden;
}

.wf-manager-info a {
  color: #5d656c;
  text-decoration: none;
}

.wf-manager-info a:hover {
  color: #5d656c;
  text-decoration: underline;
}

.wf-manager-flag {
  border: 0;
  border-left: 1px solid #a5a5a5 !important;
  background-color: #e8e9ec;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  padding-top: 4px;
  align-items: center;
  color: #878787;
}

.wf-help_flag-on {
  color: #a34848;
}

.wf-public_flag-on {
  color: #337433;
}

.wf-manager-flag_text {
  font-weight: 800;
  font-size: 11px;
  display: inline-block;
  margin-left: 3px;
  height: 13px;
  line-height: 1;
  text-transform: uppercase;
}

.wf-manager-menu {
  border: 0;
  background-color: #e8e9ec;
  color: #878787;
  padding-right: 10px;
  padding-left: 10px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: 1px solid #a5a5a5 !important;
  line-height: 1.9;
}

.wf-item {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0;
  padding-bottom: 0;
  display: block;
  color: #3a3b45;
  text-decoration: none;
  white-space: nowrap;
  margin-right: 0;
  margin-top: 3px;
  margin-left: 0;
  margin-bottom: 3px;
  font-weight: 600;
}


/*workflow list menu*/

.wf-dropdown {
  min-width: 250px;
}

/*workflow tags */

.tag-wf {
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  font-size: 10px;
  font-weight: 600;
  padding: 0px 5px;
  text-transform: uppercase;
  white-space: nowrap;
  display: inline-block;
  margin-bottom: 3px;
}

.tag-wf-awaiting {
  border-color: #2d0e78;
  background-color: rgb(229, 209, 251);
  color: #2d0e78;
}

.tag-wf-in_progress {
  border-color: #09477d;
  background-color: rgb(212, 221, 248);
  color: #09477d;
}

.tag-wf-assessing {
  border-color: #806520;
  background-color: rgb(253, 243, 216);
  color: #806520;
}

.tag-wf-processed {
  border-color: #0c632a;
  background-color: rgb(216, 238, 223);
  color: #0c632a;
}

.tag-wf-unknown {
  border-color: #a34848;
  background-color: rgb(243, 217, 235);
  color: #a34848;
}
