{% extends "base.html" %}
{% load static i18n %}
{% load compress %}
{% block extra_head %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.5.11/jsoneditor.min.js" integrity="sha512-RL3kaj0W9BjXTR6ptyJgJ5U+mjMa/6U/s3VcnrIWqJsc6/O2U7Jk6pNl10tRHoM9//SBjWl9huHsM6jjGv8sFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.5.11/jsoneditor.min.css" integrity="sha512-nnOk6g+Ad1MdoerOautiVacB6N+rKYkPO0YGCSq/Mgrb45RXtPC7xEK+R+lyWA1GRBbnLBc71npsBTrF5rBEpw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  {% compress css %}
    <link href="{% static 'css/dalme_app/_config_editor.css' %}" rel="stylesheet">
  {% endcompress %}
  {% compress js %}
    <script type="text/javascript" src="{% static 'js/bstreeview.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dalme_app/config_editor.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Editor-1.9.4/js/editor.selectize.js' %}"></script>
  {% endcompress %}

{% endblock %}
{% block extra-dropdowns %}{% endblock %}
{% block extra-sidebar %}{% endblock %}
{% block content %}

<div class="container-fluid">
  <div class="card shadow mb-3">
    <div class="card-header card-tabs-header">
      <!-- tabs -->
      <ul class="nav nav-tabs card-header-tabs" id="sourceTabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="config-editor-tab" data-toggle="tab" href="#config-editor" role="tab" aria-controls="config-editor" aria-selected="false">Config Editor</a>
        </li>
      </ul>
    </div>
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active d-flex" id="config-editor" role="tabpanel" aria-labelledby="editor-tab">
          <div class="tree-panel">
            <div id="config-tree"></div>
          </div>

          <div class="editor-panel">
            <div class="config-editor-toolbar">
                <div class="config-editor-title">No file loaded</div>
                <button class="config-editor-button" onclick="save_config_file();">Save</button>
            </div>
            <div id="config-editor-panel" class="d-flex justify-content-center w-100"></div>
          </div>
      </div>
  </div>
{% endblock %}
{% block extra_scripts %}
  <script>
    $(document).ready(function () {
      config_editor_init();
    });
  </script>
{% endblock %}
