{% extends "base.html" %}
{% load static i18n %}
{% load compress %}
{% block extra_head %}
{% compress css %}
  <link href="{% static 'css/dalme_app/_config_editor.css' %}" rel="stylesheet">
{% endcompress %}
{% compress js %}
  <script type="text/javascript" src="{% static 'js/bstreeview.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/dalme_app/config_editor.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/Editor-1.9.4/js/editor.selectize.js' %}"></script>
{% endcompress %}
{% endblock %}
{% block extra-dropdowns %}{% endblock %}
{% block extra-sidebar %}{% endblock %}
{% block content %}

<div class="container-fluid">
  <div class="card shadow mb-3">
    <div class="card-header card-tabs-header">
      <!-- tabs -->
      <ul class="nav nav-tabs card-header-tabs" id="sourceTabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="config-editor-tab" data-toggle="tab" href="#config-editor" role="tab" aria-controls="config-editor" aria-selected="false">Config Editor</a>
        </li>
      </ul>
    </div>
    <!-- Tab panes -->
    <div class="tab-content h-100">
      <div class="tab-pane transcription-editor active" id="config-editor" role="tabpanel" aria-labelledby="editor-tab">
        <div class="row h-100">

          <div class="col-md-3">
            <div id="config-tree">
            </div>
          </div>

          <div class="col-md-9">
            <div id="editor-toolbar" class="dropdown d-flex">
              <div id="editor-left-toolbar" class="align-self-start mr-auto btn-group">
                <!-- Dropdown - options -->
                <div class="dropdown-menu" id="xmleditor-options">
                </div>
              </div>
              <div id="editor-right-toolbar" class="align-self-end btn-group">
                <button class="editor-btn button-border-left" id="btn_edit" onclick="changeEditorMode();"><i class="fa fa-edit fa-fw"></i> Edit</button>
              </div>
            </div>
            <div class="d-flex flex-row">
              <div id="editor" class="d-flex justify-content-center w-100">
                  <div class="spinner-border mt-auto mb-auto"></div>
              </div>
              <div id="tag-menu" class="accordion">
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="tab-footer">
        <div id="tab-footer-interface" class="clearfix">
          <small class="text-muted float-left tab-footer-text" id="transcriber"></small>
        </div>
      </div>
  </div>
{% endblock %}
{% block extra_scripts %}
{% endblock %}
