{% extends "base.html" %}
{% load static i18n %}
{% block extra_head %}
<script type="text/javascript" src="{% static 'js/dalme_dte_date_plugin.js' %}"></script>
<script type="text/javascript" src="{% static 'dalme_helpers/datatable_utils.js' %}"></script>
<script type="text/javascript">
  $(document).ready( function () {
    build_datatable("#dataTables-list", "{{ config }}");
  });
</script>
{% endblock %}
{% block extra_dropdowns %}{% endblock %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow mb-4">
          <div class="table-responsive">
            <table class="table c_stripe responsive" id="dataTables-list" width="100%">
            </table>
          </div>
      </div>
    </div>
  </div>
{% if form_template %}
{% include 'dalme_app/includes/'|add:form_template|add:'.html' %}
{% endif %}
{% if helpers %}
  {% for helper in helpers %}
    {% with 'dalme_helpers/'|add:helper|add:'.js' as helper_static %}
      <script type="text/javascript" src="{% static helper_static %}"></script>
    {% endwith %}
  {% endfor %}
{% endif %}
{% endblock %}
{% block extra_scripts %}
{% endblock %}
