{% extends "base.html" %}
{% load static i18n %}
{% block extra_head %}
{% if workset %}
  <script type="text/javascript" src="{% static 'js/dalme_worksets.js' %}"></script>
  <script type="text/javascript">
    var workset = {{ workset | safe }};
    $(document).ready(function() {
        init_worksets();
    });
  </script>
{% endif %}
{% endblock %}
{% block extra_dropdowns %}{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="card shadow mb-3">
    <div class="card-header card-tabs-header">
      <!-- tabs -->
      <ul class="nav nav-tabs card-header-tabs" id="sourceTabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">Information</a>
        </li>
      </ul>
      {% if workset %}
        {% include "dalme_app/includes/workset_controller.html" with current=workset.current total=workset.total progress=workset.progress name=workset.name description=workset.description %}
      {% endif %}
    </div>
    <!-- Tab panes -->
    <div class="tab-content h-100">
      <div class="tab-pane card-body active" id="info" role="tabpanel" aria-labelledby="info-tab">
        <div class="row">
          <div class="col-md-8">
              <div class="card mb-3">
                <div class="sub-card-header">
                  <div class="card-header-title"><i class="fa fa-image fa-fw"></i> Image</div>
                </div>
                <div class="card-body attribute_list">
                    {% for k,v in image_data.items %}
                      <div class="form-row">
                          <div class="col-sm-3 text-right">
                            <span class="attribute_list_label">{{ k }}</span>
                          </div>
                          <div class="col-sm-9">
                            <span class="attribute_list_value">{{ v | safe }}</span>
                          </div>
                      </div>
                    {% endfor %}
                </div>
              </div>
              <div class="card mb-3">
                <div class="sub-card-header">
                  <div class="card-header-title"><i class="fa fa-list-alt fa-fw"></i> Attributes</div>
                </div>
                {% if attribute_data %}
                <div class="card-body attribute_list">
                    {% for i in attribute_data %}
                    <div class="form-row">
                        <div class="col-sm-3 text-right">
                          <span class="attribute_list_label" data-editor-label="{{ i.name }}">{{ i.label }}</span>
                        </div>
                        <div class="col-sm-9">
                          <span class="attribute_list_value" data-editor-field="{{ i.name }}">{{ i.value | safe }}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <div class="card-body">
                  <div class="d-flex justify-content-center align-items-center">
                    <i class="d-block fa fa-plus-square fa-fw mt-3 mb-3 mr-2"></i> Add attributes...
                  </div>
                </div>
                {% endif %}
              </div>
              <div class="card mb-3">
                {% if collections %}
                <div class="table-responsive dt-embed">
                  <table class="table table-hover compact" id="dataTables-collections" width="100%">
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Creator</th>
                        <th>Path</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for row in collections %}
                        <tr>
                          <td>{{ row.id }}</td>
                          <td>{{ row.name }}</td>
                          <td>{{ row.creator | safe }}</td>
                          <td>{{ row.path}}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                {% else %}
                <div class="sub-card-header">
                  <div class="card-header-title"><i class="fa fa-th-large fa-fw"></i> Collections</div>
                </div>
                <div class="card-body">
                  <div class="d-flex justify-content-center align-items-center">
                    <i class="d-block fa fa-plus-square fa-fw mt-3 mb-3 mr-2"></i> Add to collection...
                  </div>
                </div>
                {% endif %}
              </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-3">
              {% if image_url %}
              <img src="{{ image_url | safe }}" class="card-img-top" alt="dam image">
              {% else %}
              <div class="img-placeholder d-flex justify-content-center align-items-center">
                <i class="d-block fa fa-eye-slash fa-4x mt-5 mb-5"></i>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="tab-footer">
        <div id="tab-footer-interface" class="clearfix">
          <small class="text-muted float-left tab-footer-text"></small>
        </div>
      </div>
  </div>
{% endblock %}
{% block extra_scripts %}
{% if tables %}
  <script>
    {% for table in tables %}
      $(document).ready(function() {
          var table_tasks = $('#dataTables-{{ table.0 }}').DataTable({
              {% if table_options %}
                {% for key,value in table_options.items %}
                  {{ key | safe }}: {{ value | safe }},
                {% endfor %}
              {% endif %}
          });
          $('#dataTables-{{ table.0 }}_wrapper').find('.card-header-title').html('<i class="fa {{ table.1 }} fa-fw"></i> {{ table.2 }}');
          fix_dt_search();
      });
    {% endfor %}
  </script>
{% endif %}
{% endblock %}
