{% extends "base.html" %}
{% load static i18n %}
{% block extra_head %}
<script>
  var user = { "id": "{{ user.id }}", "username": "{{ user.username }}" }
</script>
{% endblock %}
{% block extra-dropdowns %}{% endblock %}
{% block extra-sidebar %}{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="d-flex flex-wrap mb-3">
    {% if cards %}
      {% for card in cards %}
        {% include 'dalme_app/includes/homepage_cards/'|add:card|add:'.html' %}
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}
{% block extra_scripts %}
{% endblock %}
