{% extends "base.html" %}
{% load static i18n %}
{% load compress %}
{% block extra_head %}
{% compress css %}
  <link href="{% static 'css/dalme_app/_homepage_cards.css' %}" rel="stylesheet">
{% endcompress %}
{% compress js %}
<script type="text/javascript" src="{% static 'js/Editor-1.9.4/js/editor.selectize.js' %}"></script>
{% endcompress %}
<script>
  var user = { "id": "{{ user.id }}", "username": "{{ user.username }}" }
</script>
{% endblock %}
{% block extra-dropdowns %}{% endblock %}
{% block extra-sidebar %}{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="d-flex flex-wrap mb-3">
    {% if cards %}
      {% for card in cards %}
        {% include 'dalme_app/includes/homepage_cards/'|add:card|add:'.html' %}
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}
{% block extra_scripts %}
{% endblock %}
