{% extends "base.html" %}
{% load static i18n %}
{% load compress %}
{% block extra_head %}
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
{% compress js %}
  <script type="text/javascript" src="{% static 'js/dte_plugins/dalme_dte_selectize.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/dte_plugins/dalme_dte_credits_field.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/dte_plugins/dalme_dte_date_field.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/dte_plugins/dalme_dte_pages_field.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/dalme_app/dt_utilities.js' %}"></script>
{% endcompress %}
<script type="text/javascript">
  $(document).ready( function () {
    initialize_dt("{{ config }}", {{ editor|safe }}, "#dataTables-list");
  });
</script>
{% endblock %}
{% block extra_dropdowns %}{% endblock %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow mb-4">
          <div class="table-responsive">
            <table class="table c_stripe responsive" id="dataTables-list" width="100%">
            </table>
          </div>
      </div>
    </div>
  </div>
{% include 'dalme_app/includes/form_template.html' %}
{% if includes %}
  {% for i in includes %}
    {% include 'dalme_app/includes/'|add:i|add:'.html' %}
  {% endfor %}
{% endif %}
{% endblock %}
{% block extra_scripts %}
{% endblock %}
