{% extends "base.html" %}
{% load static i18n %}
{% load hosts %}
{% load compress %}
{% load template_helpers %}
{% block extra_head %}
{% compress js %}
<script type="text/javascript" src="{% static 'js/Editor-1.9.4/js/editor.selectize.js' %}"></script>
{% endcompress %}
{% compress css %}
  <link href="{% static 'css/dalme_app/_search_results.css' %}" rel="stylesheet">
{% endcompress %}
{% endblock %}
{% block extra-dropdowns %}{% endblock %}
{% block extra-sidebar %}{% endblock %}
{% block content %}
<div class="container-fluid">
  <form method="get" action=".">
    <div class="row">
      <div class="col-md-12">
        <div class="card shadow mb-3">
          <div class="sub-card-header d-flex">
            <div class="card-header-title">
              <i class="fa fa-search fa-fw"></i> Search
            </div>
          </div>
          <div class="card-body">
            <label class="sr-only" for="{{ form.q.id_for_label }}">{{ form.q.label }}</label>
            <div class="input-group mb-2 mr-sm-2 mt-3">
              <div class="input-group-prepend">
                <div class="input-group-text search-prepend">Search query:</div>
              </div>
              <input
                type="text"
                class="form-control form-control-sm search-results-input"
                id="{{ form.q.id_for_label }}"
                name="{{ form.q.html_name }}"
                value="{{ query }}"
                autocomplete="off"
                autocorrect="off"
                autocapitalize="off"
                spellcheck="false"
              >
              <button type="submit" class="btn btn-primary search-results-btn">Search</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card shadow mb-3">
          <div class="sub-card-header d-flex">
            <div class="card-header-title">
              <i class="fa fa-list-alt fa-fw"></i> Results
            </div>
          </div>
          <div class="card-body">
              {% if results %}
                {% if paginated %}
                  <small>Showing results {{ paginator.result_start }} to {{ paginator.result_end }} out of {{ paginator.total_count }} found.</small>
                {% else %}
                  <small>{{ results | length }} results found.</small>
                {% endif %}
                <div class="mt-3">
                  {% for result in results %}
                      <div class="search-result-entry">
                          <a class="search-result-link" href="/sources/{{ result.meta.id }}/">{{ result.name | dd_record_name }}</a>
                          <div class="search-result-detail">{{ result.name | dd_record_name:'loc'}}</div>
                          {% for fragment in result.meta.highlight.text %}
                            <div class="search-result-text">{{ fragment | safe }}</div>
                          {% endfor %}
                      </div>
                  {% endfor %}
                {% else %}
                  <div class="search-results-none">No results found.</div>
                {% endif %}
                </div>
            </div>
            <div class="sub-card-footer">
              {% if paginated %}
                {% include "dalme_app/includes/_pagination.html" with paginator=paginator %}
              {% endif %}
            </div>
          </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
{% block extra_scripts %}
{% endblock %}
