{% extends "base.html" %}
{% load static i18n template_helpers %}
{% load compress %}
{% block extra_head %}
{% compress js %}
<script type="text/javascript" src="{% static 'js/Editor-1.9.4/js/editor.selectize.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dalme_helpers/set_detail.js' %}"></script>
{% endcompress %}
<script>
  var set = {
    "id": "{{ object.id }}",
    "name": "{{ object.name }}",
    "set_type": "{{ object.set_type }}",
    "is_public": {{ object.is_public|lower|safe }},
    "has_landing": {{ object.has_landing|lower|safe }},
    "owner": "{{ object.owner.id }}",
    "permissions": "{{ object.permissions }}",
    "description": "{{ object.description }}",
    "stat_title": "{{ object.stat_title }}",
    "stat_text": "{{ object.stat_text }}",
    "dataset_usergroup": "{{ object.dataset_usergroup.id }}"
  }
</script>
{% endblock %}
{% block extra_dropdowns %}{% endblock %}
{% block content %}

<div class="container-fluid">
  <div class="card shadow mb-3">
    <div class="card-header card-tabs-header">
      <!-- tabs -->
      <ul class="nav nav-tabs card-header-tabs" id="sourceTabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">Information</a>
        </li>
      </ul>
    </div>
    <!-- Tab panes -->
    <div class="tab-content h-100">
      <div class="tab-pane card-body active" id="info" role="tabpanel" aria-labelledby="info-tab" data-editor-id="{{ object.id }}">
        <div class="row">
          <div class="col-md-7">
              <div class="card mb-3">
                <div class="sub-card-header">
                  <div class="card-header-title"><i class="fas fa-folder fa-fw"></i> Set ({{ object.get_set_type_display }})</div>
                  <!-- div id="descriptionEditorToolbar">
                    <button class="sub-card-button" role="button" onclick="edit_set('{{ object.id }}')">Edit</button>
                  </div -->
                </div>
                <div class="card-body attribute_list">
                  <div class="form-row">
                      <div class="col-sm-3 text-right"><span class="attribute_list_label">ID</span></div>
                      <div class="col-sm-9"><span class="attribute_list_value">{{ object.id }}</span></div>
                  </div>
                  <div class="form-row">
                      <div class="col-sm-3 text-right"><span class="attribute_list_label">Name</span></div>
                      <div class="col-sm-9"><span class="attribute_list_value">{{ object.name }}</span></div>
                  </div>
                  <div class="form-row">
                      <div class="col-sm-3 text-right"><span class="attribute_list_label">Type</span></div>
                      <div class="col-sm-9"><span class="attribute_list_value">{{ object.get_set_type_display }}</span></div>
                  </div>
                  {% if object.set_type == 2 %}
                  <div class="form-row">
                      <div class="col-sm-3 text-right"><span class="attribute_list_label">Public</span></div>
                      <div class="col-sm-9">
                        <span class="attribute_list_value">
                          {% if object.is_public == 1 %}
                            <i class="fas fa-check-square"></i>
                          {% else %}
                            <i class="far fa-square"></i>
                          {% endif %}
                        </span>
                      </div>
                  </div>
                  <div class="form-row">
                      <div class="col-sm-3 text-right"><span class="attribute_list_label">Landing</span></div>
                      <div class="col-sm-9">
                        <span class="attribute_list_value">
                          {% if object.has_landing == 1 %}
                            <i class="fas fa-check-square"></i>
                          {% else %}
                            <i class="far fa-square"></i>
                          {% endif %}
                        </span>
                      </div>
                  </div>
                  {% endif %}
                  <div class="form-row">
                      <div class="col-sm-3 text-right"><span class="attribute_list_label">Endpoint</span></div>
                      <div class="col-sm-9"><span class="attribute_list_value">{{ object.endpoint|title }}</span></div>
                  </div>
                  <div class="form-row">
                      <div class="col-sm-3 text-right"><span class="attribute_list_label">Owner</span></div>
                      <div class="col-sm-9"><span class="attribute_list_value"><a href="/users/{{ object.owner.username }}">{{ object.owner.profile.full_name }} ({{ object.owner.username }})</a></span></div>
                  </div>
                  <div class="form-row">
                      <div class="col-sm-3 text-right"><span class="attribute_list_label">Permissions</span></div>
                      <div class="col-sm-9"><span class="attribute_list_value">{{ object.get_permissions_display }}</span></div>
                  </div>
                  <div class="form-row">
                      <div class="col-sm-3 text-right"><span class="attribute_list_label">Description</span></div>
                      <div class="col-sm-9"><span class="attribute_list_value">{{ object.description }}</span></div>
                  </div>
                  {% if object.set_type == 4 %}
                    <div class="form-row">
                        <div class="col-sm-3 text-right"><span class="attribute_list_label">Progress</span></div>
                        <div class="col-sm-9"><span class="attribute_list_value">{{ object.workset_progress }}%</span></div>
                    </div>
                  {% endif %}
                  {% if object.set_type == 3 and object.dataset_usergroup is not None %}
                  <div class="form-row">
                      <div class="col-sm-3 text-right"><span class="attribute_list_label">DS User Group</span></div>
                      <div class="col-sm-9"><span class="attribute_list_value">{{ object.dataset_usergroup.name }}</span></div>
                  </div>
                  {% endif %}
                  {% if object.stat_title is not None %}
                    <div class="form-row">
                        <div class="col-sm-3 text-right"><span class="attribute_list_label">Stat Title</span></div>
                        <div class="col-sm-9"><span class="attribute_list_value">{{ object.stat_title }}</span></div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-3 text-right"><span class="attribute_list_label">Stat Text</span></div>
                        <div class="col-sm-9"><span class="attribute_list_value">{{ object.stat_text }}</span></div>
                    </div>
                  {% endif %}
                </div>
              </div>
          </div>
          <div class="col-md-5">
            {% with object|get_class_name as model %}
              {% include "dalme_app/includes/comments_box.html" with model=model object=object_attributes.ID %}
            {% endwith %}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {% with object.members.all as members %}
              {% if members %}
              <div class="card mb-3">
                <div class="table-responsive dt-embed">
                  <table class="table table-hover compact" id="dataTables-members" width="100%">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for row in members %}
                        <tr>
                          <td>{{ row.object_id }}</td>
                          <td>{{ row.content_object.name }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
            {% endif %}
          {% endwith %}
          </div>
        </div>
      </div>
      <div class="tab-footer">
        <div id="tab-footer-interface" class="clearfix">
          <small class="text-muted float-left tab-footer-text"></small>
        </div>
      </div>
  </div>
{% endblock %}
{% block extra_scripts %}
<script>
  $(document).ready(function() {
    $('#tag-menu').hide();
    enable_comments("{{ object|get_class_name }}", "{{ object.id }}");
  });
</script>
{% with object.members.all as members %}
  {% if members %}
  <script>
  $(document).ready(function() {
      table_members = $('#dataTables-members').DataTable({
          "responsive": true,
          "dom": "<'sub-card-header d-flex'<'card-header-title'>Bfr><'card-body't>",
          "stateSave": true,
          "select": { "style": "multi" },
          "scrollY": "calc(100vh - 600px)",
          "deferRender": true,
          "pageLength": {{ members.count }},
          "rowId": "id",
          "language": {
              "searchPlaceholder": "Search",
              "processing": '<div class="spinner-border ml-auto mr-auto" role="status"><span class="sr-only">Loading...</span></div>'
          },
          "buttons": [{
              text: '<i class="fa fa-trash-alt fa-fw"><i>',
              action: function (e, dt, node, config) {delete_set_members(dt, set['id'])},
              className: "align-self-end"
            }]
        });
        $('#dataTables-members_wrapper').find('.card-header-title').html('<i class="fa fa-plus-square fa-fw"></i> Set Members ({{ members.count }})');
        fix_dt_search();
    });
  </script>
  {% endif %}
{% endwith %}
{% endblock %}
