{% extends "base.html" %}
{% load static i18n %}
{% block extra_head %}
<script type="text/javascript" src="{% static 'dalme_helpers/set_detail.js' %}"></script>
<script>
  var set = {
    "name": "{{ set.name }}",
    "set_type": "{{ set.set_type }}",
    "is_public": {{ set.is_public|lower|safe }},
    "has_landing": {{ set.has_landing|lower|safe }},
    "owner": "{{ set.owner.id }}",
    "permissions": "{{ set.permissions }}",
    "description": "{{ set.description }}",
    "stat_title": "{{ set.stat_title }}",
    "stat_text": "{{ set.stat_text }}",
    "dataset_usergroup": "{{ set.dataset_usergroup.id }}"
  }
</script>
{% endblock %}
{% block extra_dropdowns %}{% endblock %}
{% block content %}

<div class="container-fluid">
  <div class="card shadow mb-3">
    <div class="card-header card-tabs-header">
      <!-- tabs -->
      <ul class="nav nav-tabs card-header-tabs" id="sourceTabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">Information</a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" id="comments-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="comments" aria-selected="true" {% if has_pages %} onclick="switch_tab('comments-tab')" {% endif %}>Comments
            {% if comments_count > 0 %}
              <div id="comment_count" class="inline-badge">{{ comments_count }}</div>
            {% else %}
              <div id="comment_count"></div>
            {% endif %}
          </a>
        </li>
      </ul>
    </div>
    <!-- Tab panes -->
    <div class="tab-content h-100">
      <div class="tab-pane card-body active" id="info" role="tabpanel" aria-labelledby="info-tab" data-editor-id="{{ set.id }}">
        <div class="row">
          <div class="col-md-8">
              <div class="card mb-3">
                <div class="sub-card-header">
                  <div class="card-header-title"><i class="fas fa-folder fa-fw"></i> Set</div>
                  <div id="descriptionEditorToolbar">
                    <button class="sub-card-button" role="button" onclick="edit_set('{{ set.id }}')">Edit</button>
                  </div>
                </div>
                <div class="card-body attribute_list">
                  <div class="form-row">
                      <div class="col-sm-3 text-right"><span class="attribute_list_label">ID</span></div>
                      <div class="col-sm-9"><span class="attribute_list_value">{{ set.id }}</span></div>
                  </div>
                  <div class="form-row">
                      <div class="col-sm-3 text-right"><span class="attribute_list_label">Name</span></div>
                      <div class="col-sm-9"><span class="attribute_list_value">{{ set.name }}</span></div>
                  </div>
                  <div class="form-row">
                      <div class="col-sm-3 text-right"><span class="attribute_list_label">Type</span></div>
                      <div class="col-sm-9"><span class="attribute_list_value">{{ set.get_set_type_display }}</span></div>
                  </div>
                  {% if set.set_type == 2 %}
                  <div class="form-row">
                      <div class="col-sm-3 text-right"><span class="attribute_list_label">Public</span></div>
                      <div class="col-sm-9">
                        <span class="attribute_list_value">
                          {% if set.is_public == 1 %}
                            <i class="fas fa-check-square"></i>
                          {% else %}
                            <i class="far fa-square"></i>
                          {% endif %}
                        </span>
                      </div>
                  </div>
                  <div class="form-row">
                      <div class="col-sm-3 text-right"><span class="attribute_list_label">Landing</span></div>
                      <div class="col-sm-9">
                        <span class="attribute_list_value">
                          {% if set.has_landing == 1 %}
                            <i class="fas fa-check-square"></i>
                          {% else %}
                            <i class="far fa-square"></i>
                          {% endif %}
                        </span>
                      </div>
                  </div>
                  {% endif %}
                  <div class="form-row">
                      <div class="col-sm-3 text-right"><span class="attribute_list_label">Endpoint</span></div>
                      <div class="col-sm-9"><span class="attribute_list_value">{{ set.endpoint|title }}</span></div>
                  </div>
                  <div class="form-row">
                      <div class="col-sm-3 text-right"><span class="attribute_list_label">Owner</span></div>
                      <div class="col-sm-9"><span class="attribute_list_value"><a href="/users/{{ set.owner.username }}">{{ set.owner.profile.full_name }} ({{ set.owner.username }})</a></span></div>
                  </div>
                  <div class="form-row">
                      <div class="col-sm-3 text-right"><span class="attribute_list_label">Permissions</span></div>
                      <div class="col-sm-9"><span class="attribute_list_value">{{ set.get_permissions_display }}</span></div>
                  </div>
                  <div class="form-row">
                      <div class="col-sm-3 text-right"><span class="attribute_list_label">Description</span></div>
                      <div class="col-sm-9"><span class="attribute_list_value">{{ set.description }}</span></div>
                  </div>
                  {% if set.set_type == 4 %}
                    <div class="form-row">
                        <div class="col-sm-3 text-right"><span class="attribute_list_label">Progress</span></div>
                        <div class="col-sm-9"><span class="attribute_list_value">{{ set.workset_progress }}%</span></div>
                    </div>
                  {% endif %}
                  {% if set.set_type == 3 and set.dataset_usergroup is not None %}
                  <div class="form-row">
                      <div class="col-sm-3 text-right"><span class="attribute_list_label">DS User Group</span></div>
                      <div class="col-sm-9"><span class="attribute_list_value">{{ set.dataset_usergroup.name }}</span></div>
                  </div>
                  {% endif %}
                  {% if set.stat_title is not None %}
                    <div class="form-row">
                        <div class="col-sm-3 text-right"><span class="attribute_list_label">Stat Title</span></div>
                        <div class="col-sm-9"><span class="attribute_list_value">{{ set.stat_title }}</span></div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-3 text-right"><span class="attribute_list_label">Stat Text</span></div>
                        <div class="col-sm-9"><span class="attribute_list_value">{{ set.stat_text }}</span></div>
                    </div>
                  {% endif %}
                </div>
              </div>
              {% if members %}
              <div class="card mb-3">
                <div class="table-responsive dt-embed">
                  <table class="table table-hover compact" id="dataTables-members" width="100%">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for row in members %}
                        <tr>
                          <td>{{ row.content_object.id }}</td>
                          <td>{{ row.content_object.name }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
            {% endif %}
          </div>
          <div class="col-md-4">
            <div class="card mb-3">
              <div class="img-placeholder d-flex justify-content-center align-items-center">
                <i class="d-block fas fa-folder fa-4x mt-5 mb-5"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane card-body transcription-editor pt-4" id="comments" role="tabpanel" aria-labelledby="comments-tab">
        <div class="comment-box-container d-flex mb-3">
          <div class="d-inline-block mr-3"><i class="fa fa-comment-medical img_avatar mt-1 fa-2x"></i></div>
          <div class="comment-card comment-box d-inline-block">
            <div class="comment-body p-2">
              <textarea class="form-control form-control-sm comment-textarea" placeholder="Leave a comment..." id="new_comment_text"></textarea>
              <div class="comment-tip">Click here for formatting options</div>
            </div>
            <button class="btn btn-primary ml-auto d-flex mr-2 mb-2" type="button" onclick="create_comment('Set', '{{ set.id }}')">Comment</button>
          </div>
        </div>
      </div>
      <div class="tab-footer">
        <div id="tab-footer-interface" class="clearfix">
          <small class="text-muted float-left tab-footer-text"></small>
        </div>
      </div>
  </div>
{% endblock %}
{% block extra_scripts %}
<script>
  $(document).ready(function() {
    $('#tag-menu').hide();
    enable_comments("Set", "{{ set.id }}");
  });
</script>
{% if tables %}
<script>
$(document).ready(function() {
    var table_members = $('#dataTables-members').DataTable({
        {% if table_options %}
          {% for key,value in table_options.items %}
            {{ key | safe }}: {{ value | safe }},
          {% endfor %}
        {% endif %}
    });
    $('#dataTables-members_wrapper').find('.card-header-title').html('<i class="fa {{ tables.1 }} fa-fw"></i> {{ tables.2 }}');
    fix_dt_search();
});
</script>
{% endif %}
{% endblock %}
