{% extends "base.html" %}
{% load static i18n %}
{% load compress %}
{% block extra_head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/luminous-lightbox/2.3.2/luminous-basic.min.css" integrity="sha256-tPW9wLkspLEhKo1rCAUlqiMvw30PPoyOatV5gL8a+/M=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/luminous-lightbox/2.3.2/luminous.min.js" integrity="sha256-JtowJgZIxtr4WObMQMDqCojFv0TMRb438K2bLmjYS8Q=" crossorigin="anonymous"></script>
{% compress js %}
<script type="text/javascript" src="{% static 'js/Editor-1.9.4/js/editor.selectize.js' %}"></script>
{% endcompress %}
{% endblock %}
{% block extra_dropdowns %}{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="card shadow mb-3">
    <div class="card-header card-tabs-header">
      <!-- tabs -->
      <ul class="nav nav-tabs card-header-tabs" id="sourceTabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">Information</a>
        </li>
      </ul>
    </div>
    <!-- Tab panes -->
    <div class="tab-content h-100">
      <div class="card-body active" id="info" role="tabpanel" aria-labelledby="info-tab">
        <div class="row">
          <div class="col-md-9">
            <div class="card mb-3">
              <div class="card-body">
                  <div class="d-flex align-items-center">
                    <div class="record-title">{{ object.subject }}</div><div class="record-title-detail">#{{ object.id }}</div>
                  </div>
                  <div class="d-flex align-items-center">
                    {% if object.status == 0 %}
                      <div id="ticket_status" class="ticket-detail-open"><i class="fa fa-exclamation-circle fa-fw"></i> Open</div>
                    {% else %}
                      <div id="ticket_status" class="ticket-detail-closed"><i class="fa fa-exclamation-circle fa-fw"></i> Closed</div>
                    {% endif %}
                    <div class="record-title-meta">
                      <a href="/users/{{ object.creation_user.username }}">{{ object.creation_name }}</a> opened this issue on {{ object.creation_timestamp|date:"j-M-Y" }}
                      {% if object.comments.count > 0 %}
                        ・ {{ object.comments.count }} comment{{ object.comments.count|pluralize }}
                      {% endif %}
                    </div>
                  </div>
                  <div class="record-description">{{ object.description }}</div>
                    {% if object.tags %}
                      {% for t in object.tags.all %}
                        {% if t.tag != '0' %}
                          <span class="basic-pill ticket-{{ t.tag }}">{{ t.tag }}</span>
                        {% endif %}
                      {% endfor %}
                    {% endif %}
              </div>
            </div>
              {% include "dalme_app/includes/comments_box.html" with model='Ticket' object=object.id %}
          </div>
          <div class="col-md-3">
            <div class="card mb-3">
              <div id="ticket_status_box" class="card-body d-flex align-items-center">
                {% if object.status == 0 %}
                  <div class="ticket-detail-status">This ticket is still open</div>
                  {% if perms.dalme_app.can_change_ticket %}
                  <button class="btn btn-primary ml-auto d-flex mr-2" type="button" onclick="ticket_set_state({{ object.id }}, $(this).text())">Close</button>
                  {% endif %}
                {% else %}
                  <div class="ticket-detail-status">{{ object.modification_timestamp|date:"j-M-Y" }} | {{ object.modification_user.username }}</div>
                  {% if perms.dalme_app.can_change_ticket %}
                  <button class="btn btn-danger ml-auto d-flex mr-2" type="button" onclick="ticket_set_state({{ object.id }}, $(this).text())">Open</button>
                  {% endif %}
                {% endif %}
              </div>
            </div>
            {% if object.url or object.file %}
            <div class="card mb-3">
              <div class="sub-card-header">
                <div class="card-header-title"><i class="fa fa-paperclip fa-fw"></i> Attachments</div>
              </div>
                <div class="card-body p-2">
                  {% if object.url %}
                        <a href="{{ object.url }}" class="pill-url d-flex align-items-center">
                          <div class="pill-url-icon"><i class="fa fa-link fa-fw"></i></div>
                          <div class="pill-url-label">{{ object.url }}</div>
                        </a>
                  {% endif %}
                  {% if object.file %}
                    {{ object.file.preview | safe }}
                  {% endif %}
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block extra_scripts %}
<script>
  $(document).ready(function() { enable_comments('Ticket', {{ object.id }}); });
</script>
{% if object.file %}
<script>
  $(document).ready(function() {
    new Luminous(document.querySelector('.attachment-file-image'), { sourceAttribute: "src" });
  });
</script>
{% endif %}
{% endblock %}
