{% load staticfiles i18n %}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="DALME project internal dashboard">
    <meta name="author" content="DALME">

    <title>{{ page_title }}</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/morrisjs/morris.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'vendor/metisMenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'js/sb-admin-2.js' %}"></script>
</head>
<body>
    <div id="wrapper">
      {% if messages %}
          {% for message in messages %}
              {% if message.level == DEFAULT_MESSAGE_LEVELS.DEBUG %}<div class="alert alert-info alert-dismissable">{% endif %}
              {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}<div class="alert alert-info alert-dismissable">{% endif %}
              {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}<div class="alert alert-success alert-dismissable">{% endif %}
              {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}<div class="alert alert-warning alert-dismissable">{% endif %}
              {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}<div class="alert alert-danger alert-dismissable">{% endif %}
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              {{ message | safe }}</div>
          {% endfor %}
      {% endif %}
    </div>
    <div id="page-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="page-header">Simple HTML page for tests</h1>
          </div>
        </div>
        <div class="row">
          <div class="panel-body">
              {{ output | safe }}
          </div>
        </div>
      </div>
    </div>
</body>
</html>
