{% extends "public/layouts/left_side_column.html" %}
{% load collection_date_range wagtailcore_tags wagtailimages_tags static %}

{% block title %}{{ block.super }} &ndash; {{ page.title_switch }}{% endblock %}

{% block header_extra %}
  {% include "public/includes/simple_header.html" %}
{% endblock %}

{% block left_side_column %}
  {% include "public/includes/collections_filter.html" %}
  {% if page.citable %}
    <div id="cite-container" class="mt-5" v-cloak>
      {% include "public/includes/cite_menu.html" %}
      {% include "public/includes/cite_popup.html" %}
    </div>
  {% endif %}
  {% include "public/includes/featuresnav.html" %}
{% endblock %}

{% block main_column %}
  <div class="content">
    {{ page.body }}
    {% if corpora %}
      <div id="corpora" class="corpora-container u-flex">
        {% for corpus, collections in corpora %}
          <section class="corpus">
            <div id="handle" class="u-subsection u-flex" data-collapsed="false">
              <a href="#{{ corpus.title|slugify }}" class="anchor">
                <h3>{{ corpus.title }}</h3>
              </a>
              <i class="fas fa-caret-down corpus"></i>
            </div>
            <div class="collection-description">
              <div class="show-more d-none">Show more</div>
              {{ corpus.description|richtext }}
            </div>
            <div class="collections-container">
              <h4>Collections</h4>
              {% for collection in collections %}
                <a class="u-flex" href="{% pageurl collection %}">
                  <div class="title">{{ collection.title }}</div>
                  <div class="count">
                    {% collection_date_range collection %} | {{ collection.count }} Records
                  </div>
                </a>
              {% endfor %}
            </div>
          </section>
        {% endfor %}
      </div>
    {% else %}
      <h4>No corpora or collections found.</h4>
    {% endif %}
  </div>
{% endblock %}
{% block js_foot %}
  {{ block.super }}
  <script>
    $(document).ready(function() {
      $('.collection-description').each( function() {
        if ($(this).prop('scrollHeight') > $(this).outerHeight()) {
          $(this).find('.show-more').removeClass('d-none')
        }
      });

      $('.show-more').on('click', function() {
        if ($(this).text() == 'Show more') {
          $(this).parent().css({"maxHeight":"1000px"});
          $(this).text('Show less');
        } else {
          $(this).parent().css({"maxHeight":"126px"});
          $(this).text('Show more');
        }
      });

      if (window.location.hash) {
        const anchor = $(`a[href='${window.location.hash}']`)
        $('html').animate({
          scrollTop: anchor.offset().top - 20
        }, 800);
        anchor.parent().addClass('highlight');
        if (anchor.next().hasClass('fa-caret-left')) {
          anchor.parent().click();
        }
      }
    });
  </script>
{% endblock%}
