{% if 'button' in value.css_class %}
<b-dropdown
  id="share-button"
  ref="shareDropdown"
  class="footer-button {{ value.css_class }}"
  href="#"
  right
  no-caret
  menu-class="dropdown-menu p-0 pt-3 pb-3"
  toggle-class="social footer-button border-0"
  toggle-tag="a">
  <template #button-content>
    <i class="share {{ value.fa_icon }}"></i>
  </template>
  <b-dropdown-item
    class="dropdown-item"
    :href="email"
    target="_blank">
    <i class="fa fa-envelope fa-fw"></i> Email
  </b-dropdown-item>
  <b-dropdown-item
    id="clip_copy"
    class="dropdown-item"
    :href="sms"
    target="_blank">
    <i class="fa fa-comment fa-fw"></i> Message
  </b-dropdown-item>
  <b-dropdown-divider></b-dropdown-divider>
  <b-dropdown-item
    id="clip_copy"
    class="dropdown-item"
    href="#"
    :data-clipboard-text="page_url">
    <i class="fa fa-link fa-fw"></i> Copy link
  </b-dropdown-item>
</b-dropdown>
{% else %}
<a class="{{ value.css_class }}" href="{% if value.url %} {{ value.url }}  {% else %} # {% endif %}">
  <i class="{{ value.fa_icon }}"></i>
</a>
{% endif %}
