.avatar-cell {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.user-placeholder,
.avatar-bg {
  width: 50px;
  height: 50px;
  border: 1px solid var(--w-color-border-field-default);
  border-radius: 5px;
}
.user-placeholder {
  background: var(--w-color-surface-header);
  color: var(--w-color-border-field-default);
  padding: 10px;
}
#user-form-avatar-preview {
  border: 1px solid var(--w-color-border-field-default);
  border-radius: 5px;
  width: 100px;
  height: 112px;
  position: absolute;
  top: -21px;
  right: 0;
}
#user-form-avatar-preview .user-placeholder {
  width: 100%;
  height: 100%;
  border: none;
}
input#id_photo {
  max-width: calc(100% - 110px);
}
.listing.team td {
  min-height: 77px;
}
.listing.team .title-wrapper {
  font-size: 0.9rem;
}
.w-username {
  text-transform: lowercase;
  font-size: 13px;
  font-weight: 500;
  padding: 2px 8px;
  color: var(--w-color-surface-button-default) !important;
  border-color: var(--w-color-surface-button-default) !important;
  background: var(--w-color-admin-panel-header) !important;
}
