<div class="card-group mb-3 shadow">
    <div class="card col-8 p-0">
      <div class="table-responsive dt-embed">
        <table class="table c_stripe responsive" id="dataTables-tasks" width="100%">
        </table>
      </div>
    </div>
    <div class="card col-4 p-0">
      <div class="sub-card-header">
        <div class="card-header-title"><i class="fa fa-calendar-check fa-fw"></i> Task Details</div>
      </div>
      <div class="card-body"> something </div>
      <div class="sub-card-footer"></div>
    </div>
</div>
