<div class="card mb-3 shadow">
  {% if worksets %}
  <div class="table-responsive dt-embed">
    <table class="table table-hover compact" id="dataTables-worksets" width="100%">
      <thead>
        <tr>
          <th>Workset</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        {% for row in worksets %}
          <tr>
            <td>
              <div class="workset_name">{{ row.name }}</div>
              <div class="workset_description">{{ row.description }}</div>
            </td>  
            <td>
              <div class="workset_created">{{ row.creation_timestamp }}</div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <div class="dash-no-content">You have no worksets defined.</div>
  {% endif %}
  <div class="sub-card-footer">
    <small class="text-muted float-left tab-footer-text">
      {% if worksets %}
        {{ worksets.count }} workset{{ worksets.count|pluralize }}
      {% endif %}
    </small>
  </div>
</div>
