{% load wagtailcore_tags %}

<footer class="u-flex" id="footer-app">
    {% if links %}
      <nav class="footer">
        <ul>
          {% for link in links %}
            <li><a href="{% pageurl link.page %}">{{ link.label }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    {% endif %}

    <div class="copyright">
      {% if settings.copyright_line %}
        Copyright &copy; {% now "Y" %} {{ settings.copyright_line }}
      {% else %}
        Copyright &copy; {% now "Y" %} Initiative for Documentary Archaeology
      {% endif %}
    </div>

    {% if social %}
      <div class="social">
        {% for entry in social %}
            {% if 'button' in entry.css_class %}
                <b-dropdown
                    id="share-button"
                    ref="shareDropdown"
                    class="footer-button {{ entry.css_class }}"
                    href="#"
                    right
                    no-caret
                    menu-class="dropdown-menu p-0 pt-3 pb-3"
                    toggle-class="social footer-button border-0"
                    toggle-tag="a"
                >
                        <template #button-content>
                            <i class="share {{ entry.icon }}"></i>
                        </template>
                        <b-dropdown-item
                            class="dropdown-item"
                            :href="email"
                            target="_blank">
                            <i class="fa fa-envelope fa-fw"></i> Email
                        </b-dropdown-item>
                        <b-dropdown-item
                            id="clip_copy"
                            class="dropdown-item"
                            :href="sms"
                            target="_blank">
                            <i class="fa fa-comment fa-fw"></i> Message
                        </b-dropdown-item>
                        <b-dropdown-divider></b-dropdown-divider>
                        <b-dropdown-item
                            id="clip_copy"
                            class="dropdown-item"
                            href="#"
                            :data-clipboard-text="page_url">
                            <i class="fa fa-link fa-fw"></i> Copy link
                        </b-dropdown-item>
                    </b-dropdown>
                {% else %}
                <a class="{{ entry.css_class }}" href="{% if entry.url %} {{ entry.url }}  {% else %} # {% endif %}">
                    <i class="{{ entry.icon }}"></i>
                </a>
            {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </footer>
  <script>
    // share footer button
    const share_app = new Vue({
      el: '#footer-app',
      delimiters: ['${', '}'],
      created() {
        const clipboard_copy = new ClipboardJS('#clip_copy');
      },
      data: {
        page_title: '{{ page.title|default_if_none:"Home" }}',
        page_url: '{{ request.build_absolute_uri }}',
      },
      computed: {
        sms() {
          return `sms://&body=${this.page_url}`;
        },
        email() {
          let subject = `{{ settings.short_form }} - ${this.page_title}`;
          let body = `{{ settings.name }} - ${this.page_title}: ${this.page_url}`;
          return `mailto:?subject=${subject}&body=${body}`;
        }
      }
    });
  </script>
