{% load wagtailimages_tags %}
{% if sponsors %}
    <section class="support u-flex">
        <h2 class="u-lozenge">SUPPORT</h2>
        <p>We are grateful to the following organizations for supporting the project.</p>
        <div class="support-logos u-flex">
            {% for sponsor in sponsors %}
                <div class="u-flex">
                    <a href="{{ sponsor.url }}">
                        {% image sponsor.logo original %}
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>
{% endif %}
