<div id="inventoryForm">
  <div data-editor-template="name.value"></div>
  <div data-editor-template="short_name"></div>
  <div data-editor-template="type.value"></div>
  <div data-editor-template="parent.value"></div>
  <div data-editor-template="has_inventory"></div>
  <div class="card collapse" id="attribute-formset">
    <div class="formset-header">
      <div class="card-header-title"><i class="fa fa-list-alt fa-fw"></i> Attributes</div>
      <button class="editor-btn button-border-left" type="button" id="btn_add_set" onclick="add_attribute_set()" data-toggle="tooltip" data-placement="top" title="Add another attribute"><i class="fa fa-plus fa-fw"></i></button>
    </div>
    <div class="formset-body">
      <div class="formset-none">No attributes assigned.</div>
    </div>
  </div>
  <div class="card collapse" id="page-formset">
    <div class="formset-header">
      <div class="card-header-title"><i class="fa fa-book-open fa-fw"></i> Folios</div>
      <button class="editor-btn button-border-left" type="button" id="btn_add_set" onclick="add_page_set()" data-toggle="tooltip" data-placement="top" title="Add another folio"><i class="fa fa-plus fa-fw"></i></button>
    </div>
    <div class="formset-body">
      <div class="formset-none">No folios selected.</div>
    </div>
  </div>
</div>
