{% load wagtailcore_tags %}

<div class="u-flex">
  <div class="metadata">
    <div class="doc-title">
      <a href="#{{ value.title|slugify }}" class="anchor"><h2>{{ value.title }}</h2></a>

      {% if value.page %}
        <a href="{% pageurl value.page %}" class="doc-icon" aria-label="go to page"><i class="fas fa-link" aria-hidden="true"></i></a>
      {% endif %}

      {% if value.url %}
        <a href="{{ value.url }}" target="_blank" class="doc-icon" aria-label="follow link"><i class="fas fa-external-link-alt" aria-hidden="true"></i></a>
      {% endif %}

      {% if value.document %}
        <a href="{{ value.document.url }}" target="_blank" class="doc-icon" aria-label="go to document"><i class="fas fa-download" aria-hidden="true"></i></a>
      {% endif %}

    </div>
    <div class="doc-detail">
        {% if value.type == 'publication' or value.type == 'talk' %}
          <span>{{ value.author }}{% if value.detail %} | {{ value.detail }}{% endif %}</span>
          {% if value.type == 'publication' %}
            <div class="doc-date">{{ value.date.year }}</div>
          {% elif value.type == 'talk' %}
            <div class="doc-date">{{ value.date|date:"M Y" }}</div>
          {% endif %}
        {% else %}
          {% if value.version %}
            <span>v.{{value.version}}</span>
          {% endif %}
          <div class="doc-date">{{ value.date|date:"j M Y" }}</div>
        {% endif %}
      </div>
      {% if value.abstract %}
          <div class="abstract-container text-expandable-container">
            <div class="show-button show-more u-none" onclick="window.CustomUtils.toggleShowMore(this)"></div>
            {{ value.abstract|richtext }}
          </div>
      {% endif %}
  </div>
</div>
