.user-option {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 40px;
}
.user-option .avatar-bg,
.user-option .user-placeholder {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left: 5px;
}
.user-option .user-placeholder {
    padding: 5px;
}
.user-option .user-label {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
}
.user-option .user-label span {
    font-size: 12px;
    font-weight: 300;
}
.user-option .text-placeholder {
    padding-left: 10px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 42px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding-left: 4px;
}
#select2-id_user-results .select2-results__option {
    border-bottom: 1px dotted #c9c8c8;
}
.select2-container .select2-selection--single {
    height: 40px;
}
#select2-id_user-container .select2-selection__clear {
    height: 40px;
    line-height: 40px;
    color: #888;
}
