.gradient-cell {
    border: 1px solid var(--w-color-border-field-default);
    border-radius: 0.1875rem;
    background: var(--w-color-surface-header);
    margin-right: 10px;
    padding: 5px;
  }

.gradient-cell > div:first-of-type {
  height: 15px;
  min-width: 200px;
}

.chooser-gradient-preview {
    align-items: center;
    background-color: var(--w-color-border-button-small-outline-default);
    border-radius: 0.1875rem;
    color: var(--w-color-text-button);
    display: grid;
    flex-shrink: 0;
    justify-content: center;
  }

.chooser-gradient-preview > .gradient-cell {
  margin-right: 0 !important;
}

table.listing tbody td.title.gradient_as_html {
  padding-inline-start: 0.5rem !important;
}
