{% load template_helpers %}

<div class="pager">
  <ul class="pagination">
    {% if paginator.has_previous %}
      <li class="paginate_button page-item"><button class="page-link" data-page="{{ paginator.previous_page }}">Previous</button></li>
    {% else %}
      <li class="paginate_button page-item previous disabled"><button class="page-link" tabindex="-1" aria-disabled="true">Previous</button></li>
    {% endif %}

    {% if paginator.show_first %}
      <li class="paginate_button page-item">
        <button class="page-link" data-page="1">1</button>
      </li>
      <li class="paginate_button page-item disabled">
        <button class="page-link">...</button>
      </li>
    {% endif %}

    {% for i in paginator.page_numbers %}
        <li class="paginate_button page-item {% if paginator.current_page == i %}active{% endif %}" aria-current="page">
          <button class="page-link" data-page="{{ i }}">{{ i }}</button>
        </li>
    {% endfor %}

    {% if paginator.show_last %}
      <li class="paginate_button page-item disabled">
        <button class="page-link">...</button>
      </li>
      <li class="paginate_button page-item">
        <button class="page-link" data-page="{{ paginator.num_pages }}">{{ paginator.num_pages }}</button>
      </li>
    {% endif %}

    {% if paginator.has_next %}
      <li class="paginate_button page-item"><button class="page-link" data-page="{{ paginator.next_page }}">Next</button></li>
    {% else %}
      <li class="paginate_button page-item next disabled"><button class="page-link" tabindex="-1" aria-disabled="true">Next</button></li>
    {% endif %}
  </ul>
</div>
