<div class="d-none" id="hidden-search-container">
  <div class="dropdown-menu" id="dam-search-dropdown">
    <div>
      <button type="button" class="modal_close_button" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <small class="mb-1">Search and select an image from the list to associate with the folio.</small>
      <input type="search" class="form-control form-control-sm" placeholder="Search DAM" id="dam-searchbox">
    </div>
    <div class="d-none" id="dam-search-results"></div>
  </div>
</div>
