<div id="form-side-container" class="d-none">
  <div class="sources-formset" id="pages-formset-container">
      <div class="formset-header">
        <div class="d-flex flex-grow-1" data-toggle="collapse" data-target="#pages-formset" aria-expanded="true" aria-controls="pages-formset">FOLIOS</div>
        <button class="editor-btn button-border-left" type="button" id="add_page_button">
          <i class="fa fa-plus fa-fw"></i>
        </button>
      </div>
      <div data-editor-template="pages[]" id="pages-formset" class="collapse show"></div>
  </div>
  <div class="sources-formset" id="credits-formset-container">
      <div class="formset-header formset-middle-header">
        <div class="d-flex flex-grow-1" data-toggle="collapse" data-target="#credits-formset" aria-expanded="true" aria-controls="credits-formset">CREDITS</div>
        <button class="editor-btn button-border-left" type="button" id="add_credit_button">
          <i class="fa fa-plus fa-fw"></i>
        </button>
      </div>
      <div data-editor-template="credits[]" id="credits-formset" class="collapse show"></div>
  </div>
  <div class="sources-formset" id="sets-formset-container">
      <div class="formset-header formset-middle-header" data-toggle="collapse" data-target="#sets-formset" aria-expanded="true" aria-controls="sets-formset">
        SETS
      </div>
      <div data-editor-template="sets[].id" id="sets-formset" class="collapse show"></div>
  </div>
</div>
