<div id="form-template-ticket" class="d-flex">
  <div id="form-field-container-ticket"></div>
</div>
<div class="d-none">
  <div class="btn-group dropright" id="header-button-ticket">
    <button class="btn modal-pane-button dropdown-toggle d-none" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="add-attribute-button-ticket">
      <i class="fas fa-plus fa-fw"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="add-attribute-button-ticket" id="add-attribute-menu-container-ticket"></div>
  </div>
  <div class="DTE_Header_Content"></div>
</div>
