<div id="generic-form-template" class="d-flex">
  <div id="form-field-container">
  </div>
  <div id="form-button-container" class="d-none">
    <button class="btn modal-pane-button d-none" type="button" id="add-pages-button" onclick="toggle_formset('pages')">
      <div class="icon-container"><i class="fas fa-caret-left fa-caret"></i><i class="fas fa-book-open icon fa-fw"></i><span id="pages-count" class="badge badge-primary"></span></div>
    </button>
    <div class="dropdown-menu" aria-labelledby="form-add-attribute-button" id="add-attribute-menu-container"></div>
  </div>
</div>
<div class="d-none">
  <div class="btn-group dropright" id="header-button">
    <button class="btn modal-pane-button dropdown-toggle d-none" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="add-attribute-button">
      <i class="fas fa-plus fa-fw"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="form-add-attribute-button" id="add-attribute-menu-container"></div>
  </div>
  <div class="DTE_Header_Content"></div>
</div>
