<div id="source-form-template" class="d-flex">
  <div id="form-field-container">
  </div>
  <div id="form-button-container" class="d-none">
    <button class="btn modal-pane-button" type="button" id="add-sets-button" onclick="toggle_formset('sets')">
      <div class="icon-container"><i class="fas fa-caret-left fa-caret"></i><i class="fas fa-folder icon fa-fw"></i><span id="sets-count" class="badge badge-primary"></span></div>
    </button>
    <button class="btn modal-pane-button d-none" type="button" id="add-pages-button" onclick="toggle_formset('pages')">
      <div class="icon-container"><i class="fas fa-caret-left fa-caret"></i><i class="fas fa-book-open icon fa-fw"></i><span id="pages-count" class="badge badge-primary"></span></div>
    </button>
    <div class="dropdown-menu" aria-labelledby="form-add-attribute-button" id="add-attribute-menu-container"></div>
  </div>
  <div class="sources-formset collapse" id="pages-formset">
    <div class="formset-header">
      <div class="card-header-title"><i class="fa fa-book-open fa-fw"></i> Folios</div>
      <button class="editor-btn button-border-left" type="button"><i class="fa fa-bars fa-fw"></i></button>
    </div>
    <div class="formset-body pages-body">
      <div class="formset-table d-none" id="pages-table">
        <div class="d-table-row formset-thead">
          <div class="formset-td">Order</div>
          <div class="formset-td">Folio name</div>
          <div class="formset-td">DAM ID</div>
          <div class="formset-td"></div>
        </div>
        <div class="pages-table-body"></div>
      </div>
      <div class="add-record" onclick="add_page()"><div>Add New Folio</div></div>
    </div>
  </div>
  <div class="sources-formset collapse" id="sets-formset">
    <div class="formset-header">
      <div class="card-header-title"><i class="fa fa-folder fa-fw"></i> Sets</div>
      <button class="editor-btn button-border-left" type="button"><i class="fa fa-bars fa-fw"></i></button>
    </div>
    <div class="formset-body sets-body"></div>
    <div class="add-record" onclick="add_set()"><div>Add New Set</div></div>
  </div>
</div>
<div class="d-none">
  <div class="btn-group dropright" id="header-button">
    <button class="btn modal-pane-button dropdown-toggle d-none" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="add-attribute-button">
      <i class="fas fa-plus fa-fw"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="form-add-attribute-button" id="add-attribute-menu-container"></div>
  </div>
  <div class="DTE_Header_Content"></div>
</div>
