{% load static i18n %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="DALME project maintenance page">
    <meta name="author" content="DALME">
    <title>Maintenance | IDA</title>
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-touch-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'icons/site_public.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'icons/safari-pinned-tab.svg' %}" color="#912643">
    <link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}">
    <meta name="apple-mobile-web-app-title" content="DALME">
    <meta name="application-name" content="DALME">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="msapplication-TileImage" content="{% static 'icons/mstile-144x144.png' %}">
    <meta name="msapplication-config" content="{% static 'icons/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
    <link href="{% static 'app/css/html_errors.css' %}" rel="stylesheet">
</head>
<body id="page-top">
  <div id="wrapper">
        <div class="container-fluid pt-5">
          <div class="text-center mt-5">
            <div class="error mx-auto mb-4" data-text="Sorry!">Sorry!</div>
            <p class="error_lead text-gray-800 mb-1">The site is down for scheduled maintenance.</p>
            <p class="error_message text-gray-500 mb-0">We apologise for the inconvenience. Service should be restored shortly.</p>
          </div>
        </div>
  </div>
</body>
</html>
