{% load wagtailadmin_tags make_list_csv %}

<div class="{{ classname }}">
    {% if help_text %}
        <span>
            <div class="help">
                {% icon name="help" classname="default" %}
                {{ help_text }}
            </div>
        </span>
    {% endif %}

    <section class="field-row-panel manual-form collapse-help" id="panel-child-top-form-section" data-panel>
        <div class="w-field-row">
            {% for child in children.values %}
                {% if child.block.name in "mode,order"|make_list_csv %}
                    {% include 'extras/field_include.html' with child=child col_class="col6" %}
                {% endif %}
            {% endfor %}
        </div>
    </section>

    {% for child in children.values %}
        {% if child.block.name not in "mode,order"|make_list_csv %}
            <section class="field-row-panel manual-form collapse-help align-top u-none" id="{{ prefix }}-{{ child.block.name }}-form-section" data-panel>
                <div class="w-field-row">
                    {% include 'extras/field_include.html' with child=child col_class="col12" %}
                </div>
            </section>
        {% endif %}
    {% endfor %}

</div>
